<div class="narrative standaloneAncillaryPage">
	<div class="inner">
		<div ng-if="loading" ng-include="'templates/loading.html'"></div>
		<div ng-if="!loading">
			<!--
 		<div ng-if="narrative.user_id == user._id">You are the owner of this narrative</div>
 -->
			<div class="narrative">
				<!-- begin display -->
				<h2 ng-bind-html="narrative.name.en"></h2>
				<p ng-bind-html="narrative.description.en"></p>

				<div class="storyTimeline" ng-repeat="timeline in narrative.timelines | filter:{hidden:!true} | orderBy:'sort_order'">
					<h3>
						<a href="/#/story/{{narrative.path.en}}/{{timeline.path.en}}">{{timeline.name.en}}</a>
					</h3>
					<p>{{timeline.description.en}}</p>
					{{timeline.episode_segments[0].end_time | asTime}}
				</div>
				<!-- end display -->
			</div>
		</div>
	</div>
</div>
