<div class="">

	<div class="ancillaryNav">
		<a class="button" ng-if="user._id" href="/#/user">Home</a>
		<a class="button" ng-if="user._id" ng-click="logout()">Sign out</a>
	</div>

	<div ng-if="!loading">
		<div class="narrative">

			<!-- begin display -->
			<div ng-hide="isEditing">
				<h2 itt-edit-pencil on-edit="toggleEditing()" ng-bind-html="narrative.name.en"></h2>
				<p ng-bind-html="narrative.description.en"></p>
			</div>

			<itt-narrative-editor
				ng-if="isEditing"
				narrative="narrative"
				on-done="toggleEditing()"
				on-update="updateNarrative(n)">
			</itt-narrative-editor>

			<!--
 		<div ng-if="narrative.user_id == user._id">You are the owner of this narrative</div>
 -->
			<div ui-tree="treeOpts">
				<div ui-tree-nodes="" ng-model="narrative.timelines">
					<div class="storyTimeline" ui-tree-node
						 ng-repeat="timeline in narrative.timelines | filter:{hidden:!true}">

						<div ng-hide="timelineUnderEdit === timeline">
							<div>
								<h3 itt-edit-pencil on-edit="toggleEditingTimeline(timeline)">
									<a href="/#/story/{{narrative._id}}/{{timeline._id}}">{{timeline.name.en}}</a>
									<span ui-tree-handle>Handle ({{timeline.sort_order}})</span>
								</h3>
								<p>{{timeline.description.en}}</p>
								{{timeline.episode_segments[0].end_time | asTime}}
							</div>

						</div>

						<div ng-mouseenter="showLine = true" ng-mouseleave="showLine = false" style="height: 5px"/>
						<div ng-show="!!showLine">
							<!--+<hr>-->
							<button ng-click="addNewTimeline(timeline.sort_order)">add new timeline</button>
						</div>
					</div>
					<!--end repeat-->
					<itt-timeline-editor
						ng-if="timelineUnderEdit === timeline"
						timeline="timeline"
						on-done="doneEditingTimeline()"
						on-update="updateTimeline(t, timeline)">
					</itt-timeline-editor>


					<!--timeline episode selector-->
					<itt-modal ng-if="showEpisodeList">
						<div itt-episode-list class="admin episodePicker">
							<!--Choose an episode: <button ng-click="toggleEpisodeList()">cancel</button>-->
							Choose an episode: <button ng-click="toggleEpisodeList()">cancel</button>
							<ul
								ng-repeat="child in root.children"
								x-for-admin="true"
								itt-container-episodes="containers[child._id]"
								depth="0"></ul>
						</div>
					</itt-modal>
				</div>
			</div>
			<!--end ui-tree-->

		</div>
		<!-- end display -->


	</div>
</div>
<a ng-if="narrative.support_url" ng-href="{{narrative.support_url}}">Support</a>
</div>
