<div class="">
  <div ng-if="!loading">
    <div class="narrative">

      <!-- begin display -->
      <div>
        <itt-edit-pencil can-access="canAccess" on-edit="toggleEditNarrativeModal()">
          <h2 ng-bind-html="narrative.name.en"></h2>
        </itt-edit-pencil>
        <p ng-bind-html="narrative.description.en"></p>
        <p>Total Duration: {{totalNarrativeDuration | asTime}}</p>
      </div>

      <!--
     <div ng-if="narrative.user_id == user._id">You are the owner of this narrative</div>
 -->
      <!--narrative action buttons row-->
      <div class="episode__button-row">
        <div ng-if="canAccess">
          <!--overlay class is pointer-events: none, to disable clicks while editing.-->
          <itt-tooltip tip-text="Add Timeline" ng-class="{overlay: timelineUnderEdit || tmpTimeline}">
            <a class="icon__button button__add-inverted" ng-click="addTmpTimeline(null, narrative.timelines)"></a>
          </itt-tooltip>
          <itt-tooltip tip-text="Export links to spreadsheet">
            <a class="icon__button button__export-spreadsheet"
               ng-click="exportToSpreadsheet(narrative._id)">
            </a>
          </itt-tooltip>
          <itt-guest-accessible-url narrative="narrative" sub-domain="{{customers[0].domains[0]}}" clipboard-mode="Click to copy URL"></itt-guest-accessible-url>
        </div>
      </div>

      <!--modals-->

      <!--add narrative modal top level-->
      <itt-modal ng-if="showEpisodeList">
        <div itt-episode-list class="admin episodePicker">
          <!--Choose an episode: <button ng-click="toggleEpisodeList()">cancel</button>-->
          Choose an episode:
          <button ng-click="toggleEpisodeList(); doneEditingTimeline()">cancel</button>
          <ul
            ng-repeat="child in root.children"
            x-for-admin="true"
            itt-container-episodes="containers[child._id]"
            on-node-click="onEpisodeSelect(node)" root-context="onEpisodeSelect"
            depth="0"></ul>
        </div>
      </itt-modal>

      <!--edit narrative or timeline modal-->
      <itt-modal wrapper-class="responsive-modal__wrapper" modal-class="narrative__modal"
                 ng-if="editingNarrative || timelineUnderEdit != null">

        <div ng-if="editingNarrative">

          <itt-narrative-editor
            narrative="narrative"
            customers="customers"
            on-done="toggleEditNarrativeModal()"
            on-update="updateNarrative(n)">
          </itt-narrative-editor>
        </div>

        <div ng-if="timelineUnderEdit != null">
          <itt-timeline-editor
            class="tl__editor"
            timeline="timelineUnderEdit"
            narrative="narrative"
            container-id="{{customers[0].root_container_id}}"
            on-done="doneEditingTimeline()"
            on-update="editorAction(t, timelineUnderEdit)"
            on-delete="deleteTimeline(t)">
          </itt-timeline-editor>
        </div>

      </itt-modal>

      <!--end modals-->


      <!--list of timelines-->
      <div ui-tree="treeOpts" ng-if="narrative.timelines.length !== 0">
        <div ui-tree-nodes ng-model="narrative.timelines">
          <!--begin ng-repeat - note: do not use track by on ng-repeats with ui-tree-->
          <div class="storyTimeline hoverIndicator"
               ng-class-even="'container__row--even'"
               ng-class-odd="'container__row--odd'"
               ng-mouseenter="rowHover = true"
               ng-mouseleave="rowHover = false"
               ui-tree-node
               ng-repeat="timeline in narrative.timelines | filter: (canAccess === false || undefined) && {hidden: false}">

            <div ng-class="{'timeline--hidden': timeline.hidden}">

							<span ng-show="canAccess && rowHover" class="tlDrag__handle" ui-tree-handle>
								<i class="fa fa-arrows"></i>
							</span>
              <div class="tl__wrapper">
                <itt-edit-pencil can-access="canAccess" force="rowHover && canAccess" on-edit="toggleEditingTimeline(timeline)">
                  <h3>
                    <i ng-if="timeline.hidden" class="fa fa-eye-slash"></i>
                    <a href="/#/story/{{narrative._id}}/{{timeline._id}}">{{timeline.name.en}}</a>
                  </h3>
                </itt-edit-pencil>
                <p>{{timeline.episode_segments[0].end_time | asTime}}</p>
                <p>{{timeline.description.en}}</p>


                <div class="tl__addButton">
                  <div ng-if="rowHover && canAccess" class="episode__button-row">
                    <div>
                      <itt-tooltip tip-text="Insert Timeline">
                        <a class="icon__button button__add-inverted"
                           ng-click="addTmpTimeline(timeline, narrative.timelines)"></a>
                      </itt-tooltip>
                      <itt-guest-accessible-url
                        narrative="narrative"
                        timeline="timeline"
                        clipboard-mode="Copy to Clipboard">
                      </itt-guest-accessible-url>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!--end repeat-->
        </div>
      </div>
      <!--end ui-tree-->
    </div>
    <!-- end display -->
  </div>
</div>
<a ng-if="narrative.support_url" target="_blank" ng-href="{{narrative.support_url}}">Support</a>
</div>
