<div class="narrative">
	<div ng-if="loading" ng-include="'templates/loading.html'"></div>
	<div ng-if="!loading">
		<div class="ancillaryNav">
			<a class="button" ng-if="user._id" href="/#/user">Home</a>
			<a class="button" ng-click="stopEditing()">Done editing</a>
			<a class="button" ng-if="user._id" ng-click="logout()">Sign out</a>
		</div>

		<div class="authoringForm">
			<!-- begin edit -->
			<h2>Narrative</h2>
			<div class="field">
				<div class="label">Customer</div>
				<div class="input">
					<select ng-model="narrative.customer_id">
						<option ng-repeat="customer in customerList" value="{{customer._id}}">{{customer.name}}</option>
					</select>
				</div>
			</div>


			<div class="field">
				<div class="label">Template</div>
				<div class="input">
					[TODO]
				</div>
			</div>

			<div class="field">
				<div class="label">Name</div>
				<div class="input">
					<input ng-model="narrative.name.en">
				</div>
			</div>

			<div class="field">
				<div class="label">Description</div>
				<div class="input">
					<textarea ng-model="narrative.description.en"></textarea>
				</div>
			</div>

			<div class="field">
				<div class="label">Path</div>
				<div class="input">
					<input ng-model="narrative.path.en">
				</div>
			</div>

			<div class="field">
				<div class="label">Support URL</div>
				<div class="input">
					<input ng-model="narrative.support_url">
				</div>
			</div>

			<div class="field">
				<div class="label">Access</div>
				<div class="input">
					<label>
						<input type="checkbox" ng-model="narrative.guest_access_allowed"> Guest access allowed [TODO]
					</label>
				</div>
			</div>

			<div class="field controls">
				<button ng-if="narrative._id" ng-click="updateNarrative()">
					<span ng-if="narrative.saveInProgress">Saving...</span>
					<span ng-if="!narrative.saveInProgress">Save changes</span>
				</button>
				<button ng-if="!narrative._id" ng-click="createNarrative()">Create narrative</button>
			</div>

			<h3>Timelines</h3>
			<div class="storyTimeline" ng-repeat="timeline in narrative.timelines">

				<div class="field">
					<div class="label">Sort order</div>
					<div class="input">
						<input ng-model="timeline.sort_order">
					</div>
				</div>
				<div class="field">
					<div class="label">Timeline name</div>
					<div class="input">
						<input ng-model="timeline.name.en">
					</div>
				</div>
				<div class="field">
					<div class="label">Description</div>
					<div class="input">
						<textarea ng-model="timeline.description.en"></textarea>
					</div>
				</div>
				<div class="field">
					<div class="label">Path</div>
					<div class="input">
						<input ng-model="timeline.path.en">
					</div>
				</div>
				<div class="field">
					<div class="label">Access</div>
					<div class="input">
						<label>
							<input type="checkbox" ng-model="timeline.hidden"> Hidden from users
						</label>
					</div>
				</div>

				<div class="field controls">
					<button ng-click="saveTimeline(timeline)">
						<span ng-if="timeline.saveInProgress">Saving...</span>
						<span ng-if="!timeline.saveInProgress">Save timeline</span>
					</button>
				</div>

			</div>

			<div style="padding: 0.5em">
				<button ng-if="narrative._id && !isAddingTimeline" ng-click="toggleEpisodeList()">
					<span ng-if="showEpisodeList">Cancel</span>
					<span ng-if="!showEpisodeList">Add timeline</span>
				</button>
			</div>

			<div itt-episode-list class="admin episodePicker" ng-if="showEpisodeList">
				Choose an episode:
				<ul ng-repeat="child in root.children" x-for-admin="true" itt-container-episodes="containers[child._id]" depth="0"></ul>
			</div>


			<!-- end edit-->
		</div>

	</div>
</div>
