<span class="floaterContainer">
	<input class="inputfield" ng-model="model" name="time" ng-focus="showTools(true)" ng-blur="showTools(false)" ng-model-options="{ updateOn: 'blur' }" style="max-width: 150px" ng-class="{invalid: (fieldname == 'end_time' && item.invalid_end_time)}">
	<div class="floater" ng-if="tooltip">

		<ul style="list-style:none; white-space:nowrap">
			<li style="text-align:center; font-size: 150%">
				<a ng-click="nudge(-5)">«</a>
				<a ng-click="nudge(-1)">‹</a>
				<span> &nbsp;&nbsp; </span>
				<a ng-click="nudge(1)">›</a>
				<a ng-click="nudge(5)">»</a>
			</li>
			<li ng-click="setTime(playbackService.getMetaProp('time'))">
				<a>Set to current time ({{::format(playbackService.getMetaProp('time'))}})</a>
			</li>
			<span ng-if="item._type != 'Scene' && scene().start_time > 0">
				<li ng-if="fieldname=='start_time'" ng-click="setTime(scene().start_time)">
					<a>Beginning of layout ({{format(scene().start_time)}})</a>
				</li>
				<li ng-if="fieldname=='end_time'" ng-click="setTime(scene().end_time)">
					<a>End of layout ({{format(scene().end_time)}})</a>
				</li>
				<li ng-if="fieldname=='end_time' && isTranscript()" ng-click="TODO">
					<a>Auto (TODO)</a>
				</li>
			</span>
		</ul>
	</div>
</span>
