
/* USC */

.episode-usc {
  font-family: National, "Helvetica Neue", Helvetica, Arial, sans-serif;

  h1, h2, h3, .headerItem {
    font-family: "Adobe Caslon", "Crimson Text", serif;
  }

  .item .pullquote:before {
    line-height: 0.7em;
  }

}

.uscWindowFgOnly {
  display: none;
}

.overlay.windowFg .uscWindowFgOnly {
  display: block;
  margin: 1em 0 1em 0;
}

.uscHackOnlyGuests {
  display: none;
}

.guestUser .uscHackOnlyGuests {
  display: block;
}

.uscHackOnlyBadge {
  display: none;
}

.uscHackUserHasBadge .uscHackOnlyBadge {
  display: block;
}
