.episode-eliterate .branding a.eliterate {
  left: 5%;
}

.episode-eliterate {
  background-image: url("/images/customer/eliterate-bg.svg");
  background-size: 90%;
  background-position: 0 30%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  font-size: 15px;
}


/* -- */

