
$field-prosPrimary: #5B5B5B;
$field-prosAccent: #6BAA36;
$field-prosSecondary: #FFFFFF;
$field-prosLink: #6BAA36;
$field-prosHighlight: rgba(107,170,54, 0.6);
@import "helpers";

@mixin field-pros-header {
  font-family: 'Roboto Condensed',  sans-serif;
  font-weight:  700;
  color: $field-prosPrimary;
}

@mixin field-pros-body {
  font-family: 'Lato',  sans-serif;
  font-weight:  300;
  color: $field-prosPrimary;
}
@mixin field-pros-pq {
  font-family: 'Lato',  sans-serif;
  font-weight:  300;
  color: $field-prosPrimary;
}

.field-pros {
  
           
  
 .landingscreen {
   h1 {
     @include banner-pq('Roboto Condensed', $field-prosAccent, 2.5vw);
   }
  
   .introtext {
     padding-bottom: 2em;
   }
  
   #episode--description {
     display: none;
	 }
 }
      
  //custom altPane BG, landingscreen
  
  
  .endingscreen {
    p {
      @include banner-pq('Roboto Condensed', $field-prosAccent, 2.5vw);
    }   
  }
  //search view
  .searchPanel__wrapper {
    @include field-pros-body;
    color: $field-prosPrimary;
    // 'sorted by' button
    .fake-link--search-results {
      color: $field-prosLink;
    }
  }
  
  .searchResults {
    @include field-pros-header;
    .item__title--link, .item__link--fake-link, .item__link--escape-link {
      @include field-pros-body;
      color: $field-prosLink;
      &:before {
        color: $field-prosPrimary;
      }
    }
  }
  
  //item overrides
  .item__title {
    @include field-pros-header;
  }
  
  .item__title--link, .item__title--file {
    a {
      color: $field-prosLink;
    }
  }
  
  .item__link--fake-link {
    @include field-pros-body;
    color: $field-prosLink;
  }
  
  .item__text {
    @include field-pros-body;
  }
  
  .item__text--h2 {
    @include field-pros-header;
  }
  
  .item__text--transmedia, .item__text--definition {
    h1, h2, h3 {
      @include field-pros-header;
    }
  }
  
  .item .item__text--pullquote {
    @include field-pros-pq;
    &:before {
      @include field-pros-header;
      //override color set on mixin
      color: $field-prosAccent;
    }
  }
  
  .item__title--image-caption, .item__title--image-caption-sliding,
  .item__text--image-caption, .item__text--image-caption-sliding {
    color: $field-prosSecondary;
  }
  
  .item__link--escape-link {
    @include field-pros-body;
    color: $field-prosLink;
    &:before {
    color: $field-prosPrimary;
    }
  }
  
  //timestamp
  .item {
    .displayTime, .startTime {
      @include field-pros-header;
      color: $field-prosLink;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  //invert 
  .item {
    &.colorInvert {
      background-color: $field-prosPrimary !important;
      .item__text, .item__title a, .item__link--escape-link, a.displayTime.startTime {
        color: $field-prosSecondary !important;
        &:before {
          color: $field-prosSecondary !important;
        }
      }
      
      h1, h2, h3 {
        color: $field-prosSecondary !important;
      }
    }
  }
  //highlights
  .content.allowHighlights {
    .highlightSolid.item.isCurrent {
      background-color: $field-prosHighlight;
    }
  
    .highlightSide.item.isCurrent {
      border-left: 10px solid $field-prosHighlight;
    }
  
    .highlightBorder.item.isCurrent {
      border: 2px solid $field-prosHighlight;
    }
    //hard code alpha to be 0.3 or half of default
    //aka translucent
    .highlightBloom.item.isCurrent {
      background-color: rgba(107,170,54, 0.3);
      box-shadow: 0 0 8px rgba(107,170,54, 0.3);
    }
  }
  
  //layout specific overrides
  .centered-pro {
    .banner-pull-quote {
      h1 {
        @include banner-pq('Roboto Condensed', $field-prosAccent, 2.5vw);
      }
    }
  }
  
  //pro two col: centerVV
  //non-pro two col: pip, cornerH, cornerV, twocol
  //non-pro one col: centered, onecol
  .centerVV, .cornerV, .twocol, .centered, .cornerH, .pip, .onecol {
    .static-bg__main {
      background-image: url('/images/customer/Green_BG_01.svg');
    }
    .static-bg__alt {
      background-image: url('/images/customer/Grid_Graphic-01.svg');
    }
    
    .item__title--link, .item__title--file {
      @include field-pros-body;
    }
    
    .item__title--link.title--link-embed {
      @include field-pros-body;
    }
  }
  
  .centerVV-mondrian {
    .static-bg__main {
      border: 4px solid $field-prosPrimary;
      background-color: $field-prosAccent;
    }
    
    .static-bg__alt {
      background-image: url('/images/customer/Grid_Graphic-01.svg');
    }
    .altPane {
      background-color: transparent;
    }
    
    .mainPane {
      .item {
        background-color:  $field-prosPrimary;
      }
      
      .item__text, .item__title, .item__title a {
        color: $field-prosSecondary;
      }
      //override from general item level,
      //mondrian BG is solid color, so we need to use
      //the Secondary
      .item__text--transmedia, .item__text--definition {
        h1, h2, h3 {
          color: $field-prosSecondary;
        }
      }
      
      .item {
        &.colorInvert {
          background-color: $field-prosSecondary !important;
          .item__text, .item__title, .item__title a {
            color: $field-prosPrimary !important;
            &:before {
              color: $field-prosPrimary !important;
            }
          }
          
          h1, h2, h3 {
            color: $field-prosPrimary !important;
          }
        }
      }
    }
    //item__<entity> for non URL titles
    // item__<entity> a covers both escape and fakeLinks
    .item__title--link,
    .item__title--image,
    .item__title--image-thumbnail,
    .item__title--link a,
    .item__title--image a,
    .item__title--image-thumbnail a {
      @include field-pros-header;
    }
    
    .item__link--fake-link {
      color: $field-prosSecondary;
    }
    
    .item__link--escape-link {
      @include field-pros-header;
      color: $field-prosSecondary;
      &:before {
        color: $field-prosAccent;
      }
    }
    
    .item {
      .displayTime, .startTime {
        @include field-pros-header;
        color: $field-prosSecondary;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}