
    $narrasysPrimary: #4D4D4D;
    $narrasysAccent: #DE6625;
    $narrasysSecondary: #FFFFFF;
    $narrasysLink: #DE6626;
    $narrasysHighlight: rgba(222,102,37, 0.6);
    @import "helpers";


    @mixin narrasys-header {
    	font-family: 'Gotham Medium',  sans-serif;
    	color: $narrasysPrimary;
    }
    @mixin narrasys-body {
    	font-family: 'Gotham Thin',  sans-serif;
	    color: $narrasysPrimary;
    }

    @mixin narrasys-pq {
    	font-family: 'Gotham Light Italic',  sans-serif;
		color: $narrasysPrimary;
    }

    .narrasys {

        background-image: url('/images/customer/Narrasys_Tree.svg');

        .landingscreen {
			h1 {
				@include banner-pq('Gotham Medium', $narrasysAccent, 2.5vw);
			}

			.introtext {
				padding-bottom: 2em;
			}

			#episode--description {
				display: none;
			}
		}

		//custom altPane BG, landingscreen


        .endingscreen {
            p {
                @include banner-pq('Gotham Medium', $narrasysAccent, 2.5vw);
            }
        }

        //search view
        .searchPanel__wrapper {
            @include narrasys-body;
            color: $narrasysPrimary;
            // 'sorted by' button
            .fake-link--search-results {
                color: $narrasysLink;
            }
        }

        .searchResults {
            @include narrasys-header;
            .item__title--link, .item__link--fake-link, .item__link--escape-link {
                @include narrasys-body;
                color: $narrasysLink;
                &:before {
                    color: $narrasysPrimary;
                }
            }
        }

        //item overrides
        .item__title {
            @include narrasys-header;
        }

        .item__title--link, .item__title--file {
            a {
                color: $narrasysLink;
            }
        }

        .item__link--fake-link {
            @include narrasys-body;
            color: $narrasysLink;
        }

        .item__text {
            @include narrasys-body;
        }

        .item__text--h2 {
            @include narrasys-header;
        }

        .item__text--transmedia, .item__text--definition {
            h1, h2, h3 {
                @include narrasys-header;
            }
        }
        .item .item__text--pullquote {
            @include narrasys-pq;
            &:before {
                @include narrasys-header;
                //override color set on mixin
                color: $narrasysAccent;

            }
        }

       .item__title--image-caption, .item__title--image-caption-sliding,
	   .item__text--image-caption, .item__text--image-caption-sliding {
	        color: $narrasysSecondary;
	   }

        .item__link--escape-link {
            @include narrasys-body;
            color: $narrasysLink;
            &:before {
                color: $narrasysPrimary;
            }
        }

        //timestamp
        .item {
            .displayTime, .startTime {
                @include narrasys-header;
                color: $narrasysLink;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

       //invert
        .item {
            &.colorInvert {
            	background-color: $narrasysPrimary !important;
             	.item__text, .item__title a, .item__link--escape-link, a.displayTime.startTime {
                 	color: $narrasysSecondary !important;
                 	&:before {
                 		color: $narrasysSecondary !important;
                 	}
             	}

             	h1, h2, h3 {
             		color: $narrasysSecondary !important;
             	}
            }
        }

        //highlights
        .content.allowHighlights {
        	.highlightSolid.item.isCurrent {
        		background-color: $narrasysHighlight;
        	}

        	.highlightSide.item.isCurrent {
        		border-left: 10px solid $narrasysHighlight;
        	}

        	.highlightBorder.item.isCurrent {
        		border: 2px solid $narrasysHighlight;
        	}

        	//hard code alpha to be 0.3 or half of default
        	//aka translucent
        	.highlightBloom.item.isCurrent {
        		background-color: rgba(222,102,37, 0.3);
        		box-shadow: 0 0 8px rgba(222,102,37, 0.3);
        	}
        }

        //layout specific overrides
        .centered-pro {
            .banner-pull-quote {
                h1 {
                    @include banner-pq('Gotham Medium', $narrasysAccent, 2.5vw);
                }
            }
        }

		//pro two col: centerVV
		//non-pro two col: pip, cornerH, cornerV, twocol
		//non-pro one col: centered, onecol
        .centerVV, .cornerV, .twocol, .centered, .cornerH, .pip, .onecol {
            .static-bg__main {

            }

            .static-bg__alt {

            }

            .item__title--link, .item__title--file {
                @include narrasys-body;
            }

            .item__title--link.title--link-embed {
                @include narrasys-body;
            }

        }

        .centerVV-mondrian {
            .static-bg__main {
                border: 4px solid $narrasysPrimary;
                background-color: $narrasysAccent;
            }

            .static-bg__alt {

            }


			.altPane {
				background-color: transparent;
			}

      		.mainPane {
			    .item {
				    background-color:  $narrasysPrimary;
			    }

			.item__text, .item__title, .item__title a {
				color: $narrasysSecondary;
			}

			//override from general item level,
			//mondrian BG is solid color, so we need to use
			//the Secondary
			.item__text--transmedia, .item__text--definition {
				h1, h2, h3 {
					color: $narrasysSecondary;
				}
			}

			.item {
			    &.colorInvert {
			        background-color: $narrasysSecondary !important;
                    .item__text, .item__title, .item__title a {
                        color: $narrasysPrimary !important;
                        &:before {
                        	color: $narrasysPrimary !important;
                        }
                    }

                    h1, h2, h3 {
                    	color: $narrasysPrimary !important;
                    }
                }
            }

		}


		//item__<entity> for non URL titles
		// item__<entity> a covers both escape and fakeLinks
		.item__title--link,
		.item__title--image,
		.item__title--image-thumbnail,
		.item__title--link a,
		.item__title--image a,
		.item__title--image-thumbnail a {
			@include narrasys-header;
		}

		.item__link--fake-link {
			color: $narrasysSecondary;
		}

		.item__link--escape-link {
			@include narrasys-header;
			color: $narrasysSecondary;
			&:before {
				color: $narrasysAccent;
			}
		}

		.item {
		    .displayTime, .startTime {
		        @include narrasys-header;
		        color: $narrasysSecondary;

		        a {
		            text-decoration: underline;
		        }
		    }
		}
    }
}
