
$unbrandedPrimary: #000000;
$unbrandedAccent: #CCCCCC;
$unbrandedSecondary: #DDDDDD;
$unbrandedLink: #0000CC;
$unbrandedHighlight: rgba(204,204,204, 0.6);
@import "helpers";

@mixin unbranded-header {
  font-family: 'Open Sans',  sans-serif;
  font-weight:  700;
  color: $unbrandedPrimary;
}

@mixin unbranded-body {
  font-family: 'Open Sans',  sans-serif;
  font-weight:  400;
  color: $unbrandedPrimary;
}
@mixin unbranded-pq {
  font-family: 'Droid Serif',  serif;
  font-weight:  400;
  color: $unbrandedPrimary;
}

.unbranded {
  
           
  
.landingscreen {
  div {
    display: block;
  }
  p {
    margin: 2em 0 1em 0;
  }
  padding: 10% 15%;
  
  .introtext {
    width: 45%;
    float: right;
  }
  
  .videoMagnet {
    width: 50%;
    float: left;
    }
  }
  
  @media screen and (max-width: 501px) {
    .landingscreen {
      div {
        display: block;
      }
      h1 {
        font-size: 24px;
      }
      p {
        margin: 1em 0;
      }
      .introtext {
        width: 100%;
        float: none;
        margin: 0;
      }
      .videoMagnet {
        width: 100%;
        float: none;
      }
		}
	}
      
  //custom altPane BG, landingscreen
  
//TS-1109
.professional__branding {
  width: 100%;
  height: 210px;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
  position: relative;
  color: #FFF;
  padding: 10px;
  .professional__copyright {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: white;
    a {
      color:white;
      text-decoration: underline;
    }
	}
}
//TS-1102	
.altPane {
  background-color: rgba(0, 0, 0, 0.05);
}
  
  .endingscreen {
    p {
      @include banner-pq('Open Sans', $unbrandedAccent, 2.5vw);
    }   
  }
  //search view
  .searchPanel__wrapper {
    @include unbranded-body;
    color: $unbrandedPrimary;
    // 'sorted by' button
    .fake-link--search-results {
      color: $unbrandedLink;
    }
  }
  
  .searchResults {
    @include unbranded-header;
    .item__title--link, .item__link--fake-link, .item__link--escape-link {
      @include unbranded-body;
      color: $unbrandedLink;
      &:before {
        color: $unbrandedPrimary;
      }
    }
  }
  
  //item overrides
  .item__title {
    @include unbranded-header;
  }
  
  .item__title--link, .item__title--file {
    a {
      color: $unbrandedLink;
    }
  }
  
  .item__link--fake-link {
    @include unbranded-body;
    color: $unbrandedLink;
  }
  
  .item__text {
    @include unbranded-body;
  }
  
  .item__text--h2 {
    @include unbranded-header;
  }
  
  .item__text--transmedia, .item__text--definition {
    h1, h2, h3 {
      @include unbranded-header;
    }
  }
  
  .item .item__text--pullquote {
    @include unbranded-pq;
    &:before {
      @include unbranded-header;
      //override color set on mixin
      color: $unbrandedAccent;
    }
  }
  
  .item__title--image-caption, .item__title--image-caption-sliding,
  .item__text--image-caption, .item__text--image-caption-sliding {
    color: $unbrandedSecondary;
  }
  
  .item__link--escape-link {
    @include unbranded-body;
    color: $unbrandedLink;
    &:before {
    color: $unbrandedPrimary;
    }
  }
  
  //timestamp
  .item {
    .displayTime, .startTime {
      @include unbranded-header;
      color: $unbrandedLink;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  //invert 
  .item {
    &.colorInvert {
      background-color: $unbrandedPrimary !important;
      .item__text, .item__title a, .item__link--escape-link, a.displayTime.startTime {
        color: $unbrandedSecondary !important;
        &:before {
          color: $unbrandedSecondary !important;
        }
      }
      
      h1, h2, h3 {
        color: $unbrandedSecondary !important;
      }
    }
  }
  //highlights
  .content.allowHighlights {
    .highlightSolid.item.isCurrent {
      background-color: $unbrandedHighlight;
    }
  
    .highlightSide.item.isCurrent {
      border-left: 10px solid $unbrandedHighlight;
    }
  
    .highlightBorder.item.isCurrent {
      border: 2px solid $unbrandedHighlight;
    }
    //hard code alpha to be 0.3 or half of default
    //aka translucent
    .highlightBloom.item.isCurrent {
      background-color: rgba(204,204,204, 0.3);
      box-shadow: 0 0 8px rgba(204,204,204, 0.3);
    }
  }
  
  //layout specific overrides
  .centered-pro {
    .banner-pull-quote {
      h1 {
        @include banner-pq('Open Sans', $unbrandedAccent, 2.5vw);
      }
    }
  }
  
  //pro two col: centerVV
  //non-pro two col: pip, cornerH, cornerV, twocol
  //non-pro one col: centered, onecol
  .centerVV, .cornerV, .twocol, .centered, .cornerH, .pip, .onecol {
    .static-bg__main {
      
    }
    .static-bg__alt {
      
    }
    
    .item__title--link, .item__title--file {
      @include unbranded-body;
    }
    
    .item__title--link.title--link-embed {
      @include unbranded-body;
    }
  }
  
  .centerVV-mondrian {
    .static-bg__main {
      border: 4px solid $unbrandedPrimary;
      background-color: $unbrandedAccent;
    }
    
    .static-bg__alt {
      
    }
    .altPane {
      background-color: transparent;
    }
    
    .mainPane {
      .item {
        background-color:  $unbrandedPrimary;
      }
      
      .item__text, .item__title, .item__title a {
        color: $unbrandedSecondary;
      }
      //override from general item level,
      //mondrian BG is solid color, so we need to use
      //the Secondary
      .item__text--transmedia, .item__text--definition {
        h1, h2, h3 {
          color: $unbrandedSecondary;
        }
      }
      
      .item {
        &.colorInvert {
          background-color: $unbrandedSecondary !important;
          .item__text, .item__title, .item__title a {
            color: $unbrandedPrimary !important;
            &:before {
              color: $unbrandedPrimary !important;
            }
          }
          
          h1, h2, h3 {
            color: $unbrandedPrimary !important;
          }
        }
      }
    }
    //item__<entity> for non URL titles
    // item__<entity> a covers both escape and fakeLinks
    .item__title--link,
    .item__title--image,
    .item__title--image-thumbnail,
    .item__title--link a,
    .item__title--image a,
    .item__title--image-thumbnail a {
      @include unbranded-header;
    }
    
    .item__link--fake-link {
      color: $unbrandedSecondary;
    }
    
    .item__link--escape-link {
      @include unbranded-header;
      color: $unbrandedSecondary;
      &:before {
        color: $unbrandedAccent;
      }
    }
    
    .item {
      .displayTime, .startTime {
        @include unbranded-header;
        color: $unbrandedSecondary;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}