
$file-drop-grey: #b3b3b3;
$narrasysOrange: #DE6625;
$narrasysOrange-fade: rgba(222, 102, 37, 0.4);
$fb-blue: #3b5998;
$twitter-blue: #00b6f1;
$pinterest-red: #cb2027;
$gplus-red: #cd3b28;
$linkedin-blue: #007bb6;
$reddit-orange: #ff5700;

$narrasysPrimary: #4D4D4D;
$narrasysAccent: #DE6625;
$narrasysSecondary: #FFFFFF;
$narrasysLink: #DE6626;
$narrasysHighlight: rgba(222,102,37, 0.6);

$socialshare-image-height: 6em;
$socialshare-image-aspect: 1.9;
$socialshare-image-width: ($socialshare-image-aspect * $socialshare-image-height);
$socialshare-error-animation-duration: 0.6s;
