
$file-drop-grey: #b3b3b3;
$narrasysOrange: #DE6625;
$narrasysOrange-fade: rgba(222, 102, 37, 0.4);
$fb-blue: #3b5998;
$twitter-blue: #00b6f1;
$pinterest-red: #cb2027;
$gplus-red: #cd3b28;
$linkedin-blue: #007bb6;
$reddit-orange: #ff5700;
