.rootLogin h1 {
  font-size: 1em;
}
.rootLogin form {
  padding-bottom: 1em;
}
.rootLogin .error {
  color: #F00;
}
.rootLogin label {
  display: block;
  width: 100%;
  margin: 0.2em 0;
}
.rootLogin label span {
  width: 30%;
  display: inline-block;
}
.rootLogin label input {
  width: 70%;
  font-size: 1em;
  padding: 0.1em;
}
.rootLogin .submit {
  float: right;
}
/* - */

.admin {
  margin: 1em;
}
.admin small {
  opacity: 0.3;
  float: right;
  text-align: right;
}
.admin button {
  background-color: #fff;
  border: 1px solid;
  border-color: #ccc #999 #999 #ccc;
  border-radius: 0.3em;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 0.76em;
  margin: 0.2em;
  padding: 0 0.4em;
}
.admin button:disabled {
  border-color: #EEE;
  color: #EEE;
}
.admin .controls {
  background-color: #FDFDFD;
  padding: 0 1em;
  text-align: right;
  font-size: 0.76em;
}
.admin .controls input,
.admin .controls button {
  margin: 0 0.3em;
}
.admin .container {
  margin-left: 1em;
  cursor: pointer;
  cursor: hand;
  list-style: none;
}
.episodePicker {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 0.5em;
  position: absolute;
}
.admin .container.customer {
  margin-left: 0;
}
.admin .container.isOpen:before {
  content: "-";
  display: inline-block;
  width: 1em;
  opacity: 0.5;
  float: left;
}
.admin .container.isClosed:before {
  content: "+";
  display: inline-block;
  width: 1em;
  opacity: 0.5;
  float: left;
}
.admin .hoverIndicator:hover {
  background-color: #EEE;
}
.admin .hoverIndicator {
  /* This is terrible I know */
  
  display: inline-block;
  width: 95%;
}
.admin .hoverIndicator:hover small {
  opacity: 0.8;
}
.admin .danger {
  background-color: #C00 !important;
  color: #FFF;
}

