/*
	TODO: make sure all colors play nice when combined with colorInvert
	(in both directions, i.e. .colorInvert .colorFoo, and .colorFoo .colorInvert)

	TODO: explicitly limit color selections to .item and .scene, and in .scene sort out which pane gets the background colors;

*/
/*============================
 *
 * default
 *
//===========================*/

.altPane {
	background-color: rgba(0, 0, 0, 0.05);
}
a,
a:visited,
.fakeLink {
	color: #00C;
	cursor: pointer;
	cursor: hand;
}
a.startTime.displayTime {
	color: #000;
}

.nav__button {
	color: #595A5A !important;
}

.nav__button:hover {
	text-decoration: underline !important;
}

/*============================
 *
 * colorInvert
 *
//===========================*/

.colorInvert {
	color: #DDD;
	background-color: #000;
}
.colorInvert a,
.colorInvert a.startTime.displayTime {
	color: #FFF
}
.colorInvert .pullquote:before {
	color: rgba(255, 255, 255, 0.35);
}
/* TODO treat colorInvert separately from the other colors; should be able to invert any other color style
/*============================
 *
 * colorSepia
 *
//===========================*/

.colorSepia {
	color: #4B4235 !important;
}
.episode.colorSepia,
.scene.colorSepia {
	background-color: #EFE0C8;
}
.colorSepia a {
	color: #B7521E !important;
}
.colorInvert .colorSepia,
.colorSepia .colorInvert {
	color: #EFE0C8;
}
/*============================
 *
 * colorSolarized
 *
//===========================*/

.colorSolarized {
	color: #586E75 !important;
}
.episode.colorSolarized,
.scene.colorSolarized {
	background-color: #EFE0C8;
}
.colorSolarized .altPane {

}

.colorSolarized a {
	color: #288CD2 !important;
}
.colorInvert .colorSolarized,
.colorSolarized .colorInvert {
	color: #EFE0C8
}
/*============================
 *
 * colorVivid
 *
//===========================*/

.colorVivid {
	color: #595959 !important;
}
.episode.colorVivid,
.scene.colorVivid {
	background-color: rgba(224, 240, 210, 0.5);
}
.colorVivid a {
	color: #FF9209 !important;
}
.colorVivid .altPane a {
	color: #F30;
}

