.episode {
	padding-top: 45px;
	width: 100%;
	min-height: 100%;
}
.branding {
	width: 100%;
	height: 210px;
	background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.15));
	position: relative;
	color: #FFF;
}
/* IE9-specific hack: */

@media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
	.branding {
		background-color: #EEE;
	}
	.video .fgLayer {
		display: none;
	}
}
.branding img {
	height: 72px;
}
.branding .logo {
	width: 20%;
	position: absolute;
	display: block;
	top: 1em;
}
.branding .logo img {
	border: none
}
.branding a.itt {
	right: 5%;
	text-align: right;
}
.copyright {
	position: absolute;
	bottom: 90px;
	left: 10px;
	font-size: 0.76em;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.copyright a {
	color: #FFF !important;
	text-decoration: underline;
}
.videoFirstPlay {
	position: absolute;
	cursor: pointer;
	cursor: hand;
}
.videoFirstPlay img {
	width: 100%;
	height: 100%;
}
.banner-logo {
	left: 40%;
	margin: 0 auto;
	max-width: 170p;
	position: fixed;
	right: 33%;
	text-align: center;
	top: 5px;
}
.banner-logo img {
	margin: auto;
	max-height: 35px;
	width: 100%;
}
/* -------------------------------------------  
   Landing screen 
*/

.landingscreen {
	margin: 10% 15%;
}
.landingscreen .videoMagnet {
	width: 50%;
	float: left;
}
.landingscreen .introtext {
	width: 45%;
	float: right;
}
.landingscreen p {
	margin: 2em 0 1em 0
}
@media screen and (max-width: 501px) {
	.landingscreen .videoMagnet {
		width: 100%;
		float: none;
	}
	.landingscreen .introtext {
		width: 100%;
		float: none;
	}
	.landingscreen h1 {
		font-size: 24px;
	}
	.landingscreen p {
		margin: 1em 0;
	}
}
/* -------------------------------------------  
   Customer-specific.

   A lot of this ought to be broken up into separate color / typography / etc rules
   so they can be reused more broadly, but for now we're making things easier for production.
   TODO producer should set the default episode styles along with the episode template, then we 
   can remove these

*/

.episode-eliterate .branding a.eliterate {
	left: 5%;
}
.episode-eliterate {
	background-image: url("/images/customer/eliterate-bg.svg");
	background-size: 90%;
	background-position: 0 30%;
	background-repeat: no-repeat;
}
.episode-eliterate .startTime {
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	padding: 3px;
}
.episode-eliterate {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 15px;
}
.episode-eliterate {
	color: #6F7D8B;
}
.episode-eliterate a,
.colorEliterate .fakelink {
	color: #1376bb
}
.episode-eliterate h1,
.episode-eliterate h2,
.episode-eliterate h3 {
	font-weight: normal;
	color: #384d62;
}
.episode-eliterate .colorInvert {
	color: #FFF;
	background-color: #6F7D8B;
}
.episode-eliterate .colorInvert h1,
.episode-eliterate .colorInvert h2,
.episode-eliterate .colorInvert h3 {
	color: #FFF
}
.episode-gw .videoMask.firstplay {
	/* GW doesn't want our logo here */
	background-image: url('/images/play-overlay.png');
}
.episode-gw {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 300;
}
.episode-gw h1,
.episode-gw h2,
.episode-gw h3,
.episode-gw h4,
.episode-gw h5,
.episode-gw .item a,
.episode-gw .navigationPanel a {
	font-family: "Montserrat", sans-serif;
	color: #003A5C;
}
.episode-gw h1,
.episode-gw h2,
.episode-gw h3,
.episode-gw h4,
.episode-gw h5 {
	font-weight: 700
}
.episode-gw .item .title {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.2em;
}
.episode-gw .colorInvert {
	background-color: #003A5C;
}
.episode-gw .colorInvert * {
	color: #FFF
}
.episode-gw .item .pullquote,
.episode-gw .item .pullquoteSpeaker {
	font-family: "Cardo", serif;
}
.episode-gw .item .pullquote:before {
	font-family: "Cardo", serif;
	color: rgba(0, 58, 92, 0.5);
	font-size: 1.7em;
}
.episode-gw .escapelink:before {
	color: #AB9767;
}
.episode-gw.content.allowHighlights .highlightSolid.item.isCurrent {
	background-color: rgba(171, 151, 103, 0.3);
}
.episode-gw .altPane {
	background-color: rgba(0, 58, 92, 0.05);
}
.episode-gw .landingscreen {
	width: 400px;
	margin: 0 auto 50px auto;
	background-image: url('/images/customer/gw-logo-big.svg');
	background-size: 60%;
	background-position: 50% 40px;
	background-repeat: no-repeat;
	padding-top: 150px;
}
.episode-gw .introtext,
.episode-gw .videoMagnet {
	float: none;
	width: 100%;
	clear: both;
}
.episode-gw .introtext h1 {
	font-weight: 400;
	font-size: 24px;
	line-height: 25px;
}
@media screen and (max-width: 500px) {
	.episode-gw .landingscreen {
		width: 90%;
		padding-top: 45%;
	}
}
/* approved USC colors are #900 red and #FC0 yellow */

.episode-usc a,
.episode-usc a:visited {
	color: #900;
	font-weight: bold;
}
.episode-usc {
	font-family: National, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #F7F9ED;
}
.episode-usc .altPane {
	background-color: #FFF;
}
.episode-usc h1,
.episode-usc h2,
.episode-usc h3,
.episode-usc h4,
.episode-usc .headerItem {
	font-family: "Adobe Caslon", "Crimson Text", serif;
	line-height: 1.6em;
}
.episode-usc .colorInvert {
	background-color: #900;
	color: #FC0;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.episode-usc .item .pullquote:before {
	line-height: 0.5em;
}
.episode-usc .footer {
	background-color: #900;
}
/* Purdue */

.episode-purdue {
	font-family: "Myriad Pro", "Arial";
}
.episode-purdue a,
.episode-purdue a:visited {
	color: #e3ae24;
	font-weight: bold;
	text-shadow: -1px -1px 0 #fff;
}
.episode-purdue .footer {
	background-color: #a3792c;
}
.episode-purdue .footer a,
.episode-purdue .footer a:visited {
	color: #FFF;
	text-shadow: none;
}
.episode-purdue .altPane {
	background-color: #FAFAFA;
	border-left: 1px solid #746c66;
	border-right: 1px solid #746c66;
}
.episode-purdue h1,
.episode-purdue h2,
.episode-purdue h3,
.episode-purdue h4,
.episode-purdue .headerItem {
	color: #a3792c;
	font-family: "Champion", "Impact", "Charcoal", sans-serif;
}
.episode-purdue .colorInvert,
.episode-purdue .colorInvert h1,
.episode-purdue .colorInvert h2,
.episode-purdue .colorInvert h3,
.episode-purdue .colorInvert h4,
.episode-purdue .colorInvert .headerItem {
	background-color: #a3792c;
	color: #fff;
	letter-spacing: 1px;
}
.episode-purdue a,
.episode-purdue a:visited {
	color: #e3ae24;
	font-weight: bold;
	text-shadow: -1px -1px 0 #fff;
}
.episode-purdue .landingscreen {
	background-image: url("/images/customer/purdue-bg.svg");
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 110%;
}
