.episode {
	padding-top: 45px;
	width: 100%;
	min-height: 100%;
}
.branding {
	width: 100%;
	height: 210px;
	background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
	position: relative;
	color: #FFF;
}
/* IE9-specific hack: */

@media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
	.branding {
		background-color: #EEE;
	}
	.video .fgLayer {
		display: none;
	}
}
.branding img {
	height: 72px;
}
.branding .logo {
	width: 20%;
	position: absolute;
	display: block;
	top: 1em;
}
.branding .logo img {
	border: none;
}
.branding a.itt {
	right: 5%;
	text-align: right;
}
.copyright {
	position: absolute;
	bottom: 75px;
	left: 10px;
	font-size: 0.8em;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.copyright a {
	color: #FFF !important;
	text-decoration: underline;
}
.videoFirstPlay {
	position: absolute;
	cursor: pointer;
	cursor: hand;
}
.videoFirstPlay img {
	width: 100%;
	height: 100%;
}
.banner-logo {
	left: 38%;
	margin: 0 auto;
	position: fixed;
	right: 38%;
	text-align: center;
	top: 5px;
}
.banner-logo img {
	margin: auto;
	max-height: 35px;
	max-width: 100%;
}
/* -------------------------------------------  
   Customer-specific tweaks

*/

.episode-eliterate .branding a.eliterate {
	left: 5%;
}
.episode-eliterate {
	background-image: url("/images/customer/eliterate-bg.svg");
	background-size: 90%;
	background-position: 0 30%;
	background-repeat: no-repeat;
}
/* -- */

.episode-gw .videoMask.firstplay {
	/* GW doesn't want our logo here */
	
	background-image: url('/images/play-overlay.png');
}
.episode-gw .videoMask.rewind {
	background-image: url('/images/rewind-nologo-overlay.png');
}
.episode-gw .landingscreen {
	width: 400px;
	margin: 0 auto 50px auto;
	background-image: url('/images/customer/gw-logo-big.svg');
	background-size: 60%;
	background-position: 50% 40px;
	background-repeat: no-repeat;
	padding: 150px 0 0 0;
}
.episode-gw .landingscreen .introtext,
.episode-gw .landingscreen .videoMagnet {
	float: none;
	width: 100%;
	clear: both;
}
.episode-gw .landingscreen .introtext h1 {
	font-weight: 400;
	font-size: 24px;
	line-height: 25px;
}
@media screen and (max-width: 500px) {
	.episode-gw .landingscreen {
		width: 90%;
		padding-top: 45%;
	}
}
/* Purdue */

.episode-purdue .landingscreen {
	background-image: url("/images/customer/purdue-bg.svg");
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: 110%;
}
/* USC */

.uscWindowFgOnly {
	display: none;
}
.overlay.windowFg .uscWindowFgOnly {
	display: block;
	margin: 1em 0 1em 0;
}
.uscHackOnlyGuests {
	display: none;
}
.guestUser .uscHackOnlyGuests {
	display: block;
}
.uscHackOnlyBadge {
	display: none;
}
.uscHackUserHasBadge .uscHackOnlyBadge {
	display: block;
}
/* CBS */

.episode-columbiabusiness {
	background: linear-gradient(#A9B8D3, #FEFCFC);
	bakground-image: url("/images/customer/cbs-trident-white.svg");
}
.episode-columbiabusiness .trident {
	background: url("/images/customer/cbs-trident-white.svg") 50% 50%;
	background-size: 250%;
	position: fixed !important;
	opacity: 0.3;
}
.episode-columbiabusiness .DiscoverModeOnly .item {
	background-color: rgba(221, 224, 234, 0.5);
}
.episode-schoolclimatesolutions {
	background: url("/images/customer/schoolclimatelogo-big.svg") no-repeat scroll right -140px bottom -140px / 90% auto #FFF;
}
/* Middlebury */

.episode-middlebury .DiscoverModeOnly {
	background-color: #06132D;
	display: block;
}
.episode-middlebury .DiscoverModeOnly .startTime {
	color: #FFF;
}
.episode-middlebury .branding {
	background: url("/images/customer/middlebury-footer.svg") repeat-x 50% 0;
	color: #5e5e5e;
}
.episode-middlebury .branding .logo {
	top: 120px;
	right: 100px;
	width: 100px;
}
.episode-middlebury .branding .logo.itt {
	right: 20px;
}
.episode-middlebury .copyright {
	text-shadow: none !important;
	margin-right: 210px;
	bottom: auto;
	top: 120px;
}
.episode-middlebury .copyright a {
	color: #000 !important;
	text-shadow: none !important;
}
.episode-middlebury .colorInvert .colorInvert {
	background-color: #73A3E7;
	color: #06132D;
}
.episode-middlebury .reviewMode {
	border-bottom: 130px solid #06132D;
}
.episode-middlebury a,
.episode-middlebury .fakeLink {
	color: #73A3E7;
	text-shadow: 1px 1px 0px #06132d;
}
.episode-middlebury .colorInvert a {
	color: #73A3E7;
	text-shadow: none !important;
}
.episode-middlebury .colorInvert .colorInvert a {
	color: #06132D;
	text-decoration: underline;
}
.episode-middlebury .colorInvert .colorInvert .startTime {
	color: #06132D;
}
.episode-middlebury {
	font-family: Garamond, 'Droid Serif', serif;
	font-size: 110%;
}
.episode-prolotherapy {
	font-family: 'Open Sans', sans-serif;
}
.episode-prolotherapy .colorInvert {
	background-color: #3f58a7;
	color: #FFF;
}
.episode-prolotherapy .colorInvert .colorInvert {
	background-color: #FFF;
	color: #3f58a7;
}
.episode-prolotherapy .content.allowHighlights .highlightSolid.item.isCurrent {
	background-color: rgba(63, 88, 167, 0.2);
}
.episode-prolotherapy .landingscreen {
	background: url("/images/customer/prolotherapy-image.png") no-repeat left bottom;
}
.episode-prolotherapy .landingscreen .videoMagnet {
	float: right;
}
.episode-prolotherapy .landingscreen .introtext {
	float: left;
}

