/* USC */
.uscWindowFgOnly {
  display: none; }

.overlay.windowFg .uscWindowFgOnly {
  display: block;
  margin: 1em 0 1em 0; }

.uscHackOnlyGuests {
  display: none; }

.guestUser .uscHackOnlyGuests {
  display: block; }

.uscHackOnlyBadge {
  display: none; }

.uscHackUserHasBadge .uscHackOnlyBadge {
  display: block; }

