@import 'helpers';

.episode {
  padding-top: 45px;
  width: 100%;
}

.discoverMode {
  min-height: calc(100vh - 93px);
  height: 100%;
}

.branding {
  width: 100%;
  height: 210px;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25));
  position: relative;
  color: #FFF;
}

/* IE9-specific hack: */

@media all and (min-width: 0\0) and (min-resolution: .001dpcm) {
  .branding {
    background-color: #EEE;
  }
  .video .fgLayer {
    display: none;
  }
}

.branding img {
  height: 72px;
}

.branding .logo {
  width: 20%;
  position: absolute;
  display: block;
  top: 1em;
}

.branding .narrasys-logo {
  position: absolute;
  display: block;
  top: 1em;
}

.branding .logo img {
  border: none;
}

.branding a.itt {
  right: 5%;
  text-align: right;
}

.branding a.narrasys-brand {
  right: 5%;
  text-align: right;
}

.copyright {
  position: absolute;
  bottom: 75px;
  left: 10px;
  font-size: 0.8em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.copyright a {
  color: #FFF !important;
  text-decoration: underline;
}

.videoFirstPlay {
  position: absolute;
  cursor: pointer;
  cursor: hand;
}

.videoFirstPlay img {
  width: 100%;
  height: 100%;
}

.video .poster {
  background-size: 100% 100%;
  background-repeat: none;
}

.banner-logo {
  left: 38%;
  margin: 0 auto;
  position: fixed;
  right: 38%;
  text-align: center;
  top: 5px;
}

.banner-logo img {
  margin: auto;
  max-height: 35px;
  max-width: 100%;
}


/* -------------------------------------------
   Customer-specific tweaks

*/

.episode-eliterate .branding a.eliterate {
  left: 5%;
}

.episode-eliterate {
  background-image: url("/images/customer/eliterate-bg.svg");
  background-size: 90%;
  background-position: 0 30%;
  background-repeat: no-repeat;
}


/* -- */

.episode-gw .videoMask.firstplay {
  /* GW doesn't want our logo here */
  background-image: url('/images/play-overlay.png');
}

.episode-gw .videoMask.rewind {
  background-image: url('/images/rewind-nologo-overlay.png');
}

.episode-gw .landingscreen {
  width: 400px;
  margin: 0 auto 50px auto;
  background-image: url('/images/customer/gw-logo-big.svg');
  background-size: 60%;
  background-position: 50% 40px;
  background-repeat: no-repeat;
  padding: 150px 0 0 0;
}

.episode-gw .landingscreen .introtext,
.episode-gw .landingscreen .videoMagnet {
  float: none;
  width: 100%;
  clear: both;
}

.episode-gw .landingscreen .introtext h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
}

@media screen and (max-width: 500px) {
  .episode-gw .landingscreen {
    width: 90%;
    padding-top: 45%;
  }
}


/* Purdue */

.episode-purdue .landingscreen {
  background-image: url("/images/customer/purdue-bg.svg");
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 110%;
}


/* USC */

.uscWindowFgOnly {
  display: none;
}

.overlay.windowFg .uscWindowFgOnly {
  display: block;
  margin: 1em 0 1em 0;
}

.uscHackOnlyGuests {
  display: none;
}

.guestUser .uscHackOnlyGuests {
  display: block;
}

.uscHackOnlyBadge {
  display: none;
}

.uscHackUserHasBadge .uscHackOnlyBadge {
  display: block;
}


/* CBS */

.episode-columbiabusiness {
  background: linear-gradient(#A9B8D3, #FEFCFC);
}

.episode-columbiabusiness .trident {
  background: url("/images/customer/cbs-trident-white.svg") 50% 50%;
  background-size: 250%;
  position: fixed !important;
  opacity: 0.3;
  pointer-events: none;
}

.episode-columbiabusiness .DiscoverModeOnly .item {
  background-color: rgba(221, 224, 234, 0.5);
}

.episode-schoolclimatesolutions {
  background: url("/images/customer/schoolclimatelogo-big.svg") no-repeat scroll right -140px bottom -140px / 90% auto #FFF;
}


/* Middlebury */

.episode-middlebury .DiscoverModeOnly {
  background-color: #06132D;
  display: block;
}

.episode-middlebury .DiscoverModeOnly .startTime {
  color: #FFF;
}

.episode-middlebury .branding {
  background: url("/images/customer/middlebury-footer.svg") repeat-x 50% 0;
  color: #5e5e5e;
}

.episode-middlebury .branding .logo {
  top: 120px;
  right: 100px;
  width: 100px;
}

.episode-middlebury .branding .logo.itt {
  right: 20px;
}

.episode-middlebury .copyright {
  text-shadow: none !important;
  margin-right: 210px;
  bottom: auto;
  top: 120px;
}

.episode-middlebury .copyright a {
  color: #000 !important;
  text-shadow: none !important;
}

.episode-middlebury .colorInvert .colorInvert {
  background-color: #73A3E7;
  color: #06132D;
}

.episode-middlebury .reviewMode {
  border-bottom: 130px solid #06132D;
}

.episode-middlebury a,
.episode-middlebury .fakeLink {
  color: #73A3E7;
  text-shadow: 1px 1px 0px #06132d;
}

.episode-middlebury .colorInvert a {
  color: #73A3E7;
  text-shadow: none !important;
}

.episode-middlebury .colorInvert .colorInvert a {
  color: #06132D;
  text-decoration: underline;
}

.episode-middlebury .colorInvert .colorInvert .startTime {
  color: #06132D;
}

.episode-middlebury {
  font-family: Garamond, 'Droid Serif', serif;
  font-size: 110%;
}

.episode-prolotherapy {
  font-family: 'Source Sans Pro', sans-serif;
}

.episode-prolotherapy .colorInvert {
  background-color: #3f58a7;
  color: #FFF;
}

.episode-prolotherapy .colorInvert .colorInvert {
  background-color: #FFF;
  color: #3f58a7;
}

.episode-prolotherapy .content.allowHighlights .highlightSolid.item.isCurrent {
  background-color: rgba(63, 88, 167, 0.2);
}

.episode-prolotherapy .landingscreen {
  background: url("/images/customer/prolotherapy-image.png") no-repeat left bottom;
}

.episode-prolotherapy .landingscreen .videoMagnet {
  float: right;
}

.episode-prolotherapy .landingscreen .introtext {
  float: left;
}

.episode-gwsb .gwsb-seal {
  background: #fffdf9;
  background: radial-gradient(ellipse at center, #fffdf9 0%, #fff0b5 100%);
  position: fixed !important;
}

.episode-gwsb .gwsb-seal div {
  background: url("/images/customer/gwsb-seal.svg") 50% 50% no-repeat;
  background-size: 90%;
  opacity: 0.05;
}

.episode-gwsb .branding {
  background: none;
}

.episode-gwsb .copyright,
.episode-gwsb .copyright a {
  text-shadow: none;
  color: #CCC !important;
}

.episode-gwsb .altPane {
  background: none;
}

.episode-gwsb .content {
  border: 2px solid #c0ab80;
  margin: 0.5em;
}

.episode-gwsb .mainPane .fill .item,
.episode-gwsb .altPane .fill .item {
  margin: 0 0.5em;
}

.episode-gwsb .cornerH .altPane .fill .item {
  margin: 0.5em;
}

.episode-gwsb .centered .content,
.episode-gwsb .cornerH .mainPane .content,
.episode-gwsb .pip .content {
  border: none;
  margin: 0;
}

.episode-gwsb .content.isEmpty,
.episode-gwsb .reviewMode .content {
  border: none;
}

.episode-gwsb .reviewMode .mainPane {
  background-color: rgba(255, 255, 255, 0.2);
}

.episode-gwsb .videoMask.firstplay {
  /* GW doesn't want our logo here */
  background-image: url('/images/play-overlay.png');
}

.episode-gwsb .videoMask.rewind {
  background-image: url('/images/rewind-nologo-overlay.png');
}

.episode-gwsb .landingscreen {
  padding: 2em 0 0 0;
  text-align: center;
}

.episode-gwsb .landingscreen p {
  padding: 0.5em 0 2em 0;
}

.episode-gwsb .landingscreen > div {
  position: absolute;
  width: 100%;
}

.episode-gwsb .landingscreen .introtext {
  font-family: Helvetica, sans-serif;
  color: #008BC4;
  text-transform: uppercase;
  width: 100%;
}

.episode-gwsb .landingscreen .videoMagnet {
  float: none;
  margin: auto;
  clear: both;
}

.episode-gwsb .landingscreen-end {
  background: url('/images/customer/gw-logo-big.svg') 50% 100% no-repeat;
  width: 100%;
  height: 150px;
}

.episode-gwsb .landingscreen .introtext .episode-gwsb .footer {
  background: url('/images/customer/gw-bug.svg') top right no-repeat;
  background-size: 80px;
}

.episode-gwsb a.startTime.displayTime,
.episode-gwsb .title,
.episode-gwsb .authorName {
  font-family: Helvetica, sans-serif;
  font-size: 1.3em;
  line-height: 1.3em;
  color: #004B6E;
  text-transform: uppercase;
}

.episode-gwsb .title,
.episode-gwsb .title a {
  font-weight: bolder;
  text-transform: uppercase;
}

.episode-gwsb .startTime {
  font-weight: lighter
}

.episode-gwsb .sceneTitle {
  margin: 0;
  border-bottom: 2px solid #c0ab80;
}

.episode-gwsb .content.allowHighlights .highlightBorder.item.isCurrent {
  border: 2px solid #c0ab80;
  margin: 0.5em;
}

.episode-gwsb .content.allowHighlights .highlightSide.item.isCurrent {
  border-left: 10px solid #c0ab80;
}

.episode-kellogg .banner-logo {
  top: 0;
  left: 150px;
  right: 150px;
  height: 45px;
  pointer-events: none;
}

@media screen and (min-width: 999px) {
  .episode-kellogg .banner-logo {
    background: url('/images/customer/kellogg-banner-wide.svg') 50% 50% no-repeat;
  }
}

@media screen and (min-width: 675px) and (max-width: 1000px) {
  .episode-kellogg .banner-logo {
    background: url('/images/customer/kellogg-banner.svg') 50% 50% no-repeat;
  }
}

@media screen and (max-width: 674px) {
  .episode-kellogg .banner-logo {
    background: url('/images/customer/kellogg-banner-sm.svg') 50% 50% no-repeat;
  }
}

.episode-kellogg .branding {
  background: url('/images/customer/kellogg-hexes.png') top left repeat-x;
  border-top: 40px solid #00AC9E;
}

.episode-kellogg .branding img {
  float: right;
  margin-top: 85px;
  margin-right: 20px;
}

.episode-kellogg .copyright {
  top: 85px;
}

.episode-kellogg .copyright,
.episode-kellogg .copyright a {
  color: #666 !important;
  text-shadow: none;
}

.episode-kellogg a,
.episode-kellogg .fakeLink {
  color: #00AC9E;
}

.episode-kellogg .item a {
  /* time to party like it's 1996: */
  text-decoration: underline;
  font-size: 90%;
}

.episode-kellogg .item a:hover {
  /* time to party like it's 1996: */
  text-decoration: none;
  border-bottom: 2px solid;
}

.episode-kellogg .colorInvert {
  color: #FFF;
  background-color: #00AC9E;
}

.episode-kellogg .item .startTime {
  background-color: #CCC;
  padding: 4px;
}

.episode-kellogg .item.isCurrent .startTime,
.episode-kellogg .content.allowHighlights .highlightSolid.item.isCurrent {
  background-color: #C4D760;
}

.episode-kellogg .reviewMode .item.isCurrent {
  background: none;
}

.episode-wiley {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

.episode-wiley a,
.episode-wiley .fakeLink {
  color: #00A8FF;
}

.episode-wiley h1,
.episode-wiley h2,
.episode-wiley h3,
.episode-wiley h4,
.episode-wiley .pullquote {
  font-weight: 200;
  color: #808080;
}

.episode-wiley h1 {
  font-size: 2.3em;
  line-height: 1.2em;
  color: #808080;
}

.episode-wiley h2 {
  color: #B22222;
}

.episode-wiley .landingscreen {
  padding: 0;
}

.episode-wiley .landingscreen .introtext,
.episode-wiley .endingscreen .introtext {
  display: none;
}

.episode-wiley .landingscreen .videoMagnet {
  float: none;
  width: 100%;
}

.episode-wiley .endingscreen .videoMagnet {
  margin: 0 10%;
}

.episode-wiley.wiley-endscreentext .endingscreen:after {
  content: "Learn more: Check out the etext and its resources to learn more about the topics discussed in this episode.";
  display: block;
  font-size: 120%;
  font-style: italic;
  margin: 1em 0;
}

.episode-wiley .colorInvert {
  background-color: #808080;
  color: #FFF;
}

.episode-wiley .colorInvert h1,
.episode-wiley .colorInvert h2,
.episode-wiley .colorInvert h3,
.episode-wiley .colorInvert .pullquote {
  color: #FFF;
}

.episode-wiley .item .startTime {
  border: 2px solid #CCC;
  padding: 3px;
  font-size: 80%;
  font-weight: bold;
  opacity: 0.5;
}

@media screen and (min-width: 700px) {
  .episode-wiley {
    font-size: 105%;

    .searchMode {
      .searchResults {
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .episode-wiley {
    font-size: 105%;

    .searchMode {
      .searchResults {
        margin-right: 315px;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .episode-wiley {
    font-size: 110%;

    .searchMode {
      .searchResults {
        margin-right: 315px;
      }
    }
  }
}

.episode-regis .scene.isCurrent::before,
.episode-regis .searchMode::before,
.episode-regis .reviewMode::before {
  background-image: url("/images/customer/regis-big.svg");
  background-position: 80% 0;
  background-repeat: no-repeat;
  background-size: 75% auto;
  content: "";
  opacity: 0.07;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 45px;
  left: 0;
}

.episode-regis {
  background: linear-gradient(#F2F2F2, #94A4b2);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}

.episode-regis .branding {
  background: none;
  font-size: 11px;
}

.episode-regis .content .item {
  background-color: #d8d3c3 !important;
  color: #000;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3) !important;
  padding-left: 75px;
}

.episode-regis .content .highlightSolid.item.isCurrent  {
  background-color: #F2F2F2 !important;
  color: #000;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3) !important;
  padding-left: 75px;
}

.episode-regis .content .sxs-item .item .startTime {
  margin-left: -75px;
  width: 70px;
  text-align: right;
}

.episode-regis .searchMode .item,
.episode-regis .reviewMode .item {
  background: none !important;
  box-shadow: none !important;
}

.episode-regis .searchMode .item.isCurrent,
.episode-regis .reviewMode .item.isCurrent {
  background-color: #FFF !important;
}

.episode-regis .item .startTime {
  font-weight: 100;
  font-size: 1.3em;
  line-height: 1.3em;
}

.episode-regis .authorName,
.episode-regis .title,
.episode-regis .searchMode .item a.fakeLink,
.episode-regis .reviewMode .item a.fakeLink {
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
}

.episode-regis .category {
  position: absolute;
  left: 10px;
  font-size: 10px;
  top: -6px;
}

.episode-regis .escapelink:before {
  font-weight: normal;
  padding: 0 0.5em;
  font-size: 60%;
}

.episode-regis a,
.episode-regis a:visited,
.episode-regis .fakeLink {
  color: #284865;
}

.episode-regis .content .item.colorInvert {
  color: #fff !important;
  background-color: #103852  !important;
}

.episode-regis .item.colorInvert a {
  color: #fff !important;
  background-color: #103852  !important;
}

.episode-regis .landingscreen {
  background-image: url("/images/customer/regis-landing.svg");
  background-repeat: no-repeat;
  margin: auto;
  background-size: 90%;
  padding: 2em 0;
}

.episode-regis .landingscreen .introtext {
  display: none;
}

.episode-regis .landingscreen .videoMagnet {
  float: none;
  margin: auto;
  width: 65%;
}

@media screen and (max-width: 330px) {
  .episode-regis .landingscreen {
    background-position: 50% 90px;
    width: 300px;
    padding-top: 1em;
  }
}

@media screen and (min-width: 331px) and (max-width: 550px) {
  .episode-regis .landingscreen {
    background-position: 50% 140px;
    width: 90%;
  }
}

@media screen and (min-width: 551px) {
  .episode-regis .landingscreen {
    background-position: 50% 210px;
    max-width: 750px;
    width: 90%;
  }
}

.episode-wsbctc {
  background-image: url("/images/customer/WSBCTC_Star.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 95%;
  font-family: 'Gotham', sans-serif;
}

.episode-wsbctc .branding {
  background: transparent;
}

.episode-wsbctc .copyright {
  color: grey;
  text-shadow: none !important;
}

.episode-wsbctc .copyright a {
  color: grey !important;
  text-shadow: none !important;
}

.episode-wsbctc .scene.isCurrent::before,
.episode-wsbctc .searchMode::before,
.episode-wsbctc .reviewMode::before {
  content: "";
  position: fixed;
  bottom: 0;
  right: 0;
  top: 45px;
  left: 0;
}

.episode-wsbctc .searchMode .item.isCurrent {
  background-color: #d8d3c3 !important;
}

.episode-wsbctc .content.allowHighlights .highlightSolid.item.isCurrent{
  background-color: #d8d3c3 !important;
}

.episode-wsbctc .content .item.colorInvert {
  color: #fff !important;
  background-color: #2B4B71  !important;
}

.episode-wsbctc .item.colorInvert a {
  color: #fff !important;
  background-color: #2B4B71  !important;
}

.episode-wsbctc .authorName,
.episode-wsbctc .title,
.episode-wsbctc .searchMode .item a.fakeLink {
  font-size: 1.2em;
  color: #2B4B71;
}

.episode-wsbctc a, a:visited, .fakeLink {
  color: #2B4B71;
}

#branding-wrapper {
  position: relative;
  float: right;
  bottom: -80px;
  padding-right: 10px;
}

#sbctc-logo {
  margin-right: 3px;
  position: relative;
  bottom: 20px
}

.professional {
  //full window background
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100%;
  position: absolute;
  .static-bg__main {
    @include static-bg;
  }

  .static-bg__alt {
    @include static-bg
  }

  .mainPane {
    background-color: transparent;
  }
  //alt (transmedia) pane background
  .altPane {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .professional__branding {
    position: relative;
    width: 100%;
    padding: 20px;
  }

  .branding--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .professional__logo {
      height: 130px;
    }
    .professional__copyright {
      margin-bottom: 55px;
      z-index: 1;
      color: grey;
      font-size: 14px;
      a {
        text-decoration: underline;
        color: grey;
      }
    }
  }

  .landingscreen {
    padding-top: 0;
    div {
      display: flex;
      flex-direction: column;
    }

    .introtext {
      width: 100%;
      margin-bottom: 5em;
      //professional templates seem to not have a mockup with a
      //description.
      //need empty P tag for spacing reasons.
      //p {
      //	visibility: hidden;
      //}
    }

    .videoMagnet {
      width: 100%;
    }

  }

  .endingscreen {
    div.pane.introtext p {
      position: relative;
      top: 0;
    }
  }

  .item {
    .itemCaption {
      color: white;
    }

    .imagePlain {
      margin: 0 auto !important;
      padding: 1px 10px 1px 5px;
    }

    .pullquote {
      position: relative;
      font-size: 2.7vw;
      bottom: 0.3em;
      &:before {
        opacity: 0.6;
        font-size: 6.5vw;
        content: "“";
        position: relative;
      }
    }
  }

  .item__text--definition, .item__text--transmedia {
    font-size: 1.5vw !important; //!important to override item.css line 658 :(
  }

  .item__text--h2, .item__text--h1 {
    //position: relative;
    //bottom: 0.2em; //ask abi OK to remove from narrasys?
    h1, h2, h3 {
      text-align: center;
      margin: 10px auto;
    }
    h2 {
      font-size: 2vw;
    }
    h1 {
      font-size: 2.5vw;
    }
    h3 {
      font-size: 1.5vw;
    }
  }

  //TS-1084 - left justify for non-pro layouts
  .centered, .onecol, .cornerV, .cornerH, .twocol, .pip {

    .item__text--h2, .item__text--h1 {
      h1, h2, h3 {
        text-align: left;
      }
    }
  }

  .centered-pro {
    .edit-event {
      top: 1.8em;
    }
  }

  .centerVV {
    .altPane {
      background-color: transparent;
    }
    .col {
      position: relative;
    }
    .item {
      &.centerVV-h2 {
        margin-top: 14px;
        background: white;
      }
    }

    .item__text--definition {
      font-size: 1.7vw;
    }
  }

  .centerVV-mondrian {
    .col {
      position: relative;
    }

    .altPane {
      .item {
        margin-top: 0.8em;
      }
    }

    .mainPane {
      .item {
        margin-top: 1.7em;
      }

      .item__title--transmedia {
        padding-top: 0;
        margin-top: 0;
      }

      .item__text--transmedia {
        padding-top: 0;
        margin-top: 0;
      }
    }

    .item__link--escape-link {
      color: white;
    }

    .item__text--h2 {
      padding-top: 10px;
    }

    .item .item__text--pullquote {
      padding-top: 0;
    }

  }
}

//large desktop
@media screen and (min-width: 1366px) {
  .professional {
    .item {
      .pullquote {
        font-size: 2.0vw;
        &:before {
          font-size: 5.8vw;
        }
      }
    }

    .item__text--definition, .item__text--transmedia {
      font-size: 1.0vw !important;
    }

    .item__text--h2, .item__text--h1 {
      h1, h2, h3 {
        text-align: center;
        margin: 10px auto;
      }
      h2 {
        font-size: 1.5vw;
      }
      h1 {
        font-size: 2.0vw;
      }
      h3 {
        font-size: 1.0vw;
      }
    }
  }
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .professional {
    .item {
      .pullquote {
        font-size: 3.0vw;
        &:before {
          font-size: 6.8vw;
        }
      }
    }

    .item__text--definition, .item__text--transmedia {
      font-size: 1.5vw !important;
    }

    .item__text--h2, .item__text--h1 {
      h1, h2, h3 {
        text-align: center;
        margin: 10px auto;
      }
      h2 {
        font-size: 2.5vw;
      }
      h1 {
        font-size: 3.0vw;
      }
      h3 {
        font-size: 1.5vw;
      }
    }
  }
}
//mobile device
@media screen and (min-width:320px) and (max-width: 768px) {
  .professional {
    .item {
      .pullquote {
        font-size: 3.5vw;
        &:before {
          font-size: 7.0vw;
        }
      }
    }

    .item__text--definition, .item__text--transmedia {
      font-size: 2.0vw !important;
    }

    .item__text--h2, .item__text--h1 {
      h1, h2, h3 {
        text-align: center;
        margin: 10px auto;
      }
      h2 {
        font-size: 3.0vw;
      }
      h1 {
        font-size: 3.5vw;
      }
      h3 {
        font-size: 2.0vw;
      }
    }
  }
}
//hide logo for small screens
@media screen and (max-width: 450px) {
  .branding .narrasys-brand {
    display:none;
    border: 1px solid red;
  }
  .professional {
    .professional__logo {
      display:none;
    }
  }
}


/*Narrasys pro*/
@font-face {
  font-family: 'Gotham Thin';
  src: url('/images/font/Gotham-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('/images/font/Gotham-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham Light Italic';
  src: url('/images/font/Gotham-LightItalic.otf') format('opentype');
}

@import 'field-pros';
@import 'narrasys';
@import 'career-playbook';
@import 'george-washington';
@import 'unbranded';

@import 'university-arizona';
