/* TODO separate this out into episode-template specific stuff vs player chrome */

.toolbar {
	font-size: 16px;
	text-align: center;
	position: fixed;
	height: 85px;
	margin-bottom: -25px;
	background: url('/images/toolbar-bg.png') top left repeat-x;
	top: 0;
	left: 0;
	right: 0;
}
.toolbar {
	pointer-events: none
}
.toolbar a, .toolbar div {
	pointer-events:auto
}
.episode {
	margin-top: 45px /* TOOLBAR HEIGHT */
}

.toolbar .buttongroup {
	float:left;
	box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1) inset;
	position: relative;
	height:1.5em;
	border-radius:0.75em;
	margin:0.3em;
	background-color: rgba(0, 0, 0, 0.1);
}

.toolbar .buttongroup.modegroup {
	padding: 0 0.5em;
}

.toolbar .buttongroup.searchgroup {
	transition: all 1s; 
	width: 2em; 
	overflow:hidden;
}

.toolbar .buttongroup.searchgroup .button span,
.toolbar .button-mainframeescape span {
	display:none
}
.toolbar .buttongroup.searchgroup .button {
	float:left;
}


.toolbar .buttongroup.searchgroup.cur {
	width: 35%;
	font-size: 22px;
	padding-top: 3px;
}

#searchtext {
    background: none;
    border: none;
    font-size: 1em;
    margin: 0;
    width: 0; 
    transition: all 1s;
    position:absolute; left: 40px; top: 2px;
}
.cur #searchtext {width: 80%}

.toolbar .button {
	display:inline-block;
	padding: 0 0.5em;
	line-height: 24px;
	height: 24px;
	cursor:pointer;
	color:#666;
}
.toolbar .button.cur {
	color:#000;
}
.toolbar .button:before {
	font-family: Story;
	font-size: 1em;
}

.button-video:before {content: "\e60b"}
.button-directed:before {content: "\e60a"}
.button-explore:before {content: "\e60c"}
.button-search:before {content: "\e602"}
.cur .button-search:before {content: "\e603"}
.button-mainframeescape:before {content: "\e609"}

.toolbar .buttongroup.modegroup .button span {
	display:block;
	position: absolute;
	top: 20px;
	left:0;
	right:0;
	text-align: center;
	opacity:0;
	color:#000;
	font-size:12px;
}
.toolbar .button.cur span {
	animation: delayedFadeOut 7s ease-out; 
}

.toolbar .button-directed {
}

.escapelink:before {
	font-family: Story;
	content:"\e609";
	padding-right: 0.5em;
	font-size: 0.86em;
	color: #333;
}
.colorInvert .escapelink:before {
	color: #CCC
}
/*============================
 *
 * Side Panels
 *
//===========================*/
 .sidePanel {
	position: fixed;
}
.modal-backdrop {
	transition:1s linear all;
	opacity:1;
}
.modal-backdrop.ng-hide {
	opacity:0;
}
.modal-backdrop.ng-hide-add, .modal-backdrop.ng-hide-remove {
	display:block!important;
}

.modal-backdrop.search-backdrop {top: 45px /* TOOLBAR HEIGHT */}
/* Panel animations */
 .searchPanel {
	transition: 1s  all;
	transform-origin: 100% 50%;
	opacity:1;
	transform:translateX(0);
}
.searchPanel.ng-hide {
	opacity:0;
	transform:translateX(200px);
}
.sidePanel.ng-hide-add, .sidePanel.ng-hide-remove {
	display:block!important;
}
.searchPanel .ui-match {
	background-color: rgba(50, 50, 50, 0.4);
	color: #FFF;
	margin: -4px;
	padding: 4px;
	border-radius: 4px;
}
.navigationPanel {
	bottom: 0;
	left: 7em;
	right: 7em;
	transition: 0.7s ease-in-out all;
	transform-origin: 0 100% 0;
	opacity:1;
	transform: translateY(0) rotateX(0);
}
.navigationPanel.ng-hide {
	opacity:0;
	transform: translateY(80%) rotateX(-45deg);
}
/*============================
 *
 * Search Panel
 *
//===========================*/
 .searchPanel {
	top: 45px /* TOOLBAR HEIGHT */;
	bottom: 0;
	right: 0;
	width: 40%;
	background-color:#FFF;
}
.searchPanel .scrollContainer {
	top: 20px;
	bottom: 0;
	overflow-y: scroll;
	right: -16px;
	left: 0px;
	position:absolute;
}
.searchPanel .searchresults {
	padding: 1em;
}


.searchPanel.ng-hide .searchfilters {
	opacity:0;
}
.searchPanel .searchfilters {
	opacity:1;
	animation: delayedFadeIn 4s ease-out; 
}

.searchfilters {font-size: 0.86em;}
.searchfilters label {float:right; margin-right: 0.5em; cursor: pointer;}
.searchfilters input[type="radio"] {display: none}

/*.searchPanel .filters {
	font-size: 0.86em
}
.searchPanel .filters select {
	font-size: 1em
}
.searchPanel .filters dd {
	margin: 5px 0 5px 75px;
}
.searchPanel .filters dt {
	float: left;
	width: 64px;
	text-align: right;
	margin: 5px;
	clear: left;
}*/

.searchResults h3 {
	padding: 0.5em 0.3em 0.1em 0.3em
}
.searchResults .item {
	border-bottom: 1px solid #CCC;
	padding: 0.1em 0.3em
}
.searchResults .item .displayTime {
	cursor: pointer;
	cursor: hand;
	color: #C44343;
	float:left;
	display:inline;
	width: 35px;
}
.searchResults .description {
	font-size: 0.86em;
	margin-left: 35px
}
.searchResults .type {
	opacity: 0.4;
	font-size: 0.86em
}
.searchResults .sortedbytype .type {
	display:none
}
/*============================
 *
 * Navigation Panel
 *
//===========================*/
 .navigationPanel {
	border-radius: 0.3em 0.3em 0 0;
	background-color: #FFF;
	padding-bottom: 3em;
}
.navigationPanel h2 {
	padding: 0.4em;
}
.navigationPanel .scene {
	padding: 0.3em;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.navigationPanel .currentScene {
	background-color: rgba(0, 0, 0, 0.1);
}
.navigationPanel .displayTime {
	width: 45px;
	float:left;
	text-align:right;
	padding-right: 10px;
}
.navigationPanel p {
	margin-left: 45px;
}
/*============================
 *
 * Landing screen
 *
//===========================*/

.sceneintro {margin:15%}

.sceneintro p {margin: 2em 0 1em 0}

/* TODO use this in a template
 .sceneintro {
	perspective: 1000px;
	transform-style: preserve3d;
	perspective-origin: 20% 10%;
}
.sceneintro .videoContainer {
	width: 320px;
	height: 180px;
}
.sceneintro h1 {
	animation-duration: 25s;
	animation-name: grooblemacgoo;
	transform-origin: 10% 0;
}
.sceneintro p {
	animation-duration: 45s;
	animation-name: grooblemacgoo;
	transform-origin: 10% 0;
}
@keyframes grooblemacgoo {
	0% {
		transform:rotateY(14deg)
	}
	100% {
		transform: rotateY(0deg)
	}
}
*/

/*============================
 *
 * Branding
 *
//===========================*/
 .branding {
	width: 100%;
	height: 220px;
	background-color: rgba(0, 0, 0, 0.05);
	position:relative;
	color:#FFF;
}
.branding img {
	width:100%;
	max-height:72px;
}
.branding a {
	width:20%;
	position:absolute;
	display: block;
}
.branding a img {border:none}

.branding a.itt {
	right:5%;
	bottom:40px;
}


/*============================
 *
 * eLiterate
 *
//===========================*/
 .branding a.eliterate {
	left:5%;
	bottom:40px;
}
.episode-eliterate {
    background-image: url("/images/mindwire-bg.svg");
    background-size: 90%;
    background-position: 0 30%;
    background-repeat: no-repeat;
}

.episode-eliterate .introtext {
	width: 45%; float:right;
}
.eliterate-logo {
	z-index:8;
	position:fixed;
	top: 0;
	width: 20%;
	max-width: 150px;
	margin: 10px 40%;
	text-align:center;
}
.eliterate-logo img {
	width:100%;
}

.episode-eliterate .sceneintro .videoContainer {
    width: 50%;
    float: left;
}


.episode-eliterate .startTime {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 3px;
}




/* TODO Redundant, because production didn't apply colorEliterate */
/* when they do, remove this block: */

.episode-eliterate {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 15px;
}

.episode-eliterate {
	color: #6F7D8B;
}

.episode-eliterate a, .colorEliterate .fakelink {color: #1376bb}

.episode-eliterate h1, .episode-eliterate h2, .episode-eliterate h3
{font-weight: normal;color:#384d62;}

.episode-eliterate .colorInvert {
	color: #FFF;
	background-color: #6F7D8B;
}

.episode-eliterate .colorInvert h1,
.episode-eliterate .colorInvert h2,
.episode-eliterate .colorInvert h3 {
	color: #FFF
}

/* End of Redundant block */

.colorEliterate {
	color: #6F7D8B;
}
.colorEliterate a, .colorEliterate .fakelink {
	color: #1376bb;
}
.colorInvert .colorEliterate, .colorEliterate .colorInvert {
	color: #FFF;
	background-color: #6F7D8B;
}

.colorEliterate h1, .colorEliterate h2, .colorEliterate h3
{font-weight: normal;color:#384d62;}
