/* 
	Extra styling for 'current' items. 
	For now, avoid adding colors here, instead add images or rgba colors to modify existing background.
	(Once we have a solidified set of options in colors.css, may add matching variants for each of them here instead.)

*/

/* Prevent highlighting when only current items are visible */
.showCurrent .content .item.currentItem,
.showCurrent.content .item.currentItem {
	background-image: none !important;
	background-color: none !important;
}




.highlightSolid .content .item.currentItem,
.highlightSolid.item.currentItem
{
	background-color: rgba(0,0,0,0.2);
}
.highlightBorder .content .item.currentItem,
.highlightBorder.item.currentItem
{
	outline: 3px solid rgba(0,0,0,0.3);
}
.highlightSide .content .item.currentItem,
.highlightSide.item.currentItem
{
	/*border-left: 10px solid rgba(0,0,0,0.3);*/
	box-shadow: -10px 0 0 rgba(0,0,0,0.3);
}

.highlightBloom .content .item.currentItem,
.highlightBloom.item.currentItem
{
	background-color: rgba(255,255,200, 0.4);
	box-shadow: 0 0 8px rgba(255,255,200,0.9);
}

.highlightHighlighter .content .item.currentItem,
.highlightHighlighter.item.currentItem
{
	background: url('/images/highlighter.png');
	background-size: 100% 100%;
}


.highlightTilt .content .item.currentItem,
.highlightTilt.item.currentItem
{
	transform: rotateY(-20deg) scale(1.18);
	transform-origin: 70% 50% 0;
	transform-style: preserve-3d;
	transition: all 1s;
}
