/*  Valid styles for items:
	tl, bl, tr, br, t, l, b, r (for positioning anything other than regular content) 
*/

/*============================
 *
 * Overlays
 *
//===========================*/

.fillPane .item {position: absolute; max-width: 100%; max-height: 100%}

.fillPane .futureItem {display:none}
.fillPane .currentItem {display:block; position: absolute;}
.fillPane .pastItem {display:none}

/* Nope, can't explain the -3px. TODO */
.fillPane .bl    {top: auto; right: auto; bottom: -3px; left: 0   ;}
.fillPane .tl    {top: 0   ; right: auto; bottom: auto; left: 0   ;}
.fillPane .tr    {top: 0   ; right: 0   ; bottom: auto; left: auto;}
.fillPane .br    {top: auto; right: 0   ; bottom: -3px; left: auto;}

/* TODO (also need to set image h/w to 100% for these)
.fillPane .b     {top: auto; right: 0   ; bottom: 0   ; left: 0   ;}
.fillPane .l     {top: 0   ; right: auto; bottom: 0   ; left: 0   ;}
.fillPane .t     {top: 0   ; right: 0   ; bottom: auto; left: 0   ;}
.fillPane .r     {top: 0   ; right: 0   ; bottom: 0   ; left: auto;}
*/

.fillPane .fill  {top: 0   ; right: 0   ; bottom: 0   ; left: 0   ;}
.fillPane .fill img {width:100%; height: 100%}


/* scale images to pane size instead of clipping. */
/* TODO (probably): overflow:hidden for non-image things in fill */
.fillPane img {max-width: 100%; max-height: 100%;}

/*============================
 *
 * TMP
 *
//===========================*/
/*
.content .item {border: 1px solid #666}
.futureItem {color: #CCC}
.pastItem {color: #EEE}
.currentItem {color: #000}
*/


/*============================
 *
 * Defaults
 *
//===========================*/

.content .item {
	padding: 0.5em 5%;
	padding-left: 60px;
}

.content .item .itemHead {display:inline; line-height: 1em}

.content .item .icon {
	max-width: 55px;
}

.content .item .icon img {
    width: 100%;
}

.content .item .text {
}

.content .item .startTime {
	cursor: pointer; cursor: hand;
	margin-left: -55px;
	width: 50px;
	text-align:right;
	float:left;
}

/*============================ ============================ ============================
 *
 * timestamps
 *
//=========================== */


.content .item .displayTime {
}

.timestampNone .content .item .displayTime,
.content .item.timestampNone .displayTime
{
	display:none
}

/* =========================== */

.timestampInline .content .item,
.content .item.timestampInline 
{
	padding-left: 0.5em;
}

.timestampInline .content .item .startTime,
.content .item.timestampInline .startTime {
	display:inline; margin-left: 0; width:auto; text-align:left; padding-right: 0.4em;
}

/* =========================== */

.timestampSidebar .content .item,
.content .item.timestampSidebar {
	padding-left: 40px;
}

.timestampSidebar .content .item .startTime,
.content .item.timestampSidebar .startTime {
	transform: rotate(90deg) translateX(100%);
	transform-origin: 100% 0;
	width: auto;
	font-size: 20px;
	margin-left: -45px;
}

/* =========================== */

.timestampSmall .content .item .displayTime,
.content .item.timestampSmall .displayTime
{
	font-size: 0.86em;
}

/* =========================== */
