/*  Valid styles for items:
	tl, bl, tr, br, t, l, b, r (for positioning anything other than regular content) 
*/

/*============================
 *
 * Overlays
 *
//===========================*/
 .fillPane .item {
	position: absolute;
	max-width: 100%;
	max-height: 100%
}


.fillPane .futureItem {
	display:none
}
.fillPane .currentItem {
	display:block;
	position: absolute;
}
.fillPane .pastItem {
	display:none
}
/* Nope, can't explain the -3px. TODO */
 .fillPane .bl {
	top: auto;
	right: auto;
	bottom: -3px;
	left: 0;
}
.fillPane .tl {
	top: 0;
	right: auto;
	bottom: auto;
	left: 0;
}
.fillPane .tr {
	top: 0;
	right: 0;
	bottom: auto;
	left: auto;
}
.fillPane .br {
	top: auto;
	right: 0;
	bottom: -3px;
	left: auto;
}
/* TODO (also need to set image h/w to 100% for these)
.fillPane .b     {top: auto; right: 0   ; bottom: 0   ; left: 0   ;}
.fillPane .l     {top: 0   ; right: auto; bottom: 0   ; left: 0   ;}
.fillPane .t     {top: 0   ; right: 0   ; bottom: auto; left: 0   ;}
.fillPane .r     {top: 0   ; right: 0   ; bottom: 0   ; left: auto;}
*/
 .fillPane .fill {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.fillPane .fill img {
	width:100%;
	height: 100%
}

/* scale images to pane size instead of clipping. */
/* TODO (probably): overflow:hidden for non-image things in fill */
 .item img {
	max-width: 100%;
	max-height: 100%;
}

.backgroundImage {background-repeat: no-repeat;}

.fillPane .backgroundImage {
	width: 100%; height: 100%;
}
.backgroundImage.fill {background-size: 100% 100%}
.backgroundImage.center {background-position: 50% 50%}
.backgroundImage.tl {background-position: 0 0}
.backgroundImage.tr {background-position:100% 0}
.backgroundImage.bl {background-position:0 100%}
.backgroundImage.br {background-position:100% 100%}
.backgroundImage.cover {background-size:cover}
.backgroundImage.contain {background-size:contain}

/*============================
 *
 * TMP
 *
//===========================*/

/*
.content .item {border: 1px solid #666}
.futureItem {color: #CCC}
.pastItem {color: #EEE}
.currentItem {color: #000}
*/

/*============================
 *
 * Defaults
 *
//===========================*/
 .content .item {
	padding: 0.5em 5%;
	padding-left: 60px;
}

.content .item.headerItem {
}

.content .item .itemHead {
	display:inline;
	line-height: 1em
}
.content .item .icon {
	max-width: 55px;
	;
}
.content .item .icon img {
	width: 100%;
}
.content .item .text {
}
.content .item .startTime {
	cursor: pointer;
	cursor: hand;
	margin-left: -55px;
	width: 50px;
	text-align:right;
	float:left;
}

.content .item iframe {
	background-color:#FFF;
}

.content .item .touchable {
	cursor:pointer;
	position:relative;
}



.content .item .touchableIndicator {
	opacity:0; transition: opacity 1.5s;
	position:absolute;bottom:7px;right:5px;
	font-family: Story;
	font-size: 1em;
}

.touchableIndicator:before {
	content: "\e602";
	text-shadow: 1px 1px 1px #FFF;
}
.content .item .touchable:hover .touchableIndicator {opacity:0.8;}

/*============================ ============================ ============================
 *
 * timestamps
 *
//=========================== */
 .timestampNone .content .item, .content .item.timestampNone {
	padding-left: 5%
}
.timestampNone .content .item .displayTime, .content .item.timestampNone .displayTime {
	display:none
}
/* =========================== */
 .timestampInline .content .item, .content .item.timestampInline {
	padding-left: 0.5em;
}
.timestampInline .content .item .startTime, .content .item.timestampInline .startTime {
	display:inline;
	margin-left: 0;
	width:auto;
	text-align:left;
	padding-right: 0.4em;
}
/* =========================== */
 .timestampSidebar .content .item, .content .item.timestampSidebar {
	padding-left: 40px;
}
.timestampSidebar .content .item .startTime, .content .item.timestampSidebar .startTime {
	transform: rotate(90deg) translateX(100%);
	transform-origin: 100% 0;
	width: auto;
	font-size: 20px;
	margin-left: -45px;
}
/* =========================== */
 .timestampSmall .content .item .displayTime, .content .item.timestampSmall .displayTime {
	font-size: 0.86em;
}
/* =========================== */

/*============================ ============================ ============================
 *
 * Template variants
 *
//=========================== */


.item .pullquote:before {
	color: rgba(0, 0, 0, 0.05);
	content: "“";
	float: left;
	font-size: 3em;
	line-height: 0.8em;
	margin-left: -0.4em;
	width: 0.4em;
}
.item .pullquote {
	font-size: 2em;
}
.item .pullquoteSpeaker {
	text-align: right;
	font-style: italic;
	font-size: 0.8em
}
.item .pullquoteSpeaker:before {
	content:" — ";
}
/* - - - - - - - - - - - - - -  */
 .item .captioncontainer {
	position:relative;
	overflow:hidden;
}
.item .caption {
	position:absolute;
	/* TODO why is this not zero: */
	bottom:4px;
	left:0;
	right:0;
	padding: 0.5em;
	opacity:1;
	transition: 0.7s all;
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.7);
	border-top:1px solid #666;
	color:#FFF;
}
.item.colorInvert .caption {
	background-color: #eee;
	background-color: rgba(255, 255, 255, 0.7);
	color: #000;
	border-top: 1px solid #666;
}
.item:hover .caption {
	opacity: 0;
}
.item .slidingcaption {
	transform:translateY(0);
}
.item:hover .slidingcaption {
	transform:translateY(100%);
}
/* - - - - - - - - - - - - - -  */
 .item .thumbnail img {
	width:100%;
}
.item .thumbnail {
	max-width:72px;
	transition: all 0.8s;
	float:left;
	margin-right:1em;
}
.item .thumbnail.fullsize {
	max-width:100%;
	float:none;
}
