.itt-socialshare {
  text-align: right;
  .button {
    margin: 0;
    padding: 0 0.1em;
    font-size: 1.4em;
  }
  .icon__button {
    font-size: 2.3em;
    &:hover {
      text-decoration: none;
    }
  }
}

.socialshare__row {
  border: 1px solid #565656;
}

.socialshare__row--expanded {
  width: 300px;
  min-height: 160px;
  text-align: left;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;

  .button {
    padding-right: 0.5em;
    font-size: 1.7em;
  }

  p {
    padding: 0.5em 0;
    font-size: small;
  }
}

.socialshare__clipboard {
  display: flex;
  align-items: center;
  .button {
    padding: 0;
    font-size: small;
  }
  .text--notice {
    font-size: small;
  }
}

.socialshare__exit {
  position: absolute;
  right: 0.2em;
  .fa-times-circle:before {
    color: #565656;
  }
}

.socialshare__email-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  button, textarea {
    width: 100%;
  }

  input.ng-invalid-required {
    border: 1px solid red;
  }

  button {
    padding: 0.5em;
    color: white;
    background-color: $narrasysPrimary;

    &:hover{
      background-color: $narrasysOrange;
    }
  }
}

.email-row--flex-half {
  width: 50%;
}

.email-row--flex-full {
  width: 100%;
}
