.errors {
	left: 20%;
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.errors .error,
.errors .notification {
	background-color: #ffffff;
	border: 4px solid #c00;
	border-left: 12px solid #C00;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
	border-radius: 15px;
	padding: 1em;
	margin: 1em;
	overflow: auto;
}

.unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.error-red {
	color: #c00;
}

.info-blue {
	color: #2d6099;
}

.errors .notification {
	border-color: #2d6099;
}

/*css based approach in use throughout the app*/
.tooltip-static {
  position: relative;
}

.tooltip-static .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip-static:hover .tooltip-text {
  visibility: visible;
  padding: 5px;
}

/*styles for itt-tooltip directive*/
.ittTooltip {
  position: relative;
}

.ittTooltip__text {
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
  padding: 3px 5px;
	/* Position the tooltip */
	position: absolute;
  /*transform: translate(0, 1.3em);*/
  top: 1.13em;
  left: 1.3em;
	z-index: 1;
  pointer-events: none;
}

.ittTooltip__text--url {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px 5px;
  /* Position the tooltip */
  position: absolute;
  /*transform: translate(0, 1.3em);*/
  top: 1.13em;
  left: 1.3em;
  z-index: 1;
  pointer-events: none;
  white-space: nowrap;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

li {
  list-style: disc outside none;
}

body {
	background-color: #FFF;
}

.clear:after {
	clear: both;
	content: "";
	display: block;
}

.overlay {
	pointer-events: none;
}

.overlay .item,
.overlay.windowFg {
	pointer-events: auto;
}

.ios-iframe-overlay {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2147483647; // highest possible signed 32 bit integer aka max z-index ;)
}

.videoMagnet {
	/* No idea */
	margin-bottom: -5px;
}

.videoMagnet img {
	/* aspect ratio preserver */
	width: 100%;
}

.small {
	font-size: smaller;
}

.invisible {
	visibility: hidden;
}

a {
	text-decoration: none;
	color: #00C;
	cursor: pointer;
	cursor: hand;
}

a:hover,
a:focus,
.fakeLink:hover,
.fakeLink:focus {
	text-decoration: underline;
}

a.button:hover,
a.button:focus {
	text-decoration: none;
	text-shadow: 0 0 5px #FFC;
}

h1,
h2,
h3,
h4 {
	margin: 0.8em 0 0.2em;
	line-height: 1em;
}


/* --------------------------------------------------------------------------------
 loading indicator
*/

.loading {
	text-align: center;
	font-size: small;
	min-height: 400px;
	line-height: 0;
	background-color: transparent;
}

.loading .spinner {
	width: 60px;
	height: 60px;
	margin: 100px auto -30px auto;
	position: relative;
	background-color: #FFF;
	opacity: 0.5;
}

.loading .pie {
	width: 50%;
	height: 100%;
	position: absolute;
	background-color: #DDD;
}

.loading .rotating {
	border-radius: 60px 0 0 60px;
	z-index: 2;
	border-right: none;
	animation: rotate 2s ease-in-out infinite;
	transform-origin: 100% 50%;
}

.loading .filler {
	border-radius: 0 60px 60px 0;
	z-index: 1;
	border-left: none;
	animation: pieFill 2s steps(1, end) infinite;
	left: 50%;
	opacity: 0;
}

.loading .mask {
	width: 50%;
	height: 100%;
	position: absolute;
	z-index: 3;
	opacity: 1;
	background: inherit;
	animation: pieMask 2s steps(1, end) infinite;
}

.loading__background {
	position: fixed;
	width: 100%;
	height: 100%;
	border: 2px solid black;
	z-index: 99999;
	opacity: 0.33;
	background-color: #000;
}

.routeLoading {
	position: fixed;
	top: 30%;
	right: 50%;
	z-index: 99999;
	min-height: 0;
	width: 60px;
	height: 60px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.50);
}

.routeLoading .spinner {
	margin: 0;
	padding: 0;
}

.routeLoading .loading__text {
	position: relative;
	bottom: 30px;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes pieFill {
	0% {
		opacity: 0;
	}
	50%,
	100% {
		opacity: 1;
	}
}

@keyframes pieMask {
	0% {
		opacity: 1;
	}
	50%,
	100% {
		opacity: 0;
	}
}


/* --------------------------------------------------------------------------------
 position:fixed causes Safari to act less weird in fullscreen mode, but interferes with
 scrolling.  Disabling for now, let safari do what safari does.
*/


/*
 #CONTAINER {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
}
#CONTAINER.touchDevice {
	position:static;
	-webkit-overflow-scrolling: auto;
}
*/


/* Z-indexes
--------------------------------------------------------------------------------
*/

.bgLayer,
.videoMagnet {
	z-index: 1;
	pointer-events: none;
}

.content {
	z-index: 2;
}

.videoContainer,
.overlay {
	z-index: 3;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 854px;
  height: 478px;
  will-change: transform;
  transform-origin: top left;
}

.videoMask {
	z-index: 4;
}

.watchModeCaptions {
	z-index: 5;
}

.windowFg.fgLayer {
	z-index: 6;
}

.modal-backdrop {
	z-index: 7;
}

.modal {
	z-index: 11;
}

.autoscroll,
.controlPanel > div,
.item .edit-event {
	z-index: 9;
}

.navPanel,
.toolbar-bottom-controltrigger {
	z-index: 10;
}

.toolbar,
.toolbar-bottom,
.banner-logo,

	/*.helpPanel,*/

.profilePanel,
.topDrawer {
	z-index: 11;
}

.searchPanel {
	z-index: 12;
}

.errors {
	z-index: 13;
}


/* Custom Icon Font
--------------------------------------------------------------------------------
See /images/font/story/map.png for a list of available glyphs
*/

@font-face {
	font-family: 'Story';
	src: url('/images/font/storyfont-v11.eot');
}

@font-face {
  font-family: 'Story';
  font-weight: normal;
  font-style: normal;
  src: url('/images/font/storyfont-v11.woff') format('woff');
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
}


/*
Video
--------------------------------------------------------------------------------
*/


/*
TODO: native video seems to perform better when not position:absolute, but iframe doesn't size properly without it.
Check to see if there's a consistent way to do without absolute positioning, or if it's safe to just do it to native and not youtube.
 */


div.np-video {
	position: relative;
	width: 100%;
	height: 100%;
}

div.np-video.np--embed {
	padding-bottom: 56.25%;
}

div.np-video__wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
}

div.np-video__element {
	position: relative;
	padding-bottom: 56.25%;
	z-index: 1;
}

div.np-video__element iframe {
	position: absolute;
	width: 100%;
	height: 100%;
}

div.np-video__element video {
	width: 100%;
	height: auto;
}

div.np-video__overlay-ui {
	position: absolute;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

div.np-video__overlay-ui.np--embed {
	height: 83%;
	background-position: 50% 20px;
}

div.np-video__overlay-ui.play {
	background-image: url('/images/play-overlay.png');
}

div.np-video__overlay-ui.firstplay {
	background-image: url('/images/logo-overlay.png');
}

div.np-video__overlay-ui.rewind {
	background-image: url('/images/rewind-overlay.png');
}

.np-video__empty {
	text-align: center;
	margin: 0 auto;
	width: 600px;
	height: 400px;
}
/*old styles below*/

/*.isTouchDevice .videoMask.buffering {*/
	/*!* HACK iOS always has the wrong state for this, hiding it until I can find a proper fix *!*/
	/*background-image: none !important;*/
/*}*/

/*.videoMask.transcoding {*/
	/*background-image: none;*/
/*}*/

/*.videoMask .convertingMessage {*/
	/*align-items: center;*/
	/*background-color: #000;*/
	/*color: #fff;*/
	/*display: flex;*/
	/*height: 100%;*/
	/*padding: 0 1em;*/
	/*text-align: center;*/
	/*width: 100%;*/
/*}*/


/*
Misc useful keyframes
--------------------------------------------------------------------------------
*/

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes delayedFadeOut {
	0% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes delayedFadeIn {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
