* {box-model: border-box; margin: 0; padding: 0}
.clear {clear:both}

/*============================
 *
 * zIndex
 *
//===========================*/

.windowBg {z-index: 1}
.scene {z-index: 2}
.paneBg {z-index: 3}
.content {position: relative; z-index: 4}
.paneFg {z-index: 5}

.vjs-wrapper {z-index: 6}
.videoOverlay {z-index: 7}
.toolbar, .vjs-control-bar {z-index: 8}
.sidepanel {z-index: 9}
.windowFg {z-index: 10}

/* 
Allow clicks on overlay items to fall through.  TODO: pointer-events not supported in IE<11 or windows mobile or opera mobile.
Need workaround for most IE: may need to manually capture click events and pass them through using document.getElementFromPoint? 
Note that windowFg should NOT get pointer-events:none, as it'll be used for stop media.
(hmm, maybe that should be true for the contentpane fg items too?)
*/
.paneFg, .videoOverlay {
	pointer-events: none
}
.paneFg a, .videoOverlay a {
	pointer-events: auto
}


/*============================
 *
 * Shared Modal
 *
//===========================*/

.modal-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.9);
  color: #fff;
}

.modal {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 15%;
  right: 15%;
  background-color: white;
  border: 2px solid black;
  padding: 20px;
}

