.narrative {
	padding: 1em;
}

.narrative .controls {
	text-align: right;
}

.narrativelist {
	border-top: 1px solid #ddd;
	padding: 0;
	margin: 0.5em 0;
}

.standaloneAncillaryPage {
	display: block;
	height: 100%;
	overflow: scroll;
	padding: 5% 10%;
	position: absolute;
	width: 100%;
	background: url("/images/itt.svg") no-repeat fixed 50% 80% #eee;
	font-family: 'Source Sans Pro', 'Droid Sans', Helvetica, sans-serif;
}

.standaloneAncillaryPage > div {
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 1em;
	border-radius: 1em;
}

@media screen and (max-width: 500px) {
	.standaloneAncillaryPage {
		padding: 0;
		background: none;
	}
	.standaloneAncillaryPage > div {
		border: none;
		padding: 1em 0.5em;
	}
}

.standaloneAncillaryPage a {
	color: #C44343;
}

.standaloneAncillaryPage a:hover {
	text-decoration: underline;
}

.standaloneAncillaryPage button,
.standaloneAncillaryPage .button,
.standaloneAncillaryPage input[type="submit"] {
	background-color: #C44343;
	color: #FFF;
	border-radius: 0.6em;
	font-size: 0.8em;
	padding: 0.1em 0.8em;
	margin: 0.2em;
	border: 0;
	cursor: pointer;
}

.standaloneAncillaryPage button:disabled {
	background-color: #BBB;
	cursor: default;
}

.standaloneAncillaryPage .button {
	line-height: 36px;
}

.standaloneAncillaryPage button a,
.standaloneAncillaryPage .bigredbutton a {
	color: #FFF;
}

.standaloneAncillaryPage input[type="text"],
.standaloneAncillaryPage textarea {
	border: 0 none;
	border-radius: 6px;
	font-size: 13px !important;
	padding: 4px 6px !important;
}

.standaloneAncillaryPage .bigredbutton {
	color: #FFF;
	border-radius: 8px;
	width: 100%;
	display: block;
	padding: 2em;
	text-align: center;
	color: #FFF;
	background-color: #c44343;
}

.standaloneAncillaryPage .ancillaryNav {
	text-align: right;
}

.standaloneAncillaryPage hr {
	border: none;
	background-color: #CCC;
	height: 1px;
}


.narrative__edit input[type="text"], .narrative__edit textarea {
	width: 100%;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid black;
	/*important used here to overide line .sandAloneAncillaryPage textarea above*/
	font-size: 20px !important;
}

.timeline__delete {
	text-align: center;
	position: fixed;
	border: 1px solid black;
	width: 300px;
	height: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.50);
}

.timeline__delete .under__delete {
	padding: 5px;
}

.tl__wrapper {
	margin-left: 20px;
}

.tlDrag__handle {
	top: 15px;
	position: absolute;
}

.narrative__modal {
	background-color: #fff;
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.50);
	padding: 10px;
}

.narrative__modal input[type="checkbox"] {
	width: auto;
}

.invalid__field {
	color: red;
}

.timeline--hidden {
	opacity: 0.5;
}



