/*.producer {
	margin: 1em;
}
.producer .scene {
	border: 1px solid;
	padding: 1em;
	margin: 1em;
}
.editwarning {
	background-color: #FFE;
}
*/

.authoringForm td {
	vertical-align: top;
}
.authoringForm td.label {
	font-size: smaller;
	color: #666;
	width: 20%;
	text-align: right;
	padding-right: 0.5em;
}
/* Angular removes the type=text attribute when you use ng-model (grr) so can't use [type="text"] */

.authoringForm input,
.authoringForm textarea {
	width: 100%;
	padding: 0.3em;
	border: 1px solid #CCC;
	border-radius: 0.3em;
	font-family: sans-serif;
	font-size: 13px;
}
.authoringForm input[type="checkbox"],
.authoringForm input[type="radio"] {
	width: 3em;
}
