.authoringForm {
	margin: 1em;
}
.authoringForm .field {
	clear: both;
}
.authoringForm .field .input,
.authoringForm .field .label {
	margin-bottom: 0.25em;
}
.authoringForm .label {
	width: 25%;
	text-align: right;
	float: left;
	font-size: smaller;
	color: #666;
	padding: 3px 0.25em;
}
.authoringForm .input {
	width: 75%;
	float: right;
}
.authoringForm td {
	vertical-align: top;
}
.authoringForm td.label {
	font-size: smaller;
	color: #666;
	width: 20%;
	text-align: right;
	padding-right: 0.2.5em;
}
/* Angular removes the type=text attribute when you use ng-model (grr) so can't use [type="text"] */

.authoringForm .input input,
.authoringForm .input textarea {
	width: 100%;
	padding: 0.3em;
	border: 1px solid #CCC;
	border-radius: 0.3em;
	font-family: sans-serif;
	font-size: 13px;
}
.authoringForm textarea {
	max-height: 2em;
	transition: max-height 1s;
}
.authoringForm textarea:focus {
	max-height: 8em;
}
.authoringForm .input input:focus,
.authoringForm .input textarea:focus,
.authoringForm .input select:focus {
	border-color: #666;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.authoringForm .input input[type="checkbox"],
.authoringForm .input input[type="radio"] {
	width: 3em;
}
/* ------ */

.sxs.addcontent {
	position: fixed;
	right: 16px;
	bottom: 86px;
	cursor: pointer;
	cursor: hand;
	height: 60px;
	min-width: 60px;
	border: 5px solid #666;
	background-color: #FFF;
	border-radius: 30px;
	padding: 0 0.6em;
	font-size: 11px;
}
.sxs.addcontent a {
	display: inline-block;
	text-align: center;
	color: #000;
	padding: 0.5em;
}
.button-add:before,
.sxs-edit:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e601";
}
.sxs-edit:before {
	color: #000;
	font-size: 1.25em;
	float: left;
}
.sxs-edit {
	color: #FFF;
}
.sxsicon {
	position: absolute;
	top: 2em;
	left: 1em;
	opacity: 0.2;
	height: 72px;
	width: 72px;
	font-size: 1.2em;
}
.button-comment:before,
.sxsicon.icon-comment:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e600";
}
.button-link:before,
.sxsicon.icon-link:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e604";
}
.button-question:before,
.sxsicon.icon-question:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e605";
}
.button-image:before,
.sxsicon.icon-image:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e603";
}
.button-file:before,
.sxsicon.icon-file:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e602";
}
.button-video:before,
.sxsicon.icon-videos:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e606";
}
.sxs-item {
	background-color: #FFF;
	padding: 0.5em;
}
.sxs-item .sxs-profile {
	float: right;
	margin-top: -0.5em;
	margin-right: -0.5em;
}
.reviewMode .sxs-item {
	border: 1px solid #000;
}
.reviewMode .sxs-item .sxs-profile {
	width: 40px;
}
