.admin small {
	opacity: 0.3;
}
.admin li {
	list-style: none;
	padding: 0.1em;
}
.admin h2 {
	width: 100%;
	background-color: #EEE;
	padding: 0.4em;
}
.admin small {
	float: right;
	text-align: right;
}
.admin .isOpen ul {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}
.admin .isOpen:before {
	content: "-";
	display: inline-block;
	width: 1em;
	opacity: 0.5;
}
.admin .isClosed:before {
	content: "+";
	display: inline-block;
	width: 1em;
	opacity: 0.5;
}
.admin li.isClosed:hover,
.admin li.noChildren:hover {
	background-color: #EEE;
}
.admin li.isClosed:hover small {
	opacity: 0.8;
}
.admin .session > ul {
	margin-left: 1em;
}
/* -- */

.padForEditing .episode {
	border-bottom: 180px solid #BBB;
}
.authoringForm .field {
	clear: both;
}
.authoringForm .field .input,
.authoringForm .field .label {
	margin-bottom: 0.2em;
}
.authoringForm .field > .label {
	width: 25%;
	text-align: right;
	float: left;
}
.authoringForm .label {
	font-size: smaller;
	color: #666;
	padding: 3px 0.25em;
}
.authoringForm .label:after {
	content: ":";
}
.authoringForm .input {
	width: 75%;
	float: right;
}
/* Angular removes the type=text attribute when you use ng-model (grr) so can't use [type="text"] */

.authoringForm .input input,
.authoringForm .input textarea {
	width: 100%;
	padding: 0.3em;
	border: 1px solid #CCC;
	border-radius: 0.3em;
	font-family: sans-serif;
	font-size: 13px;
}
.authoringForm textarea {
	max-height: 2em;
	transition: max-height 1s;
}
.authoringForm textarea:focus {
	max-height: 8em;
}
.authoringForm .input input:focus,
.authoringForm .input textarea:focus,
.authoringForm .input select:focus {
	border-color: #666;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
.authoringForm .input input[type="checkbox"],
.authoringForm .input input[type="radio"] {
	width: 2em;
}
.authoringForm label {
	padding-right: 2em;
}
.authoringForm .button-prev {
	font-size: 0.7em;
}
/* ------ */

.producer.addcontent {
	position: fixed;
	right: 16px;
	bottom: 86px;
	cursor: pointer;
	cursor: hand;
	height: 60px;
	min-width: 60px;
	border: 5px solid #666;
	background-color: #FFF;
	border-radius: 30px;
	padding: 0 0.6em;
	font-size: 11px;
}
.producer.addcontent a {
	display: inline-block;
	text-align: center;
	color: #000;
	padding: 0.5em;
}
.button-add:before,
.sxs-edit:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e601";
}
.sxs-edit:before {
	color: #000;
	font-size: 1.25em;
	float: left;
}
.sxs-edit {
	color: #FFF;
}
.sxsicon {
	position: absolute;
	top: 2em;
	left: 1em;
	opacity: 0.2;
	height: 72px;
	width: 72px;
	font-size: 1.2em;
}
.button-comment:before,
.sxsicon.icon-comment:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e600";
}
.button-link:before,
.sxsicon.icon-link:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e604";
}
.button-question:before,
.sxsicon.icon-question:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e605";
}
.button-image:before,
.sxsicon.icon-image:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e603";
}
.button-file:before,
.sxsicon.icon-file:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e602";
}
.button-video:before,
.sxsicon.icon-videos:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e606";
}
.button-scene:before,
.sxsicon.icon-scene:before {
	font-size: 2.5em;
	display: block;
	font-family: Story;
	content: "\e60f";
}
.sxs-item {
	background-color: #FFF;
	padding: 0.5em;
}
.sxs-item .sxs-profile {
	float: right;
	margin-top: -0.5em;
	margin-right: -0.5em;
}
.reviewMode .sxs-item {
	border: 1px solid #000;
}
.reviewMode .sxs-item .sxs-profile {
	width: 40px;
}
/* edit button on items */

.item {
	/* TODO: This may mess with some layouts; test me! */
	
	position: relative;
}
.item .sxs-edit {
	display: none;
	background-color: #fff;
	border: 4px solid #555;
	border-radius: 2.5em;
	width: 2.5em;
	height: 2.5em;
	overflow: hidden;
	padding: 5px;
	position: absolute;
	right: 0.6em;
	top: 0.5em;
}
.canEditContent .item:hover .sxs-edit {
	/* TODO: touchscreens! */
	
	display: block;
}
.item .sxs-edit span {
	font-size: 0;
}
.autocompleteList {
	z-index: 99;
	position: absolute;
	background-color: #FFF;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.autocompleteItem {
	cursor: pointer;
	cursor: hand;
	height: 30px;
	line-height: 30px;
	padding-right: 100px;
}
.autocompleteItem:hover,
.autocompleteItem.selected {
	background-color: #336666;
	color: #FFF;
}
.autocompleteItem img {
	max-width: 30px;
	max-height: 30px;
	float: left;
	margin-right: 0.5em;
}
.inputOnly {
	position: absolute;
	left: 0;
	background-color: transparent;
	color: #000;
}
.addNewAnnotator {
	position: absolute;
	right: 0;
	top: 0;
	height: 24px;
	z-index: 10;
}
.editingItem {
	background-color: #66C;
	position: absolute;
	height: 1em;
	border: 1px solid #555;
	border-left: 1px solid #000;
	border-right: none;
}
