input[readonly] {
	background: none;
	border: medium none !important;
	box-shadow: none !important;
}

.assetUploader .uploadDropTarget {
	border: 2px dashed #bbb;
	border-radius: 0.5em;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
	padding: 0.5em;
	text-align: center;
	background-color: #FFF;
}

.assetUploader .uploadDropTarget input {
	border: none !important;
	width: 70px !important;
	/* TODO better styling for file inputs */}


.assetUploader .uploadDropTarget.droppable {
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6) inset;
	border: 2px solid #BBB;
}

.assetUploader .uploadList {
	border-bottom: 1px solid #eee;
	font-size: 0.7em;
	line-height: 1em;
	margin: 0.2em;
	padding: 0.2em;
}

.assetUploader .uploadName,
.assetUploader .uploadProgress {
	display: inline-block;
	overflow-x: hidden;
	white-space: nowrap;
}

.assetUploader .uploadName {
	width: 60%;
}

.assetUploader .uploadProgress {
	float: right;
	width: 38%;
	position: relative;
}

.uploadProgress progress {
	width: 70%;
}

.asset__field-group {
  display: flex;
  flex-direction: column;
  padding: 1px 0;
}

.asset__field-group div {
  display: flex;
  justify-content: flex-start;
  padding: 2px 0;
}

.containerAssets {
	padding: 1em;
	clear: both;
}

.goUp {
	font-size: 11px;
}

.goUp:before {
	content: '\2191';
	padding-right: 5px;
}

.containerAssets .controls {
	font-size: 16px;
}

.containerAssets .controls {
	text-align: right;
}

.containerAssets .title {
	font-size: 1.5em;
}

.containerAssets table .thumbnail {
	height: 50px;
	width: 50px;
	display: block;
}

.containerAssets table {
	width: 100%;
	border-collapse: collapse;
}

.containerAssets tr {
	height: 50px;
}

.containerAssets td {
	padding: 4px;
}

.containerAssets tr:nth-child(2n) {
	background-color: #fdfdfd;
}

.containerAssets .grid {
	display: inline-block;
	padding: 1em;
	width: 33%;
	max-height: 180px;
	text-align: center;
	vertical-align: top;
}

.containerAssets .grid .thumbnail {
	border: 1px solid #CCC;
	display: block;
	max-height: 125px;
	max-width: 100%;
	margin: auto;
}

.containerAssets .grid div.thumbnail {
	background-color: #CCC;
	color: #FFF;
	height: 125px;
	line-height: 125px;
}

.containerAssets .scrollPane {
	max-height: 450px;
	overflow-y: auto;
	border: 1px solid #CCC;
}

.containerAssets .grid:hover,
.containerAssets tr:hover {
	background-color: #EEE;
	cursor: pointer;
}
/* -- */

.floatAssetPicker {
	bottom: 20%;
	left: 5%;
	position: fixed;
	right: 5%;
	top: 5%;
	background-color: #FFF;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
	z-index: 99;
}

.floatAssetPicker .scrollContainer {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0px;
	right: 0px;
	overflow-y: auto;
}

.floatAssetPicker .controlsContainer {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
}
/* -- */

.padForEditing .episode {
	border-bottom: 180px solid #BBB;
}

.authoringFormScrollContainer {
	height: 210px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-right: 24px;
}

.authoringForm .field {
	clear: both;
}

.authoringForm .field .input,
.authoringForm .field .label {
	margin: 0.3em 0;
}

.authoringForm .field > .label {
	width: 25%;
	text-align: right;
	float: left;
}

.authoringForm .label {
	font-size: smaller;
	color: #666;
	padding: 3px 0.25em;
}

.authoringForm .input {
	width: 75%;
	float: right;
}

.authoringForm .input input.ng-invalid {
	border: 1px solid #c00;
}
/* Angular removes the type=text attribute when you use ng-model (grr) so can't use [type="text"] */

.authoringForm .input input,
.authoringForm .input textarea,
.authoringForm .input select {
	width: 100%;
	border: 1px solid #CCC;
	border-radius: 0.3em 0 0 0.3em;
	/*font-family: sans-serif;*/
	font-size: 16px;
}

.authoringForm button {
	border: 1px solid #CCC;
	background-color: #FFF;
	border-radius: 0.3em;
	font-family: sans-serif;
	font-size: 13px;
	color: #000;
}

.authoringForm .input label {
	font-family: sans-serif;
	font-size: 13px;
	white-space: nowrap;
	display: inline-block;
}

.authoringForm .input input,
.authoringForm .input textarea,
.authoringForm .input option {
	padding: 0.3em;
}

.authoringForm textarea {
	max-height: 2em;
	transition: max-height 1s;
}

.authoringForm textarea:focus {
	max-height: 8em;
}

.authoringForm .input input:focus,
.authoringForm .input textarea:focus,
.authoringForm .input select:focus {
	border-color: #666;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.authoringForm .input input[type="checkbox"],
.authoringForm .input input[type="radio"] {
	width: 2em;
}

.authoringForm label {
	padding-right: 2em;
}

.authoringForm button,
.ittTabFoot button {
	padding: 0.2em 0.6em;
}

.authoringForm .button-prev {
	font-size: 0.7em;
}

.authoringForm option {
	padding: 0.2em 0;
}

.annotatorEmptyCue {
	font-size: 13px;
	position: absolute;
	padding: 3px;
	pointer-events: none;
}

.authoringForm .floaterContainer {
	position: relative;
	display: inline-block;
}

.authoringForm .floater {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	font-size: smaller;
	padding: 0.5em;
	position: absolute;
	z-index: 99;
}

/* ------ */

.editButtonPanel,
.addButtonPanel {
	background-color: #fff;
	bottom: 71px;
	cursor: pointer;
	font-size: 12px;
	min-width: 60px;
	padding: 0 0.6em;
	position: fixed;
}

.isProducer .editButtonPanel {
	border-radius: 0 1em 0 0;
	border-right: 2px solid #999;
	border-top: 2px solid #999;
	left: 0;
	min-height: 45px;
}

.isProducer .addButtonPanel {
	border-left: 2px solid #999;
	border-radius: 1em 0 0;
	border-top: 2px solid #999;
	right: 0;
	min-height: 45px;
}

.isSxS .addButtonPanel {
	border: 5px solid #666666;
	border-radius: 30px;
	bottom: 80px;
	line-height: 80px;
	font-size: 11px;
	height: 60px;
	right: 1em;
}

.isProducer.controlPanel a,
.isSxS.controlPanel a {
	color: #616161;
	display: inline-block;
	line-height: 1.5em;
	padding: 0.5em;
}

@media screen and (max-width: 825px) {
	.isProducer.controlPanel .addButtonPanel a {
		display: block;
	}
}

.isSxS.controlPanel a {
	text-align: center;
}

.isProducer.controlPanel .button:before {
	font-family: Story;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-right: 0.25em;
	display: inline-block;
}

.isSxS.controlPanel .button:before {
	font-family: Story;
	font-size: 2.5em;
	padding-bottom: 3px;
	display: block;
}

.eventIcon:before {
	font-size: 2.5em;
	font-family: Story;
	display: block;
}

.edit-event {
	color: #FFF;
}

.eventIcon {
	position: absolute;
	top: 2em;
	left: 1em;
	opacity: 0.2;
	height: 72px;
	width: 72px;
	font-size: 1.2em;
}

.edit-event:before {
	font-family: Story;
	content: "\e601";
	color: #000;
}

.button-add:before {
	content: "\e90b";
}

.addButtonPanel .button-add:hover, .editButtonPanel .button-add:hover {
	color: #DE6625;
}

.addButtonPanel .button:hover, .editButtonPanel .button:hover {
	color: #DE6625;
}

.button-chapter:before,
.eventIcon.icon-comment:before {
	content: "\e60b";
}

.button-comment:before,
.eventIcon.icon-comment:before {
	content: "\e600";
}

//.button-facebook:before,
//.eventIcon.icon-comment:before {
//
//}

.button-facebook,
.eventIcon.icon-comment {
  &:before {
    content: '\e917';
  }

  &:hover {
    color: $fb-blue;
  }
}

.button-twitter,
.eventIcon.icon-comment {
  &:before {
    content: '\e918';
  }

  &:hover {
    color: $twitter-blue;
  }
}

.button-linkedin,
.eventIcon.icon-comment {
  &:before {
    content: '\e916';
  }

  &:hover {
    color: $linkedin-blue;
  }
}

.button-google,
.eventIcon.icon-comment {
  &:before {
    content: '\e919';
  }

  &:hover {
    color: $gplus-red;
  }
}

.button-reddit,
.eventIcon.icon-comment {
  &:before {
    content: '\e91d';
  }

  &:hover {
    color: $reddit-orange;
  }
}

.button-pinterest,
.eventIcon.icon-comment {
  &:before {
    content: '\e91b';
  }

  &:hover {
    color: $pinterest-red;
  }
}

.button-email:before,
.eventIcon.icon-comment:before {
  content: '\e91a';
}

.button-share:before,
.eventIcon.icon-comment:before {
  content: '\e915';
}

.button-link:before,
.eventIcon.icon-link:before {
	content: "\e604";
}

.button-question:before,
.eventIcon.icon-question:before {
	content: "\e605";
}

.button-image:before,
.eventIcon.icon-image:before {
	content: "\e603";
}

.button-file:before,
.eventIcon.icon-file:before {
	content: "\e602";
}

.button-video:before,
.eventIcon.icon-videos:before {
	content: "\e606";
}

.button-scene:before,
.eventIcon.icon-scene:before {
	content: "\e60f";
}

.button-episode:before,
.eventIcon.icon-episode:before {
	content: "\e610";
}

.button-text-copied:before,
.eventIcon.icon-episode:before {
  content: '\e91c';
}

.searchMode .sxs-item {
	background-color: #FFF;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 10px;
}
/* edit button on items */

.item {
	/* TODO: This may mess with some layouts; test me! */

	position: relative;
}

.item .edit-event {
	display: none;
	background-color: #fff;
	color: #FFF;
	border: 2px solid #555;
	border-radius: 2.5em;
	width: 2em;
	height: 2em;
	overflow: hidden;
	padding: 4px 6px;
	position: absolute;
	right: 0.6em;
	top: 0.5em;
}

.canEditContent.isProducer .item:hover .edit-event {
	/* producer sees all edit buttons */
	/* TODO: touchscreens! */

	display: block;
}

.canEditContent.isSxS .item:hover .sxs-item .edit-event {
	/* SxS only gets sxs edit buttons */
	/* TODO: touchscreens! */

	display: block;
}

.item .edit-event span {
	font-size: 0;
}

.autocompleteList {
	z-index: 99;
	position: absolute;
	background-color: #FFF;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.autocompleteItem {
	cursor: pointer;
	cursor: hand;
	height: 30px;
	line-height: 30px;
	padding-right: 100px;
}

.autocompleteItem:hover,
.autocompleteItem.selected {
	background-color: #336666;
	color: #FFF;
}

.autocompleteItem img {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 0.5em;
}

.annotatorSubButton {
	position: absolute;
	right: 0;
	top: 2px;
	height: 24px;
	z-index: 10;
}

.editingItem {
	background: rgba(0, 0, 128, 0.3);
	position: absolute;
	height: 1em;
	border: 1px solid #555;
	border-left: 1px solid #000;
	border-right: none;
}
/* TODO reconcile tabs and drawer height / scroll */

ul.nav-tabs {
	list-style-type: none;
}


li.tab-pane {
	display: inline;
}

.ittTabs {
	clear: both;
	height: 230px;
	position: relative;
}

.ittTabLabel {
	cursor: default;
	float: left;
	padding: 0 10px;
	border-bottom: 1px solid #CCC;
}

.ittTabLabel.cur {
	border: 1px solid #CCC;
	border-bottom: none;
}

.ittTabLabel a {
	color: #767676;
}

.ittTabLabel.cur a {
	color: #000;
}

.ittTabContents {
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
}

.ittTabFoot {
	clear: both;
	width: 100%;
	text-align: right;
	padding-right: 24px;
	font-size: 0.86em;
}

.ittTabFoot button:disabled {
	color: #B7B7B7;
}

.invalid {
	background-color: #FEE !important;
}

.ytRecordWidgetFloater {
	position: fixed;
	top: 8%;
	left: 0;
	text-align: center;
	right: 0;
}

.ittUrl__escapeLink {
  input {
    margin: 0;
    padding: 0 !important;
    width: 1em !important;
  }

  label {
    margin-left: -5px;
    font-size: 16px;
  }
}

