/* ------------------------------------------- */

.pane {
	position: relative;
}

.fill,
.fill .item,
.fgLayer .item.contain,
.fgLayer .item.cover,
.fgLayer .item.fill {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.fgLayer,
.bgLayer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;*/
}

.windowFg.fgLayer,
.windowBg.bgLayer {
	position: fixed;
}

.windowFg.fgLayer {
	background-color: rgba(0, 0, 0, 0.5);
}

.windowFg.fgLayer .content {
	background-color: #FFF;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
	position: absolute;
	overflow-y: scroll;
	padding: 1em;
	left: 4em;
	right: 4em;
	top: 4em;
	bottom: 80px;
}

.windowFg.fgLayer .content .item {
	margin-bottom: 50px;
}

.videoContainer {
	overflow: hidden;
	/*background-color: #000;*/
	/*overflow-y: hidden;*/
}

.content {
	position: relative;
}

.content:after {
	clear: both;
	content: "";
	display: block;
}

.bgLayer {
	opacity: 0.25;
}

.sceneTitle {
	margin-left: 0.5em;
}

.showBackgroundOnly .content,
.showBackgroundOnly .fgLayer,
.showBackgroundOnly .videoMask {
	opacity: 0;
	pointer-events: none;
}

.showBackgroundOnly .videoContainer .fgLayer {
	opacity: 1;
}

.showBackgroundOnly .bgLayer {
	opacity: 1;
}

.showBackgroundOnly .videoContainer .fgLayer .item,
.showBackgroundOnly .bgLayer .item {
	pointer-events: auto;
}

.showBackgroundOnly .windowBg .item .edit-event {
	/* TOP TOOLBAR */
	margin-top: 55px;
}

.showForegroundOnly .bgLayer {
	display: none;
}


/* ------------------------------------------- */


/* Sidebars and margins.

.sidebar items float to one margin or the other when sidebars are allowed
.burst items burst into those margins when sidebars are allowed
.sidebar items always appear smaller than usual

TODO give panes with both sidebars narrower margins than those with only one or the other
TODO there's probably a less counterintuitive way of handling sidebar widths than the weird math on these negative margins
*/

.allowSidebars.hasLeftSidebar {
	padding-left: 30%;
}

.allowSidebars.hasRightSidebar {
	padding-right: 30%;
}

.hasLeftSidebar .item.sidebarL,
.hasRightSidebar .item.sidebarR {
	font-size: smaller;
	padding-left: 5px;
}

.hasLeftSidebar .sidebarL .displayTime,
.hasRightSidebar .sidebarR .displayTime {
	display: none
}


/* has only one sidebar: */

.allowSidebars.hasLeftSidebar .burstL,
.allowSidebars.hasLeftSidebar .burst {
	clear: left;
	margin-left: -43%;
}

.allowSidebars.hasRightSidebar .burstR,
.allowSidebars.hasRightSidebar .burst {
	clear: right;
	margin-right: -43%;
}


/* - */

.allowSidebars.hasLeftSidebar .sidebarL {
	float: left;
	clear: left;
	margin-left: -43%;
	width: 43%;
}

.allowSidebars.hasRightSidebar .sidebarR {
	float: right;
	clear: right;
	margin-right: -43%;
	width: 43%;
}


/* - has both sidebars: */

.allowSidebars.hasLeftSidebar.hasRightSidebar .burstL,
.allowSidebars.hasLeftSidebar.hasRightSidebar .burst {
	clear: left;
	margin-left: -75%;
}

.allowSidebars.hasRightSidebar.hasLeftSidebar .burstR,
.allowSidebars.hasRightSidebar.hasLeftSidebar .burst {
	clear: right;
	margin-right: -75%;
}


/* - */

.allowSidebars.hasLeftSidebar.hasRightSidebar .sidebarL {
	float: left;
	clear: left;
	margin-left: -70%;
	width: 70%;
}

.allowSidebars.hasLeftSidebar.hasRightSidebar .sidebarR {
	float: right;
	clear: right;
	margin-right: -70% !important;
	width: 70% !important;
}


/* ------------------------------------------- */

.watchMode {
	position: fixed;
	background-color: #000;
	top: 45px;
	/* VIEWPORT HEIGHT */
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

#watchModeVideoMagnet {
	margin: auto;
}

.watchModeCaptions {
	position: fixed;
	bottom: 20px;
	font-size: 120%;
	margin: 0 10%;
	width: 80%;
	transition: all 1.5s;
}

.watchModeCaptions.padForBottomToolbar {
	bottom: 80px;
}


/* TODO this is a bit of a hack.  Need to restrict ng-animate to .animate class items */

.watchModeCaption.ng-enter,
.watchModeCaption.ng-leave {
	transition: none;
	display: none !important;
}

.watchModeCaption {
	color: #DDDDDD;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 8px;
	padding: 0.5em 1em;
	text-align: left;
}

.watchModeCaption .startTime {
	display: none;
}

@media screen and (min-width: 401px) and (max-width: 700px) {
	.watchModeCaption {
		font-size: 90% !important;
	}
}

@media screen and (max-width: 400px) {
	.watchModeCaption {
		font-size: 70% !important;
	}
}

.searchMode .searchfilters {
	padding: 1em 0 0 0.5em;
	position: relative;
}

.searchMode .scrollContainer {
	padding: 0 0.5em;
}

.searchMode h1 {
	font-size: 2em;
}

.searchMode .item h2,
.searchMode .item h3,
.searchMode .item .pullquote {
	font-size: 1.4em;
}

.searchMode .showAsHeader {
	font-size: 1.3em;
	opacity: 0.5;
}

.searchMode h2.searchChapter {
	font-size: 1.6em;
	margin-left: -55px;
}

.searchMode h2.searchCategory {
	font-size: 1.6em;
}

.searchMode .searchResults .isCosmetic {
	display: none;
}

.isProducer .searchMode .searchResults .isCosmetic {
	display: block;
	opacity: 0.8;
}

.isProducer .searchMode .searchResults .isCosmetic:before {
	background-color: #999;
	border-radius: 0.5em;
	color: #fff;
	content: "COSMETIC";
	font-size: 0.8em;
	font-weight: bold;
	padding: 0.2em;
	float: right;
}

@media screen and (min-width: 750px) {
	.searchMode .videoMagnet {
		width: 320px;
		position: fixed;
		right: 0;
	}
	.searchMode .searchResults {
		margin-right: 290px;
	}
	.searchMode .searchResults .item {
		padding-right: 50px;
	}
}

@media screen and (min-width: 360px) and (max-width: 749px) {
	.searchMode .videoMagnet {
		width: 220px;
		position: fixed;
		right: 0;
	}
	.searchMode .searchfilters {
		height: 100px;
		/* TODO matchVideoHeight */
	}
	.searchMode .searchResults .item {
		padding-right: 50px;
	}
}

@media screen and (max-width: 359px) {
	.searchMode .videoMagnet {
		width: 100%;
		position: static;
	}
	.searchMode .searchfilters {
		height: auto;
		padding: 1em;
	}
}


/* -------------------------------------------
   Landing screen
*/

.landingscreen {
	padding: 10% 15%;
}

.landingscreen .videoMagnet {
	width: 50%;
	float: left;
}

.landingscreen .introtext {
	width: 45%;
	float: right;
}

.landingscreen p {
	margin: 2em 0 1em 0
}

@media screen and (max-width: 501px) {
	.landingscreen .videoMagnet {
		width: 100%;
		float: none;
	}
	.landingscreen .introtext {
		width: 100%;
		float: none;
	}
	.landingscreen h1 {
		font-size: 24px;
	}
	.landingscreen p {
		margin: 1em 0;
	}
}

.endingscreen {
	padding: 5% 10%;
}

.endingscreen .videoMagnet {
	margin: 0 30%;
}

.crossEpisodeNav {
	list-style: none;
	margin-left: 1em;
	font-size: 0.95em;
}


/* ------------------------------------------- */

.scene.cornerV {
	display: flex;
}

.scene.cornerV .col {
	width: 50%;
}

.scene.cornerV.videoLeft {
	flex-direction: row;
}

.scene.cornerV.videoRight {
	flex-direction: row-reverse;
}
/* ------------------------------------------- */

.scene.centerVV {
	display: flex;
}

.scene.centerVV .col {
	width: 50%;
}

.scene.centerVV .videoMagnet {
	margin: 0 auto;
	margin-top: 8.5em;
	width: 95%;
}

.scene.centerVV.videoLeft {
	flex-direction: row;
}

.scene.centerVV.videoRight {
	flex-direction: row-reverse;
}

/* ------------------------------------------- */

.scene.centerVV-mondrian {
	display: flex;
}

.scene.centerVV-mondrian .col {
	width: 50%;
}

.scene.centerVV-mondrian .videoMagnet {
	margin: 0 auto;
	margin-top: 5em;
	width: 95%;
}

.scene.centerVV-mondrian.videoLeft {
	flex-direction: row;
}

.scene.centerVV-mondrian.videoRight {
	flex-direction: row-reverse;
}

/* ------------------------------------------- */

.scene.cornerH {}

.scene.cornerH .row {
	display: flex;
}

.scene.cornerH .videoMagnet,
.scene.cornerH .mainPane {
	width: 50%;
}

.scene.cornerH .mainPane {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
}

.scene.cornerH .altPane {
	width: 100%;
}

.scene.cornerH.videoLeft .row {
	flex-direction: row;
}

.scene.cornerH.videoRight .row {
	flex-direction: row-reverse;
}


/* ------------------------------------------- */

.scene.twocol {
	display: flex;
}

.scene.twocol .videoPositioner {
	width: 100%;
	position: absolute;
}

.scene.twocol .videoMagnet {
	width: 50%;
	margin: 0 25%;
}

.scene.twocol .col {
	width: 50%;
}

.scene.twocol.videoLeft .videoMagnet {
	margin: 0 50% 0 0;
}

.scene.twocol.videoLeft .col2 .matchVideoHeight {
	display: none;
}

.scene.twocol.videoRight .videoMagnet {
	margin: 0 0 0 50%;
}

.scene.twocol.videoRight .col1 .matchVideoHeight {
	display: none;
}


/* -------------------------------------------
		1col scene
*/

.scene.onecol .col,
.scene.onecol .videoMagnet {
	margin: -3.5px 20%;
	width: 60%;
}

.scene.onecol.videoRight .videoMagnet {
	margin-right: 0;
	width: 80%;
}

.scene.onecol.videoLeft .videoMagnet {
	margin-left: 0;
	width: 80%;
}

@media screen and (min-width: 1000px) and (min-height: 700px) {
	.scene.onecol .col,
	.scene.onecol .videoMagnet {
		margin: -3.5px 25%;
	}
	.scene.onecol .videoPositioner {
		width: 100%;
	}
	.scene.onecol.videoRight .videoMagnet {
		margin-top: 5%;
		margin-right: 0;
		right: 0;
		left: 55%;
	}
	.scene.onecol.videoRight .col {
		margin: 0 50% 0 5%;
	}
	.scene.onecol.videoLeft .videoMagnet {
		margin-top: 5%;
		margin-left: 0;
		left: 0;
		right: 55%;
	}
	.scene.onecol.videoLeft .col {
		margin: 0 5% 0 50%;
	}
}


/* ------------------------------------------- */

.scene.centered .col {
	padding: 10% 20% 0 20%;
}

@media screen and (min-width: 900px) {
	.scene.centered .col {
		padding: 7% 25% 0 25%;
	}
}

/* ------------------------------------------- */
.scene.centered-pro .col {
	/*top | right | bottom | left*/
	padding: 2% 20% 0 20%;
}

.scene.centered-pro .videoMagnet {
	margin-top: 6em;
}


/*@media screen and (min-width: 900px) {*/
	/*.scene.centered-pro .col {*/
		/*padding: 7% 25% 0 25%;*/
	/*}*/
/*}*/


/* ------------------------------------------- */

.scene.pip .mainPane {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 2em;
	bottom: 30px;
	overflow: hidden;
	position: fixed;
	right: 30px;
	width: 60%;
	z-index: 3;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	padding: 0.5em;

  &.--hide-video {
    right: 20%;
  }
}

.scene.pip .mainPane .content {
	border-radius: 1.5em;
	overflow: hidden;
}

.scene.pip .mainPane .content .item:first-child {
	/* override extra padding for first item */
	padding-top: 0.7em;
}

.scene.pip .altPane {
	padding-bottom: 300px;
}

.scene.pip .altPane .item {
	text-align: center;
}

.scene.pip .videoMagnet {
	width: 30%;
	position: fixed;
	bottom: 30px;
	left: 30px;
}

.scene.pip .padForBottomToolbar .videoMagnet,
.scene.pip .padForBottomToolbar .mainPane {
	bottom: 80px
}

.scene.pip.videoRight .videoMagnet {
	left: auto;
	right: 30px;
}

.scene.pip.videoRight .mainPane {
	right: auto;
	left: 30px;
}

//to give ittScene#twiddleScene some help.
//allow column to take up all available space made by
//stretchToViewport class + ittScene#twiddleScene
.col {
  height: 100%;
}
.scene__container {
  height: 100%;
}
.stretchToViewport {
    min-height: 100vh;
}


