/*============================
 *
 * Scene structure
 *
//===========================*/


.scene,
.pane {position:relative;}

.videoOverlay {position:absolute}
.paneBg, 
.paneFg {position:absolute; top: 0; left: 0; right: 0; bottom: 0}
.fillPane {overflow:hidden}



/* default */

.futureScene, .pastScene {display:none}

/*============================
 *
 * Scene layouts
 *
//===========================*/

.videoContainer {border: 2px solid #F00}
.contentMain {border: 2px solid #0F0;}
.contentAlt  {border: 2px solid #00F;}

/*============================*/
/* fullscreen video mode */

.scene-video .videoContainer {
	width: 90%;
	float: right;
}
.scene-video .contentAlt {
	position:absolute;
	top:0;
	bottom: 0;
	overflow-vertical: scroll;
}
.scene-video .contentMain {
	width: 100%;
}


/*============================*/
/* Explore mode */

.scene-explore.futureScene, 
.scene-explore.pastScene {display:block}

.scene-explore .videoContainer {
	position:fixed;
	top: 60px;
	right: 0;
	width: 20%;
	border: 1px solid #000;
}

.scene-explore .contentMain {
	background-color: #EEEEEE;
	border-right: 1px solid #CCCCCC;
	height: 100%;
	padding-left: 10%;
	padding-right: 10%;
	width: 33%;
}

/*============================*/
.scene-1col {margin: 0 10%;}

.scene-1col .contentMain {
}


/*============================*/
.scene-centered {}


/*============================*/
.scene-2col {}
/*============================*/
.scene-cornerV {}
/*============================*/
.scene-cornerH {}
