/* Modified from OS version */

.ta-root {
	border: 1px solid #CCC;
	background-color: #FFF;
	border-radius: 0.3em 0 0 0.3em;
	display: block;
}

.ta-root.focussed {
	border-color: #666;
	;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.ta-toolbar {
	max-height: 0;
	border-bottom: 1px solid #CCC;
	background-color: #EEE;
	padding: 0;
	opacity: 0;
	border-radius: 0.3em 0 0 0;
	transition: 0.5s;
}

.ta-root.focussed .ta-toolbar {
	max-height: 30px;
	padding: 4px;
	opacity: 1;
}

.btn-group {
	display: inline-block;
}

.btn-toolbar {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

.ta-root.focussed .ta-toolbar button {
	margin-bottom: 1em;
}

.ta-root.focussed .ta-toolbar button.active {
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3) inset;
}

.ta-hidden-input {
	border: medium none;
	height: 1px;
	left: -10000px;
	margin: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: -10000px;
	width: 1px;
}

.ta-root.focussed > .ta-scroll-window.form-control {
	outline: 0 none;
}

.ta-editor.ta-html,
.ta-scroll-window.form-control {
	font-family: inherit;
	//font-size: 0.86em;
	height: auto;
	overflow: auto;
}

.ta-scroll-window.form-control {
	padding: 0;
	position: relative;
}

.ta-scroll-window > .ta-bind {
	height: auto;
	max-height: 4em;
	padding: 0.3em;
	transition: 0.5s;
}

.ta-root.focussed .ta-scroll-window > .ta-bind {
	max-height: 10em !important;
	overflow-y: scroll;
}

.ta-editor:focus {
	-moz-user-select: text;
}

.ta-resizer-handle-overlay {
	display: none;
	position: absolute;
	z-index: 100;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-info {
	background-color: #fff;
	border: 1px solid black;
	bottom: 16px;
	opacity: 0.7;
	padding: 0 4px;
	position: absolute;
	right: 16px;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-background {
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid black;
	bottom: 5px;
	left: 5px;
	position: absolute;
	right: 5px;
	top: 5px;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner {
	height: 10px;
	position: absolute;
	width: 10px;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tl {
	border-left: 1px solid black;
	border-top: 1px solid black;
	left: 0;
	top: 0;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-tr {
	border-right: 1px solid black;
	border-top: 1px solid black;
	right: 0;
	top: 0;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-bl {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	bottom: 0;
	left: 0;
}

.ta-resizer-handle-overlay > .ta-resizer-handle-corner-br {
	background-color: white;
	border: 1px solid black;
	bottom: 0;
	cursor: se-resize;
	right: 0;
}

.popover {
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
	font-size: 14px;
	font-weight: normal;
	left: 0;
	line-height: 1.42857;
	max-width: 276px;
	padding: 1px;
	position: absolute;
	text-align: left;
	top: 0;
	white-space: normal;
	z-index: 1060;
}

.popover.top {
	margin-top: -10px;
}

.popover.bottom {
	margin-top: 10px;
}

.popover-title {
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-radius: 5px 5px 0 0;
	font-size: 14px;
	margin: 0;
	padding: 8px 14px;
}

.popover-content {
	padding: 9px 14px;
}

.popover > .arrow,
.popover > .arrow::after {
	border-color: transparent;
	border-style: solid;
	display: block;
	height: 0;
	position: absolute;
	width: 0;
}

.popover > .arrow {
	border-width: 11px;
}

.popover > .arrow::after {
	border-width: 10px;
	content: "";
}

.popover.top > .arrow {
	border-bottom-width: 0;
	border-top-color: rgba(0, 0, 0, 0.25);
	bottom: -11px;
	left: 50%;
	margin-left: -11px;
}

.popover.top > .arrow::after {
	border-bottom-width: 0;
	border-top-color: #fff;
	bottom: 1px;
	content: " ";
	margin-left: -10px;
}

.popover.bottom > .arrow {
	border-bottom-color: rgba(0, 0, 0, 0.25);
	border-top-width: 0;
	left: 50%;
	margin-left: -11px;
	top: -11px;
}

.popover.bottom > .arrow::after {
	border-bottom-color: #fff;
	border-top-width: 0;
	content: " ";
	margin-left: -10px;
	top: 1px;
}

