.toolbar {
	font-size: 16px;
	text-align: center;
	position: fixed;
	height: 85px;
	margin-bottom: -40px;
	background-image: url('/images/toolbar.png');
	background-repeat: repeat-x;
	background-size: 100% 100%;
	top: 0;
	left: 0;
	right: 0;
}
.toolbar {
	pointer-events: none
}
.toolbar a,
.toolbar div {
	pointer-events: auto
}
.toolbar .buttongroup {
	float: left;
	box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.1) inset;
	position: relative;
	height: 1.5em;
	border-radius: 0.75em;
	margin: 0.3em 0.5em;
	background-color: rgba(0, 0, 0, 0.1);
}

button {
  margin      : 0;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;
}
.toolbar .buttongroup span {
	display: block;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 1;
	color: #666;
	font-size: 12px;
	padding: 0;
	border: none;
	background: none;
	margin: 0;
}
.toolbar .buttongroup:hover .button span {
	opacity: 0 !important
}
.toolbar .buttongroup .button:hover span {
	opacity: 1 !important;
	transition: opacity 0.3s;
}
.toolbar .buttongroup.modegroup {
	padding: 0 0.5em;
}
.toolbar .buttongroup.modegroup .button.cur span {
	animation: delayedFadeOut 7s ease-out;
}
.toolbar .searchgroup,
.toolbar .escapegroup {
	float: right;
}
.toolbar .searchgroup .hidden {
	position:absolute; 
	left:0;
	top:-500px;
	width:1px;
	height:1px;
	overflow:hidden;
}
.toolbar .buttongroup.searchgroup {
	transition: all 1s;
	width: 2em;
}
@media screen and (max-width: 300px) {
	.isFramed .toolbar .buttongroup.searchgroup {
		display: none;
	}
}
@media screen and (max-width: 421px) {
	.isFramed .toolbar .buttongroup.modegroup {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.button-discover {
		/* See also helpPanel below */
		display: none !important;
	}
	.volumebar {
		display: none;
	}
	.button-fullscreen {
		display: none !important;
	}
}
.toolbar .buttongroup.escapegroup .button span {
	margin-left: -120px;
	text-align: right !important;
	width: 150px;
}
.toolbar .buttongroup.searchgroup .button {
	float: left;
}
.toolbar .buttongroup.searchgroup.cur {
	width: 27%;
	font-size: 22px;
	padding-top: 3px;
}
.toolbar .buttongroup.searchgroup.cur .button span {
	display: none
}
#searchtext {
	background: none;
	border: none;
	font-size: 1em;
	margin: 0;
	width: 0;
	transition: all 1s;
	position: absolute;
	left: 40px;
	top: 2px;
}
#searchtext:focus {
	outline: 0;
}
.cur #searchtext {
	width: 80%
}
.toolbar .button {
	display: inline-block;
	padding: 0 0.5em;
	line-height: 24px;
	height: 24px;
	cursor: pointer;
	color: #555;
}
.modegroup .button {
	color: #AAA;
}
.modegroup .button.cur {
	background-color: rgba(255, 255, 255, 0.6);
}
.toolbar .button.cur {
	color: #000;
	text-shadow: -1px -1px 2px #FFF;
}
.toolbar .button:before {
	font-family: Story;
	font-size: 1em;
}
.button-watch:before {
	content: "\e60b"
}
.button-discover:before {
	content: "\e60a"
}
.button-review:before {
	content: "\e60c"
}
.button-search:before {
	content: "\e602"
}
.cur .button-search:before {
	content: "\e603"
}
.button-mainframeescape:before {
	content: "\e609"
}
.escapelink:before {
	font-family: Story;
	content: "\e609";
	padding-right: 0.5em;
	font-size: 0.86em;
	color: #333;
}
.escapelink {
	font-size: 0.86em;
}
.colorInvert .escapelink:before {
	color: #CCC
}
.autoscroll {
	position: fixed;
	right: 16px;
	bottom: 106px;
	width: 32px;
	height: 32px;
	opacity: 0.7;
	cursor: pointer;
	cursor: hand;
}
.toolbar-bottom,
.toolbar-bottom-controltrigger {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 60px;
	margin-bottom: -3px;
}
.toolbar-bottom {
	pointer-events: none;
	padding-top: 27px;
	color: #333;
	background-image: url('/images/toolbar-bottom.png');
	background-repeat: repeat-x;
	background-size: 100% 30px;
	background-position: top;
}
.toolbar-bottom-fill {
	pointer-events: auto;
	background-color: rgba(255, 255, 255, 0.9);
}
.toolbar-bottom.ng-hide-remove {
	transition: opacity 0.25s;
	opacity: 0;
}
.toolbar-bottom.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}
.toolbar-bottom.ng-hide-add {
	transition: opacity 3s;
	opacity: 1;
}
.toolbar-bottom.ng-hide-add.ng-hide-add-active {
	opacity: 0;
}

.offscreen {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
	-webkit-transition:all linear 5s;
  transition:all linear 5s;
}

.visual-hide {
	opacity: 0;
}

.offscreen-animate {
	transition: opacity 3s;
	opacity: .3;
}

/*============================
*
* Side Panels
*
//===========================*/

.modal-backdrop {
	transition: 1s linear all;
	opacity: 1;
}
.modal-backdrop.ng-hide {
	opacity: 0;
}
.modal-backdrop.ng-hide-add,
.modal-backdrop.ng-hide-remove {
	display: block!important;
}
/*============================
 *
 * Search Panel
 *
//===========================*/

.searchPanel,
.searchPanel-backdrop {
	top: 45px;
	/* TOOLBAR HEIGHT */
}
.searchPanel {
	bottom: 0;
	right: 0;
	width: 40%;
	background-color: #FFF;
}
@media screen and (max-width: 421px) {
	.searchPanel {
		width: 90%;
	}
}
@media screen and (min-width: 422px) and (max-width: 601px) {
	.searchPanel {
		width: 60%;
	}
}
.searchPanel .scrollContainer {
	top: 20px;
	bottom: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	right: -16px;
	padding: 0 24px 80px 8px;
	left: 0px;
	position: absolute;
}
.searchPanel .searchresults {
	padding: 1em;
}
.searchPanel.ng-hide .searchfilters {
	opacity: 0;
}
.searchPanel .searchfilters {
	opacity: 1;
	animation: delayedFadeIn 4s ease-out;
	margin-top: 0.3em;
}
.searchfilters {
	font-size: 0.86em;
	float: right;
	margin-right: 0.5em;
	cursor: pointer;
}

.searchfilters label {
	float: right;
	margin-right: 0.5em;
	cursor: pointer;
}
.searchfilters input[type="radio"] {
	display: none
}
.searchResults h3 {
	padding: 0.5em 0.3em 0.1em 0.3em
}
.searchResults .item {
	border-bottom: 1px solid #CCC;
	padding: 0.1em 0.3em;
	clear: both;
}
.searchResults .item .displayTime button {
	cursor: pointer;
	cursor: hand;
	color: #00C;
	float: left;
	display: inline;
	width: 45px;
}
.searchResults .description {
	font-size: 0.86em;
	margin-left: 45px
}
.searchResults .type {
	opacity: 0.4;
	font-size: 0.86em
}
.searchResults .sortedbytype .type {
	display: none
}
/* Panel animations */

.searchPanel {
	position: fixed;
	transition: 1s all;
	transform-origin: 100% 50%;
	opacity: 1;
	transform: translateX(0);
}
.searchPanel.ng-hide {
	opacity: 0;
	transform: translateX(200px);
}
.searchPanel.ng-hide-add,
.searchPanel.ng-hide-remove {
	display: block!important;
}
.searchPanel .ui-match {
	background-color: rgba(50, 50, 50, 0.4);
	color: #FFF;
	margin: -4px;
	padding: 4px;
	border-radius: 4px;
}
/*============================
 *
 * Nav Panel
 *
//===========================*/

.navPanel {
	max-height: 400px;
	transition: 1s all;
	overflow-y: scroll;
}
.navPanel.ng-hide-add,
.navPanel.ng-hide-remove {
	display: block!important;
}
.navPanel.ng-hide-add {
	max-height: 400px;
}
.navPanel.ng-hide-add-active {
	max-height: 0;
}
.navPanel.ng-hide-remove {
	max-height: 0;
}
.navPanel.ng-hide-remove-active {
	max-height: 400px;
}
@media screen and (max-width: 500px) {
	.navPanel {
		margin: 0 0.5em;
	}
}
@media screen and (max-width: 300px) {
	.navPanel {
		font-size: 60%;
	}
}
@media screen and (max-width: 600px) {
	.navPanel {
		padding-bottom: 0.4em !important;
	}
}
@media screen and (min-width: 301px) and (max-width: 500px) {
	.navPanel {
		font-size: 75%;
	}
}
@media screen and (min-width: 700px) {
	.navPanel {
		margin: 0 20%;
	}
}
.navPanel .scene:first-child {
	margin-top: 1em;
	font-size: 120%;
	font-weight: bold;
	padding-bottom: 0.5em;
	padding-left: 1em;
	border-top: none;
}
.navPanel .scene:first-child a {
	color: #000;
}
.navPanel .scene {
	cursor: pointer;
	cursor: hand;
	padding: 0.3em;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding-left: 45px;
}
.navPanel .currentScene {
	background-color: rgba(0, 0, 0, 0.1);
}
.navPanel .displayTime {
	width: 45px;
	float: left;
	text-align: right;
	padding-right: 10px;
}

.navPanel .sceneLink {
	color: blue;
}
/*============================
 *
 * Help Panel
 *
//===========================*/

.helpPanel {
	background-color: #EEE;
	border-radius: 15px;
	font-size: 0.86em;
	left: 2em;
	padding: 15px;
	position: absolute;
	width: 60%;
	max-width: 500px;
	min-width: 290px;
	/* TOOLBAR HEIGHT */
	top: 55px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.helpPanel ul {
	list-style: none;
	margin: 0.5em 1em;
}
.helpPanel li:before,
.helpPanel h3 {
	height: 30px;
	margin: 0;
}
.helpPanel li {
	clear: both;
	border-top: 1px solid #EEE;
	padding: 0.5em 0;
}
.helpPanel li:before {
	float: left;
	font-family: Story;
	font-size: 1.7em;
	padding-right: 0.5em;
}
.helpPanel li.video:before {
	content: "\e60b"
}
.helpPanel li.directed:before {
	content: "\e60a"
}
@media screen and (max-width: 480px) {
	.helpPanel li.directed {
		display: none !important;
	}
}
.helpPanel li.explore:before {
	content: "\e60c"
}
.helpPanel .goAway {
	float: right;
	color:#069;
  margin      : 0;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  font-size   : 1em;
  cursor      : pointer;
}
.helpPanel .arrow-up {
	width: 20px;
	height: 20px;
	background-color: #EEE;
	position: absolute;
	top: -10px;
	left: 30px;
	box-shadow: -5px -3px 3px rgba(0, 0, 0, 0.2);
	z-index: 5;
	transform: rotate(45deg);
}

.helpPanel .screen-reader-offscreen {
	position:absolute;
	left:-999px;
	width:1px;
	height:1px;
	top:auto;
}

/* .button-continue appears in windowFg: */

.button-continue:after {
	font-family: Story;
	content: "\e001";
	color: #000 !important;
	font-size: 3em;
	float: right
}
.button-continue {
	line-height: 3.4em;
	float: right;
	margin-top: 5em;
}

