/* TODO: alternatives for IE 8 and below */
/* TODO: check if these can safely be used on scenes too */
/* TODO: add -webkit versions of all @keyframes (-moz and -o no longer necessary, they support plain @keyframes) */


body { /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
	-webkit-backface-visibility: hidden;
}

.item {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

/*
.showCurrent .item.pastItem {display:none}
.showCurrent .item.futureItem {display:none}
*/

/*============================
 *
 * transitionFade
 *
//===========================*/

/* Full (for showCurrent) */

@keyframes fadeInFull {
	0% {opacity: 0;}
	100% {opacity: 1}
}
@keyframes fadeOutFull {
	0% {opacity: 1}
	100% {opacity:0}
}

.transitionFade .showCurrent .item.pastItem,
.transitionFade .showCurrent .item.futureItem,
.showCurrent .transitionFade.item.pastItem,
.showCurrent .transitionFade.item.futureItem
{
	position:absolute;
	-webkit-animation-name: fadeOutFull;
	   -moz-animation-name: fadeOutFull;
	     -o-animation-name: fadeOutFull;
	        animation-name: fadeOutFull;
}

.transitionFade .showCurrent .item.currentItem,
.showCurrent .transitionFade.item.currentItem
{
	-webkit-animation-name: fadeInFull;
	   -moz-animation-name: fadeInFull;
	     -o-animation-name: fadeInFull;
	        animation-name: fadeInFull;
}

/* Partial */

@-webkit-keyframes fadeInPartial,
@-moz-keyframes fadeInPartial,
@-o-keyframes fadeInPartial,
@keyframes fadeInPartial {
	0% {opacity: 0.6}
	100% {opacity: 1}
}
@-webkit-keyframes fadeOutPartial,
@-moz-keyframes fadeOutPartial,
@-o-keyframes fadeOutPartial,
@keyframes fadeOutPartial {
	0% {opacity: 1}
	100% {opacity: 0.6}
}

.transitionFade .item.pastItem,
.transitionFade .item.futureItem,
.transitionFade.item.pastItem,
.transitionFade.item.futureItem
{
	-webkit-animation-name: fadeOutPartial;
	   -moz-animation-name: fadeOutPartial;
	     -o-animation-name: fadeOutPartial;
	        animation-name: fadeOutPartial;
}

.transitionFade .item.currentItem,
.transitionFade.item.currentItem
{
	-webkit-animation-name: fadeInPartial;
	   -moz-animation-name: fadeInPartial;
	     -o-animation-name: fadeInPartial;
	        animation-name: fadeInPartial;
}


/*============================
 *
 * transitionSlideL
 *
//===========================*/

/* Full (for showCurrent) */

@keyframes slideInLeftFull {
	0% {
		opacity: 0;
		transform: translateX(-200px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes slideOutRightFull {
	0% {
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(200px);
	}
}

.transitionSlideL .showCurrent .item.pastItem,
.showCurrent .transitionSlideL.item.pastItem,
{
	-webkit-animation-name: slideInLeftFull;
	   -moz-animation-name: slideInLeftFull;
	     -o-animation-name: slideInLeftFull;
	        animation-name: slideInLeftFull;
}

.transitionSlideL .showCurrent .item.futureItem,
.showCurrent .transitionSlideL.item.futureItem
{
	-webkit-animation-name: slideOutRightFull;
	   -moz-animation-name: slideOutRightFull;
	     -o-animation-name: slideOutRightFull;
	        animation-name: slideOutRightFull;
}

