/* 
	transitionFade
	transitionSlideL
	transitionSlideR
	transitionPop
*/
/* Misc useful keyframes */

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes delayedFadeOut {
	0% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes delayedFadeIn {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	/* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
	
	-webkit-backface-visibility: hidden;
}
/* ------------------------------------------------------------------------------------------------------------------ */
/* 
Defaults.  Always include a bit of height animation, to make it look less jumpy when items are removed from
the middle of a list

Transition time should be set for the specific object type
 */
/* disabling the height animation for now; looks bad in Safari. TODO fix in safari */

.animate.ng-enter,
.animate.ng-leave,
.animate.ng-move {
	transition: all ease-in-out 0.5s;
}

.animate.noTransitions {
	transition: none !important;
}

.content .animate.ng-enter {
	/*max-height: 1px;*/
}

.content .animate.ng-enter.ng-enter-active {
	/*max-height: 300px;*/
}

.content .animate.ng-leave {
	/*max-height:100px;*/
	
	display: block !important;
}

.content .animate.ng-leave.ng-leave-active {
	/*max-height:0;*/
}
/* ------------------------------------------------------------------------------------------------------------------
   transitionFade */

.animate.ng-enter.transitionFade {
	opacity: 0;
}

.animate.ng-enter-active.transitionFade {
	opacity: 1;
}

.animate.ng-leave.transitionFade {
	opacity: 1;
}

.animate.ng-leave.ng-leave-active.transitionFade {
	opacity: 0;
}
/* ------------------------------------------------------------------------------------------------------------------
   transitionSlideL */

.animate.ng-enter.transitionSlideL {
	transform: translateX(50px);
	opacity: 0;
}

.animate.ng-enter-active.transitionSlideL {
	transform: translateX(0);
	opacity: 1;
}

.animate.ng-leave.transitionSlideL {
	transform: translateX(0);
	opacity: 1;
}

.animate.ng-leave.ng-leave-active.transitionSlideL {
	transform: translateX(-50px);
	opacity: 0;
}
/* ------------------------------------------------------------------------------------------------------------------
   transitionSlideR */

.animate.ng-enter.transitionSlideR {
	transform: translateX(-50px);
	opacity: 0;
}

.animate.ng-enter-active.transitionSlideR {
	transform: translateX(0);
	opacity: 1;
}

.animate.ng-leave.transitionSlideR {
	transform: translateX(0);
	opacity: 1;
}

.animate.ng-leave.ng-leave-active.transitionSlideR {
	transform: translateX(50px);
	opacity: 0;
}
/* ------------------------------------------------------------------------------------------------------------------
   transitionExpandW */

.animate.transitionExpandW {
	overflow: hidden;
	display: block;
}

.animate.ng-enter.transitionExpandW {
	max-width: 1px;
	opacity: 0;
}

.animate.ng-enter-active.transitionExpandW {
	max-width: 1200px;
	opacity: 1;
}

.animate.ng-leave.transitionExpandW {
	max-width: 1200px;
	opacity: 1;
}

.animate.ng-leave.ng-leave-active.transitionExpandW {
	max-width: 1px;
	opacity: 0;
}
/* ------------------------------------------------------------------------------------------------------------------
   transitionPop */

.animate.ng-enter.transitionPop {
	transform: scale(0.9);
	opacity: 0;
}

.animate.ng-enter-active.transitionPop {
	transform: scale(1);
	opacity: 1;
}

.animate.ng-leave.transitionPop {
	transform: scale(1);
	opacity: 1;
}

.animate.ng-leave.ng-leave-active.transitionPop {
	transform: scale(0.9);
	opacity: 0;
}
/* ------------------------------------------------------------------------------------------------------------------
   transitionNone */

.animate.ng-enter.transitionNone,
.animate.ng-leave.transitionNone,
.animate.ng-move.transitionNone {
	transition: all ease-in-out 0s;
}

