
/*============================
 *
 * Default
 *
//===========================*/

body {font-family: 'Droid Sans', sans-serif}
a {text-decoration: none;}

.title {font-size: 1.2em; line-height: 1em;}
.authorName, 
.category {font-size: 0.8em; font-weight: 700}
.text {}

/*============================
 *
 * typographySerif
 *
//===========================*/


.typographySerif {
	font-family: 'Droid Serif', serif
}
.typographySerif .category, .typographySerif .displayTime {
	font-family: 'Droid Sans', sans-serif
}


/*============================
 *
 * typographySans
 *
//===========================*/

/* (is default) */



/*============================
 *
 * typographyBook
 *
//===========================*/

.typographyBook {
    font-family: 'EB Garamond', Garamond,serif;
    font-size: 116%;
}

/*============================
 *
 * typographySwiss
 *
//===========================*/

.typographySwiss {
	font-family: 'Roboto', sans-serif;
}

.typographySwiss .authorName, .typographySwiss .title {
	font-weight: 300
}
