/*============================
 *
 * Default
 *
//===========================*/

body {
	font-family: 'Droid Sans', sans-serif
}
a {
	text-decoration: none;
}
/* TODO see what these were in pre-4.0 */

.title {
	font-size: 1.2em;
	line-height: 1em;
}
.authorName,
.category {
	font-size: 0.8em;
	font-weight: 700
}
/*============================
 *
 * typographySerif
 *
//===========================*/

.typographySerif {
	font-family: 'Droid Serif', serif
}
.typographySerif .category,
.typographySerif .displayTime {
	font-family: 'Droid Sans', sans-serif
}
/*============================
 *
 * typographySans
 *
//===========================*/

/* (is default) */

/*============================
 *
 * typographyBook
 *
//===========================*/

.typographyBook {
	font-family: 'EB Garamond', Garamond, serif;
}
/*============================
 *
 * typographySwiss
 *
//===========================*/

.typographySwiss {
	font-family: 'Roboto', sans-serif;
}
.typographySwiss .authorName,
.typographySwiss .title {
	font-weight: 300
}
/*============================
 *
 * customer specific:   typographyEliterate, typographyGw, typographyUsc, typographyPurdue
 *
//===========================*/

.typographyEliterate {
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 15px;
}
/* ----- */

.typographyGw {
	font-family: "Helvetica", "Arial", sans-serif;
	font-weight: 300;
}
.typographyGw h1,
.typographyGw h2,
.typographyGw h3,
.typographyGw h4,
.typographyGw h5,
.typographyGw .item a,
.typographyGw .navigationPanel a {
	font-family: "Montserrat", sans-serif;
}
.typographyGw h1,
.typographyGw h2,
.typographyGw h3,
.typographyGw h4,
.typographyGw h5 {
	font-weight: 700
}
.typographyGw .item .title {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.2em;
}
.typographyGw .item .pullquote,
.typographyGw .item .pullquoteSpeaker {
	font-family: "Cardo", serif;
}
.typographyGw .item .pullquote:before {
	font-family: "Cardo", serif;
	font-size: 1.7em;
}
.typographyUsc {
	font-family: National, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.typographyUsc h1,
.typographyUsc h2,
.typographyUsc h3,
.typographyUsc h4,
.typographyUsc .headerItem {
	font-family: "Adobe Caslon", "Crimson Text", serif;
	line-height: 1.6em;
}
.typographyUsc .item .pullquote:before {
	line-height: 0.5em;
}
.typographyPurdue {
	font-family: "Myriad Pro", "Arial";
}
.typographyPurdue h1,
.typographyPurdue h2,
.typographyPurdue h3,
.typographyPurdue h4 {
	font-family: "Champion", "Impact", "Charcoal", sans-serif;
	letter-spacing: 1px;
}
.typographyPurdue .headerItem {
	font-family: "Chaparral Pro", "Times New Roman", "Times", serif;
}
