/*============================
 *
 * Default
 *
//===========================*/

body {
	font-family: 'Open Sans', sans-serif
}

a {
	text-decoration: none;
}


/* TODO see what these were in pre-4.0 */

.title {
	font-size: 1.2em;
	line-height: 1em;
}

.authorName,
.category {
	font-size: 0.8em;
	font-weight: 700
}


/*============================
 *
 * typographySans
 *
//===========================*/

.typographySans {
	font-family: 'Open Sans', sans-serif
}

.item.typographySans,
.item.typographySans h1,
.item.typographySans h2,
.item.typographySans h3,
.item.typographySans a {
	font-family: 'Open Sans', sans-serif !important;
}


/*============================
 *
 * typographySerif
 *
//===========================*/

.typographySerif {
	font-family: 'Noto Serif', serif
}

.item.typographySerif,
.item.typographySerif h1,
.item.typographySerif h2,
.item.typographySerif h3,
.item.typographySerif a {
	font-family: 'Noto Serif', serif !important;
}


/*============================
 *
 * typographyBook
 *
//===========================*/

.typographyBook {
	font-family: 'EB Garamond', 'Adobe Garamond', Garamond, serif;
}

.item.typographyBook h1,
.item.typographyBook h2,
.item.typographyBook h3 {
  // falls back to EB Garamond in test on chrome 61 macbook.
	font-family: 'Trajan Pro', 'Trajan', 'EB Garamond', 'Adobe Garamond', Garamond, serif !important;
}


/*============================
 *
 * typographySwiss
 *
//===========================*/

.typographySwiss {
	font-family: 'Roboto', sans-serif;
}

.item.typographySwiss,
.item.typographySwiss h1,
.item.typographySwiss h2,
.item.typographySwiss h3,
.item.typographySwiss a {
	font-family: 'Roboto', sans-serif !important;
}

.typographySwiss .authorName,
.typographySwiss .title {
	font-weight: 300
}


/*============================
 *
 * customer specific:   typographyEliterate, typographyGw, typographyUsc, typographyPurdue, kellogg
 *
//===========================*/


/* ----- */

//.typographyGw {
//	font-family: "Helvetica", "Arial", sans-serif;
//	font-weight: 300;
//}
//
//.typographyGw h1,
//.typographyGw h2,
//.typographyGw h3,
//.typographyGw .item a,
//.typographyGw.navPanel a {
//	font-family: "Montserrat", sans-serif;
//}
//
//.typographyGw h1,
//.typographyGw h2,
//.typographyGw h3 {
//	font-weight: 700
//}
//
//.typographyGw .item .title {
//	font-family: "Montserrat", sans-serif;
//	font-weight: 400;
//	font-size: 1em;
//	line-height: 1.2em;
//}
//
//.typographyGw .item .pullquote,
//.typographyGw .item .pullquoteSpeaker {
//	font-family: "Cardo", serif;
//}
//
//.typographyGw .item .pullquote:before {
//	font-family: "Cardo", serif;
//}


/* ------ */

//.typographyUsc {
//	font-family: National, "Helvetica Neue", Helvetica, Arial, sans-serif;
//}
//
//.typographyUsc h1,
//.typographyUsc h2,
//.typographyUsc h3,
//.typographyUsc .headerItem {
//	font-family: "Adobe Caslon", "Crimson Text", serif;
//	/*line-height: 1.6em;*/
//}
//
//.typographyUsc .item .pullquote:before {
//	line-height: 0.7em;
//}

/* ----- */

//.typographyPurdue {
//  // falls back to arial
//	font-family: "Myriad Pro", "Arial";
//}
//
//.typographyPurdue h1,
//.typographyPurdue h2,
//.typographyPurdue h3 {
//  // falls back to Impact on mac - system font
//	font-family: "Champion", "Impact", "Charcoal", sans-serif;
//	letter-spacing: 1px;
//}
//
//.typographyPurdue .headerItem {
//	font-family: "Chaparral Pro", "Times New Roman", "Times", serif;
//}


/* ----- */


/* (Columbia is same as typographyBook: ) */

//.typographyColumbia {
//	font-family: 'EB Garamond', 'Adobe Garamond', Garamond, serif;
//}
//
//.typographyColumbia h1,
//.typographyColumbia h2,
//.typographyColumbia h3 {
//  // falls back to EB Garamond mac
//	font-family: 'Trajan Pro', 'Trajan', 'EB Garamond', 'Adobe Garamond', Garamond, serif !important;
//}


/* ----- */


/* (Columbia Business: ) */

//.typographyColumbiabusiness {
//	/* They specify Galaxie Sans, we don't have a license. */
//	font-family: 'Source Sans', Arial, Helvetica, sans-serif;
//}

//.typographyColumbiabusiness .startTime,
//.typographyColumbiabusiness .title,
//.typographyColumbiabusiness .authorName {
//	font-size: 22px !important;
//	line-height: 26px !important;
//	font-weight: 300 !important;
//}

//.typographyColumbiabusiness .pullquote {
//	min-height: 60px;
//	font-size: 30px;
//	line-height: 35px;
//	font-weight: 300;
//	color: #205F9C;
//	padding-left: 60px;
//	background: url('/images/quote-white.svg') top left no-repeat;
//}

//.typographyColumbiabusiness .pullquote:before {
//	display: none !important;
//}


/* (GWSB: ) */

//.typographyGwsb {
//	font-family: 'EB Garamond', 'Adobe Garamond', Garamond, serif;
//}
//
//.typographyGwsb h1,
//.typographyGwsb h2,
//.typographyGwsb h3,
//.typographyGwsb .authorName {
//	font-family: Helvetica, sans-serif;
//}
//
//.typographyGwsb .item .pullquote,
//.typographyGwsb .item .pullquoteSpeaker {
//	font-family: Helvetica, sans-serif;
//	font-weight: lighter;
//}
//
//.typographyGwsb .item .pullquote:before {
//	font-family: "Cardo", serif;
//	font-size: 6em;
//}


/*kellogg styles*/

//.episode-kellogg {
//	font-family: "Arial", "Helvetica", sans-serif;
//	background-color: #e9e9e9;
//}
//
//.episode-kellogg h1 {
//  // falls back to Arial
//	font-family: "Gotham", "Arial", "Helvetica", sans-serif;
//}
//
//.episode-kellogg h2,
//.episode-kellogg h3,
//.episode-kellogg .item a,
//.episode-kellogg.navPanel a {
//  // Georgia - system font
//	font-family: "Georgia";
//	font-style: italic;
//}
//
//.escapelink:before {
//	font-style: normal !important;
//}
//
//.episode-kellogg .item a.startTime {
//	font-family: "Gotham", "Arial", "Helvetica", sans-serif;
//	font-style: normal;
//}

