node_modules
tmp
.sass-cache
/app/scripts/templates.js
*.swp
*.swo
*.orig
/log/newrelic_agent.log
.idea
npm-debug.log
.DS_Store

utils/https-dev-server/certs/private-2017.key
utils/https-dev-server/certs/ssl-bundle-2017.crt
