<div class="storyUI" ng-click="captureTouchEvent()">

	<div itt-top-pane label="xyz">
		<tabset class="tabsRight" style="width: 450px">
			<tab heading="Tab 1" icon="/images/checkmark.png">
				THIS IS A PANE
				<br>THIS IS A PANE
				<br>THIS IS A PANE
				<br>THIS IS A PANE
				<br>THIS IS A PANE
				<br>THIS IS A PANE
				<br>
			</tab>
			<tab heading="Tab 2">
				THIS IS ANOTHER TAB WITHIN THIS PANE
				<br>THIS IS A PANE
				<br>THIS IS A PANE
				<br>THIS IS A PANE
				<br>THIS IS A PANE
				<br>THIS IS A PANE
			</tab>
			<div class="clear"></div>
		</tabset>
	</div>

	<div itt-top-pane label="foo" background="true">
		<div class="">THIS IS SMALLER PANE</div>
	</div>

	<div itt-top-pane label="bar" background="true">
		<div class="">THIS IS HUGE PANE IN TUCHUS
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
			<p> Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
			</p>
		</div>
	</div>


	<div class="viewport">
		<div class="topToolbarPadding"></div>
		<div class="episodeContainer">TODO EPISODE


			<tabset class="tabsLeft">
				<tab heading="Tab 1">
					Lorem ipsum dolor sit amet, ut eam nullam utroque liberavisse, ea graecis tractatos contentiones quo. Ipsum phaedrum scripserit sit id, eu insolens indoctum vel, eos eu offendit delectus tincidunt. Eum nostrum reprehendunt in, ullum nostrud legimus ei quo. Sed et elitr corrumpit. Nibh maiestatis voluptatum has no, at est inermis epicuri, omnis temporibus cu mei. Legere scriptorem voluptatibus et est, ea noluisse deterruisset sea.
				</tab>
				<tab heading="Tab 2">
					Just another tab!
				</tab>
				<div class="clear"></div>
			</tabset>

			<tabset class="tabsRight">
				<tab heading="Tab 3">
					Lorem ipsum
				</tab>
				<tab heading="Tab 2">
					Just another tab!
				</tab>
				<div class="clear"></div>
			</tabset>


		</div>
		<div class="footer fpo" style="height: 200px">TODO FOOTER</div>
	</div>


	<div itt-top-toolbar class="topToolbar" ng-mouseenter="lockToolbars()" ng-mouseleave="unlockToolbars()"></div>
	<div itt-bottom-toolbar class="bottomToolbar" ng-mouseenter="lockToolbars()" ng-mouseleave="unlockToolbars()"></div>
	<div class="bottomToolbarTrigger" ng-mouseenter="showToolbars()"></div>


</div>

<!-- 
	<div class="top toolbartop">
		This is the top toolbar: controls to switch between search/watch, control to trigger user panel
	</div>

	<div class="narrativeNavigation topPanel">
		<div class="XittTabs tabsRight" itt-tabs>
			<div class="XittTab" itt-tab="tabs[0]" x-tabindex="0" x-tablabel="Timelines" x-tabicon="">
				Narrative navigation timelines (view / edit), title/desc (view / edit)
			</div>
			<div class="XittTab" itt-tab="tabs[1]" x-tabindex="1" x-tablabel="Styles">
				STYLES for narrative / timelines
			</div>
		</div>
	</div>

	<div class="">
		<div class="fpo">
			This is the episode: in watch mode in search mode in
		</div>
		<div class="">
			This is the footer
		</div>


		<div class=" ">
			Editor buttons THis is the bottom toolbar: controls to trigger play/pause, seek back, timeline (with zoom, markers), seek next,
		</div>

		<div>
			<div class="XittTabs tabsLeft" itt-tabs>
				<div class="XittTab" itt-tab="tabs[0]" x-tabindex="0" x-tablabel="Timelines" x-tabicon="">
					Primary edit panel Secondary edit panel(s)
				</div>
				<div class="XittTab" itt-tab="tabs[1]" x-tabindex="1" x-tablabel="Styles">
					STYLES for scenes / events
				</div>
			</div>

			primary, secondary, 2ndary triggers
		</div>

	</div>
 -->
