<div class="ittBottomToolbar">
	<div ng-show="appState.editEvent" class="faintOverlay immaterial"></div>
	<div class="toolbarSecondary">


		<div ng-show="appState.editEvent" class="editPanel animate transitionFade">
			<div class="editPanelDecoration"></div>

			<div class="editPanelContents">
				<tabset ng-click="TMPmakeEditDirty()" class="tabsLeft">
					<tab heading="Edit">


						<div ng-if="showextra" class="extra animate transitionSlideUp">
							EXPANDED PANEL {{showextra}}
							<br>EXPANDED PANEL
							<br>EXPANDED PANEL
							<br>EXPANDED PANEL
							<a ng-click="TMPhideExtra()">(Cancel)</a>
						</div>
						<div class="main">
							<div class="buttons">
								<a class="button" ng-click="TMPshowExtra();">LINK</a>
								<a class="button" ng-click="TMPshowExtra();">IMAGE</a>
								<a class="button" ng-click="TMPshowExtra();">VIDEO</a>
								<a class="button" ng-click="TMPshowExtra();">QUESTION</a>
							</div>
							Edit the event content
							<br> Event content
							<br> Event content
							<br>Edit the event content
							<br> Event content
							<br> Event content
							<br>Edit the event content
							<br> Event content
							<br> Event content
						</div>
						<br>
					</tab>
					<tab heading="Style">
						Choose event templates
					</tab>
				</tabset>
			</div>

		</div>
		<div class="buttongroup">
			<a class="button" ng-if="appState.editEvent && isDirty" ng-click="TMPcancelEdit()">Delete</a>
			<a class="button" ng-if="appState.editEvent" ng-click="TMPcancelEdit()">Cancel</a>
			<a class="button" ng-if="appState.editEvent" ng-click="TMPcancelEdit()">Save</a>
			<a class="button" ng-if="!appState.editEvent" ng-click="TMPstartEdit()">Add</a>
		</div>
	</div>

	<div class="toolbarPrimary">

		PLAY/PAUSE; TIMELINE (prev, playhead, next, zoom); MINICONTROLS (fullscreen, CC, audio)

	</div>
</div>
