<div ng-if="item" class="itemEdit">

	<textarea ng-class="{'editwarning': item.editwarning}" ng-model="item.asjson" style="width: 100%; height: 400px"></textarea>
	<input type="button" ng-click="save(item)" value="Save" ng-disabled="item.editwarning">
	<input type="button" ng-click="reset(item)" value="Reset">
	<input type="button" style="background-color:#F00" ng-click="delete(item)" value="Delete">
	<!-- 
	<ul class="tabs">
		<li><a ng-class="{active: !visibleTab || visibleTab == 0}" ng-click="visibleTab=0">Edit item content</a>
		</li>
		<li><a ng-class="{active: visibleTab ==1}" ng-click="visibleTab=1">Edit item appearance</a>
		</li>
	</ul>

	<div class="tabcontents" ng-if="!visibleTab || visibleTab ==0">
		<span ng-if="item.type=='Annotation'">
			<label class="labelrow">
				<span class="label">Speaker</span>
				<span class="field">
					<input type="text" ng-model="item.annotator">
				</span>
			</label>
			<label class="labelrow">
				<span class="label">Transcript</span>
				<span class="field">
					<textarea rows="5" ng-model="item.annotation"></textarea>
				</span>
			</label>
		</span>

		<span ng-if="item.type!='Annotation'">
			<label class="labelrow">
				<span class="label">Title</span>
				<span class="field">
					<input type="text" ng-model="item.title">
				</span>
			</label>
			<label class="labelrow">
				<span class="label">Description</span>
				<span class="field">
					<textarea rows="5" ng-model="item.description"></textarea>
				</span>
			</label>
			<div class="labelrow">
				<span class="label"></span>
				<label class="field">
					<input type="checkbox" ng-model="item.required">Students are
					<span ng-if="!item.required">not</span>
					required to view this item
				</label>
			</div>
		</span>

		<span ng-if="item.type == 'Link'">
			<label class="labelrow">
				<span class="label">Link</span>
				<span class="field">
					<input type="text" ng-model="item.url">
				</span>
			</label>
		</span>

		<span ng-if="item.type == 'Upload'">
			<label class="labelrow">[TODO: select from asset container / upload new asset]
				<br>{{item.asset.url}}</label>
		</span>


		<label class="labelrow">
			<span class="label">Start time</span>
			<span class="field">
				<input type="text" ng-model="item.start_time">
			</span>
		</label>
		<div class="labelrow">
			<span class="label">End time</span>
			<label style="float:left;">
				<input type="checkbox" ng-init="item.noEndTime = true" ng-model="item.noEndTime">
				<span ng-if="item.noEndTime">Automatic</span>
			</label>
			<span class="field">
				<input ng-if="!item.noEndTime" type="text" ng-model="item.end_time">
			</span>
		</div>
		<div class="labelrow">
			<span class="label">Stop item</span>
			<label class="field">
				<input type="checkbox" ng-model="item.stop">Timeline will
				<span ng-if="!item.stop">not</span>
				pause when this item enters
			</label>
		</div>
	</div>

	<div class="tabcontents" ng-if="visibleTab == 1">

		<fieldset>
			<legend>Item preview</legend>
			<div class="itemPreview" ng-include="item.templateUrl"></div>
		</fieldset>
		<div>
			TODO: improve editor UI(!); include remaining templates; style, layout options
		</div>
		<div class="labelrow">
			<span class="label">Template</span>
			<span class="field">
				<select ng-model="item.templateUrl">
					<option value="templates/item/item.html">Generic item</option>
					<option ng-if="item._type == 'Annotation'" value="templates/item/pullquote-noattrib.html">Pullquote (without attribution)</option>
					<option ng-if="item._type == 'Annotation'" value="templates/item/pullquote.html">Pullquote (with attribution)</option>
					<option ng-if="item._type == 'Annotation'" value="templates/item/text-h1.html">Primary header</option>
					<option ng-if="item._type == 'Annotation'" value="templates/item/text-h2.html">Secondary header</option>
					<option ng-if="item._type == 'Annotation'" value="templates/item/transcript.html">Transcript</option>
					<option ng-if="item._type == 'Annotation'" value="templates/item/transcript-withthumbnail.html">Transcript (with thumbnail)</option>
					<option ng-if="item._type == 'Annotation'" value="templates/item/transcript-withthumbnail-alt.html">Transcript (with thumbnail / alt)</option>
					<option ng-if="item._type != 'Annotation'" value="templates/item/link.html">Default link</option>
					<option ng-if="item._type != 'Annotation'" value="templates/item/image-fill.html">Plain image</option>
					<option ng-if="item._type != 'Annotation'" value="templates/item/upload.html">Upload (generic)</option>
					<option ng-if="item._type != 'Annotation'" value="templates/item/upload-inline.html">Inline image</option>
					<option ng-if="item._type != 'Annotation'" value="templates/item/upload-thumbnail.html">Image thumbnail</option>
					<option ng-if="item._type != 'Annotation'" value="templates/item/upload-caption.html">Image with caption</option>
					<option ng-if="item._type != 'Annotation'" value="templates/item/upload-caption-sliding.html">Image with sliding caption</option>
					<option ng-if="item._type != 'Annotation'" value="templates/item/upload-linkonly.html">External link, no inline framing</option>
				</select>
			</span>
		</div>

		<div class="labelrow">
			<span class="label">Cosmetic</span>
			<label class="field">
				<input type="checkbox" ng-model="item.cosmetic">
				<span ng-if="item.cosmetic">This is a decorative item, not to be included in search, bibliography, etc.</span>
				<span ng-if="!item.cosmetic">This is a content item.</span>

			</label>
		</div>


		<div class="labelrow">
			<span class="label">Layout</span>
			<label class="field">
				<select size="1" ng-model="item.layouts[0]">
					<option value="" disabled>Content layouts:</option>

					<option value="inline">Inline</option>
					<option value="sidebarL">TODO Left sidebar</option>
					<option value="sidebarR">TODO Right sidebar</option>
					<option value="burstL">TODO Burst left margin</option>
					<option value="burstR">TODO Burst right margin</option>
					<option value="burst">TODO Burst both margins</option>
					<option value="windowFg">Full screen</option>
					<option value="" disabled>Decorative layouts:</option>
					<option value="windowBg">Full screen background</option>
					<option value="mainBg">Background of main content pane</option>
					<option value="altBg">Background of secondary content pane</option>
					<option value="mainFg">Foreground of main content pane</option>
					<option value="altFg">Foreground of secondary content pane</option>
					<option value="videoOverlay">Overlay video</option>
				</select>
			</label>
		</div>

		<div class="labelrow">
			<span class="label">Styles</span>
			<div class="field">
				<label>
					<input type="checkbox" ng-model="item.customstyles">
					<span ng-if="item.customstyles">Customize the appearance of this item</span>
					<span ng-if="!item.customstyles">Use this episode's default item styles</span>
				</label>

				<div ng-if="item.customstyles">
					<select ng-change="updateStyles()" size="1" ng-model="item.customTransition">
						<option value="">Default transition</option>
						<option value="transitionNone">No transition</option>
						<option value="transitionFade">Fade in / fade out</option>
						<option value="transitionSlideL">Slide to left</option>
						<option value="transitionSlideR">Slide to right</option>
						<option value="transitionPop">"Pop" in and out</option>
					</select>

					<select ng-change="updateStyles()" size="1" ng-model="item.customTypography">
						<option value="">Default typography</option>
						<option value="typographySerif">Serif</option>
						<option value="typographySans">Sans</option>
						<option value="typographyBook">Book</option>
						<option value="typographySwiss">Swiss</option>
					</select>

					<select ng-change="updateStyles()" size="1" ng-model="item.customColor">
						<option value="">Default colors</option>
						<option value="colorInvert">Invert colors</option>
						<option value="colorSepia">Sepia colors</option>
						<option value="colorSolarized">Solarized colors</option>
						<option value="colorVivid">Vivid colors</option>
					</select>

					<select ng-change="updateStyles()" size="1" ng-model="item.customTimestamp">
						<option value="">Default timestamp</option>
						<option value="timestampNone">No timestamp</option>
						<option value="timestampSmall">Small timestamp</option>
						<option value="timestampInline">Inline timestamp</option>
						<option value="timestampSidebar">Sidebar timestamp</option>

					</select>


				</div>

</div>
</div>


</div>


<input type="button" ng-click="save()" value="Save">
<input type="button" ng-click="cancelEdit()" value="Cancel">
<a ng-click="itemEditDebug=!itemEditDebug">Debug</a>
<pre style="max-height: 200px; overflow-y: scroll" ng-if="itemEditDebug">{{item | pretty}}</pre>
-->
</div>
