<div ng-if="item" style="position:fixed; bottom: 0; left:0;right:0;background-color:#FFF;">
	Editing item

	<span ng-if="item.type=='Annotation'">
		<br>Speaker:
		<input type="text" ng-model="item.annotator">
		<br>TODO: generate list of speakers to choose from based on those already used in this episode, with an 'add' button for new ones

		<br>Annotation:
		<textarea ng-model="item.annotation"></textarea>
	</span>
	<span ng-if="item.type != 'Annotation'">
		<br>Title:
		<input type="text" ng-model="item.title">
		<br>Description:
		<textarea ng-model="item.description"></textarea>

		<span ng-if="item.type == 'Link'">
			<br>URL:
			<input type="text" ng-model="item.url">
		</span>
		<span ng-if="item.type == 'Upload'">
			<br>TODO: edit/replace asset:
			<pre>{{item.asset | pretty}}</pre>
		</span>
	</span>

	<br>Start time:
	<input type="text" ng-model="item.start_time">
	<br>End time:
	<input type="text" ng-model="item.end_time">
	<br>Cosmetic:
	<input type="checkbox" ng-model="item.cosmetic">
	<br>Stop:
	<input type="checkbox" ng-model="item.stop">
	<br>Required:
	<input type="checkbox" ng-model="item.required">
	<br>TODO: templateUrl
	<br>
	<input type="button" ng-click="save()" value="Save">
	<input type="button" ng-click="cancelEdit()" value="Cancel">
	<a ng-click="itemEditDebug=!itemEditDebug">Debug</a>
	<pre style="max-height: 200px; overflow-y: scroll" ng-if="itemEditDebug">{{item | pretty}}</pre>

</div>
