<!-- I believe this template is not in use (because we don't currently suport two assets on the same event...) -->
<a class="edit-event" ng-click="editItem()">
	<span>Edit item</span>
</a>
<div class="itemTemplate">
	<div class="itemHead">
		<a role="button" aria-label="Seek video to {{item.displayStartTime}}" tabindex="0" class="startTime displayTime" x-ng-click="seek(item.start_time)" x-ng-keypress="seekOnKeyPress(item.start_time, $event)">{{item.displayStartTime}}</a>
		<div class="category">
			<!--{{item.category}}-->
			<span ng-if="item.required">(Required viewing)</span>
		</div>
	</div>
	<div class="text item__text item__text--file-with-image">
		<span ng-if="handleOutgoingLinkDisplay()">
			<span ng-if="!item.targetTop">
				<div class="title item__title item__title--file-with-image">

					<a tabindex="0" class="escapelink item__link--escape-link" x-ng-keypress="outgoingLinkOnKeyPress(item.asset.url,$event)" ng-click="outgoingLink(item.asset.url)" ng-bind-html="item.display_title || '(Untitled)' | highlightSubstring: appState.searchText"></a>
				</div>
				<a tabindex="0" ng-if="item.asset.url" x-ng-keypress="outgoingLinkOnKeyPress(item.asset.url,$event)" ng-click="outgoingLink(item.asset.url)">
					<img ng-src="{{item.asset.url}}">
				</a>
			</span>
			<span ng-if="item.targetTop">
				<div class="title item__title item__title--file-with-image">
					<a tabindex="0" target="_top" x-ng-keypress="outgoingLinkOnKeyPress(item.url,$event)" ng-click="outgoingLink(item.url)" ng-bind-html="item.display_title || '(Untitled)' | highlightSubstring: appState.searchText"></a>
				</div>
				<a tabindex="0" target="_top" x-ng-keypress="outgoingLinkOnKeyPress(item.url,$event)" ng-click="outgoingLink(item.url)">
					<img ng-src="{{item.asset.url}}">
				</a>
			</span>

		</span>
		<span ng-if="!handleOutgoingLinkDisplay()">
			<div class="title item__title item__title--file-with-image">
				<a role="button" x-ng-keypress="toggleDetailOnKeyPress($event)" class="fakeLink item__link--fake-link" tabindex="0" ng-click="toggleDetailView()" ng-bind-html="item.display_title || '(Untitled)' | highlightSubstring: appState.searchText"></a>
			</div>
			<img ng-click="toggleDetailView()" ng-src="{{item.asset.url}}">
		</span>

	</div>
	<div class="item__text item__text--file-with-image" ng-bind-html="item.display_description | highlightSubstring: appState.searchText"></div>
</div>

<div class="itemDetail" ng-if="item.showInlineDetail">
	<a tabindex="0" ng-if="!item.noExternalLink" x-ng-keypress="outgoingLinkOnKeyPress(item.url,$event)" ng-click="outgoingLink(item.url)" class="escapelink">(new window)</a>
	<itt-iframe x-src="{{item.asset.url}}" item="item" x-contenttype="{{item.asset.content_type}}"></itt-iframe>
</div>
<div class="clear"></div>
