<div class="itemTemplate">
	<div class="itemHead">
		<button tabindex="0" class="startTime displayTime" x-ng-click="seek(item.start_time)">{{item.displayStartTime}}</button>
		<div class="category">
			<!--{{item.category}}-->
			<span ng-if="item.required">(Required viewing)</span>
		</div>
	</div>
	<div class="text">
		<div class="title" ng-if="item.display_title" ng-bind-html="item.display_title"></div>

		<div class="touchable">
			<img x-ng-click="forceModal()" ng-src="{{item.asset.url}}">
			<div class="touchableIndicator"></div>
		</div>
		<div ng-bind-html="item.display_description"></div>
		<div class="clear"></div>
	</div>
</div>
