<a class="edit-event" ng-click="editItem()">
	<span>Edit item</span>
</a>
<div class="itemTemplate">
	<div class="itemHead">
		<div class="startTime displayTime" x-ng-click="seek(item.start_time)">{{item.displayStartTime}}</div>
		<div class="category">
			<!--{{item.category}}-->
			<span ng-if="item.required">(Required viewing)</span>
		</div>
	</div>
	<div class="touchable">
		<img x-ng-click="forceModal()" ng-src="{{item.asset.url}}">
		<div class="touchableIndicator"></div>
	</div>
	<div class="clear"></div>
</div>
