<div>
	<div class="itemHead">
		<div class="startTime displayTime" x-ng-click="seek(item.start_time)">{{item.displayStartTime}}</div>
		<div class="category">
			<!--{{item.category}}-->
			<span ng-if="item.required">(Required viewing)</span>
		</div>
	</div>
	<div class="text">
		<div class="title">
			<a ng-click="toggleDetailView()">{{item.title || '(Untitled)'}}</a>
		</div>
		<div>{{item.description}}</div>
	</div>
	<div class="itemDetail" x-ng-if="item.showInlineDetail">
		<a ng-href="{{item.url}}" target="_blank" class="escapelink">(new window)</a>
		<div class="iframeContainer">
			<iframe ng-src="{{item.url}}"></iframe>
		</div>
	</div>
	<div class="clear"></div>
</div>
