<div class="itemTemplate">
	<div class="itemHead">
		<div class="startTime displayTime" x-ng-click="seek(item.start_time)">{{item.displayStartTime}}</div>
		<div class="category">
			<!--{{item.category}}-->
			<span ng-if="item.required">(Required viewing)</span>
		</div>
	</div>
	<div class="text">
		<div class="title">
			<a ng-if="item.noEmbed" class="escapelink" ng-click="outgoingLink(item.url)">{{item.title ||'(Untitled)'}}</a>
			<a ng-if="!item.noEmbed" ng-click="toggleDetailView()">{{item.title || '(Untitled)'}}</a>
		</div>
		<div>{{item.description}}</div>
	</div>
	<div class="itemDetail" ng-if="item.showInlineDetail">
		<a ng-if="!item.noExternalLink" ng-click="outgoingLink(item.url)" class="escapelink">(new window)</a>
		<div class="iframeContainer">
			<iframe ng-src="{{item.url}}"></iframe>
		</div>
	</div>
	<div class="clear"></div>
</div>