<div class="modal" ng-click="dismiss();">
	<span ng-if="item._type == 'Link'">
		<div class="modalmenu">
			<a href="{{item.url}}" target="_blank" class="escapelink">(new window)</a>
		</div>
		<itt-iframe x-src="{{item.url}}"></itt-iframe>
	</span>
	<span ng-if="item._type == 'Upload'">
		<span ng-switch="item.asset.content_type.indexOf('image/')">
			<span ng-switch-when="-1">
				<div class="modalmenu">
					<a href="{{item.asset.url}}" target="_blank" class="escapelink">(new window)</a>
				</div>
				<itt-iframe x-src="{{item.asset.url}}" x-contenttype="{{item.asset.content_type}}"></itt-iframe>
			</span>
			<span ng-switch-default>
				<div class="modalimage" ng-if="item._type == 'Upload'">
					<img ng-src="{{item.asset.url}}">
				</div>
			</span>
		</span>
	</span>

</div>
