<div class="modal" ng-style="modalStyle" ng-click="dismiss();">
  <span ng-if="item._type == 'Link'" ng-click="$event.stopPropagation()">
    <div class="modalmenu">
      <a href="{{item.url}}" target="_blank" class="escapelink">(new window)</a>
    </div>
	<itt-iframe ng-if="!item.isVideoUrl" x-src="{{item.url}}" item="item"></itt-iframe>
	<itt-video
		ng-if="item.isVideoUrl"
		media-src-arr="[item.url]"
		player-id="item._id"
		main-player="false">
	</itt-video>
  </span>
  <span ng-if="item._type == 'Upload'">
    <span ng-switch="item.asset.content_type.indexOf('image/')">
      <span ng-switch-when="-1">
        <div class="modalmenu">
          <a href="{{item.asset.url}}" target="_blank" class="escapelink">(new window)</a>
        </div>
        <itt-iframe x-src="{{item.asset.url}}" item="item" x-contenttype="{{item.asset.content_type}}"></itt-iframe>
      </span>
      <span ng-switch-default>
        <div class="modalimage" ng-if="item._type == 'Upload'">
          <img ng-src="{{item.asset.url}}">
        </div>
      </span>
    </span>
  </span>
</div>
