<div class="item" ng-class="item.styleCss + ' ' + item.state">
	<div class="itemHead">
		<div class="startTime displayTime" x-ng-click="seek(item.start_time)">{{item.start_time | asTime}}</div>
		<div class="authorName">{{item.annotator}}</div>
	</div>


	<!-- begin plugin.  TODO make this its own directive -->
	<p>{{plugin.question}}</p>

	<div ng-repeat="distractor in plugin.distractors">
		<label>
			<input type="radio" name="fnord" ng-disabled="plugin.hasBeenAnswered" ng-model="$parent.plugin.selectedDistractor" value="{{$index}}">
			<!-- <input type="text" ng-model="distractor.text"> -->
			{{distractor.text}}
		</label>
	</div>

	<input type="button" ng-disabled="plugin.hasBeenAnswered" value="Check your answer" ng-click="scoreQuiz()">
	<!-- end plugin -->

	<p ng-repeat="distractor in plugin.distractors" ng-if="distractor.selected">{{distractor.feedback}}</p>


	<br>
	<br>
	<a ng-click="itemDebug=!itemDebug">Debug</a>
	<pre ng-if="itemDebug">{{item | pretty}}</pre>
</div>
