<a class="edit-event" ng-click="editItem()">
	<span>Edit item</span>
</a>
<div class="itemTemplate pollQuestion">
	<div class="itemHead">
	
		<a role="button" aria-label="Seek video to {{item.displayStartTime}}" tabindex="0" class="startTime displayTime" x-ng-click="seek(item.start_time)" x-ng-keypress="seekOnKeyPress(item.start_time, $event)">{{item.displayStartTime}}</a>
		<div class="authorName" ng-bind-html="item.display_annotator"></div>
	</div>

  <itt-mc-question choices="item.data._plugin.distractors" on-choice="save" data="item.data._plugin" qid="item._id"></itt-poll-question>
</div>
