<div class="question item__text">

	<p ng-bind-html="plugin.questiontext | i18n"></p>
	<div ng-if="!showChart">

		<div ng-repeat="distractor in choices">
			<div ng-if="(distractor.text | i18n) != ''">
				<label ng-class="{
					correct: plugin.hasBeenAnswered && distractor.correct,
					incorrect: plugin.hasBeenAnswered && !distractor.correct
				}">
					<input ng-change="scoreQuiz($index)" type="radio" name="fnord" ng-model="index" ng-disabled="plugin.hasBeenAnswered" value="{{$index}}" ng-checked="distractor.selected">
					<span ng-bind-html="distractor.text | i18n"></span>
				</label>
			</div>
		</div>
		<div ng-if="plugin.hasBeenAnswered" ng-bind-html="feedback() | i18n"></div>
	</div>

	<div ng-if="showChart">
		<div ng-if="!plugin.hasBeenAnswered" ng-repeat="distractor in plugin.distractors">
			<div ng-if="(distractor.text | i18n) != ''">
				<label>
					<input ng-change="scorePoll($index)" type="radio" name="fnord" ng-disabled="plugin.hasBeenAnswered" ng-model="$parent.plugin.selectedDistractor" value="{{$index}}">
					<span ng-bind-html="distractor.text | i18n"></span>
				</label>
			</div>
		</div>
		<br>
		<div ng-if="plugin.hasBeenAnswered">
			<p ng-if="plugin.selectedDistractor">Here's how others answered this question. (Your choice was:
				<b ng-repeat="distractor in plugin.distractors | filter:{ index: plugin.selectedDistractor }" ng-bind-html="distractor.text | i18n"></b>)
			</p>

			<itt-flotr2-chart type="{{chartType}}" title="" data="{{chartData}}" options="{{chartOptions}}"></itt-flotr2-chart>
		</div>
	</div>
</div>
