<div ng-class="{
searchitem:true,
isSxS: item.sxs,
isCurrent: ((item.start_time <= playbackService.getMetaProp('time')) && (item.end_time > playbackService.getMetaProp('time'))),
isCosmetic: item.cosmetic
}" ng-style="item.sxs?{backgroundImage:'url('+item.avatar.url+')'}:{}">
	<a class="edit-event" ng-click="editItem(item._id)">
		<span>Edit item</span>
	</a>
	<span class="displayTime">
		<button class="fakeLink" tabindex="2" ng-click="seek(item.start_time, item._id)">{{item.displayStartTime}}</button>
	</span>
	<span class="type" ng-bind-html="(item.display_title || item.display_annotator) | highlightSubstring: appState.searchText"></span>
	<div class="description" ng-bind-html="(item.display_description || item.display_annotation) | highlightSubstring: appState.searchText"></div>
</div>
