<div class="itemTemplate sxs-item">
	<a class="edit-event" ng-click="editItem()" ng-if="item._id != 'internal:editing'">[Edit]</a>
	<img class="sxs-profile" src="/images/no-avatar.gif">
	<div class="itemHead">
		<div class="authorName" ng-bind-html="item.display_annotator"></div>
	</div>

	<a ng-if="item.noEmbed" class="escapelink" ng-click="outgoingLink(item.url)" ng-bind-html="item.title.en ||'(Untitled)'"></a>
	<a ng-if="!item.noEmbed" ng-click="toggleDetailView()" ng-bind-html="item.title.en ||'(Untitled)'"></a>
	<div class="text" ng-bind-html="item.description.en"></div>
	<div class="itemDetail" ng-if="item.showInlineDetail">
		<a ng-if="!item.noExternalLink" ng-click="outgoingLink(item.url)" class="escapelink">(new window)</a>
		<div class="iframeContainer">
			<div ng-include="'templates/loading.html'"></div>
			<!-- <iframe style="display:none;" onload="console.log('load',this.src);if(this.src) {$(this).css('display','block')};" ng-src="{{item.url}}"></iframe> -->
			<iframe ng-src="{{item.url}}"></iframe>
		</div>
	</div>
	<div class="clear"></div>
</div>
