<a class="edit-event" ng-click="editItem()">
	<span>Edit item</span>
</a>

<div class="li--indent">
	<div class="itemTemplate">
		<div class="itemHead">
			<a role="button" aria-label="Seek video to {{item.displayStartTime}}" tabindex="0" class="startTime displayTime" x-ng-click="seek(item.start_time)" x-ng-keypress="seekOnKeyPress(item.start_time, $event)">{{item.displayStartTime}}</a>
			<div class="item__title">
				<h2 class="item__title item__title--transmedia" ng-if="item.display_title | highlightSubstring: appState.searchText" ng-bind-html="item.display_title | highlightSubstring: appState.searchText"></h2>
			</div>
		</div>
		<div class="text item__text item__text--transmedia" ng-bind-html="item.display_annotation | highlightSubstring: appState.searchText"></div>
	</div>
	<div class="clear"></div>
</div>
