<div class="item" ng-class="item.styleCss + ' ' + item.state">
	<div class="itemHead">
		<div class="startTime displayTime" x-ng-click="seek(item.start_time)">{{item.start_time | asTime}}</div>
		<div class="category">
			<!--{{item.category}}-->
			<span ng-if="item.required">(Required viewing)</span>
		</div>
	</div>
	<div class="text">
		<div class="title">
			<a ng-click="outgoingLink(item.asset.url)">{{item.title || '(Untitled)'}}</a>
		</div>
		<div>{{item.description}}</div>
	</div>
</div>
