<div class="item" ng-class="item.styleCss + ' ' + item.state">
	<div class="itemHead">
		<div class="startTime displayTime" x-ng-click="seek(item.start_time)">{{item.start_time | asTime}}</div>
		<div class="category">
			<!--{{item.category}}-->
			<span ng-if="item.required">(Required viewing)</span>
		</div>
	</div>


	<div class="thumbnail touchable" x-ng-class="{fullsize: item.showInlineDetail || item.isActive}" x-ng-click="toggleDetailView()">
		<img ng-src="{{item.asset.url}}">
		<div class="touchableIndicator"></div>

	</div>
	<div class="text">
		<div class="title">{{item.title}}</div>
		<div class="text">{{item.description}}</div>
	</div>
	<div class="clear"></div>
</div>
