<div ng-if="true || plugin.eligibleForBadges" class="item" ng-class="item.styleCss + ' ' + item.state">
	<div class="itemHead">
		<div class="startTime displayTime" x-ng-click="seek(item.start_time)">{{item.displayStartTime}}</div>
		This is for testing the credly badge.
	</div>


	<h3>{{plugin.achievement}}</h3>

	<div ng-repeat="req in plugin.requirements">
		{{req.name}}:
		<i ng-if="req.achieved">Complete</i>
		<i ng-if="!req.achieved">Incomplete</i>
	</div>


	<p ng-if="plugin.totalAchieved != plugin.requirements.length">
		You have completed {{plugin.totalAchieved}} of {{plugin.requirements.length}} parts of this achievement
	</p>

	<div ng-if="plugin.totalAchieved == plugin.requirements.length && ! plugin.gotBadge">
		<p>YOU WIN THE INTERNETS</p>

		You're eligible for a badge from credly.com. Enter your email address to claim it:
		<input type="text" ng-model="plugin.userEmail">
		<input type="button" value="Go" ng-click="badger()">

		<span ng-if="plugin.gettingBadge">Getting your badge...</span>

	</div>
	<div ng-if="plugin.gotBadge">
		Your badge is in the mail.
		<span ng-if="plugin.alreadyHadBadge">(It looks like you've already acquired this badge; you might want to check your spam folder for an email from credly.com.)</span>
	</div>


	<a ng-click="itemDebug=!itemDebug">Debug</a>
	<pre ng-if="itemDebug">{{item | pretty}}</pre>
</div>
