<style type="text/css">
	img {
		width: 150px;
		height: 150px;
	}
	.vjs-wrapper {
		width: 300px;
		height: 200px;
		position: absolute;
		z-index: 999;
	}
	.futureItem {
		background-color: #D1FFF0;
	}
	.currentItem {
		background-color: #ACFF83;
	}
	.pastItem {
		background-color: #809980;
	}
	.left-box {
		width: 48%;
		float: left;
		border: 10px solid black;
		min-height: 350px;
	}
	.right-box {
		width: 48%;
		float: right;
		border: 5px solid black;
		min-height: 350px;
	}
	.bottom-box {
		border: 5px solid black;
	}
	.clear {
		clear: both;
		height: 10px;
	}
</style>

<h1>{{episode.title}}</h1>

<div x-itt-video x-itt-magnetized class="vjs-wrapper"></div>

<div x-ng-repeat="scene in scenes" x-itt-scene="scene" x-ng-show="scene.isActive"></div>
