<div class="scene animate transitionFade" ng-class="{navigable: scene.display_title}" ng-repeat="scene in scenes" ng-if="!scene._internal">
	<div class="pane mainPane">
		<div class="content allowHighlights" ng-class="{isNarrow: isNarrow}" itt-width-watch>
			<h1 class="sceneTitle" ng-if="scene.display_title" ng-bind-html="scene.display_title"></h1>
			<div ng-if="appState.windowWidth < 480" class="item animate" ng-repeat="item in scene.items| reviewMode | orderBy:'start_time'" ng-class="item.state + ' ' + item.uscReviewModeHack" itt-item="item" forceTemplate="review-all"></div>
			<div ng-if="appState.windowWidth >= 480" class="item animate" ng-repeat="item in scene.items | reviewMode | annotation | orderBy:'start_time'" ng-class="item.state" itt-item="item" forceTemplate="review-annotation"></div>
		</div>
	</div>
	<div ng-if="appState.windowWidth >= 480" class="pane altPane">
		<div class="content allowHighlights" ng-class="{isNarrow: isNarrow}" itt-width-watch>
			<img ng-if="$index==1" src="/images/aspectratiopreserver-16x9.gif" class="videoPadding ">
			<!-- contentAlt -->
			<div class="item animate" ng-repeat="item in scene.items | reviewMode | transmedia" ng-class="item.state + ' ' + item.uscReviewModeHack" itt-item="item" forceTemplate="review-transmedia">
			</div>
		</div>
	</div>
</div>
<np-loading ng-if="isLoading"></np-loading>
