<div id="scenenav" class="sidepanel">
	<!-- TODO scene navigation pane here -->
</div>
<div id="search" class="sidepanel">
	<!-- TODO search pane here -->
</div>
<div class="episode">
	<div class="toolbar">
		<a class="button button-showscenenav" href="javascript: void 1;">
			<span>Scenes</span>
		</a>
		<a class="button button-search" href="javascript: void 1;">
			<span>Search</span>
		</a>
		<div id="frameselections">
			<!-- TODO: trigger view changes on click -->
			<a class="button button-fullscreen" id="fs-selector" href="javascript:void 1;"><span>Fullscreen</span></a>
			<a class="button button-directed cur" href="javascript:void 1;"><span>Directed</span></a>
			<a class="button button-explore" id="xp-selector" href="javascript:void 1;"><span>Thumbnail</span></a>
		</div>
	</div>
	<div class="scene sceneintro">
		<!-- TODO intro scene, analytics -->
	</div>
	<div x-ng-repeat="scene in scenes" x-itt-scene="scene" x-ng-show="scene.isActive"></div>
	<div class="scene sceneoutro">
		<!-- TODO recap scene with countdown to next episode -->
	</div>
</div>

<div id="footertrigger"><!-- TODO tap/hover event to force video nav to show --></div>

<div x-itt-video class="vjs-wrapper"></div>
