<div style="position:relative;" ng-show="!hasAnnotator()">

	<input class="annotatorChooser" type="text" ng-model="searchText" ng-focus="showAutocomplete()" ng-blur="hideAutocomplete()" ng-change="handleAutocomplete()">

	<div class="autocompleteList animate transitionFade" ng-if="autoCompleting">
		<div class="autocompleteItem" ng-repeat="annotator in filteredAnnotators" ng-click="select(annotator)" ng-class="{selected: ($index == preselectedItem)}" style="white-space: nowrap">
			<img ng-src="{{annotator.imageUrl}}">
			<span ng-bind-html="(annotator.key | highlightSubstring: searchText) || '(New speaker)'"></span>
		</div>
	</div>
</div>
<div style="position:relative;" ng-show="hasAnnotator()">
	<div sxs-input-i18n="item.annotator" x-inputtype="'input'"></div>
	<a style="position: absolute; top: 3px; right: 10px" ng-click="item.annotator={}">(x)</a>
</div>
