<div class="assetUploader">
	<div ng-if="$ctrl.uploads.length">
		<div class="uploadList" ng-repeat="upload in $ctrl.uploads">
			<span class="uploadName">
				{{$ctrl.uploadStatus[$index].name}}:
			</span>
			<span class="uploadProgress">
				<span ng-if="$ctrl.uploadStatus[$index].done">Upload complete</span>
				<div ng-if="$ctrl.uploadStatus[$index].error">Error</div>
				<span ng-if="!$ctrl.uploadStatus[$index].done && !$ctrl.uploadStatus[$index].error">
					<progress ng-attr-max="{{$ctrl.uploadStatus[$index].bytesTotal}}" ng-attr-value="{{$ctrl.uploadStatus[$index].bytesSent}}">
					</progress>
					<span ng-switch="$ctrl.uploadStatus[$index].percent">
						<span ng-switch-when="100">...</span>
						<span ng-switch-default>{{$ctrl.uploadStatus[$index].percent}}%</span>
					</span>
				</span>
			</span>
			<div ng-if="$ctrl.uploadStatus[$index].error">{{$ctrl.uploadStatus[$index].error}}</div>
		</div>
		<span ng-if="$ctrl.uploadsinprogress > 0">{{$ctrl.uploadsinprogress}} files remaining
			<button ng-if="!$ctrl.paused" ng-click="$ctrl.pauseUpload()">Pause</button>
			<button ng-if="$ctrl.paused" ng-click="$ctrl.resumeUpload()">Resume</button>
			<button ng-click="$ctrl.cancelUpload()">Cancel</button>
		</span>
	</div>
	<div ng-if="$ctrl.errormessage" class="error-red" ng-bind-html="$ctrl.errormessage"></div>


	<div class="uploadDropTarget">
		<a style="float:right" ng-click="$ctrl.showInstructions = !$ctrl.showInstructions">(?)</a> Drag and drop
		<span ng-if="$ctrl.multiple">files</span>
		<span ng-if="!$ctrl.multiple">a file</span> here
		<br>
		<small>
			or choose
			<span ng-if="$ctrl.multiple">files</span>
			<span ng-if="!$ctrl.multiple">a file</span> to upload:
			<!--<input class="uploadFileInput" type="file" multiple onchange="angular.element(this).scope().handleUploads(this.files)">-->
			<input class="uploadFileInput" type="file" multiple="true" itt-files-handler on-selected="$ctrl.handleUploads(files)">
		</small>
		<div ng-if="$ctrl.showInstructions" style="text-align:left">
			<!--<small>We support uploads of most common file formats, including .doc, .docx, .jpeg, .jpg, .pdf, .png, .ppt, .pptx, .rtf, .txt, and .zip. </small>-->
			<small>{{$ctrl.manPage}}</small>
		</div>
	</div>

</div>
