<div ng-if="showParent">
	<div sxs-container-assets="container.parent_id"></div>
</div>
<div class="containerAssets">
	<div ng-if="appState.product != 'sxs' && container.parent_id && !showParent">
		<a class="goUp" ng-click="up()">Parent container</a>
	</div>
	<div class="title">{{container.display_name}} - Asset Library
	</div>

	<div class="controls">
		<a ng-click="toggleImages()">
			<span ng-if="onlyImages">Images</span>
			<span ng-if="!onlyImages">All</span>
		</a>
		&nbsp;
		<a ng-click="toggleGrid()">
			<span ng-if="gridView">▦</span>
			<span ng-if="!gridView">☰</span>
		</a>
	</div>

	<div class="scrollPane" ng-if="!hideItems">
		<div ng-if="gridView">
			<div class="grid" ng-repeat="asset in isCustAdmin ? (assets | vidsFromCustAdmins) : assets" ng-if="asset.container_id == containerId && !(onlyImages && asset._type != 'Asset::Image')" ng-click="assetClick(asset._id)">
				<div ng-if="asset._type == 'Asset::Image'">
					<img class="thumbnail" ng-src="{{asset.url}}">
				</div>

				<div ng-if="asset._type != 'Asset::Image'">
					<div class="thumbnail">{{asset._type}}</div>
				</div>
				{{asset.display_name}}
			</div>
		</div>
		<table ng-if="!gridView">
			<tr ng-repeat="asset in isCustAdmin ? (assets | vidsFromCustAdmins) : assets" ng-if="asset.container_id == containerId && !(onlyImages && asset._type != 'Asset::Image')" ng-click="assetClick(asset._id)">
				<td>
					<div ng-if="asset._type == 'Asset::Image'">
						<img class="thumbnail" ng-src="{{asset.url}}">
					</div>
				</td>
				<td>{{asset.size |asBytes}}</td>
				<td>{{asset.content_type}}</td>
				<td>
					{{asset.display_name}}
				</td>
			</tr>
		</table>
	</div>
	<br>
  <itt-asset-uploader container-id="{{container._id}}" mime-types="{{mimes}}" multiple="true" ng-if="canAccess"></itt-asset-uploader>
</div>
