<div ng-if="$ctrl.showParent">
  <sxs-container-assets container-id="{{$ctrl.container.parent_id}}"></sxs-container-assets>
</div>
<div class="containerAssets">
	<div ng-if="$ctrl.appState.product != 'sxs' && $ctrl.container.parent_id && !$ctrl.showParent">
		<a class="goUp" ng-click="$ctrl.up()">Parent container</a>
	</div>
	<div class="title">{{$ctrl.container.display_name}} - Asset Library
	</div>

	<div class="controls">
		<a ng-click="$ctrl.toggleImages()">
			<span ng-if="$ctrl.onlyImages">Images</span>
			<span ng-if="!$ctrl.onlyImages">All</span>
		</a>
		&nbsp;
		<a ng-click="$ctrl.toggleGrid()">
			<span ng-if="$ctrl.gridView">▦</span>
			<span ng-if="!$ctrl.gridView">☰</span>
		</a>
	</div>

	<div class="scrollPane" ng-if="!$ctrl.hideItems">
		<div ng-if="$ctrl.gridView">
			<div class="grid"
           ng-repeat="asset in $ctrl.isCustAdmin ? ($ctrl.assets | vidsFromCustAdmins) : $ctrl.assets" ng-if="asset.container_id == $ctrl.containerId && !($ctrl.onlyImages && asset._type != 'Asset::Image')"
           ng-click="$ctrl.assetClick(asset._id)">
				<div ng-if="asset._type == 'Asset::Image'">
					<img class="thumbnail" ng-src="{{asset.url}}">
				</div>

				<div ng-if="asset._type != 'Asset::Image'">
					<div class="thumbnail">{{asset._type}}</div>
				</div>
				{{asset.display_name}}
			</div>
		</div>
		<table ng-if="!$ctrl.gridView">
			<tr ng-repeat="asset in $ctrl.isCustAdmin ? ($ctrl.assets | vidsFromCustAdmins) : $ctrl.assets" ng-if="asset.container_id == $ctrl.containerId && !($ctrl.onlyImages && asset._type != 'Asset::Image')"
          ng-click="$ctrl.assetClick(asset._id)">
				<td>
					<div ng-if="asset._type == 'Asset::Image'">
						<img class="thumbnail" ng-src="{{asset.url}}">
					</div>
				</td>
				<td>{{asset.size |asBytes}}</td>
				<td>{{asset.content_type}}</td>
				<td>
					{{asset.display_name}}
				</td>
			</tr>
		</table>
	</div>
	<br>
  <itt-asset-uploader container-id="{{$ctrl.container._id}}" mime-types="{{$ctrl.mimes}}" multiple="true" ng-if="$ctrl.canAccess"></itt-asset-uploader>
</div>
