<div ng-if="$ctrl.showParent">
  <sxs-container-assets container-id="{{$ctrl.container.parent_id}}"></sxs-container-assets>
</div>
<div class="containerAssets">
	<div ng-if="$ctrl.appState.product != 'sxs' && $ctrl.container.parent_id && !$ctrl.showParent">
		<a class="goUp" ng-click="$ctrl.up()">Parent container</a>
	</div>
	<div class="title">{{$ctrl.container.display_name}} - Asset Library
	</div>

	<div class="controls">
		<a ng-click="$ctrl.toggleImages()">
			<span ng-if="$ctrl.onlyImages">Images</span>
			<span ng-if="!$ctrl.onlyImages">All</span>
		</a>
		&nbsp;
		<a ng-click="$ctrl.toggleGrid()">
			<span ng-if="$ctrl.gridView">▦</span>
			<span ng-if="!$ctrl.gridView">☰</span>
		</a>
	</div>

	<div class="scrollPane" ng-if="!$ctrl.hideItems">
		<div ng-if="$ctrl.gridView">
			<div class="grid"
           ng-repeat="asset in $ctrl.isCustAdmin ? ($ctrl.assets | vidsFromCustAdmins) : $ctrl.assets" ng-if="asset.container_id == $ctrl.containerId && !($ctrl.onlyImages && asset._type != 'Asset::Image')"
           ng-click="$ctrl.assetClick(asset._id)">
				<div ng-if="asset._type == 'Asset::Image'">
					<img class="thumbnail" ng-src="{{asset.url}}">
				</div>

				<div ng-if="asset._type != 'Asset::Image'">
					<div class="thumbnail">{{asset._type}}</div>
				</div>
        {{asset.display_name}} <span ng-if="asset.tags[0]"> - {{asset.tags[0] | tagName}}</span>
			</div>
		</div>
		<table ng-if="!$ctrl.gridView">
			<tr ng-repeat="asset in $ctrl.isCustAdmin ? ($ctrl.assets | vidsFromCustAdmins) : $ctrl.assets" ng-if="asset.container_id == $ctrl.containerId && !($ctrl.onlyImages && asset._type != 'Asset::Image')"
          ng-click="$ctrl.assetClick(asset._id)">
				<td>
					<div ng-if="asset._type == 'Asset::Image'">
						<img class="thumbnail" ng-src="{{asset.url}}">
					</div>
				</td>
				<td>{{asset.size |asBytes}}</td>
				<td>{{asset.content_type}}</td>
				<td>
					{{asset.display_name}}
				</td>
        <td ng-if="asset.tags[0]">{{asset.tags[0] | tagName}}</td>
        <td class="delete-button__container">
          <np-tooltip tip-text="Delete Asset">
            <a ng-click="$ctrl.requestDeleteAsset(asset, $event)" class="delete__button"></a>
          </np-tooltip>
        </td>
			</tr>
		</table>
	</div>
	<br>

  <np-modal class="modal__center-center" ng-if="$ctrl.assetToDelete != null">
    <h4>Delete</h4>
    {{$ctrl.assetToDelete.display_name}}?
    <div>
      <button ng-click="$ctrl.deleteAsset($ctrl.assetToDelete._id)">Delete</button>
      <button ng-click="$ctrl.assetToDelete = null">cancel</button>
    </div>
  </np-modal>

  <itt-asset-uploader
    container-id="{{$ctrl.container._id}}"
    mime-types="{{$ctrl.mimes}}"
    multiple="true"
    ng-if="$ctrl.canAccess && $ctrl.context !== 'narrative'">
  </itt-asset-uploader>
</div>
