<div class="producer content">
	<p>[TODO]: episode settings here</p>
	<div ng-repeat="scene in episode.scenes" class="scene">
		<p>[TODO: scene settings here] {{scene.title}}</p>
		<div ng-repeat="item in scene.items">
			<p>
				<a ng-click="item.edit=!item.edit">
				{{item.displayStartTime}} -- {{item._type}} -- {{item.title}}
				</a>
			</p>

			<div ng-if="item.edit">

				<div class="content">
					<div class="item preview" itt-item="item" ng-class="item.styleCss"></div>
				</div>


				<div class="item editor">[ITEM EDIT CONTROlS HERE]</div>
			</div>

		</div>
	</div>
</div>
<!-- <pre>{{episode | pretty}}</pre>
 -->

<div ng-controller="ErrorController" ng-include="'templates/error.html'"></div>
