<span class="floaterContainer">
	<input ng-model="model" ng-focus="showTools(true)" ng-blur="showTools(false)" ng-model-options="{ updateOn: 'blur' }" style="max-width: 150px">
	<div class="floater" ng-if="tooltip">
		Set to:
		<ul style="list-style:none; white-space:nowrap">
			<li ng-click="setTime(appState.time)">
				<a>Current time ({{format(appState.time)}})</a>
			</li>
			<span ng-if="item.type != 'Scene'">
				<li ng-if="fieldname=='start_time'" ng-click="setTime(scene.start_time)">
					<a>Beginning of scene ({{format(scene.start_time)}})</a>
				</li>
				<li ng-if="fieldname=='end_time'" ng-click="setTime(scene.end_time)">
					<a>End of scene ({{format(scene.end_time)}})</a>
				</li>
				<li ng-if="fieldname=='end_time' && isTranscript()" ng-click="TODO">
					<a>Auto (TODO)</a>
				</li>
			</span>
		</ul>

	</div>
</span>
