<div>
	<label>
		<input type="checkbox" ng-model="defaultColors"> Default colors
	</label>
	<div ng-show="!defaultColors">
		<label>
			Primary color:
			<color-picker ng-model="item.tmpl.style.textcolor1" color-picker-format="'hex'" color-picker-alpha="false"></color-picker>
		</label>
		<label>
			Secondary color:
			<color-picker ng-model="item.tmpl.style.textcolor2" color-picker-format="'hex'" color-picker-alpha="false"></color-picker>
		</label>
		<label>
			Link color:
			<color-picker ng-model="item.tmpl.style.linkcolor" color-picker-format="'hex'" color-picker-alpha="false"></color-picker>
		</label>
	</div>
	<div>
		<label>
			<input type="checkbox" ng-model="noBg"> Transparent background
		</label>
		<div>
			<color-picker ng-if="!noBg" ng-model="item.tmpl.style.bgcolor" color-picker-format="'hex'" color-picker-alpha="false"></color-picker>
		</div>
	</div>
</div>
