<div style="margin:1em">

	<p>This is a standalone editor for question items. Fill in the fields below, then copy the JSON data below into the existing authoring tool. To edit an existing question paste its JSON into the json field and the editor will separate it out into editable fields.</p>
	<table class="authoringForm">
		<tr>
			<td class="label">Question type</td>
			<td>
				<select ng-model="question.questiontype">
					<option value="mc-poll">Poll</option>
					<option value="mc-formative">Formative</option>
				</select>
			</td>
		</tr>

		<tr>
			<td class="label">Question text</td>
			<td>
				<textarea rows="4" ng-model="question.questiontext">
				</textarea>
			</td>
		</tr>
		<!-- 		<tr>
			<td class="label">Image (optional)</td>
			<td>
				<input type="file">
			</td>
		</tr>
 -->
		<tr>
			<td colspan="2">Answer choices.
				<span ng-if="question.questiontype == 'mc-formative'">Check the correct answer (if more than one is selected, either will count as correct).</span>To remove an answer choice, just leave it blank.
			</td>
		</tr>
		<tr ng-repeat="distractor in question.distractors">
			<td class="label">
				<input type="checkbox" ng-model="distractor.correct" ng-if="question.questiontype == 'mc-formative'">
			</td>
			<td>
				<input type="text" ng-model="distractor.text">
			</td>
		</tr>
		<tr>
			<td class="label"><a ng-click="addDistractor()">add another</a>
			</td>
			<td>
			</td>
		</tr>


		<tr ng-if="question.questiontype == 'mc-formative'">
			<td class="label">Feedback for correct answer</td>
			<td>
				<input type="text" ng-model="question.correctfeedback">
			</td>
		</tr>
		<tr ng-if="question.questiontype == 'mc-formative'">
			<td class="label">Feedback for incorrect answer</td>
			<td>
				<input type="text" ng-model="question.incorrectfeedback">
			</td>
		</tr>

		<tr>
			<td colspan="2">
				<br>
				<hr>
				<br>
			</td>
		</tr>
		<tr>
			<td class="label">JSON data:
				<span ng-if="editwarning">Invalid JSON!</span>
			</td>
			<td>

				<textarea rows="10" ng-model="pluginjson"></textarea>
			</td>
		</tr>

	</table>

	<br>
	<hr>
	<br>
	<p class="label">Question preview:</p>
	<div class="item">
		<div ng-if="preview" itt-item="questionpreview"></div>
	</div>
</div>
