<!-- producer master asset -->

<div ng-if="showAssetPicker" class="floatAssetPicker">
	<div class="scrollContainer">
    <sxs-container-assets container-id="{{episodeContainerId}}"></sxs-container-assets>
	</div>
	<div class="controlsContainer">
		<button ng-click="endChooseAsset();">Cancel</button>
	</div>
</div>

<div>
	<div ng-if="(masterAsset.original_filename) && !showUploadButtonsMaster">
		{{masterAsset.display_name}}
		<button class="button" ng-click="replaceAsset('Master')"> Replace</button>
		<button class="button" ng-click="detachMasterAsset()">Remove</button>
	</div>
	<div ng-if="showUploadButtonsMaster || !(masterAsset.original_filename)">
		<span ng-if="showUploadFieldMaster">
      <itt-asset-uploader container-id="{{episodeContainerId}}" callback="assetUploaded(data)"></itt-asset-uploader>
		</span>
		<span ng-if="!showUploadFieldMaster">
			<button class="button" ng-click="chooseAsset('Master')">Browse uploaded assets</button>
			<button class="button" ng-click="toggleUpload('Master')">Upload new asset</button>
		</span>
	</div>
</div>
