<div ng-if="showAssetPicker" class="floatAssetPicker">
	<div class="scrollContainer">
		<div sxs-container-assets="episodeContainerId"></div>
	</div>
	<div class="controlsContainer">
		<button ng-click="endChooseAsset();">Cancel</button>
	</div>
</div>
<div>
	<span ng-if="uploads">
		<div ng-repeat="upload in uploads">
			<progress ng-attr-max="{{uploadStatus[$index].bytesTotal}}" ng-attr-value="{{uploadStatus[$index].bytesSent}}">
		</div>
	</span>
	<span ng-if="!uploads">
		<div ng-if="!showUploadButtons && (item.asset || masterAsset.original_filename)">
			{{item.asset.display_name || masterAsset.display_name}}
			<button class="button" ng-click="replaceAsset(item.asset._id)"> Replace this asset </button>
		</div>
		<span ng-if="showUploadButtons || !(item.asset || masterAsset.original_filename)">
			<button class="button" ng-if="!showUploadField" ng-click="chooseAsset()">Browse uploaded assets</button>
			<button class="button" ng-if="!showUploadField" ng-click="toggleUpload()">Upload new asset</button>
			<input ng-if="showUploadField" type="file" onchange="angular.element(this).scope().uploadAsset(this.files)">
		</span>
	</span>
</div>
