<div ng-controller="UploadController" style="margin:1em">

        <div ng-if="loading" class="loading">
		<div class="spinner">
			<div class="rotating pie"></div>
			<div class="filler pie"></div>
			<div class="mask"></div>
		</div>
		Loading
	</div>

	<div class="credentials_data">
		{{credentials}}<br>
	</div>

	<div class="bucket_data">
		{{bucket_name}}<br>
	</div>

	<div ng-repeat="bucket_object in bucket_objects">
	  {{bucket_object.Key}}<br>
	</div>

	<form ng-submit="save()">
	  <input type="file" ng-file-select="onFileSelect($files)" />
	  <input type="submit" />
	</form>

</div>

<div x-ng-controller="ErrorController" x-ng-include="'templates/error.html'"></div>
