<div>
	<span ng-if="uploads">
		<div ng-repeat="upload in uploads">
			<progress ng-attr-max="{{uploadStatus[$index].bytesTotal}}" ng-attr-value="{{uploadStatus[$index].bytesSent}}">
		</div>
	</span>
	<span ng-if="!uploads">
		<div ng-if="!showUploadButtons && item.asset">
			{{item.asset.original_filename}}
			<button class="button" ng-click="replaceAsset(item.asset._id)"> Replace this asset </button>
		</div>
		<span ng-if="showUploadButtons || !item.asset">
			<input type="file" onchange="angular.element(this).scope().uploadAsset(this.files)">
		</span>
	</span>


</div>
