<div ng-controller="UploadController" style="margin:1em">

        <div ng-if="loading" class="loading">
		<div class="spinner">
			<div class="rotating pie"></div>
			<div class="filler pie"></div>
			<div class="mask"></div>
		</div>
		Loading
	</div>

	<h2>Bucket Listing</h2>

	<div ng-repeat="bucket_object in bucket_objects">
	  {{bucket_object.Key}}<br>
	</div>

	<h2>Uploads in progress</h2>

	<div ng-repeat="upload_in_progress in uploads_in_progress.Uploads">
	  {{upload_in_progress.Key}}<br>
	</div>

	<input type="file" id="file" name="file"/>
	<button ng-click="uploadFile()">Upload</button>
	<div id="results"></div>

</div>

<div x-ng-controller="ErrorController" x-ng-include="'templates/error.html'"></div>
