<!-- editor: no master assets, no 'browse', and use userspace instead of container id -->

<div>
	<div ng-if="(item.asset) && !showUploadButtons">
		{{item.asset.display_name}}
		<button class="button" ng-click="replaceAsset(item.asset._id)"> Replace this asset </button>
	</div>
	<div ng-if="showUploadButtons || !(item.asset)">
		<!-- no container ID for editor; uploads should go into user space -->
		<!--<div itt-asset-uploader="" callback="assetUploaded"> </div>-->
		<!--looks like we use the same template for image / file uploads in editor..-->

		<div ng-if="item.producerItemType === 'image'">
			<div itt-asset-uploader=""
				 callback="assetUploaded"
				 mime-types="image/jpeg, image/png"
				 instructions="We Accept .PNG and .JPEG image types currently"
				 error-text="It looks like that wasn't an allowed file format!"></div>


		</div>

		<div ng-if="item.producerItemType === 'file">
			<div itt-asset-uploader=""
				 callback="assetUploaded"
				 mime-types="application/pdf, application/document"
				 instructions="We Accept .PDF and .DOC / .DOCx image types currently"
				 error-text="It looks like that wasn't an allowed file format!"></div>


		</div>
	</div>
</div>
