<!-- recursive template for admin episode list -->
<div class="container"
     ng-if="$ctrl.container"
     ng-class="{
     hoverIndicator: $ctrl.depth === 3,
     isActive: $ctrl.container.isActive,
     'container__row--odd': $ctrl.container.evenOdd === false,
     'container__row--even': $ctrl.container.evenOdd === true
     }"
     ng-style="{'text-indent': 1 * $ctrl.depth + 'em' }" ng-if="$ctrl.container._id">

	<span
    ng-class="{
	isOpen: $ctrl.container.showChildren && $ctrl.depth !== 3,
	isClosed: !$ctrl.container.showChildren && $ctrl.depth !== 3
	}"
    ng-click="$ctrl.onToggleChildren(false)">
	</span>

  <np-modal modal-class="narrative__modal" ng-if="$ctrl.showNarrativeModal">
    <np-narrative-editor
      customers="$ctrl.customers"
      container-info="{
      containerId: $ctrl.container._id,
      customerId: $ctrl.container.customer_id,
      name: $ctrl.container.name
      }"
      hide-path-slug="::true"
      on-done="$ctrl.toggleNarrativeModal($undo)"
      on-update="$ctrl.postNewNarrative($data)">
    </np-narrative-editor>

    <itt-route-loading is-loading="$ctrl.resolvingNarrative"></itt-route-loading>
  </np-modal>

  <div ng-class="{hoverIndicator: $ctrl.depth !== 3, isActive: $ctrl.container.isActive && depth !== 3}">

    <div ng-if="$ctrl.depth === 3">
      <np-tooltip
        tip-text="{{$ctrl.container.status}}"
        class="published__state"
        ng-style="$ctrl.container.isActive && { 'top':'17.5px' }"
        style="text-indent: 0;">
        <span
          ng-class="{
          isPublished: $ctrl.container.status === 'Published',
          isUnPublished: $ctrl.container.status !== 'Published'
          }"></span>
      </np-tooltip>
    </div>

    <div class="delete-button__container"
         ng-style="$ctrl.depth != 3 && {'padding-right': '5.5px'}"
         ng-if="$ctrl.isAdmin && $ctrl.depth > 0 && $ctrl.container.isActive && !$ctrl.container.editingContainer">
      <np-tooltip tip-text="Delete {{$ctrl.containerType}}?">
        <a ng-click="$ctrl.deleteContainer($ctrl.container._id)" class="delete__button"></a>
      </np-tooltip>
    </div>

    <span ng-if="!$ctrl.container.editingContainer" ng-style="$ctrl.depth === 3 ? {'text-indent': '4em'} : ''">
			<np-edit-pencil ng-if="$ctrl.depth !== 0" can-access="true" on-edit="$ctrl.container.editingContainer = true">
				<a ng-click="$ctrl.onToggleChildren(true)">{{$ctrl.container.name.en}}</a>
			</np-edit-pencil>

      <a ng-if="$ctrl.depth === 0" ng-click="$ctrl.onToggleChildren(true)">{{$ctrl.container.name.en}}</a>
		</span>

    <div ng-if="$ctrl.depth === 0">
      <div ng-if="!$ctrl.container.addingContainer">
        <div ng-if="$ctrl.container.isActive" class="button__row">
          <div>
            <np-tooltip tip-text="Add Project">
              <a class="icon__button button__add-inverted" ng-click="$ctrl.container.addingContainer = true"></a>
            </np-tooltip>
            <np-tooltip tip-text="Link Status Report">
              <a ng-if="$ctrl.isAdmin" class="icon__button button__link-status"
                 ng-click="$ctrl.getLinkStatusReport($ctrl.container.customer_id)"></a>
            </np-tooltip>
          </div>
        </div>
      </div>

      <div ng-if="$ctrl.container.addingContainer">
        <label>Name:&nbsp;
          <input ng-model="$ctrl.container.newContainerTitle" type="text" np-autofocus>&nbsp;
        </label>
        <button ng-click="$ctrl.container.addingContainer = false">Cancel</button>
        <button
          ng-disabled="!$ctrl.container.newContainerTitle" ng-click="$ctrl.addContainer($ctrl.container)">Add</button>
      </div>
    </div>

    <div ng-if="$ctrl.depth === 1">
      <div ng-if="!$ctrl.container.addingContainer">
        <div ng-if="$ctrl.container.isActive" class="button__row">
          <div>
            <np-tooltip tip-text="Add Module">
              <a class="icon__button button__add-inverted" ng-click="$ctrl.container.addingContainer = true"></a>
            </np-tooltip>
            <np-tooltip tip-text="Go to assets">
              <a class="icon__button button__assets" ng-href="#/assets/{{$ctrl.container._id}}"></a>
            </np-tooltip>
            <np-tooltip tip-text="Generate new narrative">
              <a ng-if="$ctrl.canAccess"
                 class="icon__button button__generateNarrative" ng-click="$ctrl.toggleNarrativeModal()"></a>
            </np-tooltip>
          </div>
        </div>
      </div>

      <div ng-if="$ctrl.container.addingContainer">
        <label>Name:&nbsp;
          <input ng-model="$ctrl.container.newContainerTitle" type="text" np-autofocus>&nbsp;
        </label>
        <button ng-click="$ctrl.container.addingContainer = false">Cancel</button>
        <button
          ng-disabled="!$ctrl.container.newContainerTitle" ng-click="$ctrl.addContainer($ctrl.container)">Add</button>
      </div>
    </div>

    <div ng-if="$ctrl.depth === 2">
      <div ng-if="!$ctrl.container.addingContainer">
        <div ng-if="$ctrl.container.isActive" class="button__row">
          <np-tooltip tip-text="Add Episode">
            <a class="icon__button button__add-inverted" ng-click="$ctrl.container.addingContainer = true"></a>
          </np-tooltip>
          <np-tooltip tip-text="Go to assets">
            <a class="icon__button button__assets" ng-href="#/assets/{{$ctrl.container._id}}"></a>
          </np-tooltip>
          <np-tooltip tip-text="Generate new narrative">
            <a ng-if="$ctrl.canAccess"
               class="icon__button button__generateNarrative" ng-click="$ctrl.toggleNarrativeModal()"></a>
          </np-tooltip>
        </div>
      </div>
      <div ng-if="$ctrl.container.addingContainer">
        <label>Name:&nbsp;
          <input ng-model="$ctrl.container.newContainerTitle" type="text" np-autofocus>&nbsp;
        </label>
        <button ng-click="$ctrl.container.addingContainer = false">Cancel</button>
        <button ng-disabled="!$ctrl.container.newContainerTitle" ng-click="$ctrl.addContainer($ctrl.container)">Add</button>
      </div>
    </div>

    <span ng-if="$ctrl.container.editingContainer">
			<label>Name:&nbsp;
				<input
          ng-model="$ctrl.container.newContainerName"
          ng-init="$ctrl.container.newContainerName = $ctrl.container.name.en"
          type="text" np-autofocus>&nbsp;
			</label>
			<button ng-click="$ctrl.container.editingContainer = false">Cancel</button>
			<button ng-disabled="!$ctrl.container.newContainerName || $ctrl.container.newContainerName == $ctrl.container.name.en"
              ng-click="$ctrl.renameContainer()">Save</button>
		</span>
  </div>

  <div ng-if="$ctrl.depth == 3 && $ctrl.container.isActive" class="container" style="text-indent: 4em;">

    <!-- begin episode -->
    <div class="episode__button-row">
      <div class="episode__button">
        <np-tooltip tip-text="Go to editor">
          <a
            class="icon__button button__editor"
            ng-if="$ctrl.isDemoServer" href="#/editor/{{$ctrl.container.episodes[0]}}"></a>
        </np-tooltip>

        <np-tooltip tip-text="Go to producer">
          <a class="icon__button button__producer" href="#/producer/{{$ctrl.container.episodes[0]}}"></a>
        </np-tooltip>

        <np-tooltip tip-text="Go to assets">
          <a class="icon__button button__assets" ng-href="#/assets/{{$ctrl.container._id}}"></a>
        </np-tooltip>

        <np-tooltip tip-text="Generate new narrative">
          <a ng-if="$ctrl.canAccess" class="icon__button button__generateNarrative" title="Generate new narrative"
             ng-click="$ctrl.toggleNarrativeModal()"></a>
        </np-tooltip>

      </div>
    </div>
    <!-- end episode -->
  </div>

  <np-container
    ng-if="$ctrl.depth < 3 && $ctrl.container.showChildren"
    ng-repeat="child in $ctrl.container.children"
    depth="$ctrl.depth + 1"
    container="$ctrl.containers[child._id]"
    containers="$ctrl.modelSvc.containers"
    on-container-remove="$ctrl.onContainerRemove({ $container })"
    on-container-click="$ctrl.onContainerClick({ $container })"
    on-container-add="$ctrl.onContainerAdd({ $container })">
  </np-container>
</div>
