<div class="narrative">

  <!-- begin display -->
  <div>
    <np-edit-pencil can-access="$ctrl.canAccess" on-edit="$ctrl.toggleEditNarrativeModal()">
      <h2 ng-bind-html="$ctrl.narrative.name.en"></h2>
    </np-edit-pencil>
    <p ng-bind-html="$ctrl.narrative.description.en"></p>
    <p>Total Duration: {{$ctrl.totalNarrativeDuration | asTime}}</p>
  </div>

  <!--
 <div ng-if="narrative.user_id == user._id">You are the owner of this narrative</div>
-->
  <!--narrative action buttons row-->
  <div class="episode__button-row">
    <div ng-if="$ctrl.canAccess">
      <!--overlay class is pointer-events: none, to disable clicks while editing.-->
      <np-tooltip tip-text="Add Timeline" ng-class="{overlay: $ctrl.timelineUnderEdit || $ctrl.tmpTimeline}">
        <a class="icon__button button__add-inverted"
           ng-click="$ctrl.addTmpTimeline(null, $ctrl.narrative.timelines)"></a>
      </np-tooltip>
      <np-tooltip tip-text="Export links to spreadsheet">
        <a class="icon__button button__export-spreadsheet"
           ng-click="$ctrl.exportToSpreadsheet(narrative._id)">
        </a>
      </np-tooltip>
      <np-guest-accessible-url
        narrative="$ctrl.narrative"
        sub-domain="{{$ctrl.narrative.narrative_subdomain}}"
        clipboard-mode="Click to copy URL">
      </np-guest-accessible-url>
    </div>
  </div>

  <!--modals-->

  <!--add narrative modal top level-->
  <np-modal ng-if="$ctrl.showEpisodeList">
    <np-episode-list
      depth="0"
      context="narrative"
      class="admin episodePicker"
      on-episode-select="$ctrl.onEpisodeSelect(node)"
      on-cancel="$ctrl.toggleEpisodeList(); $ctrl.doneEditingTimeline()">
    </np-episode-list>
  </np-modal>

  <!--edit narrative or timeline modal-->
  <np-modal wrapper-class="responsive-modal__wrapper" modal-class="narrative__modal"
             ng-if="$ctrl.editingNarrative || $ctrl.timelineUnderEdit != null">

    <div ng-if="$ctrl.editingNarrative">

      <np-narrative-editor
        narrative="$ctrl.narrative"
        customers="$ctrl.customers"
        on-done="$ctrl.toggleEditNarrativeModal($undo)"
        on-update="$ctrl.updateNarrative(n)">
      </np-narrative-editor>
    </div>

    <div ng-if="$ctrl.timelineUnderEdit != null">
      <np-timeline-editor
        class="tl__editor"
        timeline="$ctrl.timelineUnderEdit"
        narrative="$ctrl.narrative"
        container-id="{{$ctrl.customers[0].root_container_id}}"
        on-done="$ctrl.doneEditingTimeline()"
        on-update="$ctrl.editorAction(t, timelineUnderEdit)"
        on-delete="$ctrl.deleteTimeline(t)">
      </np-timeline-editor>
    </div>

  </np-modal>

  <!--end modals-->


  <!--list of timelines-->
  <div ui-tree="$ctrl.treeOpts" ng-if="$ctrl.narrative.timelines.length !== 0">
    <div ui-tree-nodes ng-model="$ctrl.narrative.timelines">
      <!--begin ng-repeat - note: do not use track by on ng-repeats with ui-tree-->
      <div class="storyTimeline hoverIndicator"
           ng-class-even="'container__row--even'"
           ng-class-odd="'container__row--odd'"
           ng-mouseenter="rowHover = true"
           ng-mouseleave="rowHover = false"
           ui-tree-node
           ng-repeat="timeline in $ctrl.narrative.timelines |
               filter: ($ctrl.canAccess === false || undefined) && {hidden: false}">

        <div ng-class="{'timeline--hidden': timeline.hidden}">

							<span ng-show="$ctrl.canAccess && rowHover" class="tlDrag__handle" ui-tree-handle>
								<i class="fa fa-arrows"></i>
							</span>
          <div class="tl__wrapper">
            <np-edit-pencil can-access="$ctrl.canAccess" force="rowHover && $ctrl.canAccess"
                             on-edit="$ctrl.toggleEditingTimeline(timeline)">
              <h3>
                <i ng-if="timeline.hidden" class="fa fa-eye-slash"></i>
                <a href="/#/story/{{$ctrl.narrative._id}}/{{timeline._id}}">{{timeline.name.en}}</a>
              </h3>
            </np-edit-pencil>
            <p>{{timeline.episode_segments[0].end_time | asTime}}</p>
            <p>{{timeline.description.en}}</p>


            <div class="tl__addButton">
              <div ng-if="rowHover && $ctrl.canAccess" class="episode__button-row">
                <div>
                  <np-tooltip tip-text="Insert Timeline">
                    <a class="icon__button button__add-inverted"
                       ng-click="$ctrl.addTmpTimeline(timeline, $ctrl.narrative.timelines)"></a>
                  </np-tooltip>
                  <np-guest-accessible-url
                    narrative="$ctrl.narrative"
                    timeline="timeline"
                    clipboard-mode="Copy to Clipboard">
                  </np-guest-accessible-url>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--end repeat-->
    </div>
  </div>
  <!--end ui-tree-->
</div>
<!-- end display -->
<a ng-if="$ctrl.narrative.support_url" target="_blank" ng-href="{{$ctrl.narrative.support_url}}">Support</a>
