<div ng-class="episode.styleCss" class="searchPanel__wrapper">
	<div aria-label="sort toggle" class="searchfilters" aria-controls="sortableSearch">
		<div>
			Sorted by
			<button tabindex="0" class="fakeLink fake-link--search-results" ng-click="toggleSortBy(sortBy)" aria-label="toggles sort to {{getToggledValue(sortBy)}}">{{getFriendlySortText(sortBy)}}</button>
		</div>
	</div>
	<div class="scrollContainer">
		<div class="searchResults content" id="sortableSearch" itt-width-watch ng-class="{isNarrow: isNarrow}">
			<div ng-if="sortBy == 'startTime'" class="sortByTime">
				<h1 ng-bind-html="episode.display_title"></h1>
				<div ng-repeat="scene in episode.scenes">
					<!--<h2 class="searchCategory" ng-if="scene.start_time > 0 && ([scene.display_title] | filter:appState.searchText).length" ng-bind-html="scene.display_title  | highlightSubstring: appState.searchText"></h2>-->
					<!-- Need to filter out cosmetic items when not in producer -->
					<span ng-switch="appState.product">
						<div ng-switch-when="producer"
                 ng-repeat="item in scene.items"
                 ng-show="([item.searchableText] | filter:appState.searchText).length"
                 class="item animate" ng-class="item.state"
                 itt-item="item"
                 forceTemplate="searchresults-all">
            </div>
						<div ng-switch-default
                 ng-repeat="item in scene.items | filter: {cosmetic: false }"
                 ng-show="([item.searchableText] | filter:appState.searchText).length"
                 class="item animate"
                 ng-class="item.state"
                 itt-item="item"
                 forceTemplate="searchresults-all">
            </div>
					</span>
				</div>
			</div>
			<!-- sorted by type -->
			<div ng-if="sortBy == 'type'" class="sortByType">
				<div ng-repeat="category in typeCategories">
					<h3 ng-if="matchedItems.length > 0" ng-bind-html="showTypes[category].name"></h3>
					<!-- controller handles stripping cosmetic items from showTypes.items, so no need to do it in template. -->
					<div class="item animate"
               ng-repeat="item in matchedItems=(showTypes[category].items | orderBy:'start_time')"
               ng-show="([item.searchableText] | filter:appState.searchText).length"
               ng-class="item.state"
               itt-item="item"
               forceTemplate="searchresults-all">
          </div>
				</div>
				<div ng-if="(episode.items | filter:{'searchableText': appState.searchText||'', 'cosmetic': false}).length == 0">
					(Nothing matched your search.)
				</div>
			</div>
		</div>
	</div>
</div>
