<!-- producer episode poster asset-->

<div ng-if="$ctrl.showAssetPickerPoster" class="floatAssetPicker">
	<div class="scrollContainer">
    <sxs-container-assets
      context="episode"
      on-asset-select="$ctrl.attachPosterAsset($assetId)"
      container-id="{{$ctrl.episodeContainerId}}">
    </sxs-container-assets>
	</div>
	<div class="controlsContainer">
		<button ng-click="$ctrl.showAssetPickerPoster = false;">Cancel</button>
	</div>
</div>

<div>
	<div ng-if="$ctrl.episode.poster && !$ctrl.showUploadButtonsPoster">
		{{$ctrl.episode.poster.display_name}}
		<button class="button" ng-click="$ctrl.replaceAsset('Poster')">Replace this</button>
	</div>
	<div ng-if="$ctrl.showUploadButtonsPoster || !$ctrl.episode.poster">
		<span ng-if="$ctrl.showUploadFieldPoster">
      <itt-asset-uploader
        container-id="{{$ctrl.episodeContainerId}}"
        callback="$ctrl.posterUploaded(data)">
      </itt-asset-uploader>
		</span>
		<span ng-if="!showUploadFieldPoster">
			<button class="button" ng-click="$ctrl.toggleAssetSelect('Poster')">Browse uploaded</button>
			<button class="button" ng-click="$ctrl.toggleUpload('Poster')">Upload new</button>
		</span>
	</div>
</div>
