<span class="sxsicon icon-image"></span>
<div class="field">TODO separate content images from overlay/background images</div>
<div class="field">
	<div class="label">Title [{{appState.lang}}]</div>
	<div class="input" sxs-input-i18n="item.title" x-inputtype="'input'"></div>
</div>
<div class="field">
	<div class="label">Image
	</div>
	<div class="input" ng-include="'templates/producer/upload-single.html'">
	</div>
</div>
<div class="field">
	<div class="label">Description [{{appState.lang}}]</div>
	<div class="input" sxs-input-i18n="item.description" x-inputtype="'textarea'"></div>
</div>
