<span class="sxsicon icon-comment"></span>
<div class="field">
	<div class="label">Speaker
	</div>
	<div class="input" sxs-annotator-autocomplete="annotators" item="item" ng-model="item.annotator">
	</div>
</div>
<div class="field">
	<div class="label">Speaker [{{appState.lang}}]
	</div>
	<div class="input" sxs-input-i18n="item.annotator" x-inputtype="'input'">
	</div>
</div>

<div class="field">
	<div class="label">Annotation [{{appState.lang}}]</div>
	<div class="input" sxs-input-i18n="item.annotation" x-inputtype="'textarea'" autofocus></div>
</div>
