<!-- <span class="eventIcon icon-comment"></span>
 -->
<!--DEPRECATED WITH PRODUCER V1 -->
<!--<div class="field">-->
	<!--<div class="label">Annotation Text [{{appState.lang}}]</div>-->
	<!--<div class="input" sxs-input-i18n="item.annotation" x-inputtype="'textarea'" autofocus></div>-->
<!--</div>-->

<!--<div class="field">-->
	<!--<div class="label">Template</div>-->
	<!--<div class="input">-->
		<!--<select ng-model="item.templateUrl"-->
				<!--ng-change="selectService.onSelectChange(item)"-->
				<!--ng-options="option.url as option.name for option in item.templateOpts">-->
		<!--</select>-->
	<!--</div>-->
<!--</div>-->

<!--<div class="field">-->
	<!--<div class="label">Speaker [{{appState.lang}}]-->
	<!--</div>-->
	<!--<div class="input">-->
		<!--<div sxs-annotator-autocomplete="annotators" item="item" ng-model="item.annotator"></div>-->
	<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="field">&ndash;&gt;-->
	<!--&lt;!&ndash;<div class="label">Speaker thumbnail&ndash;&gt;-->
	<!--&lt;!&ndash;</div>&ndash;&gt;-->
	<!--&lt;!&ndash;<div class="input" ng-include="'templates/producer/upload-producer.html'">&ndash;&gt;-->
	<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="field">-->
	<!--<div class="label">Title [{{appState.lang}}]</div>-->
	<!--<div class="input" sxs-input-i18n="item.title" x-inputtype="'input'" autofocus></div>-->
<!--</div>-->

<!--<div class="field">-->
	<!--<div class="label">Flags</div>-->
	<!--<div class="input">-->
		<!--<label>-->
			<!--<input type="checkbox" ng-model="item.required">Required-->
		<!--</label>-->
		<!--<label>-->
			<!--<input type="checkbox" ng-change="selectService.onSelectChange(item)" ng-model="item.stop">Stop item-->
		<!--</label>-->
		<!--<label>-->
			<!--<input type="checkbox" ng-model="item.cosmetic">Cosmetic-->
		<!--</label>-->
		<!--<label ng-if="item.templateUrl === 'templates/item/text-h1.html'">-->
			<!--<input type="checkbox" ng-model="item.chapter_marker">Chapter Event-->
		<!--</label>-->
	<!--</div>-->
<!--</div>-->

