<!-- <span class="eventIcon icon-link"></span> -->
<div class="field">
	<div class="label">Title [{{appState.lang}}]</div>
	<div class="input" sxs-input-i18n="item.title" x-inputtype="'input'" autofocus></div>
</div>
<div class="field">
	<div class="label">URL
	</div>
	<div class="input">
		<form name="urlForm">
			<input type="text"
				   itt-validate-url
				   item="item"
				   name="itemUrl"
				   ng-model-options="{ updateOn: 'blur' }"
				   ng-model="item.url"/>
		</form>
	</div>
</div>
<div class="field">
	<div class="label">Image
	</div>
	<div class="input" ng-include="'templates/producer/upload-producer.html'">
	</div>
</div>
<div class="field">
	<div class="label">Description [{{appState.lang}}]</div>
	<div class="input" sxs-input-i18n="item.description" x-inputtype="'textarea'"></div>
</div>
