<!--DEPRECATED WITH PRODUCER V1 -->
<!--<span class="eventIcon icon-video"></span>-->
<!--<div class="field">-->
	<!--<small>-->
		<!--<div style="width:20%; display:inline-block"></div>-->
		<!--<div style="width:48%; display:inline-block">Link to a video on YouTube...</div>-->
		<!--<div style="width:32%; display:inline-block">...or record your own</div>-->
	<!--</small>-->
<!--</div>-->
<!--<div ng-show="isRecordingVideo" class="ytRecordWidgetFloater">-->
	<!--<div id="recordWidgetContainer"></div>-->
<!--</div>-->
<!--<div class="field">-->
	<!--<div class="label">Video</div>-->
	<!--<div class="input">-->
		<!--<div style="width:60%; display:inline-block; padding-right: 5%">-->
			<!--<input type="text" ng-model="item.yturl">-->
		<!--</div>-->
		<!--<div style="width:40%; display:inline-block">-->
			<!--<button class="button" ng-click="startRecordVideo()" style="width: 48%; margin-right: 4%">-->
				<!--<span ng-if="isRecordingVideo">Cancel</span>-->
				<!--<span ng-if="!isRecordingVideo">Record</span>-->
			<!--</button>-->
		<!--</div>-->
		<!--<small ng-if="isRecordingVideo">Click the "Record from webcam" button above (requires Adobe Flash)</small>-->
		<!--<small ng-if="isProcessingVideo">Your video is being processed by YouTube and will appear automatically in this episode when it is ready. (This may take a few minutes; you can safely continue editing or close this window.)</small>-->
	<!--</div>-->
<!--</div>-->
<!--<div class="field" ng-if="(item.url || item.yturl) && !(isRecordingVideo || isProcessingVideo)">-->
	<!--<div class="label">YouTube url</div>-->
	<!--<div class="input">-->
		<!--<small ng-if="item.url">{{item.url | stripParams}}</small>-->
		<!--<small ng-if="item.yturl && !item.url">(No valid YouTube video found)</small>-->
	<!--</div>-->
<!--</div>-->
<!--<div class="field">-->
	<!--<div class="label">Title-->
	<!--</div>-->
	<!--<div class="input">-->
		<!--<input type="text" ng-model="item.title.en" autofocus>-->
	<!--</div>-->
<!--</div>-->
<!--<div class="field">-->
	<!--<div class="label">Description-->
	<!--</div>-->
	<!--<div class="input">-->
		<!--<textarea ng-model="item.description.en" rows="4"></textarea>-->
	<!--</div>-->
<!--</div>-->
