<!-- <span class="eventIcon icon-file"></span> -->

<!--DEPRECATED WITH PRODUCER V1 -->
<!--<div class="field">-->
	<!--<div class="label">Title [{{appState.lang}}]</div>-->
	<!--<div class="input" sxs-input-i18n="item.title" x-inputtype="'input'" autofocus></div>-->
<!--</div>-->

<!--<div class="field">-->
	<!--<div class="label">File-->
	<!--</div>-->
	<!--<div class="input" ng-include="'templates/producer/upload-producer.html'">-->
	<!--</div>-->
<!--</div>-->

<!--<div class="field">-->
	<!--<div class="label">Description [{{appState.lang}}]</div>-->
	<!--<div class="input" sxs-input-i18n="item.description" x-inputtype="'textarea'"></div>-->
<!--</div>-->
