<span class="sxsicon icon-link"></span>
<div class="field">
	<div class="label">Title
	</div>
	<div class="input">
		<input type="text" ng-model="appState.editing.title" autofocus>
	</div>
</div>
<div class="field">
	<div class="label">URL
	</div>
	<div class="input">
		<input type="text" ng-model="appState.editing.url">
	</div>
</div>
<div class="field">
	<div class="label">Image
	</div>
	<div class="input" ng-include="'templates/producer/upload-single.html'">
	</div>
</div>
<div class="field">
	<div class="label">Description
	</div>
	<div class="input">
		<textarea ng-model="appState.editing.description" rows="4"></textarea>
	</div>
</div>
