<div class="field">
	<div class="label">Question type
	</div>
	<div class="input">
		<select ng-model="appState.editing.data._plugin.questiontype">
			<option value="mc-poll">Poll</option>
			<option value="mc-formative">Formative</option>
		</select>
	</div>
</div>
<div class="field">
	<div class="label">Question text
	</div>
	<div class="input">
		<textarea ng-model="appState.editing.data._plugin.questiontext" rows="4"></textarea>
	</div>
</div>
<div class="field">
	<div class="label">Image (optional)
	</div>
	<div class="input">
		<input type="file" ng-model="TODO">
	</div>
</div>

<div class="field" ng-repeat="distractor in appState.editing.data._plugin.distractors">
	<div class="label">
		{{$index | alpha}} &nbsp;
		<input type="checkbox" ng-model="distractor.correct" ng-if="appState.editing.data._plugin.questiontype == 'mc-formative'">
	</div>
	<div class="input">
		<textarea ng-model="distractor.text" rows="4"></textarea>
	</div>
</div>
<div class="field" ng-if="appState.editing.data._plugin.questiontype == 'mc-formative'">
	<div class="label">Feedback when correct
	</div>
	<div class="input">
		<textarea rows="4" ng-model="appState.editing.data._plugin.correctfeedback"></textarea>
	</div>
</div>
<div class="field" ng-if="appState.editing.data._plugin.questiontype == 'mc-formative'">
	<div class="label">Feedback when incorrect
	</div>
	<div class="input">
		<textarea rows="4" ng-model="appState.editing.data._plugin.incorrectfeedback"></textarea>
	</div>
</div>
