<span class="eventIcon icon-link"></span>
<div class="field">
	<div class="label">Title
	</div>
	<div class="input">
		<input type="text" ng-model="item.title.en" autofocus>
	</div>
</div>
<div class="field">
	<div class="label">URL
	</div>
	<div class="input">
		<form name="urlForm">
			<h4 ng-if="urlForm.itemUrl.$invalid && urlForm.itemUrl.$dirty">{{urlForm.itemUrl.$viewValue}} is not valid
				URL!</h4>
			<input type="text"
				   itt-validate-url
				   item="item"
				   name="itemUrl"
				   ng-model-options="{ updateOn: 'blur' }"
				   ng-model="item.url"/>
		</form>
	</div>
</div>
<div class="field">
	<div class="label">Description
	</div>
	<div class="input" sxs-input-i18n="item.description" x-inputtype="'textarea'"></div>
</div>
