
.socialshare-filedrop {
  display: flex;
}

.socialshare__img {
  //border: 2px dashed $file-drop-grey;
  img {
    max-width: 100%;
    //subtract to account for itt-filedrop--border thickness
    max-height: calc(#{$socialshare-image-height} - 9.5px);

    &.--drop-error {
      opacity: 0;
    }
    transition-duration: $socialshare-error-animation-duration;
  }
}

.socialshare__img--cancel {
  font-family: 'Story', sans-serif;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 50%;
  transform: translate(-10px, -10px);
  &:before {
    content: '\e91f';
  }
}

.socialshare__controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  label.button {
    line-height: 20px;
  }

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}
