
.socialshare-filedrop {
  display: flex;
}

.socialshare__img {
  //border: 2px dashed $file-drop-grey;
  img {
    max-width: 100%;
    //subtract to account for itt-filedrop--border thickness
    max-height: calc(#{$socialshare-image-height} - 9.5px);

    &.--drop-error {
      //opacity: 0;
    }
    transition-duration: $socialshare-error-animation-duration;
  }
}

.socialshare__img--cancel {
  font-family: 'Story', sans-serif;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 50%;
  transform: translate(-10px, -10px);
  &:before {
    content: '\e91f';
  }
}

.socialshare__controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  label.button {
    line-height: 20px;
  }

  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

.social_image_square--default {
  background: url(https://s3.amazonaws.com/narrasys.branding/assets/images/Narrative-Launch-Graphic-Square.png);
}

.social_image_wide--default {
  background: url(https://s3.amazonaws.com/narrasys.branding/assets/images/Narrative-Launch-Graphic-Wide.png);
}

.social_image_square--default, .social_image_wide--default {
  width: calc(100% - 9.5px);
  height: calc(100% - 9.5px);
  background-repeat: no-repeat;
  background-size: 100%;
}
