<div>
	<div class="outset">
		<div itt-timestamp="item" pos="outset"></div>
	</div>
	<div class="body">
		<span class="inset">
			<span itt-timestamp="item" pos="inset"></span>
		</span>
		<div class="pullquote">
			<div class="pullquoteStart" itt-text="item.tmpl.style.font2" bindval="'“'"></div>
			<div class="pullquoteText" itt-text="item.tmpl.style.font1" bindval="item.display_annotation"></div>
			<div class="pullquoteEnd" itt-text="item.tmpl.style.font2" bindval="'”'"></div>
		</div>
	</div>
</div>
