<div>
	<div class="outset">
		<div itt-timestamp="item" pos="outset"></div>
	</div>
	<div class="body">
		<div class="pullquote" ng-style="{color: item.tmpl.style.textcolor1}">
			<span class="quote altType" ng-style="{color: item.tmpl.style.textcolor2}">“</span>
			<span class="inset">
				<span itt-timestamp="item" pos="inset"></span>
			</span>
			<span lorem-val="item.display_annotation"></span>
			<div class="pullquoteSpeaker" lorem-val="item.display_annotator"></div>
		</div>
	</div>
</div>
