<!-- producer master asset -->

<div ng-if="$ctrl.showAssetPicker" class="floatAssetPicker">
	<div class="scrollContainer">
    <sxs-container-assets
      on-asset-select="$ctrl.attachChosenAsset($assetId)"
      container-id="{{$ctrl.episodeContainerId}}">
    </sxs-container-assets>
	</div>
	<div class="controlsContainer">
		<button ng-click="$ctrl.showAssetPicker = false;">Cancel</button>
	</div>
</div>

<div>
	<div ng-if="($ctrl.masterAsset.original_filename) && !$ctrl.showUploadButtonsMaster">
		{{$ctrl.masterAsset.display_name}}
		<button class="button" ng-click="$ctrl.replaceAsset('Master')"> Replace</button>
		<button class="button" ng-click="$ctrl.detachMasterAsset()">Remove</button>
	</div>
	<div ng-if="$ctrl.showUploadButtonsMaster || !($ctrl.masterAsset.original_filename)">
		<span ng-if="$ctrl.showUploadFieldMaster">
      <itt-asset-uploader container-id="{{$ctrl.episodeContainerId}}" callback="$ctrl.assetUploaded(data)"></itt-asset-uploader>
		</span>
		<span ng-if="!$ctrl.showUploadFieldMaster">
			<button class="button" ng-click="$ctrl.showAssetPicker = true;">Browse uploaded assets</button>
			<button class="button" ng-click="$ctrl.toggleUpload('Master')">Upload new asset</button>
		</span>
	</div>
</div>
