<div class="scene centered-pro" ng-class="scene.styleCss + ' '+ scene.state">
	<div itt-item="item" class="item animate banner-pull-quote" ng-class="item.styleCss + ' ' + item.state"
		 ng-repeat="item in (contentItems | isCurrent | filter:{templateUrl: 'templates/item/text-h1.html'} )">
	</div>
	<div class="col">
		<div itt-magnet class="videoMagnet">
			<img src="/images/aspectratiopreserver-16x9.gif">
		</div>
		<div class="pane mainPane">
			<div class="fill bgLayer">
				<div class="item animate" ng-repeat="item in mainBgItems| isCurrent"
					 ng-class="item.styleCss + ' ' + item.state" itt-item="item"></div>
			</div>
			<div class="content contentLayer stretchToViewport" ng-class="{
				singleitem: (contentItems | isCurrent).length == 1,
				allowHighlights: !showCurrent,
				isNarrow: isNarrow,
				isEmpty: contentItems.length == 0
			}" itt-width-watch>
				<div class="item animate" ng-repeat="item in (contentItems | isCurrent | filter:centeredProTransmedia  )"
					 ng-class="item.styleCss + ' ' + item.state" itt-item="item"></div>
				<div class="clear"></div>
			</div>
			<!--<div class="fill fgLayer overlay">-->
				<!--<div class="item animate" ng-repeat="item in mainFgItems | isCurrent"-->
					 <!--ng-class="item.styleCss + ' ' + item.state" itt-item="item"></div>-->
			<!--</div>-->
		</div>
	</div>
</div>
