<span ng-if="$ctrl.errorSvc.errors.length || $ctrl.errorSvc.notifications.length" class="errors">
	<div class="error" ng-repeat="error in $ctrl.errorSvc.errors" ng-click="$ctrl.dismiss(error)">
		<h3><i class="fa fa-exclamation-triangle error-red"></i>Error: <span
      ng-bind-html="error.cause || error.exception.data.error || error.exception.data.base[0] || error.exception.data || '(unknown reason)'"></span></h3>
		<p ng-if="error.exception.config.url">
			<i>(While trying to load {{error.exception.config.url}})</i>
		</p>

		<p ng-if="error.exception.status == 401">
			Please
			<span ng-if="$ctrl.user.login_url">
				<a ng-if="$ctrl.user.login_via_top_window_only" ng-click="$ctrl.logout();" ng-href="{{$ctrl.user.login_url}}"
           target="_top">click here</a>
				<a ng-if="!$ctrl.user.login_via_top_window_only" ng-click="$ctrl.logout();" ng-href="{{$ctrl.user.login_url}}">click here</a> to log back in.
			</span>
			<span ng-if="!$ctrl.user.login_url">
				<a ng-click="logout();">reset your session</a> and start over.
			</span>
		</p>

    <!-- 		<a style="font-size: small" ng-click="showDetails= !showDetails">(show details)</a>
    <pre ng-if="showDetails" style="font-size: small" ng-bind="error | pretty"></pre>
 -->
	</div>
	<div class="notification" ng-repeat="notification in $ctrl.errorSvc.notifications">
		<a style="float: right;" ng-click="$ctrl.dismiss(notification)">[x]</a>
		<p><i class="fa fa-info-circle info-blue"></i> <strong> Note: </strong> {{notification.text}}</p>
	</div>
</span>
