<!--
Video, Main, Alt:
___________    ___________
|V   |A   |    |A   |V   |
|____|    |    |    |____|
|M   |    |    |    |M   |
|    |    |    |    |    |
|____|____|    |____|____|
showCurrent is forced in main.
-->

<div class="scene centerVV" ng-class="scene.styleCss + ' '+ scene.state">
	<div class="col">
		<!--this div is stand alone so we can apply opacity to it and not effect the content items in the col-->
		<div class="static-bg__main" ng-style="setBgImgUrl(scene.items, 'mainCol')"></div>
		<div itt-magnet class="videoMagnet">
			<img src="/images/aspectratiopreserver-16x9.gif">
		</div>
		<div class="pane mainPane">
			<div class="content contentLayer stretchToViewport"
				 ng-class="{singleitem: mainContentItems.length==1, isNarrow: isNarrow, isEmpty: mainContentItems.length == 0}"
				 itt-width-watch>
				<div class="item animate centerVV-h2"
					 ng-repeat="item in mainItems = (mainContentItems | isCurrent | filter:byPullquoteOrH2)"
					 ng-class="item.styleCss + ' ' + item.state" itt-item="item"></div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="col">
		<!--this div is stand alone so we can apply opacity to it and not effect the content items in the col-->
		<div class="static-bg__alt" ng-style="setBgImgUrl(scene.items, 'altCol')"></div>
		<div class="pane altPane stretchToViewport">
			<div class="content contentLayer stretchToViewport" ng-class="{
				singleitem: showCurrent
					? (altContentItems | isCurrent).length == 1
					: (altContentItems).length == 1,
				allowHighlights: !showCurrent,
				hasLeftSidebar: altContentHasLeftSidebar,
				hasRightSidebar: altContentHasRightSidebar,
				isNarrow: isNarrow,
				isEmpty: altContentItems.length == 0
			}" itt-width-watch>
				<div class="item animate"
					 ng-repeat="item in showCurrent ? (altContentItems | isCurrent) : altContentItems"
					 ng-class="item.styleCss + ' ' + item.state" itt-item="item">
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
