<a class="edit-event" ng-click="editItem()">
	<span>Edit item</span>
</a>
<div class="itemTemplate">
	<div class="itemHead">
		<a role="button" aria-label="Seek video to {{item.displayStartTime}}" tabindex="0" class="startTime displayTime" x-ng-click="seek(item.start_time)" x-ng-keypress="seekOnKeyPress(item.start_time, $event)">{{item.displayStartTime}}</a>
		<div class="category item__title">
			<span ng-if="item.required">(Required viewing)</span>
		</div>
	</div>
	<div class="text item__text item__text--question-mc">
		<div class="title item__title item__title--question-mc" ng-if="item.display_title | highlightSubstring: appState.searchText" ng-bind-html="item.display_title | highlightSubstring: appState.searchText"></div>
		<div ng-if="item.asset.url" class="touchable" style="float:right; max-width: 50%; padding-right: 0.5em">
			<img x-ng-click="forceModal()" ng-src="{{item.asset.url}}">
			<div class="touchableIndicator"></div>
		</div>
    <np-mc-question
      show-chart="item.data._plugin.questiontype == 'mc-poll'"
      choices="item.data._plugin.distractors"
      plugin="item.data._plugin"
      qid="{{item._id}}">
    </np-mc-question>
			<div class="clear"></div>
	</div>
</div>
