<div class="itemEdit authoringForm">
  <form name="ittEpisodeForm" class="doValidate">
    <div ng-if="$ctrl.appState.product == 'producer'">
      <!-- <span class="eventIcon icon-episode"></span> -->

      <div class="ittTabs" itt-tabs>

        <!-- begin tabset -->
        <div class="ittTab" itt-tab title="Episode">
          <!-- begin episode content tab -->

          <div class="field" ng-hide="!$ctrl.isAdmin">
            <div class="label">Master asset type</div>
            <div class="input">
              <select size="1" ng-model="$ctrl.masterAssetType">
                <option value="Video">Native Video</option>
                <option value="WebUrl">Youtube / Kaltura / Wistia</option>
              </select>
            </div>
          </div>
          <div class="field" ng-if="$ctrl.masterAssetType == 'Video' && $ctrl.isAdmin">
            <div class="label">Video</div>
            <div class="input" np-upload-masterasset-template></div>
          </div>

          <np-url-field
            label="Video URL"
            ng-if="$ctrl.masterAssetType === 'WebUrl'"
            data="::$ctrl.masterAsset.mediaSrcArr[0]"
            context="episode"
            on-attach="$ctrl.attachMediaSrc($url)">
          </np-url-field>

          <div class="field" ng-if="$ctrl.showmessage">
            <div class="input" ng-bind-html="$ctrl.showmessage"></div>
          </div>
          <np-title-field
            data="$ctrl.episode"
            model-opts="{ debounce: 500 }"
            do-validate="true"
            itt-item-form="ittEpisodeForm"
            on-field-change="$ctrl.onTitleOrDescriptionChange()">
          </np-title-field>

          <np-description-field
            data="$ctrl.episode"
            model-opts="{debounce: 50}"
            on-field-change="$ctrl.onTitleOrDescriptionChange()">
          </np-description-field>

          <div class="field" ng-if="$ctrl.isAdmin">
            <div class="label">Poster image
            </div>
            <div class="input" np-upload-poster-template>
            </div>
          </div>

          <div class="field">
            <div class="label">Status</div>
            <div class="input">
              <select size="1" ng-model="$ctrl.episode.status">
                <option value="Published">Published</option>
                <option value="Unpublished">Unpublished</option>
              </select>
            </div>
          </div>

          <np-language-flags
            lang-form="$ctrl.langForm"
            on-langflag-change="$ctrl.onLangFlagChange()">
          </np-language-flags>
          <np-language-select
            ng-if="$ctrl.languageCount > 1"
            data="$ctrl.episode"
            on-select-change="$ctrl.onLangFlagChange()"
            lang-form="$ctrl.episodeEdit.episodeLangForm">
          </np-language-select>
          <div class="field" ng-if="$ctrl.episode.languages.length > 1">
            <div class="label">Current Language</div>
            <div class="input">
              <select size="1" ng-model="$ctrl.appState.lang" ng-change="$ctrl.forcePreview()"
                      ng-options="language.code as ('['+language.code.toUpperCase()+']') for language in $ctrl.episode.languages">
              </select>
            </div>
          </div>

          <div class="field" ng-if="$ctrl.isAdmin && $ctrl.episode.languages.length > 1">
            <div class="label">Translations</div>
            <div class="input" ng-if="$ctrl.doCheckForTranslations == null">
              {{$ctrl.translationMessage($ctrl.episode.languages)}}
              <button ng-click="$ctrl.beginBackgroundTranslations($ctrl.episode._id)">Begin translation</button>
            </div>
            <div ng-if="$ctrl.doCheckForTranslations === true">
              {{$ctrl.afterTranslationAttempt}}
            </div>
          </div>

          <itt-upload-transcripts
            ng-if="$ctrl.episode.master_asset_id && !$ctrl.episode._master_asset_was_changed  && ($ctrl.isAdmin || $ctrl.isCustomerAdmin)"
            episode-id="{{$ctrl.episode._id}}">
          </itt-upload-transcripts>

          <!-- end episode content tab -->
        </div>
        <div class="ittTab" itt-tab title="Style">
          <!-- begin styles tab -->
          <np-template-select
            data="$ctrl.episode"
            on-episode-edit="$ctrl.updateEpisodeTemplate($data)">
          </np-template-select>

          <!--<itt-typography-select></itt-typography-select>-->
          <!--<itt-color-select></itt-color-select>-->
          <np-timestamp-select
            data="$ctrl.episode"
            item-form="$ctrl.itemForm"
            on-update="$ctrl.updateItemForm()">
          </np-timestamp-select>
          <np-highlight-select
            data="$ctrl.episode"
            item-form="$ctrl.itemForm"
            on-update="$ctrl.updateItemForm()">
          </np-highlight-select>
          <np-transition-select
            data="$ctrl.episode"
            item-form="$ctrl.itemForm"
            on-update="$ctrl.updateItemForm()">
          </np-transition-select>
          <!-- end styles tab -->
        </div>
        <!-- end of tabset -->
      </div>
    </div>
    <div class="ittTabFoot">
      <a ng-click="$ctrl.cancelEpisodeEdit()">Cancel</a> &nbsp; &nbsp;
      <button ng-click="$ctrl.saveEpisode()" ng-disabled="ittEpisodeForm.$invalid">Save</button>
    </div>
  </form>
</div>
