<div class="episode professional default" ng-class="episode.styleCss">

	<span ng-include="'templates/episode/components/reviewmode.html'"></span>
	<span ng-include="'templates/episode/components/watchmode.html'"></span>
	<span ng-repeat="scene in episode.scenes | isCurrent"
		  ng-include="'templates/episode/components/discovermode.html'"></span>
	<span ng-include="'templates/episode/components/video.html'"></span>
	<span ng-include="'templates/episode/components/windowfg.html'"></span>

	<div ng-if="appState.viewMode != 'watch'" class="professional__branding branding footer">

		<div class="professional__copyright" ng-include="'templates/copyright.html'"></div>
		<a class="itt logo" href="//inthetelling.com" target="_blank">
			<img src="images/itt.svg" alt="In The Telling logo">
		</a>
	</div>

</div>
