<div class="episode">
	<div class="fill bgLayer" ng-show="appState.viewMode == 'discover'">
		<!-- windowBg -->
		<div itt-item="item" class="animate" ng-repeat="item in episode.items | isCurrent | itemLayout:'windowBg'"></div>
	</div>

	<div class="discoverMode">
		<div itt-scene="scene" episode="episode" class="animate" ng-repeat="scene in episode.scenes | isCurrent" ng-show="appState.viewMode == 'discover'">
		</div>
	</div>

	<div class="reviewMode" ng-show="appState.viewMode == 'review'">
		<div itt-magnet id="reviewModeVideoMagnet" class="videoMagnet">
			<img src="images/aspectratiopreserver-16x9.gif">
		</div>
		<div class="scene" ng-class="{navigable: scene.title}" ng-repeat="scene in episode.scenes">
			<div class="pane mainPane">
				<div class="content allowHighlights">
					<!-- contentMain -->
					<h2 ng-if="scene.title">{{scene.title}}</h2>
					<div class="itemanimate" ng-repeat="item in scene.items | isContent | annotation | filter:{cosmetic:false} | orderBy:'start_time'" itt-item="item" forceTemplate="review-annotation">
					</div>
				</div>
			</div>
			<div class="pane altPane">
				<div class="content allowHighlights">
					<img ng-if="$index == 1" src="images/aspectratiopreserver-16x9.gif" class="videoPadding">
					<!-- contentAlt -->
					<div class="itemanimate" ng-repeat="item in scene.items | isContent | transmedia | filter:{cosmetic:false}" itt-item="item" forceTemplate="review-transmedia">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="watchMode" ng-show="appState.viewMode == 'watch'">
		<div itt-magnet id="watchModeVideoMagnet" class="videoMagnet">
			<img src="images/aspectratiopreserver-16x9.gif">
		</div>
	</div>

	<div itt-magnetized class="pane videoContainer">
		<div class="video contentLayer" itt-video="episode.masterAsset.video"></div>
		<div class="pane fill overlay fgLayer">
			<div itt-item="item" class="animate" ng-repeat="item in episode.items | itemLayout:'videoOverlay' | isCurrent"></div>
		</div>
	</div>

	<span ng-if="appState.viewMode == 'watch' && !appState.hideCaptions">
		<div class="watchModeCaption itemanimate" ng-repeat="item in episode.items  | transcript | isCurrent" itt-item="item" forceTemplate="caption"></div>
	</span>

	<div class="fill overlay windowFg fgLayer" ng-show="appState.viewMode == 'discover'">
		<div itt-item="item" class="animate" ng-repeat="item in episode.items | isCurrent | itemLayout:'windowFg'">
		</div>
	</div>

	<div ng-if="loading" class="loading">
		<div class="spinner">
			<div class="rotating pie"></div>
			<div class="filler pie"></div>
			<div class="mask"></div>
		</div>
		Loading
	</div>

	<div class="autoscroll" ng-if="appState.autoscroll && appState.autoscrollBlocked" ng-click="enableAutoscroll()">
		<img src="/images/autoscroll.svg" width="32" height="32">
	</div>
</div>
