<div class="episode professional george-washington" ng-class="episode.styleCss">

  <span ng-include="'templates/episode/components/reviewmode.html'"></span>
  <span ng-include="'templates/episode/components/watchmode.html'"></span>
  <span ng-repeat="scene in currScene = (episode.scenes | isCurrent)"
        ng-include="'templates/episode/components/discovermode.html'"></span>
  <itt-video-container episode="episode" hide-video="currScene[0].hide_video"></itt-video-container>
  <span ng-include="'templates/episode/components/windowfg.html'"></span>

  <div ng-if="appState.viewMode != 'watch'" class="professional__branding">
    <div class="branding--content">
      <div class="professional__copyright" ng-include="'templates/copyright.html'"></div>
    </div>
  </div>
</div>
