<div class="episode episode-gw" ng-class="episode.styleCss" ng-style="episode.platformSpecificCss">

  <span ng-include="'templates/episode/components/reviewmode.html'"></span>
  <span ng-include="'templates/episode/components/watchmode.html'"></span>
  <span ng-repeat="scene in episode.scenes | isCurrent"
        ng-include="'templates/episode/components/discovermode.html'"></span>
  <span ng-include="'templates/episode/components/video.html'"></span>
  <span ng-include="'templates/episode/components/windowfg.html'"></span>

  <div ng-if="appState.viewMode != 'watch'" class="branding footer">
    <span class="copyright" ng-include="'templates/copyright.html'"></span>
  </div>

  <div class="banner-logo">
    <img src="/images/customer/gw-logo.svg" alt="George Washington">
  </div>
</div>

