


<div class="episode narrasys-ln" ng-class="episode.styleCss">

	<span ng-include="'templates/episode/components/reviewmode.html'"></span>
	<span ng-include="'templates/episode/components/watchmode.html'"></span>
	<span ng-repeat="scene in episode.scenes | isCurrent" ng-include="'templates/episode/components/discovermode.html'"></span>

	<span ng-include="'templates/episode/components/video.html'"></span>
	<span ng-include="'templates/episode/components/windowfg.html'"></span>

	<div ng-if="appState.viewMode != 'watch'" class="">
		<!--<a id="narrasys-logo" target="_blank">-->
			<!--<img src="images/customer/Narrasys.png" alt="Narrasys logo">-->
		<!--</a>-->
		<!--<span class="copyright" ng-include="'templates/copyright.html'"></span>-->
	</div>

	<div class="banner-logo">
		<!--<img src="images/customer/tellingstory-logo.svg" alt="Telling STORY">-->
	</div>
</div>
