<div class="episode episode-story" ng-class="episode.styleCss">
	<span ng-include="'templates/episode/components/reviewmode.html'"></span>
	<span ng-include="'templates/episode/components/watchmode.html'"></span>
	<span ng-repeat="scene in episode.scenes | isCurrent " ng-include="'templates/episode/components/discovermode.html'"></span>
	<span ng-include="'templates/episode/components/video.html'"></span>
	<span ng-include="'templates/episode/components/windowfg.html'"></span>

	<div ng-if="appState.viewMode != 'watch'" class="branding footer">
		<a class="narrasys-brand narrasys-logo" href="//Narrasys.com" target="_blank" rel="noopener noreferrer">
			<img src="/images/Narrasys_Banner.svg" alt="Narrasys logo">
		</a>
		<nys-copyright class="copyright"></nys-copyright>
	</div>
</div>
