<div>
	<div class="outset">
		<div itt-timestamp="item" pos="outset"></div>
	</div>

	<div class="body">
		<div>
			<span class="inset">
				<span itt-timestamp="item" pos="inset"></span>
			</span>

			<a tabindex="0" ng-class="{escapelink: item.urltarget=='_blank'}" target="{{item.urltarget}}" ng-keypress="linkKeypress($event)" ng-click="linkClick($event)" ng-href="{{item.url}}" ng-style="{color: item.tmpl.style.linkcolor}">
				<span itt-text="{face:item.tmpl.style.font2.face, size:item.tmpl.style.font2.size}" bindval="item.display_title || '(Untitled)'"></span>
			</a>

		</div>
		<div itt-text="item.tmpl.style.font1" bindval="item.display_description"></div>

		<div ng-if="item.showInlineDetail" class="itemDetail">
			<a tabindex="0" class="escapelink" target="_blank" ng-href="{{item.url}}" ng-style="{color: item.tmpl.style.linkcolor}">
				(New window)
			</a>
			<div class="iframeContainer">
				<div ng-include="'templates/loading.html'"></div>
				<!-- <iframe style="display:none;" onload="console.log('load',this.src);if(this.src) {$(this).css('display','block')};" ng-src="{{item.url}}"></iframe> -->
				<iframe ng-src="{{item.url}}"></iframe>
			</div>
		</div>
	</div>
</div>
