<div class="itemTemplate sxs-item">
  <a class="edit-event" ng-click="editItem()" ng-if="item.editableByThisUser">
    <span>Edit item</span>
  </a>
  <div class="avatar">
    <img ng-src="{{item.avatar.url || appState.noAvatar }}">
  </div>
  <div class="itemHead">
    <div class="authorName" ng-bind-html="item.display_annotator | highlightSubstring: appState.searchText"></div>
  </div>
  <div class="text">
    <div class="title" ng-if="item.display_title | highlightSubstring: appState.searchText"
         ng-bind-html="item.display_title | highlightSubstring: appState.searchText"></div>
    <div ng-if="item.asset.url" class="touchable" style="float:right; max-width: 50%; padding-right: 0.5em">
      <img x-ng-click="forceModal()" ng-src="{{item.asset.url}}">
      <div class="touchableIndicator"></div>
    </div>
    <np-mc-question
      show-chart="item.data._plugin.questiontype == 'mc-poll'"
      choices="item.data._plugin.distractors"
      plugin="item.data._plugin"
      qid="item._id">
    </np-mc-question>
    <div class="clear"></div>
  </div>
</div>
