<div class="endingscreen stretchToViewport">
	<div class="pane introtext">
		<p>Thanks for watching
			<span ng-bind-html="episode.display_title"></span>.
		</p>

		<p ng-if="episode.nextEpisodeContainer">
			The next episode is
			<a class="nextEpisode" ng-href="/#/{{crossEpisodePath}}/{{episode.nextEpisodeContainer.episodes[0]}}" ng-bind-html="episode.nextEpisodeContainer.display_name"></a>.</p>

		<br>

		<div itt-magnet class="videoMagnet">
			<img src="images/aspectratiopreserver-16x9.gif">
		</div>
		<br>
		<div ng-include="'templates/crossnav.html'"></div>

	</div>
</div>
