<div class="landingscreen stretchToViewportShort">
	<div>
		<div class="pane introtext">
			<h1 ng-bind-html="episode.display_title"></h1>
			<p id="episode--description" ng-bind-html="episode.display_description"></p>

			<br>
			<!-- 			<div ng-if="episode.navigation_depth >0">
				Other episodes:
				<ul class="crossEpisodeNav" itt-container-episodes="episode.parents[0]"></ul>
			</div>
 -->
		</div>
		<div itt-magnet class="videoMagnet">
			<img src="/images/aspectratiopreserver-16x9.gif">
		</div>
		<div class="landingscreen-end"></div>
		<div class="clear"></div>
	</div>
</div>
