<div class="scene" ng-class="scene.styleCss + ' '+ scene.state">
	<div itt-magnet class="videoMagnet">
		<img src="images/aspectratiopreserver-16x9.gif">
	</div>
	<div class="pane mainPane">
		<div class="fill bgLayer">
			<div class="animate" ng-repeat="item in mainBgItems=(scene.items | isCurrent | itemLayout:'mainBg')" itt-item="item"></div>
		</div>
		<div class="content contentLayer" ng-class="{singleitem: mainItems.length==1}">
			<div class="itemanimate" ng-repeat="item in mainContentItems() | isCurrent" itt-item="item"></div>
			<div class="clear"></div>
		</div>
		<div class="fill fgLayer overlay">
			<div class="animate" ng-repeat="item in mainFgItems = (scene.items | isCurrent | itemLayout:'mainFg')" itt-item="item"></div>
		</div>
	</div>

	<div class="pane altPane">
		<div class="fill bgLayer">
			<div class="animate" ng-repeat="item in altBgItems = (scene.items | isCurrent | itemLayout:'altBg')" itt-item="item"></div>
		</div>
		<div class="content contentLayer" ng-class="{singleitem: altItems.length==1, allowHighlights: !showCurrent}">
			<div class="itemanimate" ng-repeat="item in altContentItems()" itt-item="item"></div>
			<div class="clear"></div>
		</div>
		<div class="fill fgLayer overlay">
			<div class="animate" ng-repeat="item in altFgItems=(scene.items | isCurrent | itemLayout:'altFg')" itt-item="item"></div>
		</div>
	</div>
</div>
