<div ng-class="scene.state">

	<div ng-if="landingscreen">
		This is the landing screen. {{episode.title}}
		<p>{{episode.description}}</p>
	</div>
	<div ng-if="!landingscreen">
		<h3>Scene:{{scene.title}}</h3>
		<p>{{scene.start_time}} - {{scene.end_time}}</p>

		(sample scene panes:)

		<div>
			<div>Main pane background items
				<div class="animate" ng-repeat="item in scene.items | isCurrent | itemLayout:'mainBg'" itt-item="item"></div>
			</div>
			<div>Transcript+text items (current only):
				<div class="animate" ng-repeat="item in scene.items | annotation | isCurrent" itt-item="item"></div>
			</div>
			<div>Main pane foreground items
				<div class="animate" ng-repeat="item in scene.items | isCurrent | itemLayout:'mainFg'" itt-item="item"></div>
			</div>
		</div>

		<div>
			<div>Alt pane background items
				<div class="animate" ng-repeat="item in scene.items | isCurrent | itemLayout:'altBg'" itt-item="item"></div>
			</div>
			<div>Transmedia items:
				<div class="animate" ng-repeat="item in scene.items | transmedia" itt-item="item"></div>
			</div>
			<div>Alt pane background items
				<div class="animate" ng-repeat="item in scene.items | isCurrent | itemLayout:'altFg'" itt-item="item"></div>
			</div>
		</div>
	</div>

	<a ng-click="debugScene=!debugScene">Debug scene</a>
	<pre ng-if="debugScene">{{scene | pretty}}</pre>
</div>
