<div class="wrapper" style="position:relative;border-radius: 2em; border: 1px solid rgba(0,0,0,0.2); margin:1em" ng-style="{
	backgroundColor: item.tmpl.style.font2.color || '#DDD'
}">
	<div style=" margin: 0.5em; border-radius: 2em; border: 1px inset rgba(0,0,0,0.5); padding: 1em; box-shadow: 2px 5px 10px rgba(0,0,0,0.2) inset" ng-style="{
	backgroundColor: item.tmpl.style.bgcolor || '#FFF',
}">
		<div ng-include="item.templateUrl" class="itemTemplate" ng-class="item.tmpl.itemType"></div>
	</div>
</div>
