/* USC */
.episode-usc {
  font-family: National, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #F7F9ED; }
  .episode-usc .altPane {
    background-color: #FFF; }
  .episode-usc .colorInvert {
    background-color: #900;
    color: #FC0;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  .episode-usc .footer {
    background-color: #900; }
  .episode-usc h1, .episode-usc h2, .episode-usc h3, .episode-usc .headerItem {
    font-family: "Adobe Caslon", "Crimson Text", serif; }
  .episode-usc .item .pullquote:before {
    line-height: 0.7em; }
  .episode-usc a, .episode-usc a:visited {
    color: #900;
    font-weight: bold; }

.uscWindowFgOnly {
  display: none; }

.overlay.windowFg .uscWindowFgOnly {
  display: block;
  margin: 1em 0 1em 0; }

.uscHackOnlyGuests {
  display: none; }

.guestUser .uscHackOnlyGuests {
  display: block; }

.uscHackOnlyBadge {
  display: none; }

.uscHackUserHasBadge .uscHackOnlyBadge {
  display: block; }
