.episode-eliterate {
  background-image: url("/images/customer/eliterate-bg.svg");
  background-size: 90%;
  background-position: 0 30%;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, Tahoma, sans-serif;
  font-size: 15px;
  color: #6F7D8B; }
  .episode-eliterate .branding a.eliterate {
    left: 5%; }
  .episode-eliterate .startTime {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    padding: 3px; }
  .episode-eliterate a, .episode-eliterate .fakeLink {
    color: #1376bb; }
  .episode-eliterate h1, .episode-eliterate h2, .episode-eliterate h3 {
    font-weight: normal;
    color: #384d62; }
  .episode-eliterate .colorInvert {
    color: #FFF;
    background-color: #6F7D8B; }
    .episode-eliterate .colorInvert h1, .episode-eliterate .colorInvert h2, .episode-eliterate .colorInvert h3 {
      color: #FFF; }

/* -- */
