<span class="eventIcon icon-question"></span>
<div class="field">
	<div class="label">Question type
	</div>
	<div class="input">
		<select ng-model="item.data._plugin.questiontype">
			<option value="mc-poll">Poll</option>
			<option value="mc-formative">Formative</option>
		</select>
	</div>
</div>
<div class="field">
	<div class="label">Question text
	</div>
	<np-input-i18n
    class="input"
    np-autofocus
    field="item.data._plugin.questiontext" inputtype="textarea"></np-input-i18n>

</div>
<div class="field">
	<div class="label">Question Title
	</div>
	<div class="input">
		<input type="text" ng-model="item.title.en" np-autofocus>
	</div>
</div>
<div class="field">
	<div class="label">Image (optional)
	</div>
	<div class="input" np-upload-sxs-template>
	</div>
</div>

<div class="field" ng-repeat="distractor in item.data._plugin.distractors track by $index">
	<div class="label">
		{{$index | alpha}} &nbsp;
		<input type="checkbox" ng-model="distractor.correct" ng-if="item.data._plugin.questiontype == 'mc-formative'">
	</div>
	<np-input-18n
    class="input" field="distractor.text" inputtype="textarea"></np-input-18n>
</div>
<div class="field">
	<div class="input">
		<button ng-click="addDistractor($event)">Add distractor</button>
	</div>
</div>
<div class="field" ng-if="item.data._plugin.questiontype == 'mc-formative'">
	<div class="label">Feedback when correct
	</div>
	<np-input-18n
    class="input"
    field="item.data._plugin.correctfeedback"
    inputtype="textarea"></np-input-18n>
</div>
<div class="field" ng-if="item.data._plugin.questiontype == 'mc-formative'">
	<div class="label">Feedback when incorrect
	</div>
	<np-input-18n
    class="input"
    field="item.data._plugin.incorrectfeedback" inputtype="textarea"></np-input-18n>
</div>
