<span class="eventIcon icon-question"></span>
<div class="field">
	<div class="label">Question type
	</div>
	<div class="input">
		<select ng-model="item.data._plugin.questiontype">
			<option value="mc-poll">Poll</option>
			<option value="mc-formative">Formative</option>
		</select>
	</div>
</div>
<div class="field">
	<div class="label">Question text
	</div>
	<div class="input" autofocus sxs-input-i18n="item.data._plugin.questiontext" x-inputtype="'textarea'"></div>

</div>
<div class="field">
	<div class="label">Question Title
	</div>
	<div class="input">
		<input type="text" ng-model="item.title.en" autofocus>
	</div>
</div>
<div class="field">
	<div class="label">Image (optional)
	</div>
	<div class="input" np-upload-sxs-template>
	</div>
</div>

<div class="field" ng-repeat="distractor in item.data._plugin.distractors track by $index">
	<div class="label">
		{{$index | alpha}} &nbsp;
		<input type="checkbox" ng-model="distractor.correct" ng-if="item.data._plugin.questiontype == 'mc-formative'">
	</div>
	<div class="input" sxs-input-i18n="distractor.text" x-inputtype="'textarea'"></div>
</div>
<div class="field">
	<div class="input">
		<button ng-click="addDistractor($event)">Add distractor</button>
	</div>
</div>
<div class="field" ng-if="item.data._plugin.questiontype == 'mc-formative'">
	<div class="label">Feedback when correct
	</div>
	<div class="input" sxs-input-i18n="item.data._plugin.correctfeedback" x-inputtype="'textarea'"></div>
</div>
<div class="field" ng-if="item.data._plugin.questiontype == 'mc-formative'">
	<div class="label">Feedback when incorrect
	</div>
	<div class="input" sxs-input-i18n="item.data._plugin.incorrectfeedback" x-inputtype="'textarea'"></div>
</div>
