<div class="itemEdit authoringForm">
  <form name="ittItemForm" class="doValidate">
    <div ng-if="$ctrl.appState.product == 'sxs'" class="authoringFormScrollContainer">
      <!-- begin sxs -->
      <!--<itt-time-field></itt-time-field>-->
      <np-time-field data="$ctrl.item" item-form="ittItemForm" on-time-change=""></np-time-field>
      <div np-dynamic-event-template component-name="{{$ctrl.sxsItemComponentFieldName}}"></div>
      <!-- end sxs -->
    </div>

    <!--i plan to tidy this up after it's fully implemented but the basic layout is as follows:
        each tab contains an ng-switch set to switch on item.producerItemType.
        <div itt-tabs>
            <div itt-tab>
                <div ng-switch on="item.producerItemType"></div>
            /div>
            <div itt-tab>
                <div ng-switch on="item.producerItemType"></div>
            </div>
            <div itt-tab>
                <div ng-switch on="item.producerItemType"></div>
            </div>
        </div>
        -->
    <div ng-if="$ctrl.appState.product == 'producer'">
      <div itt-tabs class="ittTabs">
        <!--ITEM/SCENE TAB BEGIN-->
        <div itt-tab class="ittTab"
             ng-if="$ctrl.selectService.showTab($ctrl.item.producerItemType, 'Item')"
             title="{{$ctrl.item.producerItemType | capitalize}}">
          <!--current lang select-->
          <label ng-if="$ctrl.languages.length > 1" style="float:right; padding-right: 24px" for="itemLangSelect">Current
            Language
            <select
              id="itemLangSelect"
              size="1"
              ng-model="$ctrl.appState.lang"
              ng-change="$ctrl.forcePreview()"
              ng-options="language.code as ('['+language.code.toUpperCase()+']') for language in $ctrl.languages">
            </select>
          </label>

          <div ng-switch on="$ctrl.item.producerItemType">
            <div ng-switch-when="link">
              <!--Time, Title, URL, Description, Template, Image, Flags-->
              <!--these are impure component directives that depend inherited scope from item-->
              <!--<itt-time-field></itt-time-field>-->
              <np-time-field data="$ctrl.item" item-form="ittItemForm" on-update="$ctrl.deriveEvent()"></np-time-field>
              <np-title-field do-validate="true" data="$ctrl.item" itt-item-form="ittItemForm" on-update="$ctrl.deriveEvent()"></np-title-field>
              <np-url-field data="$ctrl.item" itt-item-form="ittItemForm"></np-url-field>
              <np-description-field data="$ctrl.item" on-update="$ctrl.deriveEvent()"></np-description-field>
              <np-template-select data="$ctrl.item" on-update="$ctrl.deriveEvent()" item-form="$ctrl.itemForm"></np-template-select>
              <np-image-field data="$ctrl.item" item-form="ittItemForm"></np-image-field>
              <np-flags
                data="$ctrl.item"
                component-name="{{$ctrl.item.component_name}}"
                item-form="$ctrl.itemForm"
                flags="['required', 'stop', 'cosmetic']"></np-flags>
            </div>
            <div ng-switch-when="transcript">
              <!--time, speaker, transcript-->
              <!--<itt-time-field></itt-time-field>-->
              <np-time-field data="$ctrl.item" item-form="ittItemForm" on-time-change=""></np-time-field>
              <np-speaker-field data="$ctrl.item"></np-speaker-field>
              <np-transcript-field data="$ctrl.item" itt-item-form="ittItemForm" on-update="$ctrl.deriveEvent()"></np-transcript-field>
              <itt-speaker-thumb-field></itt-speaker-thumb-field>
            </div>
            <div ng-switch-when="annotation">
              <!--Time, Annotation Text, Template, Speaker, Title, Flags-->
              <!--<itt-time-field></itt-time-field>-->
              <np-time-field data="$ctrl.item" item-form="ittItemForm" on-update="$ctrl.resolveEvents()"></np-time-field>
              <np-title-field data="$ctrl.item" on-update="$ctrl.deriveEvent()"></np-title-field>
              <np-annotation-field data="$ctrl.item" on-update="$ctrl.deriveEvent()" itt-item-form="ittItemForm"></np-annotation-field>
              <np-template-select data="$ctrl.item" item-form="itemForm"></np-template-select>
              <np-speaker-field data="$ctrl.item"></np-speaker-field>
              <np-flags
                data="$ctrl.item"
                component-name="{{$ctrl.item.component_name}}"
                item-form="itemForm"
                flags="['stop', 'cosmetic', 'chapter_marker', 'invertColor']"></np-flags>
            </div>
            <!--scenes are layouts; hidden in this tab-->
            <!--<div ng-switch-when="scene">-->
            <!--</div>-->
            <div ng-switch-when="file">
              <!--Time, Title, File, Description, Template, Flags-->
              <!--<itt-time-field></itt-time-field>-->
              <np-time-field data="$ctrl.item" item-form="ittItemForm" on-time-change=""></np-time-field>
              <itt-title-field do-validate="true" data="$ctrl.item" itt-item-form="ittItemForm"></itt-title-field>
              <itt-file-field></itt-file-field>
              <!--<itt-template-select data="$ctrl.item"></itt-template-select>-->
              <itt-description-field data="$ctrl.item"></itt-description-field>
              <np-flags
                data="$ctrl.item"
                component-name="{{$ctrl.item.component_name}}"
                item-form="itemForm"
                flags="['required', 'stop', 'cosmetic']"></np-flags>
            </div>
            <div ng-switch-when="image">
              <!--Time, Title, Image, Description, Template, Display, Position, Orientation, Flags-->
              <!--<itt-time-field></itt-time-field>-->
              <np-time-field data="$ctrl.item" item-form="ittItemForm" on-time-change=""></np-time-field>
              <itt-title-field do-validate="true" data="$ctrl.item" itt-item-form="ittItemForm"></itt-title-field>
              <itt-image-field></itt-image-field>
              <itt-description-field data="$ctrl.item"></itt-description-field>
              <np-template-select data="$ctrl.item" item-form="itemForm"></np-template-select>
              <itt-display-select data="$ctrl.item" item-form="itemForm"></itt-display-select>
              <!--TODO reccommend moving orientation into layout tab-->
              <np-flags
                data="$ctrl.item"
                component-name="{{$ctrl.item.component_name}}"
                item-form="itemForm"
                flags="['required', 'stop', 'cosmetic']"></np-flags>
            </div>
            <div ng-switch-when="question">
              <!--Time, Question type, Title, Question Text, Image, Answers, Feedback when correct, Feedback when incorrect-->
              <span class="eventIcon icon-question"></span>
              <!--<itt-time-field></itt-time-field>-->
              <np-time-field data="$ctrl.item" item-form="ittItemForm" on-time-change=""></np-time-field>
              <!--investigate log error regarding undefined input for itt-title-->
              <!--<itt-title-field do-validate="true" data="$ctrl.item" itt-item-form="ittItemForm"></itt-title-field>-->
              <np-title-field
                data="$ctrl.item"
                do-validate="true"
                itt-item-form="ittItemForm"
                on-update="$ctrl.deriveEvent()">
              </np-title-field>
              <itt-question-text-field data="$ctrl.item" do-validate="false"
                                       itt-item-form="ittItemForm"></itt-question-text-field>
              <itt-question-type-select data="$ctrl.item"></itt-question-type-select>
              <np-image-field data="$ctrl.item" item-form="ittItemForm"></np-image-field>
              <np-question-options data="$ctrl.item" on-update="$ctrl.deriveEvent()"></np-question-options>
            </div>
            <div ng-switch-when="chapter">
              <!--Time, Title, Description-->
              <!--<itt-time-field></itt-time-field>-->
              <np-time-field data="$ctrl.item" item-form="ittItemForm" on-time-change=""></np-time-field>
              <itt-title-field do-validate="true" data="$ctrl.item" itt-item-form="ittItemForm"></itt-title-field>
              <itt-description-field data="$ctrl.item"></itt-description-field>
            </div>
            <div ng-switch-when="video">
              <h4>{{$ctrl.item.producerItemType}}</h4>
            </div>
            <div ng-switch-default>
              <h4>Default!</h4>
            </div>
          </div>
          <!--ITEM TAB END-->
        </div>

        <!--STYLE TAB BEGIN-->
        <div itt-tab class="ittTab"
             ng-if="$ctrl.selectService.showTab($ctrl.item.producerItemType, 'Style')"
             title="{{$ctrl.item.producerItemType === 'scene' ? 'Layout' : 'Style'}}">
          <div ng-switch on="$ctrl.item.producerItemType">
            <!--hidden across the board-->
            <div ng-switch-when="link">
              <!--<itt-display-select></itt-display-select>-->
            </div>
            <!--hidden accross the board-->
            <div ng-switch-when="transcript">
              <!--Template, Speaker Thumb, timestamp, highlight-->
              <np-template-select data="$ctrl.item" item-form="itemForm"></np-template-select>

            </div>
            <div ng-switch-when="annotation">
              <!--Display-->
              <itt-display-select></itt-display-select>
            </div>
            <div ng-switch-when="scene">
              <!--time, template, position, display-->
              <!--<itt-time-field></itt-time-field>-->
              <np-time-field data="$ctrl.item" item-form="ittItemForm" on-update="$ctrl.resolveEvents()"></np-time-field>
              <np-template-select data="$ctrl.item" item-form="itemForm"></np-template-select>
              <itt-video-position-select data="$ctrl.item" on-update="$ctrl.resolveEvents()"></itt-video-position-select>
              <itt-display-select on-update="$ctrl.deriveEvent(true)" data="$ctrl.item"></itt-display-select>
            </div>
            <!--file hidden in style tab-->
            <!--<div ng-switch-when="file">-->
            <!--</div>-->
            <!--image style tab hidden for all roles-->
            <!--<div ng-switch-when="image">-->
            <!--</div>-->
            <div ng-switch-when="question">
              <!--Template, Display, Flags-->
              <np-template-select data="$ctrl.item" item-form="itemForm"></np-template-select>
              <itt-display-select data="$ctrl.item" item-form="itemForm"></itt-display-select>
              <np-flags
                data="$ctrl.item"
                component-name="{{$ctrl.item.component_name}}"
                item-form="itemForm"
                flags="['required', 'stop', 'cosmetic']"></np-flags>
            </div>
            <div ng-switch-when="chapter">
              <h4>{{$ctrl.item.producerItemType}}</h4>
            </div>
            <div ng-switch-when="video">
              <h4>{{$ctrl.item.producerItemType}}</h4>
            </div>
            <div ng-switch-default>
              <h4>Default!</h4>
            </div>
          </div>
          <!--STYLE TAB END-->
        </div>

        <!--CUSTOMIZE TAB BEGIN-->
        <div itt-tab class="ittTab"
             ng-if="$ctrl.selectService.showTab($ctrl.item.producerItemType, 'Customize')"
             title="Customize">
          <div ng-switch on="$ctrl.item.producerItemType">
            <div ng-switch-when="link">
              <!--Typography	Color	Timestamp	Highlight	Transition-->
              <np-typography-select
                item-form="$ctrl.itemForm" on-update="$ctrl.deriveEvent(true)">
              </np-typography-select>
              <np-color-select
                item-form="$ctrl.itemForm" on-update="$ctrl.deriveEvent(true)">
              </np-color-select>
              <np-timestamp-select
                data="$ctrl.item"
                item-form="$ctrl.itemForm"
                on-update="$ctrl.deriveEvent(true)">
              </np-timestamp-select>
              <np-highlight-select
                data="$ctrl.item"
                item-form="$ctrl.itemForm"
                on-update="$ctrl.deriveEvent(true)">
              </np-highlight-select>
              <np-transition-select
                data="$ctrl.item"
                item-form="$ctrl.itemForm"
                on-update="$ctrl.deriveEvent(true)">
              </np-transition-select>
            </div>
            <div ng-switch-when="transcript">
              <!--Typography,	Color,	Timestamp,	Highlight,	Transition-->
              <itt-typography-select></itt-typography-select>
              <itt-color-select></itt-color-select>
              <itt-timestamp-select></itt-timestamp-select>
              <np-highlight-select
                data="$ctrl.item"
                item-form="$ctrl.itemForm"
                on-itemform-change="$ctrl.onItemFormUpdates()">
              </np-highlight-select>
              <itt-transition-select></itt-transition-select>
            </div>
            <div ng-switch-when="annotation">
              <!--Typography, Color, Timestamp, Highlight, Transition-->
              <itt-typography-select></itt-typography-select>
              <itt-color-select></itt-color-select>
              <itt-timestamp-select></itt-timestamp-select>
              <itt-highlight-select></itt-highlight-select>
              <itt-transition-select></itt-transition-select>
            </div>
            <div ng-switch-when="scene">
              <!--typography, color, timestamp, highlight, transition-->
              <itt-typography-select></itt-typography-select>
              <itt-color-select></itt-color-select>
              <itt-timestamp-select></itt-timestamp-select>
              <itt-highlight-select></itt-highlight-select>
              <itt-transition-select></itt-transition-select>
            </div>
            <div ng-switch-when="file">
              <!--Typography, Color, Timestamp, Highlight, Transition-->
              <itt-typography-select></itt-typography-select>
              <itt-color-select></itt-color-select>
              <itt-timestamp-select></itt-timestamp-select>
              <itt-highlight-select></itt-highlight-select>
              <itt-transition-select></itt-transition-select>
            </div>
            <div ng-switch-when="image">
              <!--Typography, Color, Timestamp, Highlight, Transition-->
              <itt-typography-select></itt-typography-select>
              <itt-color-select></itt-color-select>
              <itt-timestamp-select></itt-timestamp-select>
              <itt-highlight-select></itt-highlight-select>
              <itt-transition-select></itt-transition-select>
            </div>
            <div ng-switch-when="question">
              <!--Typography	Color	Timestamp	Highlight	Transition-->
              <itt-typography-select></itt-typography-select>
              <itt-color-select></itt-color-select>
              <itt-timestamp-select></itt-timestamp-select>
              <itt-highlight-select></itt-highlight-select>
              <itt-transition-select></itt-transition-select>
            </div>
            <div ng-switch-when="chapter">
              <h4>{{$ctrl.item.producerItemType}}</h4>
            </div>
            <div ng-switch-when="video">
              <h4>{{$ctrl.item.producerItemType}}</h4>
            </div>
            <div ng-switch-default>
              <h4>Default!</h4>
            </div>
          </div>
          <!--CUSTOMIZE TAB END-->
        </div>
      </div>
    </div>
    <div class="ittTabFoot">
      <a ng-click="$ctrl.cancelEdit()">Cancel</a> &nbsp; &nbsp;
      <button ng-if="
			$ctrl.item._id != 'internal:editing' &&
			!($ctrl.item._type == 'Scene' && $ctrl.item.start_time <= 0.01)
		" ng-click="$ctrl.deleteEvent($ctrl.item._id)">Delete
      </button>
      <button ng-click="$ctrl.saveEvent()" ng-disabled="$ctrl.blockDoubleClicks || ittItemForm.$invalid">Save</button>
    </div>
  </form>

</div>
