<style type="text/css">
	img {
		width: 150px;
		height: 150px;
	}
	.video-js {
		height: 350px;
	}
	.inactive-item {
		background-color: #D1FFF0;
	}
	.active-item {
		background-color: #ACFF83;
	}
	.previously-active-item {
		background-color: #809980;
	}
	.left-box {
		width: 48%;
		float: left;
		border: 5px solid black;
	}
	.right-box {
		width: 48%;
		float: right;
		border: 5px solid black;
	}
	.bottom-box {
		border: 5px solid black;
	}
	.clear {
		clear: both;
		height: 10px;
	}
</style>

<h1>{{episode.title}}</h1>

<div x-itt-video></div>

<div x-ng-repeat="scene in scenes" x-itt-scene="scene" x-ng-show="scene.isActive"></div>