<div>
	<div class="toolbar">
		<a class="button button-showscenenav" href="javascript: void 1;" x-ng-click="showNavigationPanel()">
			<span>Scenes</span>
		</a>
		<a class="button button-search" href="javascript: void 1;" x-ng-click="showSearchPanel()">
			<span>Search</span>
		</a>
		<div id="frameselections">
			<!-- TODO: trigger view changes on click -->
			<a x-ng-click="setSceneTemplate('video');"   class="button button-video"    x-ng-class="{cur: currentSceneTemplateIs('video')}"   href="javascript:void 1;"><span>Video view</span></a>
			<a x-ng-click="setSceneTemplate();"          class="button button-directed" x-ng-class="{cur: currentSceneTemplateIs()}"          href="javascript:void 1;"><span>Directed view</span></a>
			<a x-ng-click="setSceneTemplate('explore');" class="button button-explore"  x-ng-class="{cur: currentSceneTemplateIs('explore')}" href="javascript:void 1;"><span>Explore view</span></a>
		</div>
	</div>
	<div class="threedee">
		<div class="modal-backdrop" x-ng-click="hidePanels()" x-ng-show="show.navigationPanel || show.searchPanel"></div>
		<!-- NOTE deliberately using show instead of if here; rendering the panels on demand takes too long and sometimes glitches the animation -->
		<div x-ng-show="show.navigationPanel" class="sidePanel navigationPanel colorInvert">
			<div x-ng-controller="NavigationPanelController">
					<h2>{{episode.title}}</h2>
					<div class="scene" x-ng-repeat="scene in scenes" x-ng-class="{currentScene: scene.isActive}">
						<span class="displayTime">{{scene.displayTime}}</span> <a href="javascript:void 1" x-ng-click="gotoScene(scene)">{{scene.title}}</a><br>
						<p>{{scene.description}}</p>
					</div>
				</div>
		</div>
		<!-- NOTE deliberately using show instead of if here; rendering the panels on demand takes too long and sometimes glitches the animation -->
		<div x-ng-show="show.searchPanel" class="sidePanel searchPanel">
			<div x-ng-controller="SearchPanelController">
				<div class="filters">
					<dl>
						<dt>Search:</dt>
						<dd>
							<input id="searchtext" type="text" x-ng-model="searchText" />
						</dd>
			<!--
			TODO: bring this back when we implement categories (and use the episode's categories to build the list of options)
						<dt>Types:</dt>
						<dd>
							<label><input type="checkbox" id="searchalltypes" checked="checked"><span> All transmedia types</span></label>
							<div id="searchtypes" class="accordion">
								<label><input type="checkbox" name="searchcategory" id="searchtype-transcript" x-ng-model="searchTypes.annotation"><span> {{prettyTypeMap['annotation']}}</span></label>
								<label><input type="checkbox" name="searchcategory" id="searchtype-links" x-ng-model="searchTypes.link"><span> {{prettyTypeMap['link']}}</span></label>
								<label><input type="checkbox" name="searchcategory" id="searchtype-slides" x-ng-model="searchTypes.slide"><span> {{prettyTypeMap['slide']}}</span></label>
								<label><input type="checkbox" name="searchcategory" id="searchtype-in_depth" x-ng-model="searchTypes.indepth"><span> {{prettyTypeMap['indepth']}}</span></label>
								<label><input type="checkbox" name="searchcategory" id="searchtype-projects" x-ng-model="searchTypes.project"><span> {{prettyTypeMap['project']}}</span></label>
								<label><input type="checkbox" name="searchcategory" id="searchtype-discussions" x-ng-model="searchTypes.discussion"><span> {{prettyTypeMap['discussion']}}</span></label>
							</div>
						</dd>
			-->
						<dt>Sort by:</dt>
						<dd>
							<select id="searchsort" size="1" x-ng-model="sortBy">
								<option value="startTime">Time</option>
								<option value="type">Type</option>
							</select>
						</dd>
					</dl>
				</div>
				<div class="scrollContainer">
					<div class="searchResults">
					<!-- TODO:
						- Wire up all types checkbox
						- Check ordering in items by type
						- Hide type header when no child items are visible
					-->
						<!-- sorted by start time -->
						<div x-ng-if="sortBy == 'startTime'">
							<div x-ng-repeat="scene in scenes">
								<h3>{{scene.title}}</h3>
								<div class="item" x-ng-repeat="item in scene.items | orderBy:'startTime' | filter:searchText | type:searchTypes">
									<span class="displayTime"><a href="javascript:void 1" x-ng-click="gotoItem(item)">{{item.displayTime}}</a></span> <span class="type">({{prettyTypeMap[item.type]}})</span>
									<div class="description">{{item.description || item.annotation}}</div>
								</div>
							</div>
						</div>
				
						<!-- sorted by type -->
						<div x-ng-if="sortBy == 'type'">
							<div class="sortedbytype" x-ng-repeat="(type, items) in allItemsByType | orderBy:'type'" x-ng-if="searchTypes[type]">
								<h3>{{prettyTypeMap[type]}}</h3>
								<div class="item" x-ng-repeat="item in items | orderBy:'startTime' | type:searchTypes | filter:searchText">
									<span class="displayTime"><a href="javascript:void 1" x-ng-click="gotoItem(item)">{{item.displayTime}}</a></span> <span class="type">({{prettyTypeMap[item.type]}})</span>
									<div class="description">{{item.description || item.annotation}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
