<span>
	<div class="toolbar" x-ng-show="show.playerPanel">

		<div class="modegroup buttongroup">
			<a class="button button-video" x-ng-class="{cur: currentSceneTemplateIs('video')}" x-ng-click="setSceneTemplate('video');">
				<span>Watch</span>
			</a>
			<a class="button button-directed" x-ng-class="{cur: currentSceneTemplateIs()}" x-ng-click="setSceneTemplate();">
				<span>Discover</span>
			</a>
			<a class="button button-explore" x-ng-class="{cur: currentSceneTemplateIs('explore')}" x-ng-click="setSceneTemplate('explore');">
				<span>Explore</span>
			</a>
		</div>
		
		<div x-ng-if="isFramed" class="buttongroup" style="float:right;">
			<a class="button button-mainframeescape" href="/#/episode/{{episodeID}}/{{authKey}}" target="frameEscape" onclick="window.open('','frameEscape').focus();">
				<span>New window</span>
			</a>
		</div>

		<div class="searchgroup buttongroup" x-ng-class="{cur: show.searchPanel}" style="float:right; z-index:10">
			<a class="button button-search" href="javascript: void 1;" x-ng-click="toggleSearchPanel()">
				<span>Search</span>
			</a>
			<input id="searchtext" type="text" x-ng-model="searchText" />
		</div>
		

	</div>
	<div class="threedee">
		<div class="modal-backdrop" x-ng-click="hidePanels()" x-ng-show="show.navigationPanel"></div>
		<div class="modal-backdrop search-backdrop" x-ng-click="hidePanels()" x-ng-show="show.searchPanel"></div>
		<div x-ng-show="show.navigationPanel" class="sidePanel navigationPanel">
			<div x-ng-controller="NavigationPanelController">
				<h2>{{episode.title}}</h2>
				<div class="scene" x-ng-if="scene.title" x-ng-repeat="scene in scenes" x-ng-class="{currentScene: scene.isActive}" x-ng-click="gotoScene(scene)">
					<span class="displayTime">{{scene.displayTime}}</span>
					<p>
						<a href="javascript:void 1;">{{scene.title}}</a>
						<br>{{scene.description}}
					</p>
				</div>
			</div>
		</div>
		<div x-ng-show="show.searchPanel" class="sidePanel searchPanel">
			<div x-ng-if="show.searchPanelInternals" x-ng-controller="SearchPanelController">
				
				<div class="searchfilters">
				<label x-ng-show="sortBy!=='startTime'"><input type="radio" name="searchsort" id="searchsort" x-ng-model="sortBy" value="startTime"> Sorted by <span class="fakelink">type</span></label>
				<label x-ng-show="sortBy==='startTime'"><input type="radio" name="searchsort" id="searchsort" x-ng-model="sortBy" value="type"> Sorted by <span class="fakelink">time</span></label>
				</div>
				<div class="scrollContainer">
					<div class="searchResults">
						<!-- TODO:
					- Wire up all types checkbox
					- Check ordering in items by type
					- Hide type header when no child items are visible
				-->
						<!-- sorted by start time -->
						<div x-ng-if="sortBy == 'startTime'">
							<div x-ng-repeat="scene in scenes">
								<h3>{{scene.title}}</h3>
								<div class="item" x-ng-repeat="item in scene.items | orderBy:'startTime' | filter:{'searchableText': searchText, 'cosmetic': false} | type:searchTypes">
									<span class="displayTime"><a href="javascript:void 1" x-ng-click="gotoItem(item)">{{item.displayTime}}</a>
									</span>
									<span x-ng-if="item.type==='annotation'" class="type">{{item.authorName}}</span>
									<span x-ng-if="item.type!=='annotation'" class="type">({{prettyTypeMap[item.type]}})</span>
									<div class="description" ng-bind-html="item.trustedDisplayText | highlight: searchText"></div>
								</div>
							</div>
						</div>

						<!-- sorted by type -->
						<div x-ng-if="sortBy == 'type'">
							<div class="sortedbytype" x-ng-repeat="(type, items) in allItemsByType | orderBy:'type'" x-ng-if="searchTypes[type]">
								<h3>{{prettyTypeMap[type]}}</h3>
								<div class="item" x-ng-repeat="item in items | orderBy:'startTime' | type:searchTypes | filter:{'searchableText': searchText, 'cosmetic': false}">
									<span class="displayTime"><a href="javascript:void 1" x-ng-click="gotoItem(item)">{{item.displayTime}}</a>
									</span>
									<span x-ng-if="item.type==='annotation'" class="type">{{item.authorName}}</span>
									<span x-ng-if="item.type!=='annotation'" class="type">({{prettyTypeMap[item.type]}})</span>
									<div class="description" ng-bind-html="item.trustedDisplayText | highlight: searchText"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- TODO ARIA markup on all clickables -->
	<div class="injectedvideocontrols vjs-story-skin">
		<div x-ng-click="showSceneMenu()" class="video-scenemenu vjs-control">
			<a href="javascript: void 1;">
				<span class="vjs-control-text">Scene list</span>
			</a>
		</div>


		<div x-ng-if="curScene.$prevScene" class="video-prevscene vjs-control">
			<a x-ng-click="gotoTime(curScene.$prevScene.startTime)">
				<span class="vjs-control-text">Previous scene</span>
			</a>
		</div>
		<div x-ng-if="curScene.$nextScene" class="video-nextscene vjs-control">
			<a x-ng-click="gotoTime(curScene.$nextScene.startTime)">
				<span class="vjs-control-text">Next scene</span>
			</a>
		</div>
	</div>


	<div x-ng-show="show.introPanel" class="sceneintro">
		<div class="pane introtext">
		<h1>
			{{episode.title}}
		</h1>
		<p>
			{{episode.description}}
		</p>
		</div>
		<div class="cctest">
			<div class="pane videoContainer" x-itt-magnet>
				<div class="fillPane video">
					<img class="aspectratiopreserver" src="/images/aspectratiopreserver-16x9.gif" />
				</div>
			</div>
		</div>

	</div>


	<div id="footertrigger" x-ng-mouseenter="showVideoControls()"></div>

</span>
