<div class="episode professional unbranded" ng-class="episode.styleCss" ng-style="episode.platformSpecificCss">

	<span ng-include="'templates/episode/components/reviewmode.html'"></span>
	<span ng-include="'templates/episode/components/watchmode.html'"></span>
	<span ng-repeat="scene in episode.scenes | isCurrent"
		  ng-include="'templates/episode/components/discovermode.html'"></span>
	<span ng-include="'templates/episode/components/video.html'"></span>
	<span ng-include="'templates/episode/components/windowfg.html'"></span>

	<div ng-if="appState.viewMode != 'watch'" class="professional__branding branding footer">
		<div class="branding--content">
			<nys-copyright class="professional__copyright"></nys-copyright>

			<a class="professional__logo" href="//narrasys.com" target="_blank">
				<img src="/images/Narrasys_Banner_white.svg" alt="In The Telling logo">
			</a>
		</div>
	</div>
</div>
