<!-- 
	TODO:  item.styles is on both the ng-repeat and on the item. Harmless, but redundant.
	Need it on the ng-repeat for animations; check to see if we can remove it from the item
	(will definitely require edits to item.css, maybe elsewhere?)

-->

<div class="content" x-ng-class='{"noSidebars": noSidebars, "hasLeftSidebar": hasLeftSidebar, "hasRightSidebar": hasRightSidebar}'>
	<h2 x-ng-if="pane == 'main'" class="sceneTitle">{{scene.title}}</h2>
	<div x-ng-repeat="item in itemlist | itemList:showCurrent" class="item-animate" x-ng-class="item.styles" data-force-item-template="{{forceItemTemplate}}" x-itt-item="item">
	</div>
</div>
