<!-- consider breaking these into separate templates altogether, since they have different purposes -->

<span ng-if="forAdmin">
	<!-- used in narrative creation -->
	<li ng-if="!container.episodes.length" class="container" ng-class="{isOpen: wasClicked, isClosed: !wasClicked}" ng-click="toggle();loadChildren()" ng-bind-html="container.display_name"></li>
	<li ng-if="container.episodes.length">
		<span ng-if="container.episodes[0] == episodeId">
			<b ng-bind-html="containers[container._id].display_name"></b>
		</span>
		<span class="hoverIndicator" ng-if="container.episodes[0] != episodeId">
			<a ng-click="selectEpisode()" ng-bind-html="containers[container._id].display_name"></a> ({{container.status}})
		</span>
	</li>
	<ul class="crossEpisodeNav" ng-class="{isOpen: wasClicked, isClosed: !wasClicked}" ng-if="wasClicked">
		<li ng-repeat="child in container.children" itt-container-episodes="containers[child._id]" x-for-admin="true"></li>
	</ul>

</span>
<span ng-if="!forAdmin">
	<!-- used in inter-episode navigation -->
	<li ng-if="!container.episodes.length" ng-bind-html="container.display_name"></li>
	<li ng-if="container.episodes.length && container.status === 'Published'">
		<span ng-if="container.episodes[0] == episodeId">
			<b ng-bind-html="containers[container._id].display_name"></b>
		</span>
		<span ng-if="container.episodes[0] != episodeId">
			<a ng-href="/#/{{crossEpisodePath}}/{{container.episodes[0]}}" ng-bind-html="containers[container._id].display_name"></a>
		</span>
	</li>
	<ul class="crossEpisodeNav">
		<li ng-repeat="child in container.children" itt-container-episodes="containers[child._id]"></li>
	</ul>

</span>
