<!--
WARN: never use a container's children[] array directly. Instead always refer to containers[_id] which has derived, sorted, i18n'ed etc data
-->
<li class="container" ng-class="{isOpen: wasClicked, isClosed: !wasClicked}" ng-if="!container.episodes.length" ng-click="toggle();loadChildren()" ng-bind-html="container.display_name"></li>

<li class="container" ng-if="container.episodes.length">
	<span ng-if="container.episodes[0] == episodeId">
		<b ng-bind-html="containers[container._id].display_name"></b>
	</span>
	<span class="hoverIndicator" ng-if="container.episodes[0] != episodeId">

		<!-- inter-episode nav: -->
		<a ng-if="forNavigation" ng-href="/#/{{crossEpisodePath}}/{{container.episodes[0]}}" ng-bind-html="containers[container._id].display_name"></a>

		<!-- episode select: -->
		<a ng-if="!forNavigation" ng-click="selectEpisode()" ng-bind-html="containers[container._id].display_name"></a>
	</span>
</li>

<ul class="crossEpisodeNav" ng-class="{isOpen: wasClicked, isClosed: !wasClicked}" ng-if="wasClicked">
	<li ng-repeat="child in container.children" itt-container-episodes="containers[child._id]" x-forNavigation="forNavigation"></li>
</ul>
{{forNavigation}}
