<!-- recursive template for admin episode list -->
<div class="container" ng-class="{
		isOpen: container.showChildren,
		isClosed: !container.showChildren,
		hoverIndicator: depth == 3
	}" ng-if="container._id">





	<itt-modal modal-class="narrative__modal" ng-if="showNarrativeModal">
		<button ng-click="toggleNarrativeModal()">Cancel</button>
		<itt-narrative-editor
			customers="customers"
			container-id="container._id"
			customer-id="container.customer_id"
			on-done="toggleNarrativeModal()"
			on-update="postNewNarrative(data)">
		</itt-narrative-editor>

		<itt-route-loading is-loading="resolvingNarrative"></itt-route-loading>
	</itt-modal>


	<div class="hoverIndicator">
		<span ng-if="!container.editingContainer">
			<a ng-click="toggleChildren()">{{container.name.en}}</a>
			<span ng-if="depth==3" style="color:#999">({{container.status || Unpublished}})</span>
			<a style="color:#666" ng-click="container.editingContainer = true">▾</a>
		</span>
		<span ng-if="container.editingContainer">
			<label>Name:&nbsp;
				<input ng-model="container.newContainerName" ng-init="container.newContainerName = container.name.en" type="text" autofocus>&nbsp;
			</label>
			<button ng-click="container.editingContainer = false">Cancel</button>
			<button ng-disabled="!container.newContainerName || container.newContainerName == container.name.en" ng-click="renameContainer()">Save</button>
		</span>
		<span class="controls">
			<button class="danger" ng-if="appState.dangerousButtons && !container.children.length && !container.haveNotLoadedChildData" ng-click="deleteEpisodeAndContainer(container._id)">
				Delete
			</button>
			<a ng-href="#/assets/{{container._id}}">[Assets]</a>
			<a ng-if="depth > 0" ng-click="toggleNarrativeModal()">[Generate Narrative]</a>
		</span>
	</div>
	<div ng-if="container.showChildren">
		<div ng-if="depth < 3" ng-repeat="child in container.children | orderBy:'name.en'" itt-container="containers[child._id]" depth="depth+1"></div>
		<div ng-if="depth == 3" class="container">
			<!-- begin episode -->
			<a class="button" ng-click="container.showGuestUrl=!container.showGuestUrl">
				<span ng-if="customer.guest_access_allowed">Guest</span>
				<span ng-if="!customer.guest_access_allowed">ID</span>
			</a>
			<a class="button" href="#/episode/{{container.episodes[0]}}">Player</a>
			<a class="button" ng-if="isDemoServer" href="#/editor/{{container.episodes[0]}}">Editor</a>
			<a class="button" href="#/producer/{{container.episodes[0]}}">Producer</a>
			<div ng-if="container.showGuestUrl && customer.guest_access_allowed">
				<!-- not editable; only an input to make text selection easier -->
				The guest-accessible url for this episode is
				<input class="readonly" ng-click="selectText($event)" value="https://{{customer.domains[0]}}.inthetelling.com/#/episode/{{container.episodes[0]}}" readonly>
			</div>
			<div ng-if="container.showGuestUrl && !customer.guest_access_allowed">
				The ID for this episode is {{container.episodes[0]}}
			</div>

			<!-- end episode -->
		</div>

		<div ng-if="!container.addingContainer" class="controls">
			<button ng-if="depth < 3" ng-click="container.addingContainer = true">Add {{containerTypes[depth+1]}} to {{container.name.en}}</button>
		</div>
		<div ng-if="container.addingContainer" class="controls">
			<label>Name:&nbsp;
				<input ng-model="container.newContainerTitle" type="text" autofocus>&nbsp;
			</label>
			<button ng-click="container.addingContainer = false">Cancel</button>
			<button ng-disabled="!container.newContainerTitle" ng-click="addContainer(container)">Add</button>
		</div>

	</div>

</div>
