<div class="{{episode.styles}}" x-ng-class="{isFramed: isFramed, isIPhone: isIPhone}">
	<div x-itt-video x-itt-magnetized class="vjs-wrapper">
	</div>
	<div x-itt-toolbar>
	</div>
	<div class="episode episode{{episode.layout}}">
		<div x-ng-repeat="scene in scenes" x-itt-scene="scene"></div>
		<div class="clear"></div>
	</div>
</div>
<div class="branding">
	<a class="itt logo" href="http://inthetelling.com">
		<img src="images/itt.svg" alt="In The Telling logo">
	</a>
		<span class="copyright">TELLING STORY player &#169; {{now | date:'yyyy'}} <a href="http://inthetelling.com">IN THE TELLING</a>. All rights reserved</span>
</div>
