<div class="{{episode.styles}} episode-eliterate" x-ng-class="{isFramed: isFramed, isMobile: (isIPad || isIPhone)}">
	<div x-itt-video x-itt-magnetized class="vjs-wrapper">
	</div>
	<div x-itt-toolbar>
	</div>
	<div class="eliterate-logo"><img src="images/eliterate-logo.svg"></div>
	<div class="episode episode{{episode.layout}}">
		<div x-ng-repeat="scene in scenes" x-itt-scene="scene"></div>
		<div class="clear"></div>
	</div>
	<div class="branding">
		<a href="http://www.mindwires.com"><img src="images/mindwires.svg" style="height: 4em; left: 3em; padding-bottom: 1em;" alt="Mindwires logo"></a>
		<a href="http://inthetelling.com"><img src="images/itt.svg" style="height: 6em; right: 3em;" alt="In The Telling logo"></a>
	</div>
</div>
