<div class="{{episode.styles}} episode-eliterate" x-ng-class="{isFramed: isFramed, isMobile: (isIPad || isIPhone)}">
	<div x-itt-video x-itt-magnetized class="vjs-wrapper">
	</div>
	<div x-itt-toolbar>
	</div>
	<div class="episode episode{{episode.layout}}">
		<div x-ng-repeat="scene in scenes" x-itt-scene="scene"></div>
		<div class="clear"></div>
	</div>
	<div class="branding">
		<img src="images/itt.svg" style="height: 6em; left: 3em;">
		<img src="images/mindwires.svg" style="height: 4em; right: 3em;">
	</div>
</div>
