<div class="{{episode.styles}}" x-ng-class="{isFramed: isFramed, isIPhone: isIPhone}">
	<div x-itt-video x-itt-magnetized class="vjs-wrapper">
	</div>
	<div x-itt-toolbar>
	</div>
	<div class="banner-logo">
		<img src="images/tellingstory-logo.svg">
	</div>
	<div class="episode episode{{episode.layout}}">
		<div x-ng-repeat="scene in scenes" x-itt-scene="scene"></div>
		<div class="clear"></div>
	</div>
</div>
<div class="branding">
	<a class="itt" href="http://inthetelling.com">
		<img src="images/itt.svg" alt="In The Telling logo">
	</a>
</div>
