<div x-itt-video x-itt-magnetized class="vjs-wrapper"></div>
<div id="search" class="sidepanel">
	<!-- TODO search pane here -->
</div>
<div id="scenenav" class="sidepanel">
	<!-- TODO sidebar nav pane here -->
</div>
<div class="toolbar">
	<a class="button button-showscenenav" href="javascript: void 1;">
		<span>Scenes</span>
	</a>
	<a class="button button-search" href="javascript: void 1;">
		<span>Search</span>
	</a>
	<div id="frameselections">
		<!-- TODO: trigger view changes on click -->
		<a ng-click="setSceneTemplate('video');"   class="button button-video"    ng-class="{cur: currentSceneTemplateIs('video')}"   href="javascript:void 1;"><span>Video view</span></a>
		<a ng-click="setSceneTemplate();"          class="button button-directed" ng-class="{cur: currentSceneTemplateIs()}"          href="javascript:void 1;"><span>Directed view</span></a>
		<a ng-click="setSceneTemplate('explore');" class="button button-explore"  ng-class="{cur: currentSceneTemplateIs('explore')}" href="javascript:void 1;"><span>Explore view</span></a>
	</div>
</div>
<div class="episode">
	<!-- TODO <div class="scene sceneintro"></div> -->
	<div x-ng-repeat="scene in scenes" x-itt-scene="scene" x-ng-show="scene.isActive"></div>
	<!-- TODO <div class="scene sceneoutro"></div> -->
</div>

<div id="footertrigger"><!-- TODO tap/hover event to force video nav to show --></div>
