<div ng-if="errors.length" class="errors">
	<div class="error" ng-repeat="error in errors" ng-click="dismiss(error)">
		<h3>Error: {{error.cause || error.exception.data || '(unknown reason)'}}</h3>
		<p ng-if="error.exception.config.url"><i>(Trying to load {{error.exception.config.url}})</i></p>
		<!-- <pre ng-bind="error | pretty"></pre> -->
		<p ng-if="error.exception.status == 401">
			Please 
			<span ng-if="user.login_url"><a ng-href="{{user.login_url}}" target="_top">click here</a> to log back in, or</span>
			<a ng-click="resetAuth()">reset your session</a> and start over.
		</p>

	</div>
</div>
