<div x-ng-controller="FileUploadController" x-ng-class="{isIDevice: item.isIDevice}">


	<div class="demo-modal-upload">

		<h3 ng-if="curScene.title">Introduce {{curScene.title}}</h3>
		<h3 ng-if="!curScene.title">Introduce this scene</h3>

		<p>Upload a video and some introductory text for your students here. This will be included in the episode at the beginning of the scene.</p>

		<p>TODO add stubs for linking to existing video, recording direct from webcam</p>
		<p>TODO allow choosing whether the itnro will be a stop-media item or inline</p>

		<label>
			<span>File:</span>
			<input type="file" file-upload>
		</label>

		<label>
			<span>Title:</span>
			<input type="text" ng-model="titleToUpload">
		</label>

		<label>
			<span>Description:</span>
			<textarea name="text" ng-model="textToUpload">
				This is where we enter text
			</textarea>
		</label>

		<label><button ng-click="handleUpload()" style="float:right">Save</button></label>
	</div>

<br><br><br>
	<button ng-click="resetDemo()" style="background-color:#C00; color:#FFF">Reset: delete all instructor uploads</button>

	<!--

	<button ng-click="hideModal()">Hide modal</button>
	<button ng-click="floatMessage('this is a message')">Floater 1</button>
	<button ng-click="floatMessage('this is a second message')">Floater 2</button>
	<button ng-click="floatMessage('this is the thihrd')">Floater 3</button>
-->

</div>
