<div x-ng-controller="FileUploadController" x-ng-class="{isIDevice: item.isIDevice}">


	<div class="demo-modal-upload">

		<h3 ng-if="curScene.title">Introduce "{{curScene.title}}"</h3>
		<h3 ng-if="!curScene.title">Introduce this scene</h3>

		<p>You can add a video and some introductory text for your students here. This will be included in the episode at the beginning of the scene
			<span ng-if="curScene.displayTime">(at {{curScene.displayTime}} in the main video.)</span>
		</p>

		<div class="menu" ng-show="!doUpload && !doLink && !doRecord">
			<button ng-click="doUpload=true">Upload a video file</button>
			<button ng-click="doLink=true">Link to a video</button>
			<button ng-click="doRecord=true">Record from your webcam</button>
		</div>
		<div ng-show="doUpload">
			<div class="item">
				<span class="label">File:</span>
				<span class="field">
					<input type="file" file-upload>
				</span>
			</div>

			<div class="item">
				<span class="label">Title:</span>
				<span class="field">
					<input type="text" ng-model="titleToUpload">
				</span>
			</div>

			<div class="item">
				<span class="label">Description:</span>
				<span class="field">
					<textarea name="text" style="min-height: 6em;" ng-model="textToUpload"></textarea>
				</span>
				<div class="clear"></div>
			</div>

			<div class="item">
				<span class="label">Display:</span>
				<span class="field">
					<label>
						<input type="radio" name="displayAs" ng-model="displayAs" value="fullscreen">Required
						<div class="details">This introduction is required viewing for your students. It will pause the main video and appear fullscreen.</div>

					</label>
					<label>
						<input type="radio" name="displayAs" ng-model="displayAs" value="inline">Optional
						<div class="details">This introduction is optional for your students. It will appear as a link within the scene.</div>
					</label>
				</span>
			</div>
			<div style="margin-top: 1em; clear:both;">
				<button ng-click="doUpload = false" style="float:left">Cancel</button>
				<button ng-click="handleUpload()" style="float:right">Save</button>
			</div>
		</div>

		<div ng-show="doLink">
			<div class="item">
				<span class="label">YouTube URL:</span>
				<span class="field">
					<input type="text" ng-model="youtubeLinkToUpload">
				</span>
			</div>

			<div class="item">
				<span class="label">Title:</span>
				<span class="field">
					<input type="text" ng-model="titleToUpload">
				</span>
			</div>

			<div class="item">
				<span class="label">Description:</span>
				<span class="field">
					<textarea name="text" style="min-height: 6em;" ng-model="textToUpload"></textarea>
				</span>
				<div class="clear"></div>
			</div>

			<div class="item">
				<span class="label">Display:</span>
				<span class="field">
					<label>
						<input type="radio" name="linkdisplayAs" ng-model="displayAs" value="fullscreen">Required
						<div class="details">This introduction is required viewing for your students. It will pause the main video and appear fullscreen.</div>

					</label>
					<label>
						<input type="radio" name="linkdisplayAs" ng-model="displayAs" value="inline">Optional
						<div class="details">This introduction is optional for your students. It will appear as a link within the scene.</div>
					</label>
				</span>
			</div>
			<div style="margin-top: 1em; clear:both;">
				<button ng-click="doLink = false" style="float:left">Cancel</button>

				<button ng-click="handleLink()" style="float:right">Save</button>

			</div>
		</div>
		<div ng-show="doRecord">
			<p>TODO: this will allow users to record videos directly from their webcam.</p>
			<label>
				<button ng-click="doRecord = false" style="float:left">Cancel</button>
			</label>
		</div>
	</div>

	<div class="clear"></div>
	<br>
	<br>
	<button ng-click="resetDemo()" style="position:absolute; bottom: 1em; left: 1em;background-color:#C00; color:#FFF">Reset: delete all instructor uploads</button>

	<!--
	<button ng-click="floatMessage('this is a message')">Floater 1</button>
	<button ng-click="floatMessage('this is a long message which will have a progress bar. This is along message that will have a progress bar.','progress')">Floater 2</button>
	<button ng-click="floatMessage('THis one tells you to reload the page','reload')">Floater 3</button>

-->

</div>
