<div class="">

	<!--<h2>Narratives</h2>-->
	<!--<div class="ancillaryNav">-->
		<!--<a class="button" href="/#/projects">Projects</a>-->
		<!--<a class="button" ng-if="narrativeList.user._id" href="/#/account">Account</a>-->
		<!--<a class="button" ng-if="narrativeList.user._id" ng-click="narrativeList.logout()">Log out</a>-->
	<!--</div>-->



	<div ng-if="narrativeList.canAccess">
		<button ng-click="narrativeList.toggleSelectNarrative()">Add Narrative</button>

		<itt-modal modal-class="narrative__modal" ng-if="narrativeList.narrativeSelect">
			<h3>Add Narrative</h3>

			<itt-narrative-editor
				customers="narrativeList.customers"
				on-done="narrativeList.toggleSelectNarrative()"
				on-update="narrativeList.addNarrative(n)">
			</itt-narrative-editor>

		</itt-modal>

	</div>

		<div ng-repeat="narrative in narrativeList.narratives" class="hoverIndicator" ng-class-even="'container__row--even'" ng-class-odd="'container__row--odd'">
			<div>
				<h3 class="narratives__name"><a href="/#/story/{{narrative._id}}">{{narrative.name.en}}</a></h3>
				<p class="narratives__description" ng-if="narrative.description.en">{{narrative.description.en}}</p>
			</div>

		</div>
		<!--<span ng-if="showAddNarrative">-->
			<!--<hr>-->
			<!--<a href="/#/story/?admin">Create new narrative</a>-->
		<!--</span>-->


</div>
