<div class="">

  <itt-modal modal-class="narrative__modal" ng-if="$ctrl.narrativeSelect">
    <h3>Add Narrative</h3>

    <itt-narrative-editor
      customers="$ctrl.selectedCustomer"
      hide-customer-dropdown="true"
      on-done="$ctrl.setSelectedNarrative()"
      on-update="$ctrl.addNarrative(n)">
    </itt-narrative-editor>

  </itt-modal>

  <div ng-repeat="customer in $ctrl.customersData"
       ng-click="$ctrl.customerRowClick(customer, $event)"
       ng-class="{'container__row--even': customer.evenOdd === false, 'container__row--odd': customer.evenOdd === true}">

    <!--drop down arrow-->
    <span ng-click="$ctrl.toggleRow(customer, $event)" ng-class="{ 'isOpen': customer.showNarratives, 'isClosed': !customer.showNarratives }">
    </span>

    <p>{{customer.name}}</p>

    <div ng-if="customer.isActive === true">
      <div ng-if="$ctrl.canAccess" style="padding-left: 2em;">
        <button ng-click="$ctrl.setSelectedNarrative(customer)">Add Narrative</button>
      </div>
    </div>

    <div ng-repeat="narrative in customer.narratives"
         style="padding-left: 1em;"
         ng-if="customer.showNarratives === true"
         ng-click="$ctrl.gotoNarrative(narrative._id, $event)"
         ng-class="{'hoverIndicator': customer.showNarratives, 'container__row--even': narrative.evenOdd === false, 'container__row--odd': narrative.evenOdd === true}">
      <div>
        <p>{{narrative.name.en}}</p>
        <small>
          <p ng-if="narrative.description">{{narrative.description.en}}</p>
        </small>
      </div>
    </div>

  </div>
</div>
