<div class="">

  <itt-modal modal-class="narrative__modal" ng-if="$ctrl.narrativeSelect">
    <h3>Add Narrative</h3>

    <itt-narrative-editor
      customers="$ctrl.selectedCustomer"
      on-done="$ctrl.toggleSelectNarrative()"
      on-update="$ctrl.addNarrative(n)">
    </itt-narrative-editor>

  </itt-modal>

  <div ng-repeat="customer in $ctrl.customersData"
       ng-click="$ctrl.customerRowClick(customer)"
       ng-class="{'container__row--even': customer.evenOdd === false, 'container__row--odd': customer.evenOdd === true}">

    <!--drop down arrow-->
    <span ng-click="$ctrl.fetchNarratives(customer, $event, $index)" ng-class="{ 'isOpen': customer.showNarratives, 'isClosed': !customer.showNarratives }">
    </span>

    <p>{{customer.name}}</p>
    <div ng-if="customer.isActive === true">
      <div ng-if="$ctrl.canAccess">
        <button ng-click="$ctrl.toggleSelectNarrative(customer)">Add Narrative</button>

      </div>
    </div>


    <div ng-repeat="narrative in customer.narratives"
         style="text-indent: 1em"
         ng-if="customer.showNarratives === true"
         ng-class="{'hoverIndicator': customer.showNarratives, 'container__row--even': narrative.evenOdd === false, 'container__row--odd': narrative.evenOdd === true}">
      <div>
        <p><a ng-click="$ctrl.gotoNarrative(narrative._id, $event)">{{narrative.name.en}}</a></p>
        <small>
          <p ng-if="narrative.description">{{narrative.description.en}}</p>
        </small>
      </div>
    </div>

  </div>
</div>
