<div class="player" ng-class="{
	isTouchDevice: appState.isTouchDevice,
	isFramed: appState.isFramed,
	isProducer: (appState.product == 'producer'),
	isSxS: (appState.product == 'sxs'),
	canEditContent: (!appState.editEvent && !appState.editEpisode) && (appState.product == 'producer' || appState.product == 'sxs')
	}">
	<!-- TODO: make sure user has admin role for canEditContent -->
	<div class="toolbar">
		<div ng-if="appState.productLoadedAs == 'narrative'" class="buttongroup">
			<a class="button button-exitEpisode" href="/#/story/{{narrative.path.en}}">
				<span>Exit</span>
			</a>
		</div>
		<div class="modegroup buttongroup">
			<nav role="navigation">
				<button tabindex="0" class="button button-watch" ng-class="{cur: appState.viewMode == 'watch'}" ng-click="viewMode('watch')" aria-label="Watch">
					<span>Watch</span>
				</button>


				<span ng-switch="appState.product != 'producer' || appState.viewMode != 'discover' || appState.time == 0">
					<button ng-switch-when="true" tabindex="0" class="button button-discover" ng-class="{cur: appState.viewMode == 'discover'}" ng-click="viewMode('discover')" aria-label="Discover">
						<span>Discover</span>
					</button>
					<span ng-switch-when="false" class="producerEditLayers" ng-class="{
				bg: appState.producerEditLayer < 0,
				fg: appState.producerEditLayer > 0
			}">
						<!-- HACK for now. This needs better 508 -->
						<a ng-click="changeProducerEditLayer(-1)" class="button">&nbsp;&nbsp;
							<span>Discover</span>
						</a>
						<a ng-click="changeProducerEditLayer(+1)" class="button">&nbsp;&nbsp;
							<span>Discover</span>
						</a>
					</span>
					<button tabindex="0" class="button button-review" ng-class="{cur: appState.viewMode == 'review'}" ng-click="viewMode('review')" aria-label="Review">
						<span>Review</span>
					</button>
				</span>
			</nav>
		</div>
		<div ng-if="appState.isFramed" class="escapegroup buttongroup">
			<!-- this needs to be an <a> or it trips popup blockers -->
			<a class="button button-mainframeescape" ng-click="pause()" ng-href="{{apiDataBaseUrl}}/v1/new_window/{{appState.episodeId}}?access_token={{appState.user.access_token}}&t={{appState.time}}" target="_new">
				<span>New window</span>
			</a>
		</div>
		<div class="searchgroup buttongroup" ng-class="{cur: show.searchPanel}">
			<button tabindex="2" class="button button-search" ng-click="toggleSearchPanel()" aria-label="Search" aria-expanded="{{show.searchPanel}}">
				<span>Search</span>
			</button>
			<label for="searchtext" class="hidden">Search Text</label>
			<input tabindex="2" name="searchtext" id="searchtext" type="text" ng-show="show.searchPanel" ng-model="searchText" />
		</div>
		<div class="profilegroup buttongroup" ng-if="appState.narrativeId || appState.product == 'sxs' || userHasRole('admin')">
			<a class="button button-preview" ng-if="appState.productLoadedAs=='producer' && userHasRole('admin')" ng-click="toggleProducerPreview()">
				<span ng-if="appState.product == 'producer'">Preview</span>
				<span ng-if="appState.product == 'player'">Edit</span>
			</a>

			<a class="button button-profile" ng-click="appState.show.profilePanel = true">
				<span>Profile</span>
			</a>
		</div>
	</div>
	<div ng-if="loading" ng-include="'templates/loading.html'"></div>
	<div itt-episode ng-class="{
		padForEditing: appState.editEvent || appState.editEpisode,
		showBackgroundOnly: appState.producerEditLayer < 0,
		showForegroundOnly: appState.producerEditLayer > 0,
	}"></div>

	<div class="toolbar-bottom" itt-show-hide-visual-only="appState.videoControlsActive" ng-mouseenter="showControls();" ng-click="showControls();" ng-mouseleave="allowControlsExit()">
		<div class="toolbar-bottom-fill">
			<div ng-show="show.navPanel" class="navPanel" ng-class="episode.styleCss">

				<div class="parent" ng-repeat="parent in episode.parents" ng-bind-html="parent.display_name"></div>
				<!-- <h2 ng-bind-html="episode.display_title"></h2> -->
				<div class="scene" x-ng-if="scene.display_title" x-ng-repeat="scene in episode.scenes" x-ng-class="{currentScene: scene.isCurrent}" x-ng-click="seek(scene.start_time)">
					<span class="displayTime">{{scene.displayStartTime}}</span>
					<p>
						<button class="fakeLink" tabindex="0" ng-bind-html="scene.display_title" x-ng-class="{sceneLink: !scene.isCurrent}" ng-focus="showControls()"></button>
						<br>
						<span ng-bind-html="scene.display_description"></span>
					</p>
				</div>
				<div class="crossEpisode">
					<a class="prevEpisode" ng-if="episode.previousEpisodeContainer" ng-href="/#/{{appState.crossEpisodePath}}/{{episode.previousEpisodeContainer.episodes[0]}}" title="{{episode.previousEpisodeContainer.display_name}}">Previous episode</a>
					<a class="nextEpisode" ng-if="episode.nextEpisodeContainer" ng-href="/#/{{appState.crossEpisodePath}}/{{episode.nextEpisodeContainer.episodes[0]}}" title="{{episode.nextEpisodeContainer.display_name}}">Next Episode</a>
				</div>


			</div>

			<div ng-show="appState.editEvent || appState.editEpisode" class="navPanel editPanel">
				<div ng-if="appState.editEvent" itt-item-editor="appState.editEvent"></div>
				<div ng-if="appState.editEpisode" itt-episode-editor="appState.editEpisode"></div>
			</div>

			<div itt-timeline></div>
		</div>
	</div>
	<div class="toolbar-bottom-controltrigger" ng-mouseenter="showControls();" ng-click="showControls();" ng-focus="showControls()"></div>
</div>

<div class="animate transitionFade" ng-if="appState.videoControlsActive && (appState.product == 'sxs' || appState.product == 'producer')" ng-mouseenter="showControls();" ng-click="showControls();" ng-focus="showControls()" sxs-add-content></div>


<div class="autoscroll" ng-if="appState.autoscroll && appState.autoscrollBlocked" ng-click="enableAutoscroll()">
	<img src="/images/autoscroll.svg" width="32" height="32">
</div>

<div ng-show="show.navPanel || show.searchPanel || show.helpPanel || show.profilePanel" class="modal-backdrop" ng-click="hidePanels()"></div>

<!-- ITEM DETAIL -->
<div ng-show="appState.itemDetail" class="modal-backdrop" ng-click="appState.itemDetail=false"></div>
<div ng-if="appState.itemDetail" itt-item-detail-modal="appState.itemDetail"></div>

<!-- SEARCH -->
<div ng-show="show.searchPanel" class="searchPanel">
	<div ng-if="show.searchPanel" itt-search-panel>This will be the search panel</div>
</div>

<!-- HELP -->
<div ng-if="show.helpPanel" class="helpPanel">
	<div class="arrow-up"></div>
	<p>Welcome to TELLING STORY! You can switch at any time between these views &#8212; don't worry, you won't lose your place:</p>
	<ul>
		<li class="video">
			<h3>Watch</h3>
			<p>Just the video, no frills.</p>
		</li>
		<li class="directed">
			<h3>Discover</h3>
			<p>The guided, synchronized view of the video and related content.</p>
		</li>
		<li class="explore">
			<h3>Review</h3>
			<p>Read the full transcript and all the related transmedia in one convenient list.</p>
		</li>
	</ul>
	<a class="goAway" x-ng-click="noMoreHelp()" href="javascript:void 1;">Don't show this again</a>
</div>


<div ng-if="show.profilePanel" class="profilePanel">
	<div class="arrow-up"></div>
	<div itt-user x-in-player="true"></div>
</div>
