<div class="player" ng-class="{
	isFramed: appState.isFramed,
	guestUser: appState.user.isGuestUser,
	isProducer: (appState.product == 'producer'),
	isSxS: (appState.product == 'sxs'),
	canEditContent: (!appState.editEvent && !appState.editEpisode) && (appState.product == 'producer' || appState.product == 'sxs')
	}">
	<!-- TODO: make sure user has admin role for canEditContent -->
	<div class="toolbar">
		<div class="modegroup buttongroup">
			<a class="button button-watch" ng-class="{cur: appState.viewMode == 'watch'}" ng-click="viewMode('watch')">
				<span>Watch</span>
			</a>
			<a class="button button-discover" ng-class="{cur: appState.viewMode == 'discover'}" ng-click="viewMode('discover')">
				<span>Discover</span>
			</a>
			<a class="button button-review" ng-class="{cur: appState.viewMode == 'review'}" ng-click="viewMode('review')">
				<span>Review</span>
			</a>
		</div>
		<div ng-if="appState.isFramed" class="escapegroup buttongroup">
			<a class="button button-mainframeescape" ng-click="pause()" ng-href="/v1/new_window/{{appState.episodeId}}?t={{appState.time}}" target="_new">
				<span>New window</span>
			</a>
		</div>
		<div class="searchgroup buttongroup" ng-class="{cur: show.searchPanel}">
			<a class="button button-search" ng-click="toggleSearchPanel()">
				<span>Search</span>
			</a>
			<input id="searchtext" type="text" ng-model="searchText" />
		</div>
		<div class="profilegroup buttongroup" ng-if="appState.product == 'sxs'">
			<a class="button button-profile" ng-click="appState.show.profilePanel = true">
				<span>Profile</span>
			</a>
		</div>
	</div>
	<div ng-if="loading" ng-include="'templates/loading.html'"></div>
	<div itt-episode ng-class="{padForEditing: appState.editEvent || appState.editEpisode}"></div>


	<div class="toolbar-bottom" ng-mouseenter="showControls();" ng-click="showControls();" ng-mouseleave="allowControlsExit()" ng-show="appState.videoControlsActive">
		<div class="toolbar-bottom-fill">
			<div ng-show="show.navPanel" class="navPanel" ng-class="episode.styleCss">
				<div class="parent" ng-repeat="parent in episode.parents" ng-bind-html="parent.display_name"></div>
				<h2 ng-bind-html="episode.display_title"></h2>
				<div class="scene" x-ng-if="scene.display_title" x-ng-repeat="scene in episode.scenes" x-ng-class="{currentScene: scene.isCurrent}" x-ng-click="seek(scene.start_time)">
					<span class="displayTime">{{scene.displayStartTime}}</span>
					<p>
						<a ng-bind-html="scene.display_title"></a>
						<br>
						<span ng-bind-html="scene.display_description"></span>
					</p>
				</div>
				<div class="crossEpisode">
					<a class="prevEpisode" ng-if="episode.previousEpisodeContainer" ng-href="/#/{{crossEpisodePath}}/{{episode.previousEpisodeContainer.episodes[0]}}" title="{{episode.previousEpisodeContainer.display_name}}">Previous episode</a>
					<a class="nextEpisode" ng-if="episode.nextEpisodeContainer" ng-href="/#/{{crossEpisodePath}}/{{episode.nextEpisodeContainer.episodes[0]}}" title="{{episode.nextEpisodeContainer.display_name}}">Next Episode</a>
				</div>


			</div>

			<div ng-show="appState.editEvent || appState.editEpisode" class="navPanel" ng-class="episode.styleCss">
				<div ng-if="appState.editEvent" itt-item-editor="appState.editEvent"></div>
				<div ng-if="appState.editEpisode" itt-episode-editor="appState.editEpisode"></div>
			</div>

			<div itt-timeline></div>
		</div>
	</div>
	<div class="toolbar-bottom-controltrigger" ng-mouseenter="showControls();" ng-click="showControls();"></div>
</div>

<div ng-if="appState.product == 'sxs' || appState.product == 'producer'" sxs-add-content></div>


<div ng-controller="ErrorController" ng-include="'templates/error.html'"></div>

<div class="autoscroll" ng-if="appState.autoscroll && appState.autoscrollBlocked" ng-click="enableAutoscroll()">
	<img src="/images/autoscroll.svg" width="32" height="32">
</div>

<div ng-show="show.navPanel || show.searchPanel || show.helpPanel || show.profilePanel" class="modal-backdrop" ng-click="hidePanels()"></div>

<!-- ITEM DETAIL -->
<div ng-show="appState.itemDetail" class="modal-backdrop" ng-click="appState.itemDetail=false"></div>
<div ng-if="appState.itemDetail" itt-item-detail-modal="appState.itemDetail"></div>

<!-- SEARCH -->
<div ng-show="show.searchPanel" class="searchPanel">
	<div ng-if="show.searchPanel" itt-search-panel>This will be the search panel</div>
</div>

<!-- HELP -->
<div ng-if="show.helpPanel" class="helpPanel">
	<div class="arrow-up"></div>
	<p>Welcome to TELLING STORY! You can switch at any time between these views &#8212; don't worry, you won't lose your place:</p>
	<ul>
		<li class="video">
			<h3>Watch</h3>
			<p>Just the video, no frills.</p>
		</li>
		<li class="directed">
			<h3>Discover</h3>
			<p>The guided, synchronized view of the video and related content.</p>
		</li>
		<li class="explore">
			<h3>Review</h3>
			<p>Read the full transcript and all the related transmedia in one convenient list.</p>
		</li>
	</ul>
	<a class="goAway" x-ng-click="noMoreHelp()" href="javascript:void 1;">Don't show this again</a>
</div>

<!-- PROFILE (mostly faked for now) -->
<div ng-if="show.profilePanel" class="profilePanel">
	<div class="arrow-up"></div>
	<div ng-if="userHasRole('admin')">

		<img src="/images/customer/tmp-userprofile.png" style="float:left; border: 5px solid #FFF">

		<div class="authoringForm">
			<div class="field">
				<div class="label">Name
				</div>
				<div class="input">
					<input type="text" value="Professor Smith">
				</div>
			</div>

			<div class="field">
				<div class="label">Email
				</div>
				<div class="input">
					<input type="text" value="example@this-is-todo.com">
				</div>
			</div>
			<br>
			<br>
			<div class="field">
				<div style="text-align:right;">
					<a ng-click="logout()">Log out</a>
				</div>
			</div>
		</div>

		<div ng-if="!(userHasRole('admin'))">

			<a ng-href="/pages/launch_oauth2?episode={{appState.episodeId}}" target="_new">Log in</a>

		</div>
	</div>
</div>


<!-- 
<a href="javascript:void 1;" ng-click="showDebug=!showDebug">DEBUG:</a>
<pre ng-if="showDebug === true">{{appState | pretty }}</pre>
<pre ng-if="showDebug === true">{{episode | pretty}}</pre>
 -->
