<div class="rootLogin standaloneAncillaryPage" itt-login>
	<np-nav on-logout="logout()"></np-nav>
	<div class="inner">
		<div ng-if="appState.user._id">
			<div itt-user></div>
		</div>

		<div ng-if="!appState.user._id">

			<form ng-submit="adminLogin()">
				<h1>Sign in to Narrative Producer</h1>
				<label>
					<span>Username</span>
					<input type="email" name="auth_key" ng-model="loginForm.auth_key">
				</label>

				<label>
					<span>Password</span>
					<input type="password" name="password" ng-model="loginForm.password">
				</label>

				<input class="submit button" type="submit" value="Sign in">
				<span class="error" ng-if="badlogin">Sorry, try again?</span>
			</form>

		</div>

		<br style="clear:both">
	</div>
	<small ng-if="!appState.user._id"><a href="{{apiDataBaseUrl}}/oauth2">OAuth</a></small>

</div>
