<div class="rootLogin standaloneAncillaryPage" itt-login>
	<div class="inner" style="height: 100%">
		<div ng-if="appState.user.roles">
			You're currently logged in as
			<span ng-if="!userHasRole('guest')">{{appState.user.name}}, </span>
			{{appState.user.role_description}}
			<br>
			<a ng-if="!userHasRole('guest')" href="/#/user">User homepage</a>
			<br>
			<a ng-if="userHasRole('admin')" href="/#/episodes">Find episodes</a>
			<br>
			<a ng-if="userHasRole('admin')" href="/#/stories">Find narratives</a>
			<br>
			<a ng-click="logout()">Log out</a>
		</div>

		<div ng-if="!appState.user.roles">
			<form ng-submit="adminLogin()">
				<h1>Administrators</h1>
				<label>
					<span>Username</span>
					<input type="text" name="auth_key" ng-model="loginForm.auth_key">
				</label>

				<label>
					<span>Password</span>
					<input type="password" name="password" ng-model="loginForm.password">
				</label>

				<input class="submit" type="submit" value="Log in">
				<span class="error" ng-if="badlogin">Sorry, try again?</span>
			</form>

			<p>
				Or login <a href="{{apiDataBaseUrl}}/oauth2">via OAuth</a>
			</p>
		</div>


	</div>
</div>
