<div class="rootLogin standaloneAncillaryPage" itt-login>
	<div class="inner" style="height: 100%">
		<div ng-if="appState.user._id">

			<div itt-user></div>

		</div>

		<div ng-if="!appState.user._id">


			<div>
				<a class="bigredbutton" href="{{apiDataBaseUrl}}/oauth2">Begin</a>
			</div>
			<div ng-click="showAdminLogin=1;" style="margin-top: 1em;font-size: 0.86em;display:block">
				<a ng-if="showAdminLogin!=1">Admin</a>
			</div>

			<form ng-submit="adminLogin()" ng-if="showAdminLogin">
				<h1>Administrators</h1>
				<label>
					<span>Username</span>
					<input type="email" name="auth_key" ng-model="loginForm.auth_key">
				</label>

				<label>
					<span>Password</span>
					<input type="password" name="password" ng-model="loginForm.password">
				</label>

				<input class="submit" type="submit" value="Log in">
				<span class="error" ng-if="badlogin">Sorry, try again?</span>
			</form>

		</div>


	</div>
</div>
