<!--
fillPane windowBg
scene
	title
	pane videoContainer
		video
		fillPane videoOverlay
	pane contentMain
		fillPane contentMainBg
		contentMain
		fillPane contentMainFg
fillPane windowFg
-->

<div class="fillPane windowBg {{scene.layout}} {{scene.styles}}">
		<div class="item" x-ng-repeat="item in scene.items | layout: 'windowBg'" x-itt-item="item"></div>
</div>
<div class="scene {{scene.layout}} {{scene.styles}}">
	<h2 class="title">{{scene.title}}</h2>
	<div class="pane videoContainer">
		<div class="fillPane video" x-itt-video-magnet>VideoJS Placeholder</div>
		<div class="fillPane videoOverlay">
			<div class="item" x-ng-repeat="item in scene.items | layout: 'videoOverlay'" x-itt-item="item"></div>
		</div>
	</div>
	<div class="pane contentMain">
		<div class="fillPane contentMainBg">
		<div class="item" x-ng-repeat="item in scene.items | layout: 'mainBg'" x-itt-item="item"></div>
		</div>
		<div class="contentMain">
			<div class="item" x-ng-repeat="item in scene.items | layout: 'content'" x-itt-item="item"></div>
		</div>
		<div class="fillPane contentMainFg">
		<div class="item" x-ng-repeat="item in scene.items | layout: 'mainFg'" x-itt-item="item"></div>
		</div>
	</div>
</div>
<div class="fillPane windowFg {{scene.layout}} {{scene.styles}}">
		<div class="item" x-ng-repeat="item in scene.items | layout: 'windowFg'" x-itt-item="item"></div>
</div>
