<div bindonce="scene" class="sceneContainer scene-video" x-bo-class='scene.boCSS' x-ng-class='{"currentScene": scene.isActive}'>
	<div x-itt-magnetized class="fillPane videoOverlay">
		<div x-ng-repeat="item in scene.items | layout: 'videoOverlay'" x-itt-item="item"></div>
	</div>
	<div class="scene stretchToViewportBottom">
		<div class="pane videoContainer">
			<div class="fillPane video">
				<img class="aspectratiopreserver" src="/images/aspectratiopreserver-16x9.gif" />
			</div>
		</div>
	</div>
	<div x-ng-show="!scene.hideCaptions" class="pane contentMain videoOverlay">
		<div class="content showCurrent noSidebars">
			<!-- may not need to filter by layout here... -->
			<div class="item-animate transitionFade" data-force-item-template="closedcaption" x-ng-repeat="item in scene.items | layout: scene.mainPaneContents | transcript" x-itt-watch-item="item"></div>
		</div>
	</div>
	<div class="pane windowFg">
		<div x-ng-repeat="item in scene.items | layout: 'windowFg'" x-itt-item="item"></div>
	</div>
	<div class="clear"></div>
</div>
