<!--
	One content pane, centered on page.

	Video defaults to centered on page above content (in portrait orientation) or to the left of the content (in landscape).
	
	Layout modifiers:

-->


<div class="scene-1col {{scene.layout}} {{scene.styles}}" x-ng-class='{"currentScene": scene.isActive, "futureScene": !scene.isActive && !scene.wasActive, "pastScene": !scene.isActive && scene.wasActive}'>
	<div class="fillPane windowBg">
			<div x-ng-repeat="item in scene.items | layout: 'windowBg'" x-itt-item="item"></div>
	</div>
	<div class="scene">
		<div class="pane videoContainer">
			<div class="fillPane video" x-itt-video-magnet><img class="aspectratiopreserver" src="/images/aspectratiopreserver-16x9.gif"/></div>
		</div>
		<div class="pane contentMain stretchToViewportBottom">
			<div class="fillPane paneBg">
			<div x-ng-repeat="item in scene.items | layout: 'mainBg'" x-itt-item="item"></div>
			</div>
			<div class="content" x-ng-class='{"hasLeftSidebar": scene.sidebars.contentLeft, "hasRightSidebar": scene.sidebars.contentRight}'>
				<h2 class="scenetitle">{{scene.title}}</h2>
				<div x-ng-repeat="item in scene.items | layout: 'content'" x-itt-item="item"></div>
			</div>
			<div class="fillPane paneFg">
				<div x-ng-repeat="item in scene.items | layout: 'mainFg'" x-itt-item="item"></div>
			</div>
		</div>
	</div>
	<div x-itt-magnetized class="fillPane videoOverlay">
			<div x-ng-repeat="item in scene.items | layout: 'videoOverlay'" x-itt-item="item"></div>
	</div>
	<div class="fillPane windowFg">
			<div x-ng-repeat="item in scene.items | layout: 'windowFg'" x-itt-item="item"></div>
	</div>
</div>






