<div bindonce="scene" class="sceneContainer scene-cornerH" x-bo-class='scene.boCSS' x-ng-class='{"currentScene": scene.isActive}'>


	<div class="fillPane windowBg">
		<div x-ng-repeat="item in scene.items | layout: 'windowBg'" x-itt-item="item"></div>
	</div>
	<div class="scene">
		<div class="pane videoContainer">
			<div class="fillPane video">
				<img class="aspectratiopreserver" src="/images/aspectratiopreserver-16x9.gif" />
			</div>
		</div>
		<div class="pane smallPane contentMain matchVideoHeight">
			<div class="fillPane paneBg">
				<div x-ng-repeat="item in scene.items | layout: 'mainBg'" x-itt-item="item"></div>
			</div>
			<br>
			<div data-pane="main" data-no-sidebars="true" data-show-current="true" data-content="{{scene.mainPaneContents}}" x-itt-content-pane></div>
			<div class="fillPane paneFg">
				<div x-ng-repeat="item in scene.items | layout: 'mainFg'" x-itt-item="item"></div>
			</div>
		</div>
		<div class="pane contentAlt stretchToViewportBottom">
			<div class="fillPane paneBg">
				<div x-ng-repeat="item in scene.items | layout: 'altBg'" x-itt-item="item"></div>
			</div>
			<div data-pane="alt" data-content="{{scene.altPaneContents}}" x-itt-content-pane></div>
			<div class="fillPane paneFg">
				<div x-ng-repeat="item in scene.items | layout: 'altFg'" x-itt-item="item"></div>
			</div>
		</div>
	</div>
	<div x-itt-magnetized class="fillPane videoOverlay">
		<div x-ng-repeat="item in scene.items | layout: 'videoOverlay'" x-itt-item="item"></div>
	</div>
	<div class="pane windowFg">
		<div x-ng-repeat="item in scene.items | layout: 'windowFg'" x-itt-item="item"></div>
	</div>
	<div class="clear"></div>
</div>
