<!-- TODO: on enter need to scroll directly to current scene if it's not scene 1 -->

<div class="clear scene-explore {{scene.layout}} {{scene.styles}}" 
x-ng-class='{
	"currentScene": scene.isActive, 
	"futureScene": !scene.isActive && !scene.wasActive, 
	"pastScene": !scene.isActive && scene.wasActive,
	"nonNavigable": scene.nonNavigable
}'>
	<div class="scene">
		<div class="pane videoContainer" x-itt-magnet>
			<div class="fillPane video">
				<img class="aspectratiopreserver" src="/images/aspectratiopreserver-16x9.gif" />
			</div>
		</div>
		<div class="pane contentMain">
			<div class="content noSidebars">
				<h2 class="sceneTitle" x-ng-if="scene.title">{{scene.title}}</h2>
				<div x-ng-repeat="item in scene.items | layout: scene.mainPaneContents | filter:{cosmetic: false}" class="item-animate" data-force-item-template="default" x-itt-item="item"></div>
			</div>
		</div>
		<div class="pane contentAlt">
			<div x-ng-if="scene.startTime == 0" class="matchVideoHeight">
				<!-- in explore view, need to pad the first scene to make room for the video -->
			</div>
			<div class="content noSidebars">
				<div x-ng-repeat="item in scene.items | layout: scene.altPaneContents | filter:{cosmetic: false}" class="item-animate" data-force-item-template="default" x-itt-item="item"></div>
			</div>
		</div>
	</div>
	<div x-itt-magnetized class="fillPane videoOverlay">
		<div x-ng-repeat="item in scene.items | layout: 'videoOverlay'" x-itt-item="item"></div>
	</div>
</div>
