<!-- TODO: on enter need to scroll directly to current scene if it's not scene 1 -->

<div class="scene-explore {{scene.layout}} {{scene.styles}}" x-ng-class='{"currentScene": scene.isActive, "futureScene": !scene.isActive && !scene.wasActive, "pastScene": !scene.isActive && scene.wasActive}'>

	<div class="scene">
		<div class="pane videoContainer">
			<div class="fillPane video" x-itt-video-magnet><img class="aspectratiopreserver" src="/images/aspectratiopreserver-16x9.gif" /></div>
		</div>
		<div class="pane contentMain">
			<div data-pane="main" data-content="{{scene.mainPaneContents}}" x-itt-content-pane></div>
		</div>
		<div class="pane contentAlt">
			<div ng-if="scene.startTime == 0" class="matchVideoHeight">
				<!-- in explore view, need to pad the first scene to make room for the video -->
			</div>
			<div data-pane="alt" data-content="{{scene.altPaneContents}}" x-itt-content-pane></div>
		</div>
	</div>
	<div x-itt-magnetized class="fillPane videoOverlay">
			<div x-ng-repeat="item in scene.items | layout: 'videoOverlay'" x-itt-item="item"></div>
	</div>
</div>
