<!--
fillPane windowBg
scene
	title
	pane videoContainer
		fillPane video
	pane contentMain
		fillPane paneBg
		content
		fillPane paneFg
	pane contentAlt
		fillPane paneBg
		content
		fillPane paneFg
videoOverlay
fillPane windowFg
-->

<div class="fillPane windowBg {{scene.layout}} {{scene.styles}}">
		<div x-ng-repeat="item in scene.items | layout: 'windowBg'" x-itt-item="item"></div>
</div>
<div class="scene {{scene.layout}} {{scene.styles}}">
	<h2 class="title">{{scene.title}}</h2>
	<div class="pane videoContainer">
		<div class="fillPane video" x-itt-video-magnet><img class="aspectratiopreserver" src="/img/aspectratiopreserver-16x9.gif"></div>
	</div>
	<div class="pane contentMain">
		<div class="fillPane paneBg">
			<div x-ng-repeat="item in scene.items | layout: 'mainBg'" x-itt-item="item"></div>
		</div>
		<div class="content">
			<div x-ng-repeat="item in scene.items | layout: 'required'" x-itt-item="item"></div>
		</div>
		<div class="fillPane paneFg">
			<div x-ng-repeat="item in scene.items | layout: 'mainFg'" x-itt-item="item"></div>
		</div>
	</div>
	<div class="pane contentAlt">
		<div class="fillPane paneBg">
			<div x-ng-repeat="item in scene.items | layout: 'altBg'" x-itt-item="item"></div>
		</div>
		<div class="content">
			<div x-ng-repeat="item in scene.items | layout: 'optional'" x-itt-item="item"></div>
		</div>
		<div class="fillPane paneFg">
			<div x-ng-repeat="item in scene.items | layout: 'altFg'" x-itt-item="item"></div>
		</div>
	</div>
</div>
<div x-itt-magnetized class="fillPane videoOverlay {{scene.layout}} {{scene.styles}}">
		<div x-ng-repeat="item in scene.items | layout: 'videoOverlay'" x-itt-item="item"></div>
</div>
<div class="fillPane windowFg {{scene.layout}} {{scene.styles}}">
		<div x-ng-repeat="item in scene.items | layout: 'windowFg'" x-itt-item="item"></div>
</div>
