<style>
.testContentPane {
	border: 1px solid #000;
	margin: 1em;
	min-height: 300px;
	max-height: 700px;
}

.testEditorPane {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	background-color: #FFF;
}

.edit-event {
	display: none !important;
}

.animate {
	transition: none !important;
}
</style>

<a href="/#/event/annotation">annotation</a>
<a href="/#/event/transcript">transcript</a>
<a href="/#/event/image">image</a>
<a href="/#/event/file">file</a>
<a href="/#/event/link">link</a>
<a href="/#/event/video">video</a>
<a href="/#/event/question">question</a>
<a href="/#/event/plugin">plugin</a>
<a href="/#/event/scene">scene</a>


<!-- THis is what a content pane looks like. -->
<div class="testContentPane content editing" itt-content-pane="items"></div>

<br>
<br>

<!--
<div class="controls">
	<label>
		Content pane type:
		<select size="1" ng-model="testbed.contentType" ng-init="testbed.contentType='content'">
			<option value="content">Content</option>
			<option value="fill">Overlay</option>
		</select>
	</label>

	<label ng-if="testbed.contentType == 'content'">
		<input type="checkbox" ng-model="testbed.isNarrow"> Narrow content pane
	</label>
	<label>
		Item state:
		<select size="1" ng-model="item.state" ng-init="item.state='isCurrent'">
			<option value="isCurrent">Current</option>
			<option value="isPast">Past</option>
			<option value="isFuture">Future</option>
		</select>
	</label>
	<label>
		<input type="checkbox" ng-model="testbed.showCurrent" ng-init="testbed.showCurrent = false;"> Hide non-current items
	</label>
</div>
-->
<!--
<div class="testContentPane allowHighlights allowSidebars hasLeftSidebar hasRightSidebar {{testbed.contentType}}" ng-class="{isNarrow: testbed.isNarrow, showCurrent: testbed.showCurrent}">
	<div ng-if="!(testbed.showCurrent && item.state!='isCurrent')" class="item animate" itt-item="item" ng-class="item.styleCss + ' ' + item.state"></div>
</div> -->

<div class="testEditorPane" itt-item-editor="items[1]" style="margin: 1em"></div>
