<div class="timeline" ng-show="!isSuppressed" ng-cloak>

	<button tabindex="0" ng-focus="showControls()" class="button" ng-class="setBtnClass()" ng-click="timelineBtnClick()">
		<span class="control-text">{{controlText}}</span>
	</button>

	<div class="progressbarBox">
		<div class="pbarTop">
			<span ng-if="appState.product == 'producer'">
				<a class="button button-zoomout" ng-if="zoomLevel != 1" ng-click="zoomOut()">
					<span class="control-text">Zoom out</span>
				</a>
				<small ng-if="zoomLevel != 1">Zoom: {{zoomLevel*100}}%</small>
				<a class="button button-zoomin" ng-click="zoomIn()">
					<span class="control-text">Zoom in</span>
				</a>
			</span>
		</div>
		<div class="pbarMain">
			<button ng-focus="showControls()" ng-class="{invisible: playbackService.getMetaProp('time') == 0}" class="button button-prev" ng-click="prevScene()">
				<span class="control-text">Previous</span>
			</button>
			<button ng-focus="showControls()" tabindex="0" ng-class="{invisible: playbackService.getMetaProp('time')>= playbackService.getMetaProp('duration')- 0.1}" class="button button-next" ng-click="nextScene()">
				<span class="control-text">Next</span>
			</button>

      <!--<div ng-repeat="scene in timeline.markedEvents | isCurrent">-->

        <!--<button class="button button-prev" ng-click="handleScene(scene, timeline.displayMarkedEvents, 'prevScene')">-->

        <!--</button>-->

        <!--<button class="button button-next" ng-click="handleScene(scene, timeline.displayMarkedEvents, 'nextScene')">-->

        <!--</button>-->
      <!--</div>-->




			<div class="progressbar">
				<div class="mask">
					<div class="progressbarContainer" style="width: {{zoomLevel}}00%;">
						<div class="buffered" ng-style="{width: playbackService.getMetaProp('bufferedPercent')+'%'}"></div>
						<div class="played" ng-style="{width: markerPercent(playbackService.getMetaProp('time'))+'%'}"></div>
					</div>
				</div>
				<!-- unmasked parts of timeline -->
				<div class="progressbarContainer" style="width: {{zoomLevel}}00%;">
					<div class="handle" ng-show="isSeeking" ng-style="{left: markerPercent(willSeekTo)+'%'}">
						<div class="tip" ng-show="seekHandleVisible">{{willSeekTo | asTime}}</div>
					</div>
					<div class="tooltip" ng-if="eventGroup.showTooltip" ng-repeat="eventGroup in timeline.displayMarkedEvents" ng-style="{left: markerPercent(eventGroup.start_time)+'%'}">
						<span class="content" ng-bind-html="eventGroup.toolTipText"></span>
					</div>

					<!-- draggable handles for start/end time editing. TODO make draggable, move them somewhere
					that doesn't incidentally trigger setting appState.time -->

					<div class="handle sxsHandle playhead" ng-show="appState.editEvent" ng-style="{left: markerPercent(appState.editEvent.start_time)+'%'}">
						<div class="tip" ng-click="">{{appState.editEvent.start_time | asTime}}</div>
					</div>

					<!-- TODO make this one visible only when end_time != auto
					<div class="handle sxsHandle playhead" ng-show="appState.editEvent" ng-style="{left: markerPercent(appState.editEvent.end_time)+'%'}">
						<div class="tip">{{appState.editEvent.end_time | asTime}}</div>
					</div>
 -->
					<!-- end of draggable handles -->

				</div>
				<div class="playhead mask">
					<!-- interactive parts of timeline -->
					<div class="progressbarContainer " ng-style="{width: zoomLevel+'00%'}">
						<!-- scene markers -->
						<div class="marker"
							 ng-mouseover="showTooltip(eventGroup)"
							 ng-mouseout="hideTooltip(eventGroup)"
							 ng-repeat="eventGroup in timeline.displayMarkedEvents"
							 ng-style="{left: markerPercent(eventGroup.start_time)+'%'}"
							 ng-if="eventGroup.stop || eventGroup.toolTipText || appState.product == 'producer' && eventGroup.toolTipText != null"
							 ng-class="{stop: eventGroup.stop && !eventGroup.multiStop, mini: eventGroup.layoutChange, multi: eventGroup.multiStop}">
						</div>

						<!-- highlight item being edited -->
						<div ng-if="appState.editEvent" class="editingItem" ng-style="{left: markerPercent(appState.editEvent.start_time)+'%', right: markerPercent(playbackService.getMetaProp('duration') - appState.editEvent.end_time)+'%'}"></div>

					</div>
				</div>
			</div>
		</div>
		<div class="pbarBottom">
			<span class="timedisplay">
				{{playbackService.getMetaProp('time')| asTime}} / {{playbackService.getMetaProp('duration') | asTime}}
				<!-- playback rate not currently supported in youtube or on iOS -->
				<span class="speedcontrol">
					<button ng-focus="showControls()" class="button-speedcontrol" ng-click="changeSpeed(-0.25)" aria-label="Slow down video">
						<div ng-class="{arrowLeft: playbackService.getMetaProp('timeMultiplier') > 0.5}"></div>
					</button>
					<span class="speeddisplay" ng-click="resetSpeed()">{{playbackService.getMetaProp('timeMultiplier')}}x</span>
					<button ng-focus="showControls()" class="button-speedcontrol" ng-click="changeSpeed(0.25)" aria-label="Speed up video">
						<div ng-class="{arrowRight: playbackService.getMetaProp('timeMultiplier') < 2}"></div>
					</button>
				</span>
			</span>
			<span style="display:inline-block;height:1em;position:relative" ng-if="episode.languages.length > 1">
				<select size="1" ng-model="appState.lang" class="languageSelector" ng-change="setNewLanguage()" ng-options="language.code as ('['+language.code.toUpperCase()+']') for language in episode.languages">
				</select>
			</span>

			<button ng-focus="showControls()" tabindex="0" ng-if="appState.viewMode == 'watch'" class="button button-captions" ng-click="appState.hideCaptions=!appState.hideCaptions" ng-class="{active: !appState.hideCaptions}">
				<span class="control-text">Captions</span>
			</button>

			<a ng-if="appState.viewMode=='watch'" class="button button-fullscreen active" ng-click="viewMode('discover')">
				<span class="control-text">Exit fullscreen</span>
			</a>
			<a ng-if="appState.viewMode!='watch'" class="button button-fullscreen" ng-click="viewMode('watch')">
				<span class="control-text">Fullscreen video</span>
			</a>

			<span ng-if="!appState.isTouchDevice">
				<button ng-focus="showControls()" tabindex="0" class="button button-mute {{audioIcon()}}" ng-click="toggleMute()">
					<span class="control-text">Mute</span>
				</button>

				<itt-volume-slider></itt-volume-slider>
			</span>
		</div>
	</div>
</div>
