<div class="toolbar">
	<div ng-if="!appState.isFramed && appState.productLoadedAs == 'narrative'" class="buttongroup">
		<a class="button button-exitEpisode" href="/#/story/{{narrative.path.en}}">
			<span>Exit</span>
		</a>
	</div>
	<div class="modegroup buttongroup">
		<nav role="navigation">
			<span ng-switch="appState.product != 'producer' || appState.viewMode != 'discover' || appState.time == 0">
				<button ng-switch-when="true" tabindex="0" class="button button-discover" ng-class="{cur: appState.viewMode == 'discover'}" ng-click="viewMode('discover')" aria-label="Discover">
					<span>Discover</span>
				</button>
				<span ng-switch-when="false" class="producerEditLayers" ng-class="{
				bg: appState.producerEditLayer < 0,
				fg: appState.producerEditLayer > 0
			}">
					<!-- HACK for now. This needs better 508 -->
					<a ng-click="changeProducerEditLayer(-1)" class="button">&nbsp;&nbsp;
							<span>Discover</span>
						</a>
					<a ng-click="changeProducerEditLayer(+1)" class="button">&nbsp;&nbsp;
							<span>Discover</span>
						</a>
				</span>
				<button tabindex="0" class="button button-review" ng-class="{cur: appState.viewMode == 'review'}" ng-click="viewMode('review')" aria-label="Review">
					<span>Review</span>
				</button>
			</span>
		</nav>
	</div>
	<div ng-if="appState.isFramed" class="escapegroup buttongroup">
		<!-- this needs to be an <a> or it trips popup blockers -->

		<a class="button button-mainframeescape" ng-click="pause()" ng-href="{{newWindowUrl}}&t={{appState.time}}" target="_blank">
			<span>New window</span>
		</a>
	</div>
	<div class="searchgroup buttongroup" ng-class="{cur: show.searchPanel}">
		<button tabindex="2" class="button button-search" ng-click="toggleSearchPanel()" aria-label="Search" aria-expanded="{{show.searchPanel}}">
			<span>Search</span>
		</button>
		<label for="searchtext" class="hidden">Search Text</label>
		<input tabindex="2" name="searchtext" id="searchtext" type="text" ng-show="show.searchPanel" ng-model="searchText" />
	</div>
	<div class="profilegroup buttongroup" ng-if="!(show.searchPanel) && (appState.narrativeId || appState.product == 'sxs' || userHasRole('admin'))">
		<a class="button button-preview" ng-if="appState.productLoadedAs=='producer' && userHasRole('admin')" ng-click="toggleProducerPreview()">
			<span ng-if="appState.product == 'producer'">Preview</span>
			<span ng-if="appState.product == 'player'">Edit</span>
		</a>

		<a class="button button-profile" ng-click="appState.show.profilePanel = true">
			<span>Profile</span>
		</a>
	</div>
</div>
