<div class="toolbar">
	<div class="buttongroup">
		<a ng-if="appState.productLoadedAs == 'narrative' && !narrative.disable_navigation" class="button button-exitEpisode" href="/#/story/{{narrative.path_slug.en}}">
			<span>Exit</span>
		</a>
		<button tabindex="0" class="button button-nav" ng-click="toggleNavPanel();">
			<span>Scenes</span>
		</button>

		<!-- 		<button ng-click="tmp()">TMP</button>
 -->
	</div>
	<!--if we are a player, isFramed-->
	<div ng-if="appState.isFramed && (appState.productLoadedAs == 'player'
	 			|| (appState.productLoadedAs == 'narrative'
	 			&& !narrative.disable_new_window ) )"  class="escapegroup buttongroup">
		<!-- this needs to be an <a> or it trips popup blockers -->
		<a class="button button-mainframeescape" ng-click="pause()" ng-href="{{newWindowUrl}}&t={{appState.time || 0}}&access_token={{appState.user.access_token}}" target="_blank">
			<span>New window</span>
		</a>
	</div>
	<div class="searchgroup buttongroup" ng-class="{cur: show.searchPanel}">
		<button tabindex="2" class="button button-search" ng-click="toggleSearchPanel()" aria-label="Search" aria-expanded="{{show.searchPanel}}">
			<span>Search</span>
		</button>
		<label for="searchtext" class="hidden">Search Text</label>
		<input tabindex="2" name="searchtext" id="searchtext" type="text" ng-show="show.searchPanel" ng-model="appState.searchText" ng-model-options="{ debounce: 200 }" />
	</div>
	<div class="profilegroup buttongroup">
		<a class="button button-preview" ng-if="appState.productLoadedAs=='producer' && userHasRole('admin')" ng-click="toggleProducerPreview()">
			<span ng-if="appState.product == 'producer'">Preview</span>
			<span ng-if="appState.product == 'player'">Edit</span>
		</a>
		<a class="button button-profile" ng-click="appState.show.profilePanel = !appState.show.profilePanel">
			<span>Profile</span>
		</a>
	</div>
</div>

<div ng-cloak ng-show="show.navPanel" class="navPanel topDrawer" ng-class="episode.styleCss">
	<!-- this is for now duplicactive of code in player.html; it will change to include narrative links soon enough -->
	<div class="parent" ng-repeat="parent in episode.parents" ng-bind-html="parent.display_name"></div>
	<!-- <h2 ng-bind-html="episode.display_title"></h2> -->
	<div class="scene" x-ng-if="scene.display_title" x-ng-repeat="scene in episode.scenes" x-ng-class="{currentScene: scene.isCurrent}" x-ng-click="seek(scene.start_time)">
		<span class="displayTime">{{scene.displayStartTime}}</span>
		<p>
			<button class="fakeLink" tabindex="0" ng-bind-html="scene.display_title" x-ng-class="{sceneLink: !scene.isCurrent}" ng-focus="showControls()"></button>
			<br>
			<span ng-bind-html="scene.display_description"></span>
		</p>
	</div>
	<!--
	<div class="crossEpisode">
		<a class="prevEpisode" ng-if="episode.previousEpisodeContainer" ng-href="/#/{{appState.crossEpisodePath}}/{{episode.previousEpisodeContainer.episodes[0]}}" title="{{episode.previousEpisodeContainer.display_name}}">Previous episode</a>
		<a class="nextEpisode" ng-if="episode.nextEpisodeContainer" ng-href="/#/{{appState.crossEpisodePath}}/{{episode.nextEpisodeContainer.episodes[0]}}" title="{{episode.nextEpisodeContainer.display_name}}">Next Episode</a>
	</div>
 -->
</div>
