<div class="item {{item.layout}} {{item.styles}} " x-ng-class='{
	"currentItem": item.isActive, 
	"futureItem": !item.isActive && !item.wasActive, 
	"pastItem": !item.isActive && item.wasActive,
	"isRequired": item.required,
	"isCosmetic": item.cosmetic
}'>
	<div class="icon"><a href="javascript:void 1;" ng-click="launchDetailView()"><img x-ng-src="{{item.thumbSrc}}"></a></div>
	<div class="detail" ng-if="item.showInlineDetail">
		<!-- load without real iframe src initially; wait until user clicks on the item. -->
		<a href="{{item.source}}" target="_blank" class="escapelink">(new window)</a>
		<iframe src="{{item.source}}" width="100%" height="300px"></iframe>
	</div>
</div>

