<!-- Currently coerces to external links.  force-template in the video template
     causes youtube and no-embed items to use this template.  Probably force-template
     is the wrong strategy; instead need to make every template aware of when it's in
     a tiny space and show an icon alternate instead of its normal stuff -->



<div class="item {{item.layout}} {{item.styles}} " x-ng-class='{
	"currentItem": item.isActive, 
	"futureItem": !item.isActive && !item.wasActive, 
	"pastItem": !item.isActive && item.wasActive,
	"isRequired": item.required,
	"isCosmetic": item.cosmetic
}'>
	<div class="icon">
		<a href="{{item.source}}" target="_blank">
			<img x-ng-src="{{item.thumbSrc}}">
		</a>
	</div>
</div>
