<div 
	bindonce="item" 
	class="item" 
	x-ng-class='{"currentItem": item.isActive}' 
	x-bo-class='item.boCSS'
>
	<div class="itemHead">
		<div class="startTime displayTime" x-ng-click="gotoItem()" bo-text="item.displayTime"></div>
		<div class="category">
			<!--{{item.category}}-->
			<!--<span bo-if="item.required">(Required viewing)</span>-->
		</div>
	</div>
	<div class="thumbnail" x-ng-class="{fullsize: item.showInlineDetail || item.isActive}" x-ng-click="toggleDetailView()">
		<img bo-src="item.source">
	</div>
	<div class="text">
		<div class="title" bo-html="item.title"></div>
		<span bo-html="item.description"></span>
	</div>
</div>
</div>
