<div bindonce="item" class="item {{item.layout}} {{item.styles}} " x-ng-class='{
	"currentItem": item.isActive, 
	"futureItem": !item.isActive && !item.wasActive, 
	"pastItem": !item.isActive && item.wasActive,
	"isRequired": item.required,
	"isCosmetic": item.cosmetic,
	"isStop": item.stop
}'>
	<div class="itemHead">
		<div class="startTime displayTime" x-ng-click="gotoItem()" bo-text="item.displayTime"></div>
		<div class="category">
			<!--{{item.category}}-->
			<span bo-if="item.required">(Required viewing)</span>
		</div>
	</div>
	<!-- <div class="icon"><img bo-src="item.thumbSrc"></div> -->
	<div class="text">
		<div class="title"><a x-ng-click="pause()" bo-href="item.source" class="" target="_top" bo-text="item.title"></a>
		</div>
		<div bo-text="item.description"></div>
	</div>
</div>
