<!-- TODO: clean up the YT url, add our own params, probably use their player API so we can hook into play/pause events -->


<div bindonce="item" class="item {{item.layout}} {{item.styles}} " x-ng-class='{
	"currentItem": item.isActive, 
	"futureItem": !item.isActive && !item.wasActive, 
	"pastItem": !item.isActive && item.wasActive,
	"isRequired": item.required,
	"isCosmetic": item.cosmetic,
	"isStop": item.stop
}'>
	<div class="itemHead">
		<div class="startTime displayTime" x-ng-click="gotoItem()" bo-text="item.displayTime"></div>
		<div class="category">
			<!--{{item.category}}-->
			<span bo-if="item.required">(Required viewing)</span>
		</div>
	</div>

	<div class="detail" style="width: 100%;position: relative;padding-bottom: 56.25%;height: 0;">
		<iframe bo-src="item.source" style="position:absolute; width: 100%; height: 100%; "></iframe>
	</div>

	<div class="text" bo-text="item.description"></div>

</div>
