<div class="userHome">

	<div class="user__info">
		<div class="user__item">
			<div class="user__label">Role</div>
			<h4>{{user.role_description}}</h4>
			<hr>
		</div>

		<div clas="user__item">
			<div class="user__label">Name</div>
			<itt-edit-pencil
				can-access="true"
				on-edit="toggleEditing()"
				ng-if="!isEditing">
				<p>{{user.name}}</p>
			</itt-edit-pencil>

			<div ng-if="isEditing">
				<input class="userEditable" ng-model="user.name">
				<button class="button" ng-click="updateUser(); toggleEditing()">save</button>
				<button class="button" ng-click="toggleEditing()">cancel</button>
			</div>
			<hr>
		</div>

		<div class="user__item" ng-if="!isTrueGuest()">
			<div class="user__label">Email</div>
			<div>{{user.email}}</div>
			<hr>
		</div>

		<div class="user__item" ng-if="!isTrueGuest()">
			<div class="user__avatar">
				<div class="user__label">Avatar</div>
				<div>
					<img ng-src="{{appState.user.avatar || appState.noAvatar }}">
				</div>

				<div ng-if="showUploadField && !uploads">
					<input type="file" accept="image/*" itt-files-handler on-selected="uploadAvatar(files)">
				</div>

				<button class="button" ng-click="toggleUploadAvatar()">{{showUploadField ? 'cancel' : 'replace'}}</button>
			</div>
		</div>

	</div>

</div>
