<div class="video">This will be the video</div>

<!-- TODO ARIA controls on all clickables -->
<div class="injectedvideocontrols vjs-story-skin">

	<div x-ng-click="toggleSceneMenu()" class="video-scenemenu vjs-control">
		<a href="javascript: void 1;">
			<span class="vjs-control-text">Scene list</span>
		</a>
	</div>

	<div x-ng-click="startFSView()" class="video-captions vjs-control">
		<a href="javascript: void 1;">
			<span class="vjs-control-text">Closed Captions</span>
		</a>
	</div>



	<div x-ng-if="curScene.$prevScene" class="video-prevscene vjs-control">
		<a x-ng-click="gotoTime(curScene.$prevScene.startTime)">
			<span class="vjs-control-text">Previous scene</span>
		</a>
	</div>

	<div x-ng-if="curScene.$nextScene" class="video-nextscene vjs-control">
		<a x-ng-click="gotoTime(curScene.$nextScene.startTime)">
			<span class="vjs-control-text">Next scene</span>
		</a>

	</div>
</div>
