<!--temp debug code-->

<!--<h6 style="background-color: white; color:black;">timeline State: {{$ctrl.playbackService.getTimelineState()}} | time:-->
	<!--{{$ctrl.playbackService.getMetaProp('time', $ctrl.playerId)}} | first play: {{$ctrl.playbackService.getMetaProp('hasBeenPlayed', $ctrl.playerId)}} | has resumed from startAt: {{$ctrl.playbackService.getMetaProp('hasResumedFromStartAt', $ctrl.playerId)}} |-->
	<!--player state: {{$ctrl.playbackService.getMetaProp('playerState', $ctrl.playerId)}} | start at: {{$ctrl.playbackService.getMetaProp('startAtTime', $ctrl.playerId)}} | ready: {{$ctrl.playbackService.getMetaProp('ready', $ctrl.playerId)}}-->
<!--</h6>-->

<!--end temp debug code-->
<div class="video np-video" ng-click="$ctrl.videoClick()" ng-if="$ctrl.mediaSrcArr.length > 0">
	<!--video element -->
	<div class="np-video__wrapper" ng-bind-html="::$ctrl.playerElement"></div>

	<!--overlay for main player to prevent user interaction-->
	<div class="np-overlay-ui" ng-if="$ctrl.mainPlayer" ng-click="$ctrl.videoClick()"></div>

	<!--playback buttons-->
	<img class="np-overlay-ui"
		 ng-class="{'np--embed': $ctrl.mainPlayer === false}"
		 ng-click="$ctrl.videoClick()"
		 ng-if="$ctrl.playerIsPaused()"
		 src="/images/play-overlay.png"/>

	<img class="np-overlay-ui"
		 ng-class="{'np--embed': $ctrl.mainPlayer === false}"
		 ng-click="$ctrl.videoClick()"
		 ng-if="$ctrl.showUnstartedOverlay()"
		 src="/images/logo-overlay.png"/>

	<!--<img class="np-overlay-ui buffering"-->
		 <!--src="/images/buffering-overlay.png"/>-->

	<img class="np-overlay-ui rewind"
		 ng-class="{'np--embed': $ctrl.mainPlayer === false}"
		 ng-click="$ctrl.videoClick()"
		 ng-if="$ctrl.showReplayOverlay()"
		 src="/images/rewind-overlay.png"/>


	<div ng-if="$ctrl.poster && $ctrl.playbackService.getMetaProp('timeMultiplier') == 0"
		 class="poster overlay fill"
		 ng-style="{backgroundImage:'url('+$ctrl.poster.url+')'}"></div>
</div>

<div ng-if="$ctrl.mediaSrcArr.length < 1" class="np-video__empty">

	<div ng-if="$ctrl.isTranscoded === false">
		<h3>Video is currently transcoding.</h3>
		<p>The page will refresh when the transcode is complete!</p>
	</div>

	<h1 ng-if="$ctrl.isTranscoded === true">
		No video source available...
	</h1>

</div>
