<!-- producer item assets-->

<div ng-if="$ctrl.showAssetPicker" class="floatAssetPicker">
	<div class="scrollContainer">
    <sxs-container-assets container-id="{{$ctrl.episodeContainerId}}" mime-key="{{$ctrl.data.producerItemType}}"></sxs-container-assets>
	</div>
	<div class="controlsContainer">
		<button ng-click="$ctrl.endChooseAsset();">Cancel</button>
	</div>
</div>

<div>
	<!--ng-model as element here so we can attach itt-valid-image, which requires ng-model-->
	<ng-model
    ng-model="$ctrl.data.asset"
    name="itemAsset"
    np-valid-asset item="$ctrl.data" component-name="$ctrl.data.component_name">
  </ng-model>
	<div ng-if="$ctrl.data.asset && !$ctrl.showUploadButtons">
		{{$ctrl.data.asset.display_name}}
		<button class="button" ng-click="$ctrl.replaceAsset()">Replace</button>
		<button class="button" ng-click="$ctrl.detachAsset(); $ctrl.selectService.onSelectChange($ctrl.data, itemForm)">Remove</button>
	</div>
	<div ng-if="$ctrl.showUploadButtons || !$ctrl.data.asset">
		<span ng-if="$ctrl.showUploadField">

			<itt-asset-uploader
        container-id="{{$ctrl.episodeContainerId}}"
        ng-if="$ctrl.canAccess"
        callback="$ctrl.assetUploaded(data)"
        mime-types="{{$ctrl.mimes}}">
      </itt-asset-uploader>
		</span>
		<span ng-if="!$ctrl.showUploadField">
			<button class="button" ng-click="$ctrl.chooseAsset()">Browse uploaded</button>
			<button class="button" ng-click="$ctrl.toggleUpload()">Upload new</button>
		</span>
	</div>
</div>
