<!-- producer item assets-->

<div ng-if="$ctrl.episodeEdit.showAssetPicker" class="floatAssetPicker">
	<div class="scrollContainer">
    <sxs-container-assets
      container-id="{{$ctrl.episodeContainerId}}"
      on-asset-select="$ctrl.episodeEdit.attachChosenAsset($assetId, $ctrl.itemForm)"
      mime-key="{{$ctrl.data.producerItemType}}">
    </sxs-container-assets>
	</div>
	<div class="controlsContainer">
		<button ng-click="$ctrl.episodeEdit.showAssetPicker = false;">Cancel</button>
	</div>
</div>

<div>
	<!--ng-model as element here so we can attach itt-valid-image, which requires ng-model-->
	<ng-model
    ng-model="$ctrl.data.asset"
    name="itemAsset"
    np-valid-asset item="$ctrl.data" component-name="{{$ctrl.data.component_name}}">
  </ng-model>
	<div ng-if="$ctrl.data.asset && !$ctrl.episodeEdit.showUploadButtons">
		{{$ctrl.data.asset.display_name}}
		<button class="button" ng-click="$ctrl.episodeEdit.replaceAsset()">Replace</button>
		<button
      class="button"
      ng-click="$ctrl.episodeEdit.detachAsset(); $ctrl.selectService.onSelectChange($ctrl.data, $ctrl.itemForm)">
      Remove
    </button>
	</div>
	<div ng-if="$ctrl.episodeEdit.showUploadButtons || !$ctrl.data.asset">
		<span ng-if="$ctrl.episodeEdit.showUploadField">

			<itt-asset-uploader
        container-id="{{$ctrl.episodeContainerId}}"
        ng-if="$ctrl.episodeEdit.canAccess"
        callback="$ctrl.episodeEdit.assetUploaded(data)"
        mime-types="{{$ctrl.episodeEdit.mimes['default']}}">
      </itt-asset-uploader>
		</span>
		<span ng-if="!$ctrl.episodeEdit.showUploadField">
			<button class="button" ng-click="$ctrl.episodeEdit.showAssetPicker = true">Browse uploaded</button>
			<button class="button" ng-click="$ctrl.episodeEdit.showUploadField = true">Upload new</button>
		</span>
	</div>
</div>
